<template>
	<div :class="bemm()" />
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

const bemm = useBemm('Dot');
</script>

<style lang="scss">
.dot {
  width: var(--dot-size, 1em);
  height: var(--dot-size, 1em);
  border-radius: var(--dot-border-radius, 50%);
  display: block;
  background-color: var(--dot-color, currentColor);
}
</style>
