<template>
	<dialog
		ref="dialog"
		:class="bemm()"
		@close="isVisible = false"
	>
		<form
			v-if="isVisible"
			method="dialog"
			:class="bemm('container')"
		>
			<h4 v-if="title">
				{{ title }}
			</h4>
			<p v-if="content">
				{{ content }}
			</p>

			<slot />

			<div
				v-if="props.confirm || props.cancel"
				:class="bemm('actions')"
			>
				<slot name="actions">
					<Button
						v-if="props.cancel"
						@click.prevent="cancelAction"
					>
						cancel
					</Button>
					<Button
						v-if="props.confirm"
						@click.prevent="confirmAction"
					>
						confirm
					</Button>
				</slot>
			</div>
		</form>
		<form
			method="dialog"
			class="modal-backdrop"
		>
			<button>close</button>
		</form>
	</dialog>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import { useId } from '#imports';

import {
	EventAction,
	EventChannel,
	type EventData,
} from '@/components/Events/Events.model';

const props = defineProps({
	confirmText: {
		type: String,
		default: 'Confirm',
	},
	confirm: {
		type: Boolean,
		default: false,
	},
	cancel: {
		type: Boolean,
		default: false,
	},
	title: {
		type: String,
		default: '',
	},
	content: {
		type: String,
		default: '',
	},
	id: {
		type: String,
		default: '',
	},
});

const bemm = useBemm('dialog');
const dialog = ref<HTMLDialogElement>();
const dialogId = ref(props.id || useId());

const emit = defineEmits(['confirm', 'cancel']);

const cancelAction = () => {
	dialog.value?.close();
	emit('cancel');
};

const confirmAction = () => {
	dialog.value?.close();
	emit('confirm');
};

const isVisible = ref(false);

const showDialog = () => {
	dialog.value?.showModal();
	isVisible.value = true;
};
const hideDialog = () => {
	dialog.value?.close();
	isVisible.value = false;
};

onMounted(() => {
	eventBus.on(EventChannel.MODAL, (p) => {
		const payload = p as EventData;

		if (payload.data.id === dialogId.value) {
			if (payload.action == EventAction.OPEN) {
				showDialog();
			}
			if (payload.action == EventAction.CLOSE) {
				hideDialog();
			}
		}
	});
});

defineExpose({
	show: showDialog,
	close: hideDialog,
	isVisible,
});
</script>
