<template>
	<ClientOnly>
		<Button
			v-if="isFollowing !== null"
			:class="bemm()"
			:size="size"
			:color="isFollowing ? color : ButtonColor.ACCENT"
			:type="type"
			:status="status"
			:icon="Icons.STAR_M"
			:tooltip="isFollowing ? t('User.unfollow-tooltip') : t('User.follow-tooltip')"
			@click="handleFollow"
		>
			{{ isFollowing ? t('User.following-button') : t('User.follow-button') }}
		</Button>
	</ClientOnly>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import { useBemm } from 'bemm';
import { useI18n } from 'vue-i18n';
import type { PropType } from 'vue';
import { Icons } from 'open-icon';

import { isFollowingUser, followUser, unfollowUser } from '@/composables/useApi';
import { ButtonColor, ButtonSize, ButtonStatus, ButtonType } from '@/components/Atoms/Button/Button.model';
import Button from '@/components/Atoms/Button/Button.vue';

const bemm = useBemm('user-follow-button');
const { t } = useI18n();

const isFollowing = ref<boolean | null>(null);
const status = ref<ButtonStatus>(ButtonStatus.IDLE);

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
	size: {
		type: String as PropType<ButtonSize>,
		default: ButtonSize.SMALL,
	},
	type: {
		type: String as PropType<ButtonType>,
		default: ButtonType.DEFAULT,
	},
	color: {
		type: String as PropType<ButtonColor>,
		default: ButtonColor.TERTIARY,
	},
});

const setIsFollowingUser = async () => {
	const result = await isFollowingUser({ slug: props.slug });

	if (result.success && result.data.isFollowing) {
		isFollowing.value = true;
	}
	else {
		isFollowing.value = false;
	}
};
setIsFollowingUser();

const handleFollow = async () => {
	status.value = ButtonStatus.LOADING;
	if (isFollowing.value) {
		isFollowing.value = false;
		const result = await unfollowUser({ slug: props.slug });
		status.value = ButtonStatus.IDLE;
		if (!result.success) {
			isFollowing.value = true;
		}
	}
	else {
		isFollowing.value = true;
		const result = await followUser({ slug: props.slug });

		status.value = ButtonStatus.IDLE;
		if (!result.success) {
			isFollowing.value = false;
		}
	}
};
</script>
