<template>
	<Card
		v-if="!isMobile && userStore.isLoggedIn"
		:class="bemm()"
		:header="`Following (${users?.length})`"
		:color="CardSettings.Color.GHOST"
	>
		<template #header>
			<h5>
				Follow <Chip>{{ users?.length }}</Chip>
			</h5>
		</template>

		<ul
			v-if="users"
			:class="bemm('list')"
		>
			<li
				v-for="user in showUsers"
				:key="user.userID"
				:class="bemm('item')"
			>
				<div
					:class="bemm('user')"
					@click="goToUser(user)"
				>
					<AvatarImage :user-id="user.userID" />
					<span :class="bemm('name')">{{ user.fname }} {{ user.lname }}</span>
				</div>
			</li>
		</ul>

		<template #footer>
			<ButtonGroup :align="ButtonGroupAlign.CENTER">
				<Button
					:type="ButtonSettings.Type.NORMAL"
					:color="ButtonSettings.Color.PRIMARY"
					:size="ButtonSettings.Size.SMALL"
					:icon="ButtonSettings.Icon.USERS"
					@click="goToFollow()"
				>
					Show all
				</Button>
			</ButtonGroup>
		</template>
	</Card>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import { useUI } from '@/composables/useUI';
import { type User } from '@/types';
import { getPeopleUserIsFollowing } from '@/composables/useApi';
import { useUserStore } from '@/store/user';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';

import Chip from '@/components/Atoms/Chip/Chip.vue';
import AvatarImage from '@/components/Atoms/AvatarImage.vue';
import Card from '@/components/Atoms/Card/Card.vue';
import { CardSettings } from '@/components/Atoms/Card/Card.model';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import Button from '@/components/Atoms/Button/Button.vue';

const { isMobile } = useUI();
const bemm = useBemm('user-bar');

const userStore = useUserStore();

watch(() => useUserStore().userData, () => {
	refresh();
});

const goToFollow = () => {
	navigateTo(`/profile/${useUserStore().userData.slug}/follow`);
};
const { data: users, refresh } = useLazyAsyncData(async () => {
	if (userStore.isLoggedIn === false) {
		return [];
	}
	const result = await getPeopleUserIsFollowing({ slug: useUserStore().userData.slug });
	if (result.success === false) {
		return [];
	}
	if (result.data.items) {
		return result.data.items;
	}
	return [] as User[];
});

const showUsers = computed(() => {
	// Cap the users to 5
	if (!users.value) {
		return [];
	}
	if (users.value.length > 5) {
		return users.value.slice(0, 5);
	}
	return users.value;
});

const goToUser = (user: User) => {
	navigateTo(`/profile/${user.slug}`);
};
</script>

<style lang="scss">
.user-bar {

	@include global.mobile-only() {
		padding: calc(var(--space) / 3);
		border: 1px solid var(--dark-accent);

		--user-avatar-background: var(--accent-dark);
	}

	&__list {
		display: flex;
		flex-direction: column;
	}

	&__user {
		border: var(--border-radius);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: var(--space-s);
		font-size: .875em;
		border-radius: var(--border-radius);
		padding: var(--space-s);

		&:hover {
			background-color: var(--background);
		}
	}

	&__name {
		font-size: .75em;
	}

}
</style>
