<template>
	<div :class="bemm()">
		<div v-if="isSelf">
			This is you, what you are you doing?
		</div>
		<template v-else>
			<header :class="bemm('header')">
				<div :class="bemm('user')">
					<AvatarImage
						:class="bemm('avatar')"
						:alt="props.user.fname"
						:user-id="props.user.userID"
					/>
					{{ props.user.fname }} {{ props.user.lname }}
					<Chip
						:class="bemm('trust')"
					>
						<span
							:class="bemm('text')"
						>{{ trustLevelName }}</span>
					</Chip>
				</div>
			</header>
			<main :class="bemm('main')">
				<template v-if="mode === 'slider'">
					<!-- <template v-if="status === 'success'"> -->
					<input
						:class="bemm('slider')"
						type="range"
						min="-20"
						max="100"
						step="20"
						:value="localTrust"
						@change="handleUpdate"
					>
					<!-- </template>
					<template v-else>
						<input
							disabled
							:class="bemm('slider')"
							type="range"
							min="-20"
							max="100"
							step="20"
							:value="currentTrust"
						>
					</template> -->
				</template>

				<template v-if="mode === 'button'">
					<ButtonGroup>
						<Button
							v-for="option in trustOptions"
							:key="option.value"
							:size="ButtonSettings.Size.SMALL"
							:color="option.color"
							@click="localTrust = option.value"
						>
							{{ option.value }}
						</Button>
					</ButtonGroup>
				</template>
				<span :class="bemm('current')">
					<CountUp
						:target-number="localTrust"
						:duration="500"
						:suffix="'%'"
					/>
				</span>
			</main>

			<footer :class="bemm('footer')">
				<ButtonGroup
					:class="bemm('buttongroup')"
					:align="ButtonGroupAlign.CENTER"
				>
					<Button
						:color="ButtonSettings.Color.PRIMARY"
						:status="saveStatus"
						@click="handleSave"
					>
						Save
					</Button>
				</ButtonGroup>
			</footer>
		</template>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import AvatarImage from '@/components/Atoms/AvatarImage.vue';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import Button from '@/components/Atoms/Button/Button.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import type { User } from '~/types';
import { AllColors, Status } from '~/types';
import CountUp from '@/components/Atoms/CountUp.vue';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';
import {
	// getUserTrust,
	setUserTrust, updateUserTrust } from '~/composables/useApi';
import Chip from '@/components/Atoms/Chip/Chip.vue';
import { useUserStore } from '~/store/user';

const props = defineProps({
	user: {
		type: Object as PropType<User>,
		required: true,
	},
	currentTrust: {
		type: Number,
		required: true,
	},
});

const mode = ref<'button' | 'slider'>('slider');
const localTrust = ref(0);
const hasTrust = ref(false);
const bemm = useBemm('user-trust-panel');
const userStore = useUserStore();
const saveStatus = ref<Status>(Status.IDLE);
const isSelf = ref(userStore?.getUserData?.value?.userID === props.user.userID);

const trustLevelName = computed(() => {
	return props.user.trustLevelInfo.aka;
});

const trustOptions = ref([
	{
		label: '-20',
		value: -20,
		color: AllColors.BLACK,
	},
	{
		label: '0',
		value: 0,
		color: AllColors.RED,
	},
	{
		label: '+20',
		value: 20,
		color: AllColors.ORANGE,
	},
	{
		label: '+40',
		value: 40,
		color: AllColors.YELLOW,
	},
	{
		label: '+60',
		value: 60,
		color: AllColors.GREEN,
	},
	{
		label: '+80',
		value: 80,
		color: AllColors.SILVER,
	},
	{
		label: '+100',
		value: 100,
		color: AllColors.GOLD,
	},
]);

const handleUpdate = (event: Event) => {
	const target = event.target as HTMLInputElement;
	localTrust.value = parseInt(target.value);
};

const handleSave = async () => {
	saveStatus.value = Status.LOADING;

	if (hasTrust.value) {
		const result = await updateUserTrust({
			slug: props.user.slug,
			trust: localTrust.value,
		});
		if (result.success) {
			saveStatus.value = Status.SUCCESS;
		}
		else {
			saveStatus.value = Status.ERROR;
		}
		setTimeout(() => {
			saveStatus.value = Status.IDLE;
		}, 2000);
	}
	else {
		const result = await setUserTrust({
			slug: props.user.slug,
			trust: localTrust.value,
		});
		if (result.success) {
			saveStatus.value = Status.SUCCESS;
		}
		else {
			saveStatus.value = Status.ERROR;
		}
		setTimeout(() => {
			saveStatus.value = Status.IDLE;
		}, 2000);
	}
};

onMounted(() => {
	if (props.currentTrust) {
		localTrust.value = props.currentTrust;
		hasTrust.value = true;
	}
});
</script>

<style lang="scss">
#trust-panel {
	--popup-padding: 0;
	--popup-width: 480px
}

.user-trust-panel {

	@include global.desktop {
		width: 480px;

	}

	&__header {
		padding: var(--space);

		h4 {
			max-width: 75%;
		}
	}

	&__main {
		padding: var(--space);
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__footer {
		padding: var(--space-s) var(--space);
		border-radius: 0 0 var(--border-radius) var(--border-radius);

		display: flex;
		align-items: center;
		justify-content: space-between;
		--input-switch-container-background: transparent;
	}

	&__buttongroup {
		--button-group-width: 100%;
	}

	&__current {
		font-size: 2em;
		font-weight: bold;
	}

	&__user{
		display: flex; gap: var(--space-s);
		align-items: center;
	}

	&__slider {
		-webkit-appearance: none;
		appearance: none;
		height: 10px !important;
		width: 100%;
		border-radius: 10em;
		background-color: var(--primary);
		outline: none;
		margin-bottom: 14px;

		&::-webkit-slider-thumb {
			-webkit-appearance: none;
			appearance: none;
			width: 2em;
			height: 2em;
			border-radius: 50%;
			background: var(--foreground);
			cursor: pointer;
			border: 3px solid var(--background);
		}

		&::-moz-range-thumb {
			width: 2em;
			height: 2em;
			border-radius: 50%;
			background: var(--foreground);
			cursor: pointer;
			border: 3px solid var(--background);
		}

		&[disabled] {
			opacity: .5;
			filter: grayscale(1);
		}
	}

	&__info{
		// border: 1px solid red;
	}
}
</style>
