<template>
	<Button
		:class="bemm()"
		:size="size"
		:color="isTrusting ? color : ButtonColor.ACCENT"
		:type="type"
		:status="status"
		:icon="Icons.SHIELD"
		:tooltip="isTrusting ? t('Trust.change-trust-tooltip') : t('Trust.set-trust-tooltip')"
		@click="setTrust"
	>
		{{ amount }}
		{{ isTrusting ? t('Trust.trusting-amount', { amount }) : t('Trust.trust-button') }}
	</Button>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import type { PropType } from 'vue';
import { Icons } from 'open-icon';

import UserTrustPanel from './UserTrustPanel.vue';
import { popupService } from '@/components/Molecules/Popup/Popup.service';
import { getUserTrust } from '@/composables/useApi';
import { ButtonColor, ButtonSize, ButtonStatus, ButtonType } from '@/components/Atoms/Button/Button.model';
import Button from '@/components/Atoms/Button/Button.vue';

const bemm = useBemm('user-trust-button');
const { t } = useI18n();

const isTrusting = ref<boolean | null>(null);
const status = ref<ButtonStatus>(ButtonStatus.IDLE);

const props = defineProps({
	size: {
		type: String as PropType<ButtonSize>,
		default: ButtonSize.SMALL,
	},
	type: {
		type: String as PropType<ButtonType>,
		default: ButtonType.DEFAULT,
	},
	color: {
		type: String as PropType<ButtonColor>,
		default: ButtonColor.PRIMARY,
	},
	user: {
		type: Object as PropType<{
			slug: string;
			fname: string;
			lname: string;
			[key: string]: any;
		}>,
		required: true,
	},
});

const amount = ref<number>(0);

const setIsTrustingUser = async () => {
	const result = await getUserTrust({ slug: props.user.slug });
	if (result && result.success) {
		isTrusting.value = result.data.trust;
	}
};
setIsTrustingUser();

const setTrust = (e: Event) => {
	e.preventDefault();
	popupService.showPopup({
		component: UserTrustPanel,
		title: 'Trust ' + (props.user.fname + ' ' + props.user.lname).trim(),
		props: {
			user: props.user,
			currentTrust: amount.value,
		},
	});
};
</script>
