<template>
	<div :class="bemm()">
		<header :class="bemm('header')">
			<div :class="bemm('name')">
				<AvatarImage
					:class="bemm('avatar')"
					:user-id="user.userID"
					@click="handleClick"
				/>
				<div
					:class="bemm('name')"
					@click="handleClick"
				>
					<span :class="bemm('name-text')">{{ user.fname }} {{ user.lname }}</span>
				</div>
				<Chip v-if="user.trustLevelInfo.aka">
					{{ user.trustLevelInfo.aka }}
				</Chip>
			</div>
			<UserFollowButton :slug="user.slug" />
		</header>

		<div :class="bemm('info')">
			<p v-if="isTrust">
				Was boosted <strong>{{ user.trustLevel }}%</strong>
			</p>
			<p v-if="isFollow && user.followingSince">
				Was followed {{ calculateTimeDifference(user.followingSince) }}
			</p>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import UserFollowButton from './UserFollowButton.vue';
import type { User } from '@/types';
import { goToProfile } from '@/utils/navigation';
import { popupService } from '@/components/Molecules/Popup/Popup.service';
import AvatarImage from '@/components/Atoms/AvatarImage.vue';
import Chip from '@/components/Atoms/Chip/Chip.vue';
import { calculateTimeDifference } from '~/utils';

const bemm = useBemm('user-card');

const props = defineProps({
	user: {
		type: Object as PropType<User>,
		required: true,
	},
	isTrust: {
		type: Boolean,
		default: false,
	},
	isFollow: {
		type: Boolean,
		default: false,
	},
});
const handleClick = () => {
	goToProfile(props.user.slug);
	setTimeout(() => {
		popupService.closeAllPopups();
	}, 500);
};
</script>

<style lang="scss">
.user-card {
	display: flex;
	align-items: center;
	gap: var(--space);
	padding: var(--space);
	border-radius: var(--border-radius);
	box-shadow: var(--drop-shadow);
	width: 100%;
	flex-wrap: wrap;

	&:hover {
		outline: 1px solid var(--primary)
	}

	@include global.mobile-only {
		background-color: var(--background);
	}

	&:hover {
		--drop-shadow-color: var(--primary);
	}

	&__avatar {
		width: 2em;
		height: 2em;
		flex-shrink: 0;
		border-radius: 50%;
	}

	&__info {
		width: 100%;

		&:empty {
			display: none;
		}

		p {
			opacity: .5;
			font-size: .75em;
		}
	}

	&__header {
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: var(--space);
	}

	&__name {
		display: flex;
		gap: var(--space-s);
		align-items: center;

	}

	&__info {}

	&__name-text {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@include global.mobile-only {

			width: 30vw;
		}

	}
}
</style>
