<template>
	<Card
		v-if="showTrustInfo"
		:class="bemm('info')"
	>
		<h3>What is "trust"?</h3>
		<p>It's super cool, and it does all this stuff. Here's links about it. Please check it out.</p>
		<ButtonGroup :align="ButtonGroupAlign.CENTER">
			<Button
				:color="ButtonSettings.Color.TERTIARY"
				@click="handleGotItClick"
			>
				Got it!
			</Button>
		</ButtonGroup>
	</Card>
	<ButtonGroup
		v-else
		:align="ButtonGroupAlign.CENTER"
	>
		<Button
			:icon="Icons.CIRCLED_QUESTION_MARK"
			:color="ButtonSettings.Color.TERTIARY"
			@click="showItAgain"
		>
			What is trust?
		</Button>
	</ButtonGroup>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { ButtonGroupAlign, ButtonSettings } from '@/components/Atoms/Button';
import { Icons } from '@/types';
import { useUI } from '@/composables/useUI';

import Card from '@/components/Atoms/Card/Card.vue';

const bemm = useBemm('user-trust-panel');

// Show Trust Banner Info
const { getShowBanner, setShowBanner } = useUI();

const showTrustInfo = ref(true);

onMounted(() => {
	let showing = getShowBanner('trust', true);
	if (showing === null || showing === undefined) {
		setShowBanner('trust', true);
		showing = true;
	}
	showTrustInfo.value = showing;
});
const handleGotItClick = () => {
	showTrustInfo.value = false;
	setShowBanner('trust', false);
};

const showItAgain = () => {
	showTrustInfo.value = true;
	setShowBanner('trust', true);
};
</script>
