<template>
	<Teleport to="body">
		<div
			v-if="isActive"
			:id="modalId"
			ref="modal"
			:class="blockClasses"
			@close="isActive = false"
		>
			<div
				v-if="isActive"
				:class="bemm('background')"
				@click="canClose && closeModal()"
			/>
			<div :class="bemm('wrapper')">
				<div
					v-if="isActive"
					:class="bemm('container')"
				>
					<Button
						v-if="canClose"
						:class="bemm('close')"
						:icon="ButtonSettings.Icon.MULTIPLY_M"
						:type="ButtonSettings.Type.GHOST"
						:size="ButtonSettings.Size.SMALL"
						:color="ButtonSettings.Color.ACCENT"
						@click="closeModal()"
					/>
					<header
						v-if="hasSlot('header')"
						:class="bemm('header')"
					>
						<slot name="header" />
					</header>
					<main
						v-if="hasSlot('content')"
						:class="bemm('content')"
					>
						<slot name="content" />
					</main>
					<main
						v-else-if="hasSlot('default')"
						:class="bemm('content')"
					>
						<slot />
					</main>
					<footer
						v-if="hasSlot('footer')"
						:class="bemm('footer')"
					>
						<slot name="footer" />
					</footer>
				</div>
			</div>
		</div>
	</Teleport>
</template>

<script lang="ts" setup>
import { type PropType } from 'vue';
import { useBemm } from 'bemm';
import type { ModalPosition } from './Modal.model';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { useId } from '#imports';
import Button from '@/components/Atoms/Button/Button.vue';
import {
	eventBus,
	EventAction,
	EventChannel,
	type EventData,
	EventKeys,
} from '@/utils/eventBus';

const emit = defineEmits(['close', 'show']);

const props = defineProps({
	active: {
		type: Boolean,
		default: false,
	},
	close: {
		type: Boolean,
		default: true,
	},
	background: {
		type: Boolean,
		default: true,
	},
	position: {
		type: String as PropType<ModalPosition>,
		default: 'center',
	},
	id: {
		type: String,
		default: '',
	},
});

const modalId = ref(props.id || useId());
const isActive = ref(props.active);
const openedTime = ref(0);

const showModal = () => {
	isActive.value = true;
	emit('show', modalId.value);
	openedTime.value = Date.now();
};

const closeModal = () => {
	if (!canClose.value) return;
	isActive.value = false;
	emit('close', modalId.value);
};

defineExpose({
	show: showModal,
	close: closeModal,
	isActive,
});

const bemm = useBemm('modal');

const slots = useSlots();
const hasSlot = (name: string) => !!slots[name];

const blockClasses = computed(() => {
	return [
		bemm(),
		bemm('', isActive.value ? 'active' : 'inactive'),
		bemm('', props.position),
		bemm('', hasBackground.value ? 'has-background' : 'has-no-background'),
	];
});

const hasBackground = ref(props.background);
const canClose = ref(props.close);

eventBus.on(EventChannel.UI, (p) => {
	const payload = p as EventData;

	if (payload.action == EventAction.KEY) {
		switch (payload.data.key) {
			case EventKeys.ESCAPE:
				closeModal();
				break;
		}
	}
});

const isRecentlyOpened = computed(() => {
	return Date.now() - openedTime.value < 250;
});

eventBus.on(EventChannel.MODAL, (p) => {
	const payload = p as EventData;

	switch (payload.action) {
		case EventAction.OPEN:
			modalId.value == payload.data?.id && showModal();
			break;
		case EventAction.CLOSE:
			modalId.value == payload.data?.id && closeModal();
			break;
		case EventAction.FORCE_CLOSE:
			!isRecentlyOpened.value && isActive.value && closeModal();
			break;
	}
});
</script>

<style lang="scss">
.modal {
	$b: &;
	position: fixed;
	z-index: 100;
	margin: 0 auto;

	top: 0;
	left: 0;
	inset: 0;
	background-color: transparent;
	width: 100svw;
	height: 100svh;
	border: none;

	&--bottom {
		.modal__wrapper {
			// position: absolute;
			// bottom: var(--modal-bottom, 0);
		}
	}

	&__wrapper {
		width: 100vw;
		margin: auto;
		overflow: scroll;
		padding: var(--spacing);
		max-height: 100vh;
		height: 100vh;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;

		@include global.mobile-only() {
			width: 100%;
			padding: var(--space);
			padding-bottom: calc(var(--spacing) * 2 + var(--space))
		}
	}

	&__close {
		position: absolute;
		top: calc(var(--space) / 2);
		right: calc(var(--space) / 2);
		background-color: var(--accent);
	}

	&--has-background {
		#{$b}__background {
			inset: 0;
			position: absolute;
			background-color: var(--modal-background, color-mix(in srgb, var(--accent-rgb), 0.8));
			backdrop-filter: var(--modal-background-blur, blur(5px));
			animation: backgroundFadeIn .3s var(--bezier) forwards;
			opacity: 0;

			@keyframes backgroundFadeIn {
				to {
					opacity: 1;
				}
			}
		}
	}

	&__container {
		position: relative;
		margin: auto;
		z-index: var(--modal-container-z-index, 6);
		background: var(--modal-container-background, var(--background));
		border-radius: var(--modal-border-radius, var(--border-radius));
		height: fit-content;
		color: var(--modal-container-color, var(--foreground));

		width: fit-content;
		animation: containerComeIn .3s var(--bezier) forwards;

		transform: scale(.75) translateY(var(--spacing));
		opacity: 0;

		@keyframes containerComeIn {
			to {
				transform: scale(1) translateY(0);
				opacity: 1;
			}
		}

		@include global.desktop-up() {
			width: var(--modal-width, fit-content);
			max-width: var(--modal-max-width, calc(100vw - var(--spacing) * 2));

		}
	}

	&[open] {
		opacity: 1;
	}

	&__header {
		padding: var(--modal-padding, var(--space));
		color: var(--tertiary)
	}

	&__footer {
		padding: var(--modal-padding, var(--space));
	}

	&__container {
		padding: var(--modal-padding, var(--space));
	}

}
</style>
