<template>
	<div :class="bemm()">
		<ul v-if="user.isLoggedIn">
			<li>
				<img
					:src="`${uploadsURL}profilepics/${user.getUserID}`"
					:alt="$t('Navigation.profile-picture-alt')"
				>
			</li>
		</ul>
		<ul>
			<template
				v-for="(item, i) in navigationItems"
				:key="i"
			>
				<li
					v-if="!item.requiresAuth || user.isLoggedIn"
					color="secondary"
				>
					<NuxtLink :to="item.to">
						<i :class="item.icon" />
						<span>{{ item.title }}</span>
					</NuxtLink>
				</li>
			</template>
			<li
				v-if="user.isLoggedIn"
				@click="handleLogout"
			>
				<span>{{ $t("General.logout") }}</span>
			</li>
		</ul>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { useI18n } from 'vue-i18n';
import { useUserStore } from '~/store/user';
import { Routes } from '~/data/routes';
import { goTo } from '~/utils/navigation';

const bemm = useBemm('main-navigation');
const user = useUserStore();
const { t } = useI18n();
const uploadsURL = process.env.NUXT_PUBLIC_UPLOADS_URL || '';

const navigationItems = computed(() => [
	{ title: t('Navigation.home'), icon: 'mdi-home', to: '/' },
	{ title: t('Navigation.explore'), icon: 'mdi-compass', to: '/explore' },
	{ title: t('Navigation.settings'), icon: 'mdi-cog', to: '/settings', requiresAuth: true },
	{ title: t('Navigation.about'), icon: 'mdi-information', to: '/about' },
]);

const handleLogout = () => {
	user.logout();
	goTo({ name: Routes.INDEX });
};
</script>

<style lang="scss">
.main-navigation {
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}
</style>
