9<template>
	<header :class="blockClasses">
		<div :class="bemm('container')">
			<NuxtLink
				v-if="isMobile"
				to="/"
				:class="bemm('logo-mobile')"
			>
				<Logo
					variant="icon"
					@click="goHome()"
				/>
			</NuxtLink>
			<NuxtLink
				v-else
				to="/"
				:class="bemm('logo-desktop')"
			>
				<Logo
					variant="text-icon"
					@click="goHome()"
				/>
			</NuxtLink>

			<div
				v-if="activeCenter"
				id="header-center"
				:class="bemm('center')"
			/>
			<!--
				We need to hide the user menu on mobile, because it is also in the sidebar
				and prevents login working properly.
				This should be addressed:
				The issue was that the submit function was being triggered from the wrong instance.
				-->
			<BaseUserMenu v-if="!isMobile" />
		</div>
	</header>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { useRouter } from 'vue-router';
import { useUI } from '@/composables/useUI';
import { EventAction, EventChannel, type EventData } from '@/utils/eventBus';

const { isMobile } = useUI();
const bemm = useBemm('main-header');
const { push } = useRouter();

const goHome = () => {
	push({ name: 'index' });
};

const locked = ref(false);

onMounted(() => {
	eventBus.on(EventChannel.UI, (p) => {
		const payload = p as EventData;
		if (payload.action === EventAction.LOCK) {
			locked.value = !!payload.data.lock;
		}
	});
});

const blockClasses = computed(() => {
	return [bemm('',
		['',

			locked.value ? 'locked' : 'not-locked',
		],
	)];
});

const activeCenter = ref(true);
</script>

<style lang="scss">
.main-header {
  $b: &;
  position: relative;
  background-color: color-mix(in srgb, var(--accent-rgb), 0.25);
  border-bottom: 1px solid var(--accent);

  backdrop-filter: blur(10px);

  width: 100%;

  transform: translateY(0%);
  opacity: 1;
  transition:
    transform 0.25s,
    opacity 0.25s;

  @include global.mobile {
    display: none;
  }

  @include global.desktop {
    animation: mainHeader var(--bezier) both;
    animation-timeline: scroll();
    animation-range: 0 50vh;
  }

  @keyframes mainHeader {
    to {
      // background-color: var(--primary);
      // color: var(--light);
    }
  }

  [data-scroll-direction="down"]:not([data-on-top]) & {
    &#{$b}--not-locked {
      transform: translateY(-25%);
      opacity: 0;
    }
  }

  // .app--down.app--off-top & {

  // }

  @include global.mobile {
    max-width: 100vw;

    .user-avatar {
      gap: 0;

      .user-avatar__name {
        display: none;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1680px;
    margin: auto;
    padding: var(--space);

    @include global.mobile {
      padding: 0.25em;
      padding-inline: var(--space);
    }
  }

  &__button-container {
    position: relative;
  }

  &__logo-mobile {
    display: none;

    @include global.mobile {
      display: block;
    }
  }

  &__logo-desktop {
    display: block;
    width: 10em;
    margin-left: var(--space);

    @include global.mobile {
      display: none;
    }
  }
}
</style>
