<template>
	<div :class="bemm('')">
		<h5
			v-if="title"
			:class="bemm('title')"
		>
			{{ title }}
		</h5>
		<ul :class="bemm('list')">
			<li
				v-for="item in generatedItems"
				:key="item.id"
				:class="bemm('item', ['', item.status])"
			>
				<Icon
					:class="bemm('icon')"
					:name="getIcon(item.status)"
				/>
				<span :class="bemm('text')">
					{{ item.text }}
				</span>
			</li>
		</ul>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import Icon from '../Icon.vue';
import type { ChecklistItem } from './Checklist.model';
import { Icons, Status } from '@/types';

const bemm = useBemm('checklist');
const props = defineProps({
	title: {
		type: String,
		default: '',
	},
	items: {
		type: Array as PropType<ChecklistItem[]>,
		required: true,
	},
});

const getIcon = (status: Status) => {
	switch (status) {
		case Status.IDLE:
			return Icons.CIRCLED_INFO;
		case Status.ERROR:
			return Icons.CIRCLED_MULTIPLY;
		case Status.SUCCESS:
			return Icons.CIRCLED_CHECK;
	}
};
const generatedItems = computed<Required<ChecklistItem[]>>(() => {
	return props.items.map((item, index) => {
		return {
			id: item.id || `item-${index}`,
			...item,
		};
	});
});
</script>

<style lang="scss">
.checklist {

	background-color: var(--background);
	padding: var(--space);
	border-radius: var(--border-radius);
	display: flex; gap: var(--space);
	flex-direction: column;

	&__list {
		display: flex;
		flex-direction: column;
		gap: var(--space-s);
	}

	&__item {
		display: flex;
		background-color: var(--accent);
		align-items: center;
		padding: var(--space-s);
		border-radius: var(--border-radius);
		gap: var(--space-s);
		color:color-mix(in srgb, var(--status-color), var(--foreground) 50%);
		background-color: color-mix(in srgb, var(--status-color), transparent 90%);
font-size: .75em;
		&--success {
			--status-color: var(--success);
		}

		&--error {
			--status-color: var(--error);
		}

		&--idle {
			--status-color: var(--info);
		}

		.icon{
			color: var(--status-color);
		}

	}

	&__icon {
		font-size: 1.25em;
	}
}
</style>
