<template>
	<input
		v-model="darkMode"
		type="checkbox"
		:label="$t('General.dark-mode')"
		@change="changeDarkMode"
	>
</template>

<script setup>
import { usePreferences } from '@/composables/usePreferences';

const theme = useTheme();
const browserPref = window?.matchMedia
	? window.matchMedia('(prefers-color-scheme: dark)').matches
	: false;
const { setPreference } = usePreferences();

if (browserPref && theme.global.name.value === 'light') {
	//   theme.global.current.value.dark = true;
	//   setPreference("darkMode", true);
	// User prefers it dark - but not sure what to do with this info yet
	// They might have set it to dark mode in their browser, but we don't want to override their preference
	// if they've set it to light mode in the app
}

const darkMode = computed({
	get: () => theme.global.name.value === 'dark',
	set: (value) => {
		theme.global.name.value = !value ? 'light' : 'dark';
	},
});

/**
 * Change the dark mode preference
 */
const changeDarkMode = () => {
	setPreference({
		key: 'isDarkMode',
		value: theme.global.name.value == 'dark',
	});
};
</script>
