<template>
	<form>
		<v-select
			v-model="locale"
			:items="languages"
			item-title="label"
			item-value="abbreviation"
			width="auto"
			:label="$t('General.your-language')"
		>
			<template #prepend>
				{{ currentFlag }}
			</template>
			<template #item="{ props, item }">
				<v-list-item
					v-bind="props"
					:title="item.raw.label"
				>
					<template #prepend>
						{{ currentFlag }}
					</template>
				</v-list-item>
			</template>
		</v-select>
	</form>
</template>

<script setup lang="ts">
import { watch } from 'vue';
import { useI18n } from 'vue-i18n';
import { usePreferences } from '@/composables/usePreferences';
import { useLanguages } from '@/composables/useLanguages';

const { locale } = useI18n();
const languages = useLanguages().languages;
const preferences = usePreferences();
// watch locale and broadcast it
watch(locale, (newLocale) => {
	preferences.setPreference({
		key: 'language',
		value: newLocale,
	});
});

const currentFlag = computed(() => {
	const current = languages.find(lang => lang.abbreviation === locale.value);
	return current?.flag;
});
</script>
