<template>
	<Card
		v-if="branch.details && !isHomeBranch"
		:class="bemm()"
		:color="branch.details?.branchColour"
		:style="`--branch-colour: var(--${branch.details?.branchColour})`"
	>
		<template #header>
			<Heading
				v-if="branch?.details?.subwikiLabel"
				class="show-mobile"
				:level="4"
			>
				<Icon
					v-if="branch?.details?.branchIcon"
					:class="bemm('header-icon')"
					:name="branch.details.branchIcon"
				/>
				<span :class="bemm('header-title')">
					{{ branch.details.subwikiLabel }}
				</span>
			</Heading>
			<Button
				v-if="canCreateBranch"
				:class="bemm('edit')"
				:to="`/edit/branch/${branch.details.slug}`"
				:size="ButtonSize.SMALL"
				:type="ButtonType.GHOST"
				:color="ButtonColor.TERTIARY"
				:icon="Icons.EDIT_M"
				:tooltip="`Edit ${branch.details.subwikiLabel}`"
			/>
		</template>

		<p
			v-if="branch.details.branchDescription"
			:class="bemm('description')"
		>
			{{ branch.details.branchDescription }}
		</p>
		<div
			v-if="branch.details.parentData"
			:class="bemm('stats')"
		>
			<ChipGroup>
				<Chip
					:color="Colors.PRIMARY"
					:count="branch.details.parentData.statistics.totalFollowers"
					:icon="Icons.USER"
					:icon-hide="Screen.DESKTOP"
					:label-hide="Screen.MOBILE"
				>
					Followers
				</Chip>
				<Chip
					:color="Colors.PRIMARY"
					:count="branch.details.parentData.statistics.totalPosts"
					:icon="Icons.NOTE_EDIT"
					:icon-hide="Screen.DESKTOP"
					:label-hide="Screen.MOBILE"
				>
					Posts
				</Chip>
			</ChipGroup>
		</div>

		<div
			v-else
			:class="bemm('container', ['', 'skeleton'])"
		>
			<SkeletonBlock />
			<SkeletonBlock />
			<SkeletonBlock />
		</div>

		<template
			v-if="isDetailBranch"
			#footer
		>
			<ButtonGroup
				class="show-mobile"
				:align="ButtonGroupAlign.CENTER"
			>
				<BranchFollowButton
					:class="bemm('follow-button')"
					:color="branch.details.branchColour"
					:slug="branch.details.slug"
				/>
			</ButtonGroup>
		</template>
	</Card>
</template>

<script lang="ts" setup>
import BranchFollowButton from './BranchFollowButton.vue';
import { useBemm } from '@/utils/bemm';
import Heading from '@/components/Atoms/Heading/Heading.vue';
import { ButtonColor, ButtonSize, ButtonType } from '@/components/Atoms/Button/Button.model';
import { Routes } from '@/data/routes';
import { useUserStore } from '@/store/user';
import { Branch } from '@/composables/useBranches/branches.model';
import { Colors, Icons, Screen } from '@/types';
import { useBranches } from '~/composables/useBranches';
import SkeletonBlock from '@/components/Atoms/SkeletonBlock.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';

import Icon from '@/components/Atoms/Icon.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import Card from '@/components/Atoms/Card/Card.vue';

import Chip from '@/components/Atoms/Chip/Chip.vue';
import ChipGroup from '@/components/Atoms/Chip/ChipGroup.vue';

const userstore = useUserStore();

const bemm = useBemm('branch-detail');
const { getBranch } = useBranches();
const route = useRoute();
const branch = reactive<{
	name: string;
	details: Branch | null;
}>({
	name: route.params.slug as string,
	details: null,
});

const isDetailBranch = computed(() => [Routes.BRANCH_DETAIL, Routes.POST_DETAIL].includes(route.name as string));
const isHomeBranch = computed(() => route.name === Routes.INDEX);

const setHomeBranchDetails = () => {
	if (!isHomeBranch.value) return;
	const branchDetails = new Branch({
		slug: 'home',
		branchIcon: Icons.TREE,
		subwikiLabel: 'Maintrunk',
		description: 'Welcome to the home branch',
	});

	branch.details = branchDetails;
};

watch(() => [route.name, route.params.slug], async () => {
	branch.details = null;

	if (!isDetailBranch.value) {
		setHomeBranchDetails();
		return;
	};
	const branchData = await getBranch({ slug: route.params.slug as string });

	if (branchData) branch.details = branchData;
}, {
	immediate: true,
});

const canCreateBranch = computed(() => {
	return userstore.isLoggedIn && userstore.userData.trustLevelInfo.trustLevelInt >= 3;
});

setHomeBranchDetails();
</script>

<style lang="scss">
.branch-detail {

	&__container {
		display: grid;
		flex-direction: column;
		gap: var(--space);
		border-radius: var(--border-radius);
		font-size: 1em;
		width: 100%;
		position: relative;
		grid-template-areas:
			"header header"
			"main main"
			"footer footer";
		grid-template-rows: auto auto auto;
		grid-template-columns: 1fr 1fr;

		@include global.tablet-down {

			grid-template-areas:
				"header footer"
				"main footer";
			grid-template-rows: auto 1fr;
			grid-template-columns: 1fr auto;
			// grid-gap: var(--space-s);
		}

		&--skeleton {
			display: flex;
			gap: var(--space);
			flex-direction: column;
		}

	}

	&__header {
		width: 100%;
		grid-area: header;
		display: flex;
		gap: var(--space-s);
	}

	&__header-icon {
		--heading-icon-size: 1.5em;
		color: var(--branch-colour);
	}

	&__main {
		grid-area: main;
	}

	&__footer {
		grid-area: footer;
		display: flex;
		flex-direction: column;
		gap: var(--space);
	}

	&__description {
		font-size: .75em;
		opacity: .5;

		&:first-of-type {

			font-size: .75em;
		}
	}

	&__edit {
		position: absolute;
		top: 0;
		right: 0;
		margin: var(--space-xs);
		// transform: translate(50%, -50%);
	}

	&__follow-button {
		--follow-button-color: var(--branch-colour);
	}

	> *:not(.show-mobile) {
		@include global.mobile-only{
			display: none;
		}
	}
}
</style>
