<template>
	<div
		:class="bemm('', ['', branch.branchColour])"
		:style="`--branch-color: var(--${branch.branchColour})`"
	>
		<Icon
			:class="bemm('icon')"
			:name="branch.branchIcon"
		/>
		<span :class="bemm('label')">{{ branch.subwikiLabel }}</span>

		<Icon
			:class="bemm('follow')"
			:name="Icons.MULTIPLY_M"
			@click="toggleBranchFollow(branch.id)"
		/>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { PropType } from 'vue';
import Icon from '@/components/Atoms/Icon.vue';
import { Icons } from '@/types';
import { EventAction, EventChannel } from '@/utils/eventBus';
import type { Branch } from '~/composables/useBranches/branches.model';

const bemm = useBemm('branch-item');

defineProps({
	branch: {
		type: Object as PropType<Branch>,
		required: true,
	},
});

const toggleBranchFollow = (id: string) => {
	eventBus.emit(EventChannel.BRANCH, {
		action: EventAction.REMOVE,
		data: {
			id,
		},
	});
};
</script>

<style lang="scss">
.branch-item {
    $b: &;
    padding: var(--space);
    border-radius: var(--border-radius);
    width: fit-content;
    position: relative;
    display: flex;
    gap: var(--space-s);
    align-items: center;

    --icon-fill: var(--background);

    --background1: color-mix(in srgb, var(--branch-color), 75% transparent);
    --background2: color-mix(in srgb, var(--branch-color), 80% transparent);
    --background3: color-mix(in srgb, var(--branch-color), 75% transparent);
    background-image: linear-gradient(to right, var(--background1), var(--background2), var(--background3));
    color: color-mix(in srgb, var(--branch-color), var(--foreground) 50%);
    outline: 1px solid var(--branch-color);

    &__icon {
        font-size: 1.5em;
        opacity: .5;
        --icon-fill: transparent;
    }

    &:hover {
        #{$b}__pin--inactive {
            opacity: 1;
        }
    }

    &__follow {
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        border-radius: 50%;
        transition: all .25s;

        &:hover {
            background-color: color-mix(in srgb, var(--background-rgb), 1);
        }
    }

    &:hover {
        #{$b}__follow {
            opacity: 1;
        }
    }
}
</style>
