<template>
	<Button
		v-if="isFollowing !== null && isLoggedIn"
		:class="bemm()"
		:size="size"
		:color="color"
		:type="isFollowing ? ButtonSettings.Type.DEFAULT : ButtonSettings.Type.GHOST"
		:status="status"
		:icon="Icons.STAR_M"
		:tooltip="isFollowing ? 'Click to unfollow' : 'Click to follow'"
		@click="handleFollow"
	>
		{{ isFollowing ? 'Following' : 'Follow' }}
	</Button>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { PropType } from 'vue';

import { Icons } from 'open-icon';
import { ButtonColor, ButtonSettings, ButtonSize, ButtonStatus } from '@/components/Atoms/Button/Button.model';
import Button from '@/components/Atoms/Button/Button.vue';
import { useBranches } from '~/composables/useBranches';
import { useUserStore } from '@/store/user';

const { followBranch, unfollowBranch, branches, isFollowingBranch } = useBranches();

const bemm = useBemm('BranchFollowButton');

const isFollowing = ref<boolean | null>(null);
const status = ref<ButtonStatus>(ButtonStatus.IDLE);
const route = useRoute();
const userstore = useUserStore();
const isLoggedIn = computed(() => {
	return !!userstore.isLoggedIn;
});

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
	size: {
		type: String as PropType<ButtonSize>,
		default: ButtonSize.SMALL,
	},
	color: {
		type: String as PropType<ButtonColor>,
		default: ButtonColor.TERTIARY,
	},
});

const setIsFollowingBranch = async () => {
	isFollowing.value = isFollowingBranch({ slug: props.slug });
};

const handleFollow = async () => {
	// status.value = ButtonStatus.LOADING;
	// setTimeout(() => {
	// 	status.value = ButtonStatus.IDLE;
	// }, 1500);
	if (isFollowing.value) {
		isFollowing.value = false; // Set optimistic
		const result = await unfollowBranch({ slug: props.slug });

		if (!result.success) {
			isFollowing.value = true;
		}
	}
	else {
		isFollowing.value = true; // Set optimistic
		const result = await followBranch({ slug: props.slug });
		if (!result.success) {
			isFollowing.value = false;
		}
	}
};

watch(() => [branches.value, route.name], () => {
	setIsFollowingBranch();
}, {
	immediate: true,
	deep: true,
});
</script>

<style lang="scss">

</style>
