<template>
	<Card
		:class="bemm()"
		:color="CardSettings.Color.GHOST"
		:header="$t('Branch.title')"
	>
		<template #header>
			<h5>{{ $t('Branch.title') }}</h5>
			<Button
				v-if="canCreateBranch"
				:class="bemm('create-branch')"
				:size="ButtonSettings.Size.SMALL"
				:type="ButtonSettings.Type.GHOST"
				:color="ButtonSettings.Color.TERTIARY"
				:icon="ButtonSettings.Icon.ADD_M"
				:tooltip="$t('Branch.create-branch-tooltip')"
				@click="openCreateBranchModal"
			/>
		</template>
		<ClientOnly>
			<div v-if="loading">
				<Icon :name="Icons.THREE_DOTS_HORIZONTAL" />
			</div>

			<ul :class="bemm('list')">
				<li
					v-for="(item, index) in allItems"
					:id="`branch-${item.slug}`"
					:key="item.slug + index"
					:style="`--order: ${item.prio}; --branch-colour: ${item.branchColour};`"
					:class="[bemm('item'), bemm('item', isMenuItemActive(item.slug) ? 'active' : 'inactive')]"
					tooltip=""
				>
					<a
						:class="bemm('link')"
						:prio="item.prio"
						@click="goCategory(item)"
					>
						<Icon
							:class="bemm('icon')"
							:name="item.branchIcon"
							:animation="true"
						/>

						<ToolTip
							v-if="isMobile"
							:position="ToolTipPosition.RIGHT"
						>{{ item.subwikiLabel }}</ToolTip>
						<span :class="bemm('label')">
							{{ item.subwikiLabel }}
						</span>
					</a>
				</li>
			</ul>
		</ClientOnly>

		<template #footer>
			<ButtonGroup :align="ButtonGroupAlign.CENTER">
				<Button
					:type="ButtonSettings.Type.NORMAL"
					:color="ButtonSettings.Color.TERTIARY"
					:size="ButtonSettings.Size.SMALL"
					:icon="ButtonSettings.Icon.LEAF3"
					:to="`/more`"
				>
					{{ $t('Branch.all-branches') }}
				</Button>
			</ButtonGroup>
		</template>
	</Card>
</template>

<script lang="ts" setup>
import { computed, ref, onMounted } from 'vue';
import { useBemm } from 'bemm';
import { useRouter, useRoute } from 'vue-router';
import { Icons } from 'open-icon';

import CreateBranch from './EditBranchForm.vue';
import BranchBarModal from './BranchBarModal.vue';
import UserBar from '@/components/Organisms/User/UserBar.vue';
import { useBranches } from '@/composables/useBranches';
import { type IBranch } from '@/composables/useBranches/branches.model';
import { useUI } from '@/composables/useUI';
import { ToolTipPosition } from '@/components/Atoms/ToolTip/ToolTip.model';
import { Routes } from '@/data/routes';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { useUserStore } from '@/store/user';
import { popupService } from '@/components/Molecules/Popup/Popup.service';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';

import Card from '@/components/Atoms/Card/Card.vue';
import { CardSettings } from '@/components/Atoms/Card/Card.model';
import Button from '@/components/Atoms/Button/Button.vue';
import Icon from '@/components/Atoms/Icon.vue';
import ToolTip from '@/components/Atoms/ToolTip/ToolTip.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';

const userstore = useUserStore();
const { branches, exploreBranches, loading, resetBranches } = useBranches();
const { isMobile } = useUI();
const { t } = useI18n();

const bemm = useBemm('branch-bar');
const router = useRouter();

const isActive = ref('New');
const visibleBranchAmount = ref(2);

const getBranchLimit = () => {
	const windowHeight = window.innerHeight;
	const startPixels = 400;
	return Math.max(Math.floor((windowHeight - startPixels) / 100), 0);
};

onMounted(() => {
	visibleBranchAmount.value = getBranchLimit();

	const route = useRoute();
	if (route.params.slug) {
		isActive.value = route.params.slug as string;
	}

	window.addEventListener('resize', () => {
		visibleBranchAmount.value = getBranchLimit();
	});
});

const currentBranches = computed(() => {
	if (userstore.isLoggedIn) {
		return branches.value;
	}
	else {
		return exploreBranches.value;
	}
});

const slicedBranches = computed(() => {
	if (!currentBranches.value) {
		return [];
	}
	const limittedbranches = [...branches.value.slice(0, visibleBranchAmount.value).map((b) => {
		return {
			...b,
			active: true,
		};
	})];
	return limittedbranches;
});

const canCreateBranch = computed(() => {
	return !!userstore.isLoggedIn && userstore.userData.trustLevelInfo.trustLevelInt >= 3;
});

const isMenuItemActive = (slug: string) => {
	const route = useRoute();

	if (route.name === Routes.INDEX && slug == 'maintrunk') {
		return true;
	}
	if (route.name == Routes.FEED && route.params.slug == slug) {
		return true;
	}

	return false;
};

const allItems = computed<IBranch[]>(() => {
	return ([
		{
			id: Routes.INDEX,
			slug: 'maintrunk',
			branchIcon: Icons.TREE,
			branchColour: ButtonSettings.Color.PURPLE,
			subwikiLabel: t('Branch.maintrunk'),
			prio: 0,
			active: true,
		},
		...(isMobile.value ? [] : slicedBranches.value),
		{
			id: 'branches-modal',
			slug: 'branches-modal',
			subwikiLabel: t('Branch.title'),
			branchIcon: Icons.TREE,
			branchColour: ButtonSettings.Color.BLUE,
			prio: 0,
			active: isMobile.value,
		}, {
			id: 'users-modal',
			slug: 'users',
			subwikiLabel: t('Branch.users'),
			branchIcon: Icons.USERS,
			branchColour: ButtonSettings.Color.BLUE,
			prio: 0,
			active: isMobile.value,
		},
	] as IBranch[]).filter(b => b.active);
});

const goCategory = (cat: IBranch) => {
	switch (cat.id) {
		case Routes.INDEX:
			return router.push({
				name: Routes.INDEX,
			});
		case 'users-modal': {
			return popupService.showPopup({
				component: UserBar,
				id: 'user-bar',
			});
		}
		case Routes.MORE:
			return router.push({
				name: Routes.MORE,
			});

		case 'branches-modal':
			return popupService.showPopup({
				component: BranchBarModal,
				id: 'branch-menu',
			});

		default:
			popupService.closeAllPopups();
			router.push({
				path: `/branch/${cat.slug.toLowerCase()}`,
			});
	}
};

const openCreateBranchModal = () => {
	popupService.showPopup({
		component: CreateBranch,
		title: 'Create a new branch',
		id: 'create-branch',
	});
};

watch(() => userstore.getUserID, () => {
	resetBranches();
}, {
	deep: true,
	immediate: true,
});
</script>

<style lang="scss">
.branch-bar {
	$b: &;

	position: sticky;

	&__list {
		display: flex;
		gap: 0;
		flex-direction: column;
	}

	&__item {
		display: flex;
		gap: var(--space);
		align-items: center;
		border-radius: var(--border-radius);

		&--active #{$b}__link {
			--bg-color: var(--branch-colour);

			background-color: color-mix(in srgb, var(--branch-colour), transparent 90%);

			#{$b}__icon {
				--icon-stroke-width: 3;
				--icon-fill: var(--background);
				color: color-mix(in srgb, var(--branch-colour), var(--background) 50%);
			}

			#{$b}__new {
				background-color: var(--primary);
				color: var(--tertiary-text);
			}
		}
	}

	&__link {
		align-items: center;
		display: flex;
		padding: 0.5em;
		position: relative;
		border-radius: var(--border-radius);
		gap: 0.5em;
		background-color: color-mix(in srgb, var(--foreground-rgb), 0);
		transition: background-color 0.2s var(--bezier);

		@include global.desktop-up {
			padding-right: 1em;
		}

		@include global.non-touch-device {
			&:hover {
				background-color: color-mix(in srgb, var(--branch-colour), transparent 90%);

				#{$b}__icon {
					--icon-stroke-width: 3;
					--icon-fill: var(--background);
					color: color-mix(var(--branch-colour), var(--background) 50%);
				}

				#{$b}__new {
					color: currentColor;
				}
			}
		}
	}

	&__icon {
		width: 1.25em;
		height: 1.25em;
		--icon-stroke-width: 2;
		--icon-fill: color-mix(in srgb, var(--branch-colour), transparent 95%);

		[data-contrast-mode] & {
			--icon-stroke-width: 4;
		}

		* {
			transition: fill 0.5s, stroke 0.5s;
		}

		@include global.mobile-only() {
			--icon-stroke-width: 4;
		}
	}

	&__label {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.5em;
		white-space: nowrap;

		font-size: .875em;
		max-width: 15ch;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		transition: max-width .3s ease-in-out;

		@include global.mobile-only() {
			.sidebar--inactive & {
				max-width: 0;
			}
		}
	}

	&__edit {
		position: absolute;
		right: var(--space);
		top: var(--space);
		opacity: 0.5;

		&:hover {
			opacity: 1;
		}
	}

	&__new,
	&__new-mobile {
		font-size: 0.5em;
	}

	&__new {
		display: none;

		@include global.desktop-up {
			display: inline;
		}
	}

	&__new-mobile {
		display: none;

		@include global.mobile-only {
			display: inline;
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}
</style>
