<template>
	<div :class="bemm('branch-list')">
		<ul :class="bemm('list')">
			<li
				v-for="(item, index) in branches"
				:id="`branch-${item.slug}`"
				:key="item.slug + index"
				:style="`--order: ${item.prio}`"
				:class="[bemm('item'), bemm('item', isActive === item.id ? 'active' : 'inactive')]"
				tooltip=""
			>
				<a
					:class="bemm('link')"
					:prio="item.prio"
					@click="goCategory(item)"
				>
					<Icon
						:class="bemm('icon')"
						:name="item.branchIcon"
					/>

					<ToolTip
						v-if="isMobile"
						:position="ToolTipPosition.RIGHT"
					>{{ item.subwikiLabel }}</ToolTip>
					<span :class="bemm('label')">
						{{ item.subwikiLabel }}
					</span>
				</a>
			</li>
			<li>
				<Button
					:size="ButtonSettings.Size.SMALL"
					:type="ButtonSettings.Type.GHOST"
					:icon="ButtonSettings.Icon.ADD_M"
					:color="ButtonSettings.Color.TERTIARY"
					@click="openCreateBranchModal"
				>
					Create branch
				</Button>
			</li>
		</ul>
	</div>

	<Modal id="create-branch">
		<EditBranchForm />
	</Modal>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { ToolTipPosition } from '@/components/Atoms/ToolTip/ToolTip.model';
import { useUI } from '~/composables/useUI';
import { useBranches } from '~/composables/useBranches';
import { EventAction, EventChannel } from '~/utils/eventBus';

const { branches } = useBranches();
const { isMobile } = useUI();

const isActive = ref('New');
const goCategory = (item: any) => {
	isActive.value = item.id;

	eventBus.emit(EventChannel.MODAL, {
		action: EventAction.FORCE_CLOSE,
	});
	goToBranch(item.slug);
};

const openCreateBranchModal = () => {
	eventBus.emit(EventChannel.MODAL, {

		action: EventAction.OPEN, data: {
			id: 'create-branch',
			active: true,
		},
	});
};

const bemm = useBemm('branch-bar-modal');
</script>

<style lang="scss">
.branch-list {
	$b: &;
	&__list {
		display: flex;
		gap: 0;
		flex-direction: column;
	}

	&__item {
		display: flex;
		gap: var(--space);
		align-items: center;
		border-radius: var(--border-radius);

		&--active #{$b}__link {
			--bg-color: var(--secondary-rgb);

			background-color: color-mix(in srgb, var(--tertiary-rgb), 0.25);

			#{$b}__icon {
				--icon-stroke-width: 3;
				--icon-fill: var(--background);
				color: setLightness(tertiary, 40%);
			}

			#{$b}__new {
				background-color: var(--primary);
				color: var(--tertiary-text);
			}
		}
	}

	&__link {
		align-items: center;
		display: flex;
		padding: 0.5em;
		position: relative;
		border-radius: var(--border-radius);
		gap: 0.5em;
		background-color: color-mix(in srgb, var(--foreground-rgb), 0);
		transition: background-color 0.2s var(--bezier);

		@include global.desktop-up {
			padding-right: 1em;
		}

		@include global.non-touch-device {

			&:hover {
				background-color: color-mix(in srgb, var(--foreground-rgb), 0.125);

				#{$b}__icon {
					--icon-stroke-width: 3;
					--icon-fill: color-mix(in srgb, var(--primary-rgb), 0.75);
				}

				#{$b}__new {
					color: currentColor;
				}
			}
		}
	}

	&__icon {
		width: 1.25em;
		height: 1.25em;

		--icon-stroke-width: 2;
		--icon-fill: color-mix(in srgb, var(--primary-rgb), 0.25);

		[data-contrast-mode] & {
			--icon-stroke-width: 4;
		}

		* {
			transition: fill 0.5s, stroke 0.5s;
		}

		@include global.mobile-only() {
			--icon-stroke-width: 4;
		}
	}

	&__label {
		position: relative;
		display: flex;
		align-items: center;
		gap: 0.5em;
		white-space: nowrap;

		font-size: .875em;
		max-width: 15ch;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
		transition: max-width .3s ease-in-out;

		@include global.mobile-only() {
			.sidebar--inactive & {
				max-width: 0;
			}
		}
	}
}
</style>
