<template>
	<div
		:class="bemm('', ['', branch.branchColour])"
		:style="`--branch-colour: var(--${branch.branchColour})`"
	>
		<H4 :class="bemm('title')">
			<Icon
				v-if="branch.branchIcon"
				:class="bemm('icon')"
				:name="branch.branchIcon"
			/>
			{{ branch.subwikiLabel }}
		</H4>
		<span :class="bemm('description')">
			{{ branch.description }}
		</span>
		<ButtonGroup>
			<BranchFollowButton
				v-if="loggedIn"
				:class="bemm('follow-button')"
				:color="branch.branchColour"
				:slug="branch.slug"
			/>
			<Button
				:class="bemm('go')"
				:size="Size.SMALL"
				:color="branch.branchColour"
				:icon="Icons.ARROW_RIGHT"
				@click="visitBranch(branch.slug)"
			>
				Visit
			</Button>
		</ButtonGroup>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { PropType } from 'vue';
import BranchFollowButton from './BranchFollowButton.vue';
import { Icons, Size } from '@/types';

import Icon from '~/components/Atoms/Icon.vue';
import ButtonGroup from '~/components/Atoms/Button/ButtonGroup.vue';
import Button from '~/components/Atoms/Button/Button.vue';
import type { Branch } from '@/composables/useBranches/branches.model';
import { Routes } from '@/data/routes';
import { popupService } from '@/components/Molecules/Popup/Popup.service';

const { bemm } = useBemm('branch-card');

defineProps({
	branch: {
		type: Object as PropType<Branch>,
		required: true,
	},
	loggedIn: {
		type: Boolean,
		required: true,
	},
});

const visitBranch = (slug: string) => {
	popupService.closeAllPopups();
	navigateTo({
		name: Routes.BRANCH_DETAIL,
		params: {
			slug,
		},
	});
};
</script>

<style lang="scss">
.branch-card {
	$b: &;

	padding: var(--space);
	border-radius: var(--border-radius);
	width: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
	gap: var(--space-s);

	background-color: color-mix(in srgb, var(--branch-colour), var(--background) 80%);
	color: color-mix(in srgb, var(--branch-colour), var(--foreground) 70%);
 &__icon{
	color: var(--branch-colour);
 }
	&__description {
		font-size: .85em !important;
	}
	&__title {
		display: flex;
		align-items: center;
		gap: var(--space-xs);
	}
}
</style>
