<template>
	<div :class="bemm()">
		<header
			v-if="isNew"
			:class="bemm('header')"
		>
			<p>
				Create a new branch to start your own... things
			</p>
		</header>
		<header
			v-if="!isNew"
			:class="bemm('header')"
		>
			<H4>Edit branch {{ formBranch.title }}</H4>
		</header>

		<main :class="bemm('main')">
			<section>
				<FormField label="Details">
					<InputText
						v-if="isNew"
						:value="formBranch.title"
						label="Title"
						description="The title of your branch. This is the name that will be displayed on your branch."
						:error="titleError"
						@change="handleTitleChange($event)"
					/>
					<div :class="bemm('inline')">
						<InputText
							v-if="!isNew"
							:disabled="!editTitle"
							:value="formBranch.title"
							label="Title"
							:error="titleError"
							@click="() => { !editTitle && (showEditWarning = !showEditWarning) }"
							@change="handleTitleChange($event)"
						/>
						<Button
							v-if="!isNew && !editTitle && !showEditWarning"
							:color="ButtonSettings.Color.TERTIARY"
							:type="ButtonSettings.Type.ICON_ONLY"
							:icon="ButtonSettings.Icon.EDIT_M"
							:size="ButtonSettings.Size.SMALL"
							@click="showEditWarning = !showEditWarning"
						/>
					</div>
					<Card
						v-if="!isNew && showEditWarning"
						:size="Size.SMALL"
						:color="Colors.ACCENT"
					>
						<p>
							Changing the title involves changing the slug and the url of the branch. Are you sure you want to change the title?
							<Button
								:color="ButtonSettings.Color.TERTIARY"
								@click="toggleEditTitle()"
							>
								{{ editTitle ? 'No' : 'Yes' }}
							</Button>
						</p>
					</Card>

					<InputTextArea
						:value="formBranch.branchSummary"
						label="Summary"
						description=""
						:error="descriptionError"
						@change="handleSummaryChange($event)"
					/>
					<InputTextArea
						:value="formBranch.branchDescription"
						label="Description"
						description="Give a brief introduction about the branch, what it is about and what it is for."
						:error="descriptionError"
						@change="handleDescriptionChange($event)"
					/>
					<InputSelect
						:value="formBranch.language"
						label="Language"
						:options="languageOptions"
						description="Choose the language for your branch. This is the main language posts in your branch should be posted in."
						:error="languageError"
						@change="handleLanguageChange($event)"
					/>
				</FormField>

				<FormField label="Settings">
					<InputSelectColor
						:value="formBranch.color"
						:options="colorOptions"
						:collapse="{ collapse: false, auto: true }"
						label="Color"
						description="Choose a color for your branch."
						:error="colorError"
						@change="handleColorChange($event)"
					/>
					<InputSelectIcon
						:value="formBranch.icon"
						:options="iconOptions"
						:collapse="{ collapse: false, auto: true }"
						label="Icon"
						description="Choose an icon for your branch."
						:error="iconError"
						@change="handleIconChange($event)"
					/>
				</FormField>
			</section>
		</main>

		<footer :class="bemm('footer')">
			<template v-if="serverError.length">
				<Card
					v-for="error in serverError"
					:key="error"
					:color="Colors.ERROR"
				>
					{{ serverError }}
				</Card>
			</template>

			<ButtonGroup :align="ButtonGroupAlign.CENTER">
				<Button
					:class="bemm('button')"
					:color="ButtonSettings.Color.PRIMARY"
					:icon="isNew ? ButtonSettings.Icon.PLUS : ButtonSettings.Icon.NOTE_EDIT"
					:status="formStatus"
					:size="ButtonSettings.Size.LARGE"
					@click="handleSave()"
				>
					{{ isNew ? 'Create Branch' : 'Update Branch' }}
				</Button>
			</ButtonGroup>
		</footer>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { BaseIcons } from 'open-icon';

import { BaseColors, Colors, Status, Size } from '@/types';
import { Routes } from '@/data/routes';

import { useBranches } from '@/composables/useBranches';
import { createBranch, updateBranch, type UpdateBranch } from '@/composables/useApi';
import { Branch } from '@/composables/useBranches/branches.model';

import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import InputText from '@/components/Atoms/Form/InputText.vue';
import InputSelect from '@/components/Atoms/Form/InputSelect.vue';
import InputSelectColor from '@/components/Atoms/Form/InputSelectColor.vue';
import InputSelectIcon from '@/components/Atoms/Form/InputSelectIcon.vue';
import InputTextArea from '@/components/Atoms/Form/InputTextArea.vue';
import FormField from '@/components/Atoms/Form/FormField.vue';
import Card from '@/components/Atoms/Card/Card.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';
import { popupService } from '@/components/Molecules/Popup/Popup.service';
import H4 from '~/components/Atoms/Heading/H4.vue';

const props = defineProps({
	branch: {
		type: Object as PropType<Branch>,
		required: false,
	},
});

const formStatus = ref<Status>(Status.IDLE);
const isNew = ref(!props.branch);
const editTitle = ref(false);
const showEditWarning = ref(false);
const isTitleEditted = computed(() => formBranch.title !== props.branch?.subwikiLabel);

const { updateBranch: updateStateBranch } = useBranches();

const bemm = useBemm('create-branch');

const languageOptions = computed(() => {
	return [
		{
			label: 'English',
			value: 'en',
		},
		{
			label: 'German',
			value: 'de',
		},
		{
			label: 'French',
			value: 'fr',
		},
		{
			label: 'Spanish',
			value: 'es',
		},
	];
});

const iconOptions = computed(() => {
	return Object.values(BaseIcons).map((icon) => {
		return {
			label: icon,
			value: icon,
		};
	});
});

const colorOptions = computed(() => {
	return Object.values(BaseColors).map((color) => {
		return {
			label: color,
			value: color,
		};
	});
});
const formBranch = reactive({
	title: '',
	slug: '',
	branchSummary: '',
	branchDescription: '',
	language: '',
	color: '',
	icon: '',
});

onMounted(() => {
	setDefaultValues();
});

/**
 * Sets the default values for the form
 * If the branch is not null, it will set the values of the branch
 */
const setDefaultValues = () => {
	if (!props.branch) return;
	formBranch.title = props.branch.subwikiLabel;
	formBranch.slug = props.branch.slug;
	formBranch.branchSummary = props.branch.branchSummary;
	formBranch.branchDescription = props.branch.branchDescription;
	formBranch.language = props.branch.language;
	formBranch.color = props.branch?.branchColour;
	formBranch.icon = props.branch?.branchIcon;
};

enum FormFieldType {
	TITLE = 'title',
	SLUG = 'slug',
	SUMMARY = 'summary',
	DESCRIPTION = 'description',
	LANGUAGE = 'language',
	COLOR = 'color',
	ICON = 'icon',
	SERVER = 'server',
}

/**
 * handles the title change
 * @param title
 */
const handleTitleChange = (title: string) => {
	resetError(FormFieldType.TITLE);
	formBranch.title = title;
};

/**
 * Toggles the edit title mode
 * If the title is not editted, it will show a warning
 */
const toggleEditTitle = () => {
	editTitle.value = !editTitle.value;

	setTimeout(() => {
		if (!editTitle.value) {
			formBranch.title = props.branch?.subwikiLabel || '';
			showEditWarning.value = !showEditWarning.value;
		}
	});
};

/**
 * Handles the slug change
 * @param slug
 */
const handleLanguageChange = (language: string | null) => {
	resetError(FormFieldType.LANGUAGE);
	if (!language) return;
	formBranch.language = language;
};
/**
 * Handles the summary change
 * @param summary
 */
const handleSummaryChange = (summary: string) => {
	resetError(FormFieldType.SUMMARY);
	formBranch.branchSummary = summary;
};

/**
 * Handles the description change
 * @param description
 */
const handleDescriptionChange = (description: string) => {
	resetError(FormFieldType.DESCRIPTION);
	formBranch.branchDescription = description;
};

/**
 * Handles the icon change
 * @param icon
 */
const handleIconChange = (icon: string) => {
	resetError(FormFieldType.ICON);
	formBranch.icon = icon;
};

/**
 * Handles the color change
 * @param color
 */
const handleColorChange = (color: string) => {
	resetError(FormFieldType.COLOR);
	formBranch.color = color;
};

const errors = ref<{ message: string; field: FormFieldType }[]>([]);

/**
 * Gets the errors for a specific field
 * @param field
 * @returns
 */
const getErrorsByField = (field: FormFieldType) => {
	return errors.value.filter(error => error.field === field).map(error => error.message);
};

/**
 * Resets the error message for a specific field
 * @param field
 */
const resetError = (field: FormFieldType) => {
	errors.value = errors.value.filter(error => error.field !== field);
};

/**
 *
 * Sets an error message for a specific field
 * @param field
 * @param message
 */
const setError = (field: FormFieldType, message: string) => {
	errors.value.push({ message, field });
};

const titleError = computed(() => getErrorsByField(FormFieldType.TITLE));
// const slugError = computed(() => getErrorsByField(FormFieldType.SLUG));
const descriptionError = computed(() => getErrorsByField(FormFieldType.DESCRIPTION));
const languageError = computed(() => getErrorsByField(FormFieldType.LANGUAGE));
const colorError = computed(() => getErrorsByField(FormFieldType.COLOR));
const iconError = computed(() => getErrorsByField(FormFieldType.ICON));
const serverError = computed(() => getErrorsByField(FormFieldType.SERVER));

/**
 * Checks the form for errors
 * @returns {boolean}
 */
const checkForm = (): boolean => {
	let pass = true;

	if (!formBranch.title) {
		setError(FormFieldType.TITLE, 'Title is required');
		pass = false;
	}
	if (!formBranch.branchSummary) {
		setError(FormFieldType.SUMMARY, 'Summary is required');
		pass = false;
	}
	if (!formBranch.branchDescription) {
		setError(FormFieldType.DESCRIPTION, 'Description is required');
		pass = false;
	}
	if (!formBranch.language) {
		setError(FormFieldType.LANGUAGE, 'Language is required');
		pass = false;
	}
	if (!formBranch.color) {
		setError(FormFieldType.COLOR, 'Color is required');
		pass = false;
	}
	if (!formBranch.icon) {
		setError(FormFieldType.ICON, 'Icon is required');
		pass = false;
	}
	return pass;
};

/**
 * Handles the errors
 * @param errors
 */
const handleErrors = (errors: Error) => {
	if (errors) {
		setError(FormFieldType.SERVER, errors as unknown as string);
	}
};

/**
 * Handles the save
 */
const handleSave = async () => {
	formStatus.value = Status.LOADING;

	if (!checkForm()) {
		formStatus.value = Status.IDLE;
		return;
	}

	const branchData: UpdateBranch = {
		subwikiLabel: formBranch.title,
		slug: /* formBranch.slug, */ props.branch?.slug || '',
		branchSummary: formBranch.branchSummary,
		branchDescription: formBranch.branchDescription,
		language: formBranch.language,
		branchIcon: formBranch.icon,
		branchColour: formBranch.color,
		titleEditted: isTitleEditted.value,
	};

	const branchId = props.branch?.id || '';

	const result = isNew.value ? await createBranch({ data: branchData }) : await updateBranch({ data: { ...branchData, id: branchId } });

	if (result.error) handleErrors(result.error);

	if (result.success) {
		formStatus.value = 'success';

		const updateBranchData = new Branch(result.data.branch);
		updateStateBranch(updateBranchData);

		setTimeout(() => {
			const { slug } = result.data.branch || { slug: '' };

			navigateTo({ name: Routes.BRANCH_DETAIL, params: { slug } });
			setTimeout(() => {
				popupService.closeAllPopups();
			}, 500);
		}, 1000);
	}
};
</script>

<style lang="scss">
.create-branch {
	display: flex;
	flex-direction: column;
	gap: var(--space);

	max-width: 900vw;
	width: 480px;
	margin: 0 auto;

	&__header {}

	&__main {
		display: flex;
		flex-direction: column;
		gap: var(--space);
	}

	&__footer {
		margin-top: 1.5rem;
	}

	&__button {}

	&__footer {
		display: flex;
		flex-direction: column;
		gap: var(--space);
	}

	&__inline{
		display: flex;
		flex-direction: row;
		gap: var(--space);
		align-items: flex-start;
		.input-text{width: 100%; }
	}
}
</style>
