<template>
	<div :class="bemm()">
		<H3>Explore Branches</H3>

		<ul :class="bemm('list')">
			<BranchCard
				v-for="branch in exploreBranches"
				:key="branch.id"
				:branch="branch"
				:logged-in="userstore.isLoggedIn"
			/>
		</ul>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import BranchCard from './BranchCard.vue';
import { useBranches } from '@/composables/useBranches';
import { useUserStore } from '~/store/user';

const { exploreBranches, loadHotBranches } = useBranches();
const userstore = useUserStore();
const bemm = useBemm('explore-branches');

loadHotBranches();
</script>

<style lang="scss">
.explore-branches {
	$b: &;
	display: flex;
	flex-direction: column;
	gap: var(--space);
	&__list {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space);
	}
}
</style>
