<template>
	<div :class="bemm()">
		<H3>My Branches</H3>
		<ul :class="bemm('branches')">
			<BranchItem
				v-for="branch in myBranches"
				:key="branch.slug"
				:class="bemm('item')"
				:branch="branch"
				@click="goToBranch(branch)"
			/>
		</ul>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import BranchItem from './BranchItem.vue';
import H3 from '@/components/Atoms/Heading/H3.vue';
import { useBranches } from '@/composables/useBranches';
import { type Branch } from '~/composables/useBranches/branches.model';
import { Routes } from '~/data/routes';

const bemm = useBemm('my-branches');

const { branches } = useBranches();

const myBranches = computed(() => {
	const branchData = branches.value.map((b) => {
		const randomPinned: boolean = Math.random() > 0.5 ? true : false;

		return {
			...b,
			pinned: randomPinned,
		};
	});

	return branchData.sort((a, b) => {
		if (a.pinned && !b.pinned) {
			return -1;
		}

		if (!a.pinned && b.pinned) {
			return 1;
		}

		return a.subwikiLabel.localeCompare(b.subwikiLabel);
	});
});
const router = useRouter();
const goToBranch = (branch: Branch) => {
	router.push({
		name: Routes.BRANCH_DETAIL,
		params: {
			slug: branch.slug,
		},
	});
};
</script>

<style lang="scss">
.my-branches {
	display: flex;
	flex-direction: column;
	gap: var(--space);

	&__branches {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-s);
	}

	&__item {
		cursor: pointer;
	}
}
</style>
