<template>
	<!-- eslint-disable vue/no-v-html -->
	<div v-html="renderedHtml" />
</template>

<script setup lang="ts">
import MarkdownIt from 'markdown-it';

const props = defineProps({
	source: {
		type: String,
		default: '',
	},
});
const renderedHtml = ref('');
const markdown = new MarkdownIt();

watch(() => props.source, () => {
	renderedHtml.value = markdown.render(props.source);
}, {
	immediate: true,
});
</script>
