<template>
	<div v-if="showAlert">
		<div v-if="showLoginAlert">
			<div
				v-if="!userstore.isLoggedIn"
				type="info"
				title="You are not logged in"
				text="You will need to log in to access all features of this site."
			/>
			<Button
				v-if="!userstore.isLoggedIn"
				color="primary"
				:to="loginRoutePath"
			>
				Log in
			</Button>
		</div>
	</div>
</template>

<script setup>
import { useRoute } from 'vue-router';
import { Routes } from '~/data/routes';
import { useUserStore } from '~/store/user';

const userstore = useUserStore();
const route = useRoute();

const showLoginAlert = computed(() => {
	return route.path !== Routes.LOGIN && !userstore.isLoggedIn;
});

const showAlert = computed(() => {
	return showLoginAlert.value;
});
</script>
