<template>
	<div :class="bemm()">
		<div
			v-if="status == Status.LOADING"
			:class="bemm('loading')"
		>
			<DotsLoader />
		</div>
		<template v-else>
			<div

				:class="bemm('user-list')"
			>
				<UserCard
					v-for="(user, idx) in users"
					:key="idx"

					:is-follow="true"
					:user="user"
				/>
			</div>
		</template>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import UserCard from '@/components/Organisms/User/UserCard.vue';
import DotsLoader from '@/components/Molecules/Loader/DotsLoader.vue';

import { getPeopleUserIsFollowing } from '@/composables/useApi';
import { Status } from '@/types';

const bemm = useBemm('follow-following');

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
});

const status = ref<Status>(Status.IDLE);

const { data: users } = await useLazyAsyncData('users', async () => {
	status.value = Status.LOADING;

	const result = await getPeopleUserIsFollowing({ slug: props.slug });

	if (!result || !result.success) {
		status.value = Status.ERROR;
		return [];
	}
	if (result.success) {
		status.value = Status.SUCCESS;
		return result.data.items || [];
	}
});
</script>

<style lang="scss">
.follow-following{
	&__user-list{
		display: flex;
		flex-direction: column;
		gap: var(--space-s);
	}
}
</style>
