<template>
	<div :class="bemm()">
		<div
			v-if="status == Status.LOADING"
			:class="bemm('loading')"
		>
			<DotsLoader />
		</div>
		<template v-else>
			<div :class="bemm('branch-list')">
				<BranchItem
					v-for="(item, idx) in branches"
					:key="idx"
					:logged-in="userstore.isLoggedIn"
					:branch="item"
				/>
			</div>
		</template>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import BranchItem from '../../Branch/BranchItem.vue';
import { getBranches } from '@/composables/useApi';
import { Status } from '@/types';
import { useUserStore } from '~/store/user';
import DotsLoader from '@/components/Molecules/Loader/DotsLoader.vue';

const bemm = useBemm('follow-my-branches');

const userstore = useUserStore();

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
});

const status = ref<Status>(Status.IDLE);

const { data: branches } = await useLazyAsyncData('users', async () => {
	status.value = Status.LOADING;

	const result = await getBranches({ slug: props.slug });

	if (!result || !result.success) {
		status.value = Status.ERROR;
		return [];
	}
	if (result.success) {
		status.value = Status.SUCCESS;
		return result.data.branches || [];
	}
});
</script>

<style lang="scss">
.follow-my-branches {
	&__user-list {
		display: flex;
		flex-direction: column;
		gap: var(--space-s);
	}
}
</style>
