<template>
	<div :class="bemm()">
		<section :class="bemm('details')">
			<FormField label="GDPR">
				<InputCheckbox
					v-model="archive.active"
					label="GDPR Request"
				/>
				<FormGroup>
					<InputText
						v-if="archive.active"
						v-model="archive.reason"
						:size="Size.SMALL"
						placeholder="Reason for GDPR user"
					/>
					<Button
						v-if="archive.active"
						:size="ButtonSettings.Size.SMALL"
						:color="ButtonSettings.Color.QUATERNARY"
						:status="archive.status"
						@click="archiveUser()"
					>
						<!-- TRANSLATE -->
						GDPR user
					</Button>
				</FormGroup>
			</FormField>
		</section>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { Status, Size } from '~/types';
import { setGDPRUser } from '@/composables/useApi';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import FormField from '~/components/Atoms/Form/FormField.vue';
import InputCheckbox from '~/components/Atoms/Form/InputCheckbox.vue';
import Button from '~/components/Atoms/Button/Button.vue';
import InputText from '~/components/Atoms/Form/InputText.vue';
import FormGroup from '~/components/Atoms/Form/FormGroup.vue';

const bemm = useBemm('gdpr-user');

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
});

const archive = reactive<{
	active: boolean;
	reason: string;
	status: Status;
}>({
	active: false,
	reason: '',
	status: Status.IDLE,
});

const archiveUser = async () => {
	archive.status = Status.LOADING;

	const result = await setGDPRUser({
		slug: props.slug,
		reason: archive.reason,
	});

	if (result.success) {
		archive.status = Status.SUCCESS;
		setTimeout(() => {
			archive.active = false;
			archive.status = Status.IDLE;
		}, 2000);
	}
};
</script>

<style lang="scss">
</style>
