<template>
	<div :class="bemm()">
		<section :class="bemm('details')">
			<FormField
				v-if="!isArchived"
				label="Archive User"
			>
				<ButtonGroup>
					<Button
						v-if="!archive.active"
						:size="ButtonSettings.Size.SMALL"
						:color="ButtonSettings.Color.QUATERNARY"
						@click="archive.active = true"
					>
						<!-- TRANSLATE -->
						Archive user
					</Button>
					<InputText
						v-if="archive.active"
						v-model="archive.reason"
						:size="Size.SMALL"
						placeholder="Reason for archiving user"
					/>
					<Button
						v-if="archive.active"
						:size="ButtonSettings.Size.SMALL"
						:color="ButtonSettings.Color.QUATERNARY"
						:status="archive.status"
						@click="archiveUser()"
					>
						<!-- TRANSLATE -->
						Archive user
					</Button>
				</ButtonGroup>
			</FormField>
			<FormField v-if="isArchived">
				<!-- TRANSLATE -->
				<p>User is succesfully archived.</p>
			</FormField>
		</section>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import InputText from '@/components/Atoms/Form/InputText.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import { Status, Size } from '~/types';
import { kickUser } from '@/composables/useApi';
import FormField from '~/components/Atoms/Form/FormField.vue';
import ButtonGroup from '~/components/Atoms/Button/ButtonGroup.vue';

import { ButtonSettings } from '@/components/Atoms/Button/Button.model';

const bemm = useBemm('kick-user');

const isArchived = ref(false);

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
});

const archive = reactive<{
	active: boolean;
	reason: string;
	status: Status;
}>({
	active: false,
	reason: '',
	status: Status.IDLE,
});

const archiveUser = async () => {
	archive.status = Status.LOADING;

	const result = await kickUser({
		slug: props.slug,
		reason: archive.reason,
	});

	if (result.success) {
		archive.status = Status.SUCCESS;
		setTimeout(() => {
			archive.active = false;
			archive.status = Status.IDLE;
			isArchived.value = true;
		}, 2000);
	}
};
</script>

<style lang="scss">
</style>
