<template>
	<div :class="bemm()">
		<section :class="bemm('details')">
			<FormField label="User groups">
				<InputOptions
					:value="userGroup"
					:options="userGroupOptions"
					label="User status"
					@change="() => handleUserGroupChange"
				/>
				<Button
					:status="status"
					:size="ButtonSettings.Size.SMALL"
					:color="ButtonSettings.Color.TERTIARY"
					@click="saveUserGroups()"
				>
					<!-- TRANSLATE -->
					Save Groups
				</Button>
			</FormField>
		</section>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import InputOptions from '@/components/Atoms/Form/InputOptions.vue';
import FormField from '@/components/Atoms/Form/FormField.vue';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import {
	// getUserGroups,
	setUserGroups } from '~/composables/useApi';
import { Status } from '~/types';

import Button from '@/components/Atoms/Button/Button.vue';

const bemm = useBemm('user-groups');

const status = ref<Status>(Status.IDLE);

// const errors = ref<string[]>([]);

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
});

const userGroup = ref<string[]>([]);
const userGroupOptions = ref([
	{
		label: 'User',
		value: 'user',
	},
	{
		label: 'Admin',
		value: 'meta-admin',
	},
]);
const handleUserGroupChange = (value: string[]) => {
	userGroup.value = value;
};

// const { data: userGroupData } = useAsyncData('userGroupData', async () => {
// 	const result = await getUserGroups({
// 		slug: props.slug,
// 	});

// 	if (result.success) {
// 		return result.data;
// 	}
// 	if (result.error) {
// 		errors.value = result.error;
// 	}
// });

const saveUserGroups = async () => {
	status.value = Status.LOADING;

	const result = await setUserGroups({
		slug: props.slug,
		groups: userGroup.value,
	});

	if (result.success) {
		status.value = Status.SUCCESS;
		setTimeout(() => {
			status.value = Status.IDLE;
		}, 2000);
	}
	else {
		status.value = Status.ERROR;
	}
};
</script>

<style lang="scss"></style>
