<template>
	<div
		v-if="data && data.profile"
		:class="bemm()"
	>
		<header :class="bemm('header')">
			<h5>{{ data.profile.fname }} {{ data.profile.lname }}</h5>
			<Chip>{{ data.profile.slug }}</Chip>
		</header>
		<section :class="bemm('details')">
			<FormField label="Details">
				<dl>
					<template v-if="data.profile?.createdAt">
						<!-- TRANSLATE -->
						<dt>Joined</dt>
						<dd>{{ formatDateFromTimestamp(data.profile?.createdAt) }}</dd>
					</template>
					<!-- TRANSLATE -->
					<dt>Profile Age</dt>
					<dd>{{ calculateTimeDifference(data.profile?.createdAt) }}</dd>

					<!-- TRANSLATE -->
					<dt>Author Count</dt>
					<dd>{{ data.profile?.statistics.authorCount }}</dd>

					<!-- TRANSLATE -->
					<dt>Number of Comments</dt>
					<dd>{{ data.profile?.statistics.commentCount }}</dd>

					<!-- TRANSLATE -->
					<dt>Number of Posts</dt>
					<dd>{{ data.profile?.statistics.postCount }}</dd>

					<!-- TRANSLATE -->
					<dt>Revision Count</dt>
					<dd>{{ data.profile?.statistics.revisionCount }}</dd>

					<!-- TRANSLATE -->
					<dt>Branches</dt>
					<dd>{{ data.profile?.statistics.subwikiCount }}</dd>

					<!-- TRANSLATE -->
					<dt>Total Actions</dt>
					<dd />
					<!-- TRANSLATE -->
					<dt>Total Followers</dt>
					<dd>{{ data.profile?.statistics.totalFollowers }}</dd>
				</dl>
			</FormField>
		</section>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import FormField from '@/components/Atoms/Form/FormField.vue';
import { calculateTimeDifference, formatDateFromTimestamp } from '@/utils/date';
import { getUserProfile } from '@/composables/useApi';
import Chip from '@/components/Atoms/Chip/Chip.vue';

const bemm = useBemm('user-details');

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
});

const { data } = useLazyAsyncData('data', async () => {
	const result = await getUserProfile({
		slug: props.slug,
	});

	if (result.success) {
		return result.data;
	}
});
</script>

<style lang="scss">
.user-details{

  dl {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    dt,
    dd {
      padding: var(--space-xs) var(--space);
      font-size: .8em;
    }

    dt{
      padding-left:0;
    }

    dd {
      padding-right: 0;
      font-weight: bold;
    }
  }
}
</style>
