<template>
	<div
		v-if="!isLoading"
		:class="bemm()"
	>
		<!-- <section :class="bemm('post-container')">
			<Post
				v-if="postData && postData.post"
				:class="bemm('post')"
				:post="postData.post"
				:is-main="true"
			/>
		</section>
		<section
			v-if="postData"
			id="comments"
			:class="bemm('comment-container')"
		>
			<h6>Comments</h6>
			<template v-if="postData.comments.length">
				<template
					v-for="(comment, idx) in postData.comments"
					:key="idx"
				>
					<Comment :comment="comment" />
				</template>
			</template>
			<template v-else>
				<p>No comments yet</p>
			</template>
		</section>
		<section
			v-if="postData"
			id="write-comment"
			:class="bemm('comment-container')"
		>
			<h6>Write a comment</h6>
			<CreateComment />
		</section> -->
	</div>
	<div v-else>
		<Loader />
	</div>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';

import { usePostsStore } from '@/store/post';
// import CreateComment from '@/components/Organisms/Comment/CreateComment.vue';

const bemm = useBemm('post');
const postStore = usePostsStore();
const { params } = useRoute();

const isLoading = ref(true);

const { data: commentData } = await useAsyncData('data', async () => {
	isLoading.value = true;
	await postStore.loadPost(params.id as string);
	await postStore.loadComments(params.id as string);

	const posts = postStore.getPostWithComments(params.id as string);
	// const comment = postStore.getComment(params.id as string);
	const comments = postStore.getComments(params.id as string);

	return {
		post: posts ? posts.post : undefined, comments: comments,
	};
});

watchEffect(() => {
	if (commentData.value) {
		isLoading.value = false;
	}
});
</script>

<style lang="scss">
.post {

	&__comment-container,
	&__post-container {
		padding: var(--spacing);

		@include global.tablet-down {
			padding: var(--space);
		}
	}

	&__post-container {
		display: flex;
		gap: var(--space);
		border-bottom: 1px solid color-mix(in srgb, var(--primary-rgb), 0.25);

		[data-contrast-mode] & {
			border-bottom: 1px solid color-mix(in srgb, var(--primary-rgb), 1);
		}
	}

	&__comment-container {
		display: flex;
		flex-direction: column;
		gap: var(--space);
		border-bottom: 1px solid color-mix(in srgb, var(--primary-rgb), 0.25);

		[data-contrast-mode] & {
			border-bottom: 1px solid color-mix(in srgb, var(--primary-rgb), 1);
		}

		h6 {
			color: var(--primary);
			opacity: 0.5;

			[data-contrast-mode] & {
				opacity: 1;
			}
		}
	}

	&__write-comment-container {
		display: flex;
		flex-direction: column;
		gap: var(--space);
	}
}
</style>
