<template>
	<div :class="bemm('', ['', hasComments ? 'has-comments' : 'is-empty'])">
		<template v-if="comments.length">
			<template
				v-for="(comment, idx) in comments"
				:key="idx"
			>
				<Comment :comment="comment" />
			</template>
		</template>
		<template v-else>
			<EmptyMessage
				message="No comments yet"
				:icon="Icons.BOX"
			/>
		</template>
	</div>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';

import { Icons } from 'open-icon';
import Comment from './Comment.vue';
import EmptyMessage from '@/components/Molecules/EmptyMessage.vue';

const bemm = useBemm('comment-list');
const props = defineProps({
	comments: {
		type: Object,
		required: true,
	},
});

const hasComments = computed(() => props.comments.length > 0);
</script>

<style lang="scss">
.comment-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space);

  [data-contrast-mode] & {
    --comment-list-divider-color: color-mix(in srgb, var(--primary-rgb), 1);
  }

  &.has-comments {
    border-bottom: 1px solid var(--comment-list-divider-color,color-mix(in srgb, var(--primary-rgb), 0.25));
  }

}
</style>
