<template>
	<article
		v-if="comment"
		:id="commentId"
		:class="bemm()"
	>
		<div :class="bemm('container')">
			<header :class="bemm('header')">
				<AuthorAvatar
					:user="comment.data.createdByUser"
					:entity="comment"
					size="small"
					@click="goToProfile(comment.data.createdByUser.slug)"
				/>
			</header>
			<main :class="bemm('body')">
				{{ stripHtml(comment.commentText) }}
			</main>
		</div>
		<CommentFooter
			:class="bemm('footer')"
			:comment="comment"
		/>
	</article>
</template>

<script lang="ts" setup>
import { type PropType } from 'vue';
import { useBemm } from 'bemm';
import { type Comment } from './Comment.model';
import { goToProfile } from '@/utils/navigation';
import AuthorAvatar from '@/components/Molecules/AuthorAvatar.vue';
import { stripHtml } from '@/utils/html';
import CommentFooter from '@/components/Organisms/Post/CommentFooter.vue';

const bemm = useBemm('comment');

const props = defineProps({
	comment: {
		type: Object as PropType<Comment>,
		required: true,
	},
});

const commentId = computed(() => {
	return `comment-${props.comment.pk.replace('post#', '')}`;
});
</script>

<style lang="scss">
.comment {

	&__container {
		display: flex;
		flex-direction: column;
		border-radius: var(--border-radius);
		align-items: flex-start;

		box-shadow: var(--drop-shadow);
	}

	&__header {
		display: flex;
		justify-content: space-between;
		padding: var(--space);
		width: fit-content;
		flex-shrink: 0;
	}

	&__main {
		padding: var(--space);
	}

	&__body {
		font-size: 0.875em;
		line-height: 1.75;
		opacity: 0.75;
		padding: var(--space);
	}

	&__footer {}

}
</style>
