<template>
	<div :class="bemm()">
		<Banner
			v-if="postError"
			:type="BannerType.ERROR"
		>
			{{ postError }}
		</Banner>

		<div :class="bemm('form')">
			<InputTextArea v-model="post.comment" />
			<ButtonGroup :align="ButtonGroupAlign.RIGHT">
				<Button
					:size="ButtonSettings.Size.SMALL"
					:color="ButtonSettings.Color.PRIMARY"
					:icon="ButtonSettings.Icon.EDIT_M"
					:status="status"
					:disabled="post.comment.trim().length === 0"
					@click="handlePost"
				>
					Post
				</Button>
			</ButtonGroup>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import InputTextArea from '@/components/Atoms/Form/InputTextArea.vue';
import Banner from '@/components/Atoms/Banner/Banner.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import { ButtonStatus, ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { BannerType } from '@/components/Atoms/Banner/Banner.model';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';
import { postComment } from '@/composables/useApi';

const emit = defineEmits<{
	(e: 'update', data: any): void;
}>();

const postError = ref<string | null>(null);
const bemm = useBemm('create-comment');
const status = ref<ButtonStatus>(ButtonStatus.IDLE);

const props = defineProps({
	postId: {
		type: String,
		required: true,
	},
	sk: {
		type: String,
		required: true,
	},
	pk: {
		type: String,
		default: null,
	},
});

const post = reactive({
	comment: '',
});

const handlePost = async () => {
	status.value = ButtonStatus.LOADING;

	try {
		const result = await postComment({
			parent: {
				pk: props.pk,
				sk: props.sk,
				slug: props.postId,
			},
			comment: post.comment,
		});

		if (result.success) {
			status.value = ButtonStatus.SUCCESS;
			emit('update', result);
			setTimeout(() => {
				post.comment = '';
				postError.value = null;
				status.value = ButtonStatus.IDLE;
			}, 1500);
		}
		else {
			status.value = ButtonStatus.ERROR;
			postError.value = 'Failed to post comment';
		}
	}
	catch (error) {
		status.value = ButtonStatus.ERROR;
		console.error(error);
	}
};
</script>

<style lang="scss">
.create-comment {
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: var(--space-s);

		>* {
			width: 100%;
		}
	}
}
</style>
