<template>
	<div :class="bemm()">
		<div
			v-if="user"
			:class="bemm('user')"
		>
			<UserAvatar
				:show-name="false"
				:user="user"
			/>
		</div>
		<div :class="bemm('write')">
			<InputTextArea :class="bemm('input')" />
			<Button :icon="Icons.ARROW_RIGHT">
				Go
			</Button>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { Icons } from '@/types';
import InputTextArea from '@/components/Atoms/Form/InputTextArea.vue';
import UserAvatar from '@/components/Molecules/UserAvatar.vue';

const bemm = useBemm('write-comment');

const user = ref(null);
</script>
