<!--
  This component is used to detect if the browser is focused or not.
-->
<template>
	<div />
</template>

<script setup>
const emit = defineEmits(['browser-focus', 'browser-visible']);
const browserFocused = ref(true);
const browserVisible = ref(true);
onMounted(() => {
	window.addEventListener('focus', focusChange, false);
	window.addEventListener('blur', focusChange, false);
	document.addEventListener('visibilitychange', visibilityChange, false);
});
onUnmounted(() => {
	window.removeEventListener('focus', focusChange);
	window.removeEventListener('blur', focusChange);
	document.removeEventListener('visibilitychange', visibilityChange);
});
function focusChange(focusBlur) {
	if (focusBlur.type == 'focus') {
		browserFocused.value = true;
	}
	else {
		browserFocused.value = false;
	}
	emit('browser-focus', browserFocused.value);
}
function visibilityChange() {
	if (document.hidden === false) {
		// No longer hidden means visible
		browserVisible.value = true;
	}
	else {
		browserVisible.value = false;
	}
	emit('browser-focus', browserVisible.value);
}
</script>
