<!--
  This component is used to detect internet connection
  and emit the status to the parent component
-->
<template>
	<div />
</template>

<script setup lang="ts">
import { useApi } from '~/composables/useApi';

const emit = defineEmits(['internet-connection']);
const internetConnection = ref<boolean>(true);
const api = useApi();

enum ConnectionEvents {
	ONLINE = 'online',
	OFFLINE = 'offline',
}
const STATUS_ONLINE = true;
const STATUS_OFFLINE = false;

const updateOnlineStatusOnline = () => {
	internetConnection.value = STATUS_ONLINE;
};
const updateOnlineStatusOffline = () => {
	internetConnection.value = STATUS_OFFLINE;
};

watch(internetConnection, (v) => {
	logger.info('internetConnection changed', v);
	emit('internet-connection', v);
	api.setAcceptRequests(v);
});

onMounted(() => {
	internetConnection.value = navigator.onLine;
	window.addEventListener(ConnectionEvents.ONLINE, updateOnlineStatusOnline);
	window.addEventListener(ConnectionEvents.OFFLINE, updateOnlineStatusOffline);
	emit('internet-connection', internetConnection.value);
});
onUnmounted(() => {
	window.removeEventListener(ConnectionEvents.ONLINE, updateOnlineStatusOnline);
	window.removeEventListener(
		ConnectionEvents.OFFLINE,
		updateOnlineStatusOffline,
	);
});
</script>
