<template>
	<Button
		:class="bemm('toggle')"
		:color="Colors.BACKGROUND"
		:icon="Icons.TERMINAL"
		@click="toggleDevPanel()"
	/>
	<div
		v-if="devPanel"
		:class="bemm()"
	>
		<ul :class="bemm('status')">
			<li :class="bemm('status-item')">
				<Icon :name="statusIcon(api.hasAccessToken.value)" />
				<span :class="bemm('status-title')">hasAccessToken</span>
				<span :class="bemm('status-value')">{{ api.hasAccessToken }}</span>
			</li>
			<li :class="bemm('status-item')">
				<Icon :name="statusIcon(api.hasAccessTimeOut.value)" />
				<span :class="bemm('status-title')">hasAccessTimeOut</span>
				<span :class="bemm('status-value')">{{ api.hasAccessTimeOut }}</span>
			</li>
			<li :class="bemm('status-item')">
				<Icon :name="statusIcon(api.hasRefreshToken.value)" />
				<span :class="bemm('status-title')">hasRefreshToken</span>
				<span :class="bemm('status-value')">{{ api.hasRefreshToken }}</span>
			</li>
		</ul>
		<hr>

		<ul :class="bemm('status')">
			<li
				v-for="(stat, idx) in status"
				:key="idx"
				:class="bemm('status-item')"
			>
				<Icon
					v-if="stat.icon"
					:class="
						bemm('status-icon', [
							'',
							stat.iconColor ? stat.iconColor : 'default',
						])
					"
					:name="stat.icon"
				/>
				<span :class="bemm('status-title')">{{ stat.label }}</span>
				<span
					v-if="stat.value"
					:class="bemm('status-title')"
				>{{
					stat.value
				}}</span>
				<Icon
					v-if="stat.valueIcon"
					:class="bemm('status-value-icon')"
					:name="stat.valueIcon"
				/>
			</li>
		</ul>
	</div>
	<client-only>
		<UserPresenceBrowserFocus
			@browser-focus="browserFocused = $event"
			@browser-visible="browserVisible = $event"
		/>
		<UserPresenceInternetConnection
			@internet-connection="internetConnection = $event"
		/>
		<UserPresenceWebSocket
			v-if="internetConnection && user.isLoggedIn"
			:ready-to-connect="user.isLoggedIn"
			@socket-connection-state="websocketConnectionState = $event"
			@socket-message="socketMessageRecieved($event)"
		/>
		<UserPresenceTokenRefresh
			v-if="internetConnection && user.isLoggedIn"
			@token-refresh-state="refreshTokenState = $event"
			@token-refresh-at="refreshTokenAt = $event"
		/>
	</client-only>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import Icon from '../Atoms/Icon.vue';
// import UserPresenceBroadcastChannel from "@/components/UserPresence/BroadcastChannel.vue";
import Button from '../Atoms/Button/Button.vue';
import { Icons } from '@/types';
import UserPresenceBrowserFocus from '@/components/UserPresence/BrowserFocus.vue';
import UserPresenceInternetConnection from '@/components/UserPresence/InternetConnection.vue';
import UserPresenceTokenRefresh from '@/components/UserPresence/TokenRefresh.vue';
import UserPresenceWebSocket from '@/components/UserPresence/WebSocket.vue';
import { useBranches } from '@/composables/useBranches';

import { useUserStore } from '@/store/user';
import { usePreferences } from '@/composables/usePreferences';
import { useUI } from '@/composables/useUI';
import { useApi } from '~/composables/useApi';
import { Colors } from '~/types';
import { useFollows } from '@/composables/useFollows';

const user = useUserStore();
user.loginFromCookie(); // Done in app.vue

const { colorMode, devPanel } = useUI();
const { loadBranches, loadHotBranches } = useBranches();
const follow = useFollows();
const bemm = useBemm('user-presence');
const api = useApi();

const fetchedExtras = ref(false);
const internetConnection = ref(false);
const browserFocused = ref(true);
const browserVisible = ref(true);
const websocketConnectionState = ref('idle');
const broadcastChannelState = ref('invalid');
const refreshTokenState = ref('idle');
const refreshTokenAt = ref(null);

const statusIcon = (v: boolean | 'idle'): Icons => {
	if (v == 'idle') return Icons.THREE_DOTS_HORIZONTAL;
	return v ? Icons.CIRCLED_CHECK : Icons.CIRCLED_MULTIPLY;
};

const toggleDevPanel = () => {
	devPanel.value = !devPanel.value;
};

const status = computed(() => {
	return [
		{
			label: 'Internet connection',
			icon: statusIcon(internetConnection.value),
			iconColor: iconColourInternetConnection(),
		},
		{
			label: 'Browser focussed',
			icon: statusIcon(browserFocused.value),
			iconColor: iconColourBrowserFocused(),
		},
		{
			label: 'User logged in',
			icon: iconTypeLoggedIn(),
			valueIcon: statusIcon(user.isLoggedIn),
			iconColor: iconColourUserLoggedIn(),
		},
		{
			label: 'Refresh token',
			icon: iconTypeRefreshToken(),
			valueIcon: statusIcon(!!refreshTokenState.value),
			iconColor: iconColourRefreshToken(),
		},
		{
			label: 'Broadcast Channel',
			icon: statusIcon(!!broadcastChannelState.value),
			iconColor: iconColourBroadcastChannel(),
		},
		{
			label: 'Websocket',
			valueIcon: iconTypeWebSocket(),
			icon: statusIcon(!!websocketConnectionState.value),
			value: !!websocketConnectionState.value,
			iconColor: iconColourWebSocket(),
		},
		{
			label: 'Locale',
			value: locale,
			icon: statusIcon('idle'),
		},
		{
			label: 'Mode',
			value: colorMode.value,
			icon: statusIcon('idle'),
		},
	];
});

// ---------------------------------------------------------------------
// Consider moving preferences stuff to a plugin
// It doesn't work in a composable

const { locale } = useI18n();
const preferences = usePreferences();

onMounted(async () => {
	if (api.secondsUntilRefresh() > 0) {
		fetchExtras();
	}
});
watch (() => api.accessToken, (newval, oldval) => {
	if (newval !== oldval) {
		fetchedExtras.value = false;
		fetchExtras();
	}
});

watch(
	() => user.getUserSlug,
	(newval, oldval) => {
		if (newval !== oldval) {
			fetchedExtras.value = false;
			fetchExtras();
		}
		if (newval === '') {
			fetchedExtras.value = false;
		}
	},
	{
		immediate: true,
	},
);
async function fetchExtras() {
	if (fetchedExtras.value) return;
	if (!user.isLoggedIn) {
		loadHotBranches();
		preferences.resetPreferences();
	}
	else {
		applySettings();
		follow.fetchBranchFollows(user.getUserSlug);

		loadBranches();
		await preferences.fetchPreferences();
		applySettings();
	}
	fetchedExtras.value = true;
}
function applySettings() {
	const preferenceSettings = preferences.getPreferencesFromCookies();
	if (preferenceSettings === null || preferenceSettings == undefined) return;
	for (const [key, value] of Object.entries(preferenceSettings)) {
		if (key === 'language') {
			locale.value = value;
		}
		else if (key === 'isDarkMode' || key === 'colorMode') {
			colorMode.value = value ? 'dark' : 'light';
		}
	}
}
// ---------------------------------------------------------------------

// const showSystemBar = ref(true);

function socketMessageRecieved(event: any) {
	event;
}
function iconColourInternetConnection() {
	if (internetConnection.value === true) return Colors.SUCCESS;
	else if (internetConnection.value === false) return Colors.ERROR;
	return Colors.INFO;
}
function iconColourUserLoggedIn() {
	if (user.isLoggedIn) return Colors.SUCCESS;
	return Colors.INFO;
}
function iconTypeLoggedIn() {
	if (user.isLoggedIn) return Icons.CIRCLED_CHECK;
	return Icons.CIRCLED_QUESTION_MARK;
}
function iconColourBrowserFocused() {
	if (browserFocused.value) return Colors.SUCCESS;
	else if (!browserFocused.value && browserVisible.value) return Colors.WARNING;
	return Colors.INFO;
}
function iconColourBroadcastChannel() {
	if (broadcastChannelState.value === 'valid') return Colors.SUCCESS;
	return 'red';
}
function iconColourWebSocket() {
	if (websocketConnectionState.value === 'idle') return Colors.WARNING;
	else if (websocketConnectionState.value === 'connected') return Colors.SUCCESS;
	else if (websocketConnectionState.value === 'disconnected')
		return Colors.ERROR;
	else return Colors.INFO;
}
function iconColourRefreshToken() {
	if (refreshTokenState.value === 'idle') return Colors.WARNING;
	else if (refreshTokenState.value === 'armed') return Colors.SUCCESS;
	else if (refreshTokenState.value === 'destroyed') return Colors.ERROR;
	return 'yellow';
}
function iconTypeWebSocket() {
	if (websocketConnectionState.value === 'disconnected')
		return Icons.CIRCLED_MULTIPLY;
	else if (websocketConnectionState.value === 'connecting')
		return Icons.THREE_DOTS_HORIZONTAL;
	else if (websocketConnectionState.value === 'connected')
		return Icons.CIRCLED_CHECK;
	else if (websocketConnectionState.value === 'error')
		return Icons.CIRCLED_EXCLAMATION_MARK;

	return '';
}
function iconTypeRefreshToken() {
	if (refreshTokenState.value === 'idle') return Icons.CIRCLED;
	else if (refreshTokenState.value === 'armed')
		return Icons.CIRCLED_EXCLAMATION_MARK;
	else if (refreshTokenState.value === 'refreshing')
		return Icons.ARROW_ROTATE_TOP_LEFT;
	else if (refreshTokenState.value === 'destroyed') return Icons.MULTIPLY_M;
	else return Icons.ARROW_ROTATE_TOP_LEFT;
}
</script>

<style lang="scss">
.user-presence {
  position: fixed;
  bottom: calc(var(--space) * 2);
  left: calc(var(--space) * 2);
  display: block;
  padding: var(--space);
  background-color: color-mix(in srgb, var(--foreground-rgb), 0.75);
  color: var(--background);
  margin: 0;
  border-radius: var(--border-radius);

  &__status {
    display: flex;
    gap: var(--space-s);
    flex-direction: column;
  }

  &__status-item {
    display: flex;
    gap: var(--space-s);
  }

  &__status-icon {
    font-size: 1.5em;
	}

  &__toggle {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: var(--space-s);
    box-shadow: 3px 3px 10px 0 color-mix(in srgb, var(--dark-rgb), 0.25);
    .icon {
      font-size: 1em;
    }
  }
}
</style>
