<!--
  This component is responsible for refreshing the access token
  when it is about to expire.

  TODO:
  We need to handle the case where the access token refresh is denied.
  We also need to handle guests.
-->
<template>
	<div />
</template>

<script setup lang="ts">
import { useUserStore } from '@/store/user';
import { useApi } from '~/composables/useApi';
import { useBroadcastChannel } from '@/composables/useBroadcastChannel';

const user = useUserStore();
const api = useApi();
const broadcastChannel = useBroadcastChannel();

const emit = defineEmits(['token-refresh-state', 'token-refresh-at']);
const lastTokenRefreshAttempt = ref<Date | null>(new Date());
const hasRefreshedToken = ref(false);
const refreshCoolDown = 10000;
const tokenRefreshState = ref('idle');
const tokenRefreshInterval = ref<ReturnType<typeof setInterval> | null>(null);
logger.info('Token refresh', api.secondsUntilRefresh());
const clock = reactive({
	refresh: 0,
	refreshInit: 0,
	refreshBool: false,
});

watch(tokenRefreshState, () => {
	emit('token-refresh-state', tokenRefreshState.value);
});
onMounted(async () => {
	restartInterval();
});

onUnmounted(() => {
	// @ts-ignore
	clearTimeout(tokenRefreshInterval.value);
	emit('token-refresh-state', 'destroyed');
});

// function dateWhenTimeout() {
//   const dateWhenRefresh = new Date(this.accessTimeOut());
//   dateWhenRefresh.setTime(this.accessTimeOut());
//   return dateWhenRefresh;
// }

/**
 * Checks if the token needs to be refreshed.
 * If it does, it will refresh it.
 *
 * @function doTheRefresh
 * @param {boolean} [force=false] - Force the refresh
 * @returns {Promise<void>}
 * @async
 */

const doTheRefresh = async (force: boolean = false): Promise<void> => {
	const now = new Date();
	let timeDiffAttempt;
	if (hasRefreshedToken.value === true && lastTokenRefreshAttempt.value) {
		timeDiffAttempt = now.getTime() - lastTokenRefreshAttempt.value.getTime();
	}
	else {
		timeDiffAttempt = refreshCoolDown;
	}

	// Prevent continuous refresh attempts
	if (timeDiffAttempt < refreshCoolDown) {
		setTimeout(() => {
			restartInterval();
		}, refreshCoolDown);
		return;
	}

	tokenRefreshState.value = 'unlocking';
	// Prevent simultaneous refresh attempts
	const lockName = 'tokenRefresh';

	await navigator.locks.request(lockName, async () => {
		// Check we still need it

		if (api.refreshTokenTimeout() == null) {
			return;
		}
		// We need to force an update or something here

		if (user.isLoggedIn && (api.refreshTokenTimeout() < 0 || force)) {
			const success = await refreshAccessToken();
			hasRefreshedToken.value = true;
			if (success === false) {
				user.logout();
			}
			else {
				broadcastChannel.broadcastTokenData();
			}
		}
	});
	restartInterval();
};

/**
 * Restarts the token refresh interval.
 * If the token is about to expire, it will refresh it.
 * If the token is not about to expire, it will wait until it is.
 *
 * @function restartInterval
 * @returns {void}
 * @async
 */

const restartInterval = async () => {
	if (!user.isLoggedIn) {
		return;
	}
	clock.refreshInit = api.secondsUntilRefresh();
	tokenRefreshState.value = 'checking';
	if (tokenRefreshInterval.value) {
		clearTimeout(tokenRefreshInterval.value);
	}
	if (api.refreshTokenTimeout() > 0) {
		tokenRefreshState.value = 'waiting';
		emit('token-refresh-at', api.dateWhenRefresh()?.toLocaleTimeString());
		clock.refreshBool = true;
		tokenRefreshInterval.value = setTimeout(async () => {
			tokenRefreshState.value = 'triggering';
			clock.refreshBool = false;
			await doTheRefresh();
		}, api.refreshTokenTimeout());
		tokenRefreshState.value = 'armed';
	}
	else {
		await doTheRefresh();
	}
};

/**
 * Refreshes the access token.
 *
 * @function refreshAccessToken
 * @returns {Promise<boolean>}
 * @async
 */

const refreshAccessToken = async (): Promise<boolean> => {
	lastTokenRefreshAttempt.value = new Date();
	tokenRefreshState.value = 'refreshing';
	await user.refreshToken();
	tokenRefreshState.value = 'refreshed';

	return true;
};
</script>
