<template>
	<div :class="bemm('button-container')">
		<Button
			html-button-type="button"
			:color="ButtonColor.PRIMARY"
			@click="refreshTheDamnToken()"
		>
			Refresh access token {{ api.secondsUntilRefresh() }}
		</Button>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { useUserStore } from '@/store/user';
import { useApi } from '~/composables/useApi';
import { ButtonColor } from '@/components/Atoms/Button/Button.model';

const api = useApi();
const bemm = useBemm('post-create');
const user = useUserStore();
const refreshTheDamnToken = () => {
	user.refreshToken();
};
</script>
