<!--
  This component is responsible for connecting to the websocket.
  The websocket is responsiblle for notifications and also sending
  the current page path to the server. It also emits events when the socket
  connection state changes and when a message is received from the socket.

  TODO:
  We need to handle the case where the socket connection is lost and then
  reconnected.
-->
<template>
	<div />
</template>

<script setup>
import { useRoute } from 'vue-router';
import { useApi } from '~/composables/useApi';

const emit = defineEmits(['socket-connection-state', 'socket-message']);
const props = defineProps({
	readyToConnect: {
		type: Boolean,
		default: false,
	},
});
const route = useRoute();
const api = useApi();
const socketConnectionState = ref('idle');
const reconnectWhenDisconnected = ref(true);
const socket = ref(null);
const connectedAt = ref(null);
watch(
	() => props.readyToConnect,
	(newVal) => {
		if (newVal) {
			this.connect();
		}
	},
);
// watch the refresh token state and disconnect the socket if the refresh token is null or something
watch(socketConnectionState, () => {
	emit('socket-connection-state', socketConnectionState.value);
	// const d = new Date();
	// const connectionTime
	// = d.getTime() - (connectedAt.value ? connectedAt.value.getTime() : 0);
	if (
		socketConnectionState.value === 'disconnected'
		&& reconnectWhenDisconnected.value === true
	) {
		setTimeout(() => {
			if (reconnectWhenDisconnected.value === true) {
				connect();
			}
		}, 5000);
	}
});
onMounted(() => {
	connect();
});
onBeforeUnmount(() => {
	reconnectWhenDisconnected.value = false;
	disconnect();
});
function connect() {
	socketConnectionState.value = 'connecting';
	if (!api.getTokenData()?.accessToken) {
		console.error('No access token, cannot connect to websocket');
		return;
	}
	const runtimeConfig = useRuntimeConfig();
	const host = new URL(runtimeConfig?.public?.WEBSOCKET_URL);
	host.searchParams.set('access_token', api.getTokenData()?.accessToken);
	socket.value = new WebSocket(host);
	socket.value.addEventListener('open', onSocketOpen);
	socket.value.addEventListener('close', onSocketClose);
	socket.value.addEventListener('error', onSocketError);
	socket.value.addEventListener('message', onSocketMessage);
	socketConnectionState.value = 'connected';
	connectedAt.value = new Date();
}
function disconnect() {
	socketConnectionState.value = 'disconnecting';
	if (socket.value != null) {
		socket.value.removeEventListener('open', onSocketOpen);
		socket.value.removeEventListener('close', onSocketClose);
		socket.value.removeEventListener('error', onSocketError);
		socket.value.removeEventListener('message', onSocketMessage);
		socket.value.close();
	}
	socketConnectionState.value = 'disconnected';
}
function onSocketOpen() {
	socket.value.send(
		JSON.stringify({
			action: 'CLIENT_CHANGE_PAGE',
			payload: {
				path: route.path,
			},
		}),
	);
}
function onSocketClose() {
	socketConnectionState.value = 'disconnected';
}
function onSocketError() {
	socketConnectionState.value = 'disconnected';
}
function onSocketMessage(event) {
	emit('socket-message', event);
}
// function sendMessageToSocket(message) {
//   socket.value.send(JSON.stringify(message));
// }
</script>
