<template>
	<div :class="bemm()">
		<TabContent
			:class="bemm('tabs')"
			:tab-position="tabPosition"
			:items="authTabs"
			:active-id="activeTab"
		/>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import TabContent from '../Atoms/Tab/TabContent.vue';
import { Icons } from '@/types';

import Login from '@/components/Auth/Login.vue';
import Register from '@/components/Auth/Register.vue';
import {
	TabBarPosition,
	type TabContent as TabContentType,
} from '@/components/Atoms/Tab/Tab.model';

const activeTab = ref('tab-login');

const bemm = useBemm('auth-tabs');

const route = useRoute();

defineProps({
	tabPosition: {
		type: String as PropType<TabBarPosition>,
		default: TabBarPosition.TOP,
	},
});

watch(() => route.hash, (hash) => {
	switch (hash) {
		case '#register':
			activeTab.value = 'tab-register';
			break;
		default:
		case '#login':
			activeTab.value = 'tab-login';
			break;
	}
}, {
	immediate: true,
});

const authTabs: TabContentType[] = [
	{
		id: 'tab-login',
		label: 'Login',
		component: Login,
		icon: Icons.USER,
	},
	{
		id: 'tab-register',
		label: 'Register',
		component: Register,
		icon: Icons.USER_ADD,
	},
];
</script>

<style lang="scss">
.auth-tabs {
	&__tabs {

	}

}
#login .modal__container{
	border-radius: var(--border-radius) var(--border-radius) calc(var(--border-radius) * 3) calc(var(--border-radius) * 3);
}
</style>
