<template>
	<ClientOnly>
		<div :class="bemm(null, ['', captchaState])">
			<div class="g-recaptcha" />
			<template v-if="props.check">
				<template v-if="captchaState == 'approved'">
					<LoginLoader
						:icon="Icons.USER"
						:text="$t('Auth.human-detected')"
					/>
				</template>
				<template v-else-if="captchaState == 'checking'">
					<LoginLoader
						:icon="Icons.AI_FACE"
						:text="$t('Auth.checking-for-bots')"
					/>
				</template>
				<template v-else-if="captchaState == 'botdetected'">
					<LoginLoader
						:icon="Icons.CIRCLED_EXCLAMATION_MARK"
						text="''"
					/>
				</template>
			</template>
		</div>
	</ClientOnly>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import { nextTick } from 'vue';
import LoginLoader from './LoginLoader.vue';
import { Icons } from '@/types';

const bemm = useBemm('captcha');

const props = defineProps({
	check: {
		type: Boolean,
		default: false,
	},
	action: {
		type: String,
		default: 'login',
	},
});
const emit = defineEmits(['captcha-token']);
const captchaState = ref('waiting');
const captchaToken = ref<string>();
const captchaAction = ref<string>();
const captchaSiteKey = computed(() => {
	const runtimeConfig = useRuntimeConfig();
	return runtimeConfig?.public?.GOOGLE_CAPTCHA_SITE_KEY;
});

onMounted(async () => {
	if (props.action) {
		captchaAction.value = props.action;
	}
	await nextTick();
	await loadGoogleJS();
});
// watch check prop
watch(
	() => props.check,
	() => {
		checkCaptcha();
	},
);

onActivated(() => {
	loadGoogleJS();
});
async function loadGoogleJS() {
	if (!window) return;
	if (typeof (window as any).grecaptcha === 'undefined') {
		const src = `https://www.google.com/recaptcha/api.js?render=${captchaSiteKey.value}`;
		const appendScript = document.createElement('script');
		appendScript.onload = function () {};
		appendScript.setAttribute('src', src);
		await document.head.appendChild(appendScript);
		await nextTick();
	}
}
function checkCaptcha() {
	if (import.meta.client && props.check) {
		const { grecaptcha } = window as any;

		captchaState.value = 'checking';

		grecaptcha.ready(function () {
			grecaptcha
				.execute(captchaSiteKey.value, { action: captchaAction.value })
				.then((token: any) => {
					captchaToken.value = token;
					captchaState.value = 'approved';
					emit('captcha-token', captchaToken.value);
					return token;
				})
				.catch((err: any) => {
					logger.error(err);
				});
		});
	}
}
</script>

<style lang="scss">
.captcha {
  display: flex;
  gap: var(--space-s);
}
</style>
