<template>
	<div :class="bemm()">
		<InputPassword
			v-model="password1"
			:label="'new password'"
		/>
		<InputPassword
			v-model="password2"
			:label="'repeat new password'"
		/>
		<Button
			:color="ButtonSettings.Color.PRIMARY"
			:status="buttonStatus"
			:disabled="buttonDisabled"
			@click="handleChangePassword"
		>
			{{ $t("Auth.change-password") }}
		</Button>

		<Banner
			v-for="error in errors"
			:key="error.message"
			:type="error.type"
		>
			{{ error.message }}
		</Banner>

		<Checklist
			:title="'Password requirements'"
			:items="checkListData"
		/>
	</div>
</template>

<script lang="ts" setup>
import { watch, ref, computed } from 'vue';
import { useBemm } from 'bemm';

import type { ChecklistItem } from '../Atoms/Checklist/Checklist.model';
import { Status } from '../../types';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import Button from '@/components/Atoms/Button/Button.vue';
import InputPassword from '@/components/Atoms/Form/InputPassword.vue';
import { Banner, BannerType } from '@/components/Atoms/Banner';
import { validatePassword } from '~/utils/password';

import Checklist from '@/components/Atoms/Checklist/Checklist.vue';

import { resetPassword } from '~/composables/useApi';

const bemm = useBemm('change-password');

const buttonStatus = ref(ButtonSettings.Status.IDLE);
const buttonDisabled = ref(true);

const password1 = ref<string>('');
const password2 = ref<string>('');

const errors = ref<{
	type: BannerType;
	message: string;
}[]>([]);

const validations = ref({
	length: false,
	specialChar: false,
	number: false,
	capital: false,
});

const props = defineProps({
	token: {
		type: String,
		required: true,
	},
	email: {
		type: String,
		required: true,
	},
});

const isActive = computed(() => password2.value !== '');

const passwordsMatch = computed(() => {
	return password1.value === password2.value && password1.value !== '';
});

watch([password1, password2], () => {
	const validation = validatePassword(password1.value);
	validations.value = validation.validations;
	buttonDisabled.value = !validation.success || !passwordsMatch.value;
});

const handleChangePassword = async () => {
	buttonStatus.value = ButtonSettings.Status.LOADING;
	errors.value = [];

	if (!passwordsMatch.value) {
		buttonStatus.value = ButtonSettings.Status.ERROR;
		errors.value.push({
			type: BannerType.ERROR,
			message: 'Passwords do not match',
		});
		return;
	}

	const validation = validatePassword(password1.value);
	if (!validation.success) {
		buttonStatus.value = ButtonSettings.Status.ERROR;
		validation.errors.forEach((error) => {
			errors.value.push({
				type: BannerType.ERROR,
				message: error,
			});
		});
		return;
	}

	try {
		const result = await resetPassword({
			email: props.email,
			token: props.token,
			password: password1.value,
		});
		if (result.success) {
			buttonStatus.value = ButtonSettings.Status.SUCCESS;
		}
		else {
			buttonStatus.value = ButtonSettings.Status.ERROR;
			errors.value.push({
				type: BannerType.ERROR,
				message: 'An error occurred. Please try again.',
			});
		}
	}
	catch {
		buttonStatus.value = ButtonSettings.Status.ERROR;
		errors.value.push({
			type: BannerType.ERROR,
			message: 'An error occurred. Please try again.',
		});
	}
};

const getStatus = (status: boolean) => {
	if (!isActive.value) {
		return Status.IDLE;
	}
	return status ? Status.SUCCESS : Status.ERROR;
};

const checkListData = computed<ChecklistItem[]>(() => {
	return [{
		text: 'At least 8 characters',
		status: getStatus(validations.value.length),
	}, {
		text: 'Contains a special character',
		status: getStatus(validations.value.specialChar),
	}, {
		text: 'Contains a number',
		status: getStatus(validations.value.number),
	}, {
		text: 'Contains a capital letter',
		status: getStatus(validations.value.capital),
	}, {
		text: 'Passwords match',
		status: getStatus(!!(password1.value === password1.value)),
	}];
});
</script>

<style lang="scss">
.change-password {
  display: flex; gap: var(--space);
	flex-direction: column;

}
</style>
