<template>
	<div :class="bemm()">
		<Card :color="Colors.BACKGROUND">
			<h3>
				{{ $t("Auth.account-confirmation-title") }}
			</h3>

			{{ $t("Auth.account-confirmation-intro") }}

			<Banner
				v-if="!email"
				:color="Colors.ERROR"
			>
				{{ $t("Auth.no-email") }}
			</Banner>
			<template v-else>
				<template v-if="authErrorsEmailConfirmation.length > 0">
					{{ $t("Auth.account-confirmation-errors") }}
					<ul>
						<li
							v-for="(error, e) in authErrorsEmailConfirmation"
							:key="e"
						>
							{{ error }}
						</li>
					</ul>
				</template>
				<Form v-if="!submitting">
					<InputEmail
						v-if="false"
						v-model="email"
						:placeholder="'email'"
					/>
					<InputVerificationCode
						v-model="confirmationCode"
					/>

					<ButtonGroup :align="ButtonGroupAlign.CENTER">
						<Button
							type="submit"
							:color="Colors.PRIMARY"
							form="login-form"
							:size="ButtonSize.LARGE"

							:disabled="isButtonDisabled"
							@click="triggerConfirmAccount()"
						>
							{{ $t("Auth.account-confirmation-code-button") }}
						</Button>
					</ButtonGroup>
				</Form>

				<div v-else>
					<ButtonGroup :align="ButtonGroupAlign.CENTER">
						<DotsLoader />
					</ButtonGroup>
				</div>
			</template>
		</Card>
		<Card
			v-if="message"
			:color="Colors.BACKGROUND"
		>
			{{ message }}
		</Card>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import Card from '../Atoms/Card/Card.vue';
import Button from '../Atoms/Button/Button.vue';
import Form from '../Atoms/Form/Form.vue';
import { ButtonSize } from '../Atoms/Button/Button.model';
import InputVerificationCode from '../Atoms/Form/InputVerificationCode.vue';
import ButtonGroup from '../Atoms/Button/ButtonGroup.vue';
import { ButtonGroupAlign } from '../Atoms/Button/ButtonGroup.model';
import DotsLoader from '../Molecules/Loader/DotsLoader.vue';
import InputEmail from '../Atoms/Form/InputEmail/InputEmail.vue';
import Banner from '../Atoms/Banner/Banner.vue';
import { Colors } from '~/types';
import { useUserStore } from '~/store/user';
import { Routes } from '~/data/routes';

const bemm = useBemm('auth-confirmation');
const authErrorsEmailConfirmation = ref([]);
const confirmationCode = ref('');
const isButtonDisabled = computed(() => confirmationCode.value.length !== 9);
const user = useUserStore();
const submitting = ref(false);
user.setEmailToConfirmFromCookie();

const email = ref(user.emailToConfirm);
const route = useRoute();
const message = ref('');

onMounted(() => {
	if (user.emailToConfirm) {
		email.value = user.emailToConfirm;
	}
});

async function triggerConfirmAccount() {
	submitting.value = true;
	user.setEmailToConfirm(email.value);

	const result = await user.confirmAccount({
		confirmationCode: confirmationCode.value,
		email: email.value,
	});

	submitting.value = false;

	if (result.success) {
		await navigateTo({ name: Routes.INDEX });
	}
	else {
		authErrorsEmailConfirmation.value = result.error;
	}
}

onMounted(() => {
	if (route.query.code) {
		confirmationCode.value = (route.query.code as string).replace(/[^a-zA-Z0-9]/g, '');
	}
	if (route.query.email) {
		email.value = (route.query.email as string).replaceAll(' ', '+');
	}
});
</script>

<style lang="scss">
.auth-confirmation {
	padding: var(--spacing);
	display: flex; flex-direction: column; gap: var(--spacing);
}
</style>
