<template>
	<div :class="bemm('forgot-password')">
		<FormField>
			<InputEmail
				v-model="email"
				:label="$t('Auth.emailaddress')"
			/>
			<Button
				:color="ButtonSettings.Color.PRIMARY"
				:status="buttonStatus"
				@click="handleRequestPassword()"
			>
				{{ $t("Auth.reset-password") }}
			</Button>

			<Banner
				v-if="status == Status.SUCCESS"
				:type="BannerType.INFO"
			>
				You should receive an email any moment. In the email you will find a link to reset your password.
			</Banner>

			<Banner
				v-if="status === Status.ERROR"
				:type="BannerType.ERROR"
			>
				An error occurred. Please try again.
			</Banner>
		</FormField>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { BannerType } from '../Atoms/Banner';
import FormField from '../Atoms/Form/FormField.vue';
import Banner from '../Atoms/Banner/Banner.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import InputEmail from '@/components/Atoms/Form/InputEmail/InputEmail.vue';
import { Status } from '@/types';
import { requestPassword } from '@/composables/useApi';

const email = ref<string>('');
const status = ref<Status>(Status.IDLE);
const bemm = useBemm('forgot-password');

const buttonStatus = ref<Status>(ButtonSettings.Status.IDLE);

const handleRequestPassword = async () => {
	buttonStatus.value = ButtonSettings.Status.LOADING;

	try {
		await requestPassword({
			email: email.value,
		});

		buttonStatus.value = ButtonSettings.Status.SUCCESS;
		status.value = Status.SUCCESS;
		setTimeout(() => {
			buttonStatus.value = ButtonSettings.Status.IDLE;
		}, 2000);
	}
	catch (error) {
		console.error(error);
		status.value = Status.ERROR;
		buttonStatus.value = ButtonSettings.Status.ERROR;
	}
};
</script>
