<template>
	<div
		:class="bemm()"
		:data-status="status"
	>
		<div v-if="user.loginError && user.loginError.message">
			{{ user.loginError.message }}
		</div>
		<FormField>
			<InputEmail
				id="login-email"
				:value="email"
				:label="t('Auth.email-label')"
				name="email"
				:placeholder="t('Auth.email-placeholder')"
				:rules="rules"
				:error="emailError"
				@change="handleEmailChange"
			/>
			<InputPassword
				id="login-password"
				:value="password"
				:label="t('Auth.password-label')"
				name="password"
				:placeholder="t('Auth.password-placeholder')"
				:error="passwordError"
				:toggle-visible="true"
				@change="handlePasswordChange"
			/>
			<Button
				:size="ButtonSize.LARGE"
				style="--button-width: 100%"
				:color="Colors.TERTIARY"
				:status="status"
				@click="handleLogin"
			>
				{{ t('Auth.login-button') }}
			</Button>
			<ButtonGroup :align="ButtonGroupAlign.CENTER">
				<Button
					:color="Colors.BACKGROUND"
					@click="goToForgotPassword()"
				>
					{{
						$t("General.forgot-password")
					}}
				</Button>
				<Button
					v-if="showRegister"
					:color="Colors.PRIMARY"
					:to="'/auth/register'"
					@click="goToRegister()"
				>
					{{
						$t("General.create-account")
					}}
				</Button>
			</ButtonGroup>
		</FormField>

		<Captcha
			action="login"
			:check="runCaptcha"
			@captcha-token="gotCaptchaToken"
		/>
	</div>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import { useI18n } from 'vue-i18n';
import { EventChannel, EventAction } from '../Events/Events.model';
import FormField from '../Atoms/Form/FormField.vue';
import { popupService } from '../Molecules/Popup/Popup.service';
import Button from '../Atoms/Button/Button.vue';
import InputPassword from '../Atoms/Form/InputPassword.vue';
import InputEmail from '../Atoms/Form/InputEmail/InputEmail.vue';

import ButtonGroup from '../Atoms/Button/ButtonGroup.vue';
import { ButtonGroupAlign } from '../Atoms/Button/ButtonGroup.model';
import Captcha from '@/components/Auth/Captcha.vue';
import { Colors } from '@/types';
import { useUserStore } from '@/store/user';
import { Routes } from '@/data/routes';
import { ButtonStatus, ButtonSize } from '@/components/Atoms/Button/Button.model';

import { onKeyEvent } from '@/utils/eventBus';

const status = ref<ButtonStatus>(ButtonStatus.IDLE);
const bemm = useBemm('login-form');
const { t } = useI18n();

defineProps<{
	showRegister: boolean;
}>();

// In Composition API, the recommended way to declare reactive state is using the ref() function:
const user = useUserStore();

const email = ref('');
const password = ref('');
const captchaToken = ref('');
const submitting = ref(false);
const runCaptcha = ref(false);

// Will add this to the email component.
const rules = {
	min: {
		test: (v: string) => v.length >= 7,
		message: t('Auth.email-min-length'),
	},
};

const goToForgotPassword = () => {
	navigateTo({ name: Routes.FORGOT_PASSWORD });
	popupService.closeAllPopups();
};

const goToRegister = () => {
	navigateTo({ name: Routes.REGISTER });
	popupService.closeAllPopups();
};
const gotCaptchaToken = async (token: string) => {
	if (!submitting.value) {
		return;
	}
	captchaToken.value = token;
	const success = await user.login({
		email: email.value,
		password: password.value,
		captchaToken: token,
	});

	submitting.value = false;

	if (!success) {
		runCaptcha.value = false;
		status.value = ButtonStatus.ERROR;
		setTimeout(() => {
			eventBus.emit(EventChannel.MODAL, {
				action: EventAction.CLOSE,
				data: {
					id: 'login',
				},
			});
		}, 2000);
	}
	else {
		handleSuccess();
	}
};

const handleSuccess = () => {
	status.value = ButtonStatus.SUCCESS;
	setTimeout(() => {
		popupService.closeAllPopups();
		navigateTo({ name: Routes.INDEX });
	}, 1000);
};

watch(() => user, () => {
	if (user.isLoggedIn) {
		handleSuccess();
	}
}, {
	deep: true,
});

const handleEmailChange = (value: string) => {
	email.value = value;
	clearErrors();
};

const handlePasswordChange = (value: string) => {
	password.value = value;
	clearErrors();
};

enum ErrorField {
	EMAIL = 'email',
	PASSWORD = 'password',
}

const setError = (field: ErrorField, message: string) => {
	errorText.value.push({ field, message });
};
const getError = (field: ErrorField): string[] => {
	const error = errorText.value.filter(e => e.field === field);
	return error.map(e => e.message);
};
const errorText = ref<{ message: string; field: string }[]>([]);

const clearErrors = () => {
	errorText.value = [];
	status.value = ButtonStatus.IDLE;
};
const emailError = computed(() => getError(ErrorField.EMAIL));
const passwordError = computed(() => getError(ErrorField.PASSWORD));

const handleLogin = () => {
	clearErrors();
	status.value = ButtonStatus.LOADING;

	if (!email.value.trim()) {
		setError(ErrorField.EMAIL, t('Auth.email-required'));
	}
	if (!password.value.trim()) {
		setError(ErrorField.PASSWORD, t('Auth.password-required'));
	}

	if (errorText.value.length) {
		status.value = ButtonStatus.ERROR;
		setTimeout(() => {
			status.value = ButtonStatus.IDLE;
		}, 1000);
		return;
	}

	user.loginError = false;
	email.value = email.value.trim();
	password.value = password.value.trim();
	submitting.value = true;
	runCaptcha.value = true;
};

onMounted(() => {
	onKeyEvent('Enter', () => {
		handleLogin();
	});
});
</script>

<style lang="scss">
.login-form {
	form {
		display: flex;
		gap: var(--space);
		flex-direction: column;
	}
}
</style>
