<template>
	<div
		ref="loader"
		:class="bemm()"
	>
		<Icon
			v-if="icon"
			:class="bemm('icon')"
			:name="icon"
		/>
		<span
			v-if="text"
			:class="bemm('text')"
		>{{ text }}</span>
		<DotsLoader />
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { Icons } from 'open-icon';

import Icon from '../Atoms/Icon.vue';
import DotsLoader from '../Molecules/Loader/DotsLoader.vue';

const { bemm } = useBemm('login-loader');
const loader = shallowRef<HTMLElement>();

defineProps({
	icon: {
		type: Object as PropType<Icons>,
		required: true,
	},
	text: {
		type: String,
		required: true,
	},
});
</script>

<style lang="scss">
.login-loader {
  padding: var(--space);
  display: flex;
  align-items: center;
  gap: var(--space);

  &__icon {
    font-size: 3em;

    svg rect {
      color: var(--primary);
      stroke-dashoffset: 0;
      stroke-dasharray: 8px 16px;
      animation: stroke .5s infinite linear;

      @keyframes stroke {
        0% {
          stroke-dashoffset: 24px;
        }

        100% {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}
</style>
