<template>
	<Button
		:color="Colors.INFO"
		@click="logout()"
	>
		{{ $t("General.logout") }}
	</Button>
</template>

<script setup>
import { useUserStore } from '@/store/user';
import { Colors } from '@/types';
import { Routes } from '@/data/routes';
import { goTo } from '@/utils/navigation';

const user = useUserStore();

async function logout() {
	await user.logout();
	goTo({ path: Routes.LOGIN });
}
</script>
