<!-- Previous template code remains unchanged -->
<template>
	<div :class="bemm()">
		<Banner
			v-if="user.registerError && user.registerError.message"
			type="error"
		>
			{{ user.registerError.message }}
			<template
				v-if="
					user.registerError.invalidFields
						&& user.registerError.invalidFields.length > 0
				"
			>
				<ol>
					<li
						v-for="field in user.registerError.invalidFields"
						:key="field"
					>
						{{ field }}
					</li>
				</ol>
			</template>
		</Banner>

		<Form
			v-if="!registerState.submitting"
			id="register-form"
			autocomplete="on"
		>
			<p
				v-if="!changeLanguage"
				:class="bemm('set-language')"
			>
				{{ $t('General.your-language-is') }}
				<span @click="changeLanguage = true">{{
					registerState.userlanguage
				}}</span>
			</p>
			<InputSelect
				v-if="changeLanguage"
				v-model="registerState.userlanguage"
				:label="$t('General.choose-your-language')"
				:options="languageOptions()"
			/>
			<FormGroup>
				<InputText
					v-model="registerState.fname"
					:label="$t('General.first-name')"
					:placeholder="$t('Auth.placeholder-first-name')"
				/>
				<InputText
					v-model="registerState.lname"
					:label="$t('General.last-name')"
					:placeholder="$t('Auth.placeholder-last-name')"
				/>
			</FormGroup>

			<InputText
				v-model="registerState.slug"
				:label="$t('General.profile-url')"
				:placeholder="$t('Auth.placeholder-profile-url')"
				:status="slugStatus"
				:error="slugExistance === 1 ? [$t('Auth.profile-url-taken')] : []"
				@blur="handleSlugBlur"
				@input="handleSlugInput"
			/>

			<InputEmail
				v-model="registerState.email"
				:label="$t('General.email-address')"
				name="email"
				:rules="rules"
				placeholder="test@test.com"
				autocomplete
			/>
			<InputPassword
				v-model="registerState.password"
				name="password"
				:label="$t('General.password')"
				:toggle-visible="true"
			/>

			<InputBirthday
				v-model="registerState.dateOfBirth"
				:label="`${$t('General.date-of-birth')}${birthDayToday ? '🥳🎉' : ''}`"
			/>

			<InputCheckbox
				v-model="registerState.newsletter"
				:label="$t('Auth.newsletter')"
			/>
			<!-- eslint-disable vue/no-v-html -->
			<p v-html="termsNote" />
			<InputCheckbox
				v-model="registerState.termsAgree"
				:label="$t('General.i-agree')"
			/>

			<Button
				type="submit"
				:color="Colors.PRIMARY"
				form="login-form"
				:size="ButtonSize.LARGE"
				style="--button-width: 100%"
				:disabled="isButtonDisabled"
				@click="handleRegister()"
			>
				{{ $t("General.register") }}
			</Button>
		</Form>
		<template v-else-if="!registerState.captchaToken">
			<label>{{ $t('Auth.checking-captcha') }}</label>
		</template>
		<template v-else>
			<label>{{ $t('Auth.checking-account') }}</label>
		</template>
		<Captcha
			action="register"
			:check="registerState.runCaptcha"
			@captcha-token="gotCaptchaToken"
		/>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import Form from '@/components/Atoms/Form/Form.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import InputBirthday from '@/components/Atoms/Form/InputBirthday.vue';
import InputEmail from '@/components/Atoms/Form/InputEmail/InputEmail.vue';
import InputPassword from '@/components/Atoms/Form/InputPassword.vue';
import InputCheckbox from '@/components/Atoms/Form/InputCheckbox.vue';
import InputText from '@/components/Atoms/Form/InputText.vue';
import InputSelect from '@/components/Atoms/Form/InputSelect.vue';
import Banner from '@/components/Atoms/Banner/Banner.vue';
import FormGroup from '@/components/Atoms/Form/FormGroup.vue';
import Captcha from '@/components/Auth/Captcha.vue';

import { useLanguages } from '~/composables/useLanguages';
import { useUserStore } from '~/store/user';
import { Colors, Status } from '~/types';
import { ButtonSize } from '@/components/Atoms/Button/Button.model';
import { Routes } from '~/data/routes';
import { useSlugGenerator } from '~/composables/useSlugGenerator';

interface Language {
	label: string;
	abbreviation: string;
}

interface RegisterResponse {
	success: boolean;
	error: any[];
	data: {
		result: string;
		tokenData: {
			accessToken: string;
			refreshToken: string;
			accessTimeOut: number;
		};
		userData: {
			userID: string;
			slug: string;
			fname: string;
			lname: string;
			groups: string[];
			trustLevelInfo: {
				trustLevelInt: number;
				trustLevelName: string;
				aka: string;
				pointsCanGive: number;
				pointsRequired: number;
				voteValue: number;
			};
			userlanguage: string;
			votevalue: number;
			provider: string;
		};
		message: string;
		error: boolean;
		success: boolean;
	};
}

const router = useRouter();
const { t } = useI18n();
const languages = useLanguages().languages;
const bemm = useBemm('register-form');

const termsLink = router.resolve('/terms-and-condititions').href;
const privacyLink = router.resolve('/privacy-policy').href;
const termsNote = t('General.by-signing-up-you-agree', {
	TermsLink: `<a href="${termsLink}">${t('General.terms-and-conditions')}</a>`,
	PrivacyLink: `<a href="${privacyLink}">${t('General.privacy-policy')}</a>`,
});

const user = useUserStore();
const registerState = reactive({
	fname: '',
	lname: '',
	slug: '',
	email: '',
	password: '',
	userlanguage: 'en',
	dateOfBirth: '',
	newsletter: false,
	termsAgree: false,
	captchaToken: '',
	submitting: false,
	runCaptcha: false,
});

const slugInputTouched = ref(false);
const { slugExistance, checkSlugAvailability, generateNextSlug, resetSlugGenerator, formatSlug } = useSlugGenerator();

const slugStatus = computed(() => {
	switch (slugExistance.value) {
		case 0:
			return Status.SUCCESS;
		case 1:
			return Status.ERROR;
		case 3:
			return Status.LOADING;
		default:
			return Status.IDLE;
	}
});

function languageOptions() {
	return languages.map((lang: Language) => {
		return {
			label: lang.label,
			value: lang.abbreviation,
		};
	});
}
const changeLanguage = ref(false);

const handleSlugInput = () => {
	slugExistance.value = 2; // Reset to idle when typing
	slugInputTouched.value = true; // Mark as manually edited
};

const handleSlugBlur = async () => {
	if (slugInputTouched.value) {
		// For manual input, just format and check availability once
		const formattedSlug = formatSlug(registerState.slug);
		registerState.slug = formattedSlug;
		await checkSlugAvailability(formattedSlug);
	}
	else {
		// For auto-generated slugs, check availability
		await checkSlugAvailability(registerState.slug);
	}
};

const rules = {
	required: {
		test: (value: string) => !!value,
		message: t('General.required'),
	},
	min: {
		test: (v: string) => v.length >= 6,
		message: t('General.min-six-characters'),
	},
};

const birthDayToday = computed(() => {
	const today = new Date();
	const dob = new Date(registerState.dateOfBirth);
	return (
		dob.getDate() === today.getDate()
		&& dob.getMonth() === today.getMonth()
	);
});

const handleRegister = () => {
	user.registerError = {
		message: '',
		invalidFields: [],
	};
	registerState.captchaToken = '';
	registerState.submitting = true;
	registerState.runCaptcha = true;
};

const gotCaptchaToken = async (token: string) => {
	if (!registerState.submitting) {
		return;
	}
	registerState.captchaToken = token;

	const result = await user.register({
		fname: registerState.fname,
		lname: registerState.lname,
		slug: registerState.slug,
		email: registerState.email,
		password: registerState.password,
		userlanguage: registerState.userlanguage,
		dob: registerState.dateOfBirth,
		newsletter: registerState.newsletter,
		terms: registerState.termsAgree,
		captchaToken: registerState.captchaToken,
	}) as RegisterResponse;

	registerState.runCaptcha = false;
	registerState.submitting = false;

	// Check if registration was successful
	if (result.success && result.data?.result === 'User-Created') {
		user.setEmailToConfirm(registerState.email);
		navigateTo({ name: Routes.ENTER_CONFIRM });
	}
};

watch(
	() => [registerState.fname, registerState.lname],
	async () => {
		// Only auto-generate if user hasn't manually edited the slug
		if (!slugInputTouched.value) {
			resetSlugGenerator();
			if (registerState.fname && registerState.lname) {
				registerState.slug = await generateNextSlug(registerState.fname, registerState.lname);
			}
		}
	},
);

watch(
	() => registerState.slug,
	(newValue) => {
		if (slugInputTouched.value && !newValue) {
			resetSlugGenerator();
			slugInputTouched.value = false;
		}
	},
);

const isButtonDisabled = computed(() => {
	return (
		!registerState.termsAgree
		|| !registerState.dateOfBirth
		|| !registerState.userlanguage
		|| !registerState.password
		|| !registerState.email
		|| !registerState.slug
		|| !registerState.lname
		|| !registerState.fname
		|| slugExistance.value === 1
	);
});
</script>

<style lang="scss">
.register-form {
	&__set-language {
		padding: 1em;
		border-radius: var(--border-radius);
		background-color: var(--accent);

		span {
			background-color: var(--primary);
			color: var(--primary-text);
			padding: 0.5em;
			border-radius: var(--border-radius);
			font-weight: bold;
		}
	}

	p {
		font-size: 0.75em;

		a {
			color: #{setLightness(primary, 50%)};
			text-decoration: underline;
		}
	}
}
</style>
