<template>
	<NuxtLayout :class="appClasses">
		<Loader v-if="showLoader" />
		<UserPresenceMain />
		<NuxtPage />
	</NuxtLayout>
	<Popup />
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';

import Popup from '@/components/Molecules/Popup/Popup.vue';
import Loader from '@/components/Atoms/Loader.vue';
import UserPresenceMain from '@/components/UserPresence/Main.vue';

import { useUserStore } from '@/store/user';
import { useUI } from '@/composables/useUI';

const { colorMode, contrastMode, fontSize, scrollDirection, isOnTop } = useUI();
const { hook } = useNuxtApp();

const bemm = useBemm('app');

const userstore = useUserStore();
const loading = ref(false);
const route = useRoute();

userstore.loginFromCookie();

hook('page:start', () => {
	loading.value = true;
});
hook('page:finish', () => {
	loading.value = false;
});

const showLoader = ref(false);

watch(
	() => [colorMode.value, contrastMode.value, fontSize.value],
	() => {
		if (import.meta.client) {
			document.body.setAttribute('data-color-mode', colorMode.value);
			document.body.setAttribute('data-font-size', fontSize.value);
			contrastMode.value
				? document.body.setAttribute('data-contrast-mode', 'true')
				: document.body.removeAttribute('data-contrast-mode');
		}
	},
	{ immediate: true },
);

watch(() => [scrollDirection.value, isOnTop.value], () => {
	scrollDirection.value && setDataBodyAttribute('scroll-direction', scrollDirection.value);
	if (isOnTop.value) {
		setDataBodyAttribute('on-top');
		removeDataBodyAttribute('off-top');
	}
	else {
		setDataBodyAttribute('off-top');
		removeDataBodyAttribute('on-top');
	}
}, { immediate: true });

const appClasses = computed(() => {
	return [bemm('', [
	]), `page-${route.name as string}`];
});
</script>
