<template>
	<NuxtLayout>
		<div :class="bemm()">
			<template v-if="error.statusCode === 404">
				<h1>404!</h1>
				<p>Sorry, that page doesn't exist.</p>
			</template>
			<template v-else>
				<h1>Error of doom!</h1>
				<p :class="bemm('error')">
					<strong>{{ error.message }}</strong>
				</p>
				<p>It looks like something broke, sorry about that. Now go fix it!</p>
			</template>

			<ButtonGroup>
				<Button
					:icon="Icons.ARROW_LEFT"
					@click="handleError"
				>
					Go back to home
				</Button>
				<Button
					:icon="Icons.ARROW_ROTATE_BOTTOM_LEFT"
					@click="handleTryAgain"
				>
					Try Again
				</Button>
			</ButtonGroup>
		</div>
	</NuxtLayout>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
// import type { RouteLocationRaw } from 'vue-router';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import { Icons } from '@/types';

const bemm = useBemm('error');

const error: any = useError();

const handleError = () => {
	clearError({
		redirect: '/',
	});
};

// Try to just resolve it and go to the same path but by navigating.

// const router = useRouter();

// const redirectToSame = (route: RouteLocationRaw) => {
// 	router.push(route);
// };

const handleTryAgain = () => {
	clearError();
};

onMounted(() => {
	setTimeout(() => {
		// if (error.statusCode === 404) {
		// // Try to resolve the path and go to it.
		// 	const route = router.resolve(error.path);
		// 	if (route) {
		// 		redirectToSame(route);
		// 	}
		// }
	}, 20000);
});
</script>

<style lang="scss">
.error {
  padding: var(--spacing);

  &__error {
    background-color: global.opacity(secondary, 0.125);
    border: 1px solid  global.opacity(secondary, 0.5);
    padding: var(--space);
    border-radius: var(--border-radius);
    font-family: monospace;
  }
}
</style>
