<template>
	<div :class="blockClasses">
		<div
			:class="bemm('background')"
			@click="setInactive()"
		/>
		<div :class="bemm('wrapper')">
			<div
				ref="float"
				:class="bemm('panel')"
				@click="handleInnerClick"
			>
				<div :class="bemm('container')">
					<slot />
				</div>
			</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { ref, type PropType, onMounted, watch, computed } from 'vue';
import { useBemm } from 'bemm';
import { useRoute } from 'vue-router';
import {
	eventBus,
	EventAction,
	EventChannel,
	EventKeys,
	type EventData,
	onEscape,
} from '@/utils/eventBus';
import { Colors } from '@/types';

const bemm = useBemm('float');

const float = ref();
const props = defineProps({
	active: {
		type: Boolean,
		default: false,
	},
	color: {
		type: String as PropType<Colors>,
		default: Colors.FOREGROUND,
	},
	position: {
		type: String as PropType<'auto' | 'left' | 'right' | 'bottom' | 'top'>,
		default: 'auto',
	},
	id: {
		type: String,
		default: '',
	},
	closeOnInnerClick: {
		type: Boolean,
		default: true,
	},
});

const route = useRoute();
const isActive = ref(props.active);

let closeTimeout: number | null = null;

const handleInnerClick = (_: Event) => {
	if (!props.closeOnInnerClick) return;

	// If we have an existing timeout, clear it
	if (closeTimeout) {
		window.clearTimeout(closeTimeout);
	}

	// Set new timeout
	closeTimeout = window.setTimeout(() => {
		setInactive();
	}, 500);
};

const setActive = () => {
	isActive.value = true;
};
const setInactive = () => {
	isActive.value = false;
};

onMounted(() => {
	eventBus.on(EventChannel.UI, (p) => {
		const payload = p as EventData;
		if (payload.action !== EventAction.KEY) return;

		if (payload.data.key === EventKeys.ESCAPE) {
			isActive.value = false;
		}
	});

	eventBus.on(EventChannel.FLOAT, (p) => {
		const payload = p as EventData;
		if (payload.action == EventAction.OPEN && payload.data.id == props.id) {
			setActive();
		}
		if (payload.action == EventAction.TOGGLE && payload.data.id == props.id) {
			if (isActive.value) {
				setActive();
			}
			// else {
			// 	setInactive();
			// }
		}
		if (payload.action == EventAction.CLOSE && payload.data.id == props.id) {
			setInactive();
		}
		if (payload.action == EventAction.CLOSE && payload.data.id == null) {
			setInactive();
		}
	});
});

watch(
	() => route,
	() => {
		isActive.value = false;
	},
	{ deep: true },
);

const blockClasses = computed(() => {
	return [
		bemm(),
		bemm('', props.color),
		bemm('', isActive.value ? 'active' : 'inactive'),
		bemm('', `position-${props.position}`),
	];
});
onEscape(() => {
	setInactive();
});
</script>

<style lang="scss">
.float {
  position: var(--float-position, absolute);
  z-index: var(--float-z-index, 10);
  opacity: 0;
  transition:
    opacity 0.2s,
    transform 0.2s var(--bezier);
  width: var(--float-width, fit-content);
  pointer-events: none;

  // --float-background-color: var(--accent);
  --float-int-background-color: color-mix(in srgb, var(--primary), var(--background) 90%);
  --float-int-border-color: var(--foreground);
  --float-int-text-color: var(--foreground);
  --float-int-border-radius: var(--border-radius);

  // &__background {
  //   position: absolute;
  //   inset: 0;
  //   width: 500%;
  //   height: 500%;
  //   opacity: 0;
  //   transform: translate(-50%,-50%);
  // }

  &__wrapper {
    position: relative; z-index: 2;

    &::before {
      display: block;
      position: absolute;
      width: .75em;
      height: .75em;
      background-color: var(--float-int-background-color);
      border: none;
      border-top-left-radius: 4px;
      clip-path: polygon(0 0, 100% 0, 0 100%);
      content: "";
      transition: transform .3s;
      z-index: 1;
    }
  }

  &__panel {
    overflow: hidden;
    overflow-y: auto;
    background-color: var(--float-background-color, var(--float-int-background-color));
    border-color: var(--float-border-color,var(--float-int-border-color));
    color: var(--float-text-color, var(--float-int-text-color));
    border-radius: var(--float-border-radius,var(--float-int-border-radius));
    position: relative;
    transform: scale(0.5);
    transform-origin: 50% 0;
    transition: transform 0.3s var(--bezier);
    width: var(--float-width, fit-content);
    box-shadow: 0.5em 0.5em 1em color-mix(in srgb, var(--foreground-rgb), 0.125);
    max-height: 80vh;
  }

  // @keyframes floatComeUp {
  //   0% {
  //     transform: translateY(-50%) translateX(-50%) rotate(45deg) scale(0);
  //   }

  //   100% {
  //     transform: translateY(-50%) translateX(-50%) rotate(45deg) scale(1);
  //   }
  // }

  // @keyframes comeUp {
  //   to {
  //     transform: translateY(0);
  //   }
  // }

  // @each $color-name in $all-color-names {
  //   &--#{$color-name} {
  //       --float-background-color: var(--#{$color-name});
  //       --float-text-color: var(--#{$color-name}-text);
  //   }
  // }

  &__container {
    padding: var(--float-padding, var(--space-s));
  }

  &--position-top {
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);

    .float__wrapper::before {
      top: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%) rotate(-135deg) scale(var(--before-scale, 0));
    }

    .float__panel {

      transform-origin: 50% 100%;
    }
  }

  &--position-bottom {
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    .float__wrapper::before {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%) translateY(50%) rotate(45deg) scale(var(--before-scale, 0));
    }

    .float__panel {
      transform-origin: 50% 0%;
    }
  }

  &--position-right {
    top: 50%;
    left: 100%;
    transform: translateY(-50%);

    .float__wrapper::before {
      bottom: 50%;
      right: 100%;
      transform: translateX(50%) translateY(50%) rotate(-45deg) scale(var(--before-scale, 0));
    }

    .float__panel {
      transform-origin: 0% 50%;
    }
  }

  &--position-left {
    top: 50%;
    right: 100%;
    transform: translateY(-50%);

    .float__wrapper::before {
      bottom: 50%;
      left: 100%;
      transform: translateX(-50%) translateY(50%) rotate(135deg) scale(var(--before-scale, 0));
    }

    .float__panel {
      transform-origin: 100% 50%;
    }
  }

  &--active {
    opacity: 1;
    pointer-events: all;
    --before-scale: 1;

    .float__wrapper {
      transform: scale(1)
    }

    .float__panel {
      transform: scale(1)
    }

    // .float__wrapper {
    //   animation: comeUp 0.2s forwards;
    // }

    // .float__panel {
    //   transform: scale(1) translateX(var(--translate-x, 0));

    //   &::before {
    //     animation: floatComeUp 0.2s forwards;
    //   }
    // }
  }
}
</style>
