<template>
	<div :class="bemm()">
		<slot />
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

const bemm = useBemm('card-group');
</script>

<style lang="scss">
.card-group{
  display: flex; flex-direction: var(--card-group-direction, row);
  gap: var(--card-group-gap, var(--space));
  flex-wrap: var(--card-group-wrap, wrap);

}
</style>
