<template>
	<div
		:class="blockClasses"
		:style="`--card-color: var(--${color})`"
	>
		<header
			v-if="hasSlot('header')"
			:class="bemm('header')"
		>
			<slot name="header" />
		</header>
		<main :class="bemm('main')">
			<slot />
		</main>

		<footer
			v-if="hasSlot('footer')"
			:class="bemm('footer')"
		>
			<slot name="footer" />
		</footer>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { Colors, type BaseColors, type Size } from '~/types';

const props = defineProps({
	color: {
		type: String as PropType<BaseColors | Colors>,
		default: Colors.PRIMARY,
	},
	size: {
		type: String as PropType<Size>,
		required: false,
	},
	align: {
		type: String as PropType<'left' | 'center' | 'right'>,
		default: undefined,
	},
});

const slots = useSlots();
const hasSlot = (name: string) => !!slots[name];

const bemm = useBemm('card');

const blockClasses = computed(() => {
	return [bemm(),
		props.color && bemm('', props.color),
		props.size && bemm('', props.size),
		props.align && bemm('', props.align),
	];
});
</script>

<style lang="scss">
.card {
  $b: &;
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
  border-color: var(--card-border-color, color-mix(in srgb, var(--foreground-rgb), 0));
  background-color: var(--card-background-color, color-mix(in srgb, var(--foreground-rgb), 0.05));
  border-radius: var(--card-border-radius, var(--border-radius));
  width: var(--card-width, 100%);

  // --input-control-background: var(--accent);
  --card-border-color: color-mix(in srgb, var(--card-color), var(--background) 75%);
  --card-background-color: color-mix(in srgb, var(--card-color), var(--background) 95%);

  text-align: var(--card-text-align, left);
  color: var(--card-text-color, currentColor);

  &--small {
    font-size: 0.75em;
  }

  &--medium {
    font-size: 1em;
  }

  &--large {
    font-size: 1.25em;
  }

  &--left #{$b}__main  {
    justify-content: flex-start;
  }

  &--center  #{$b}__main  {
    justify-content: center;
    align-items: center;
  }

  &--right #{$b}__main {
    justify-content: flex-end;
  }

  &--ghost{
    --card-border-color: transparent;
    --card-header-color: var(--foreground);
    --card-padding: 0;
  }

  &__main {
    padding: var(--card-padding, var(--space));
    display: flex;
    flex-direction: column;
    gap: var(--card-gap, var(--space));
  }

  &:has(&__header) {
    #{$b}__main {
      padding-top: 0;
    }
  }

  &:has(&__footer) {
    #{$b}__main {
      padding-bottom: 0;
    }
  }

  &__footer {
    padding: var(--space-s);
    border-radius: 0 0 var(--border-radius) var(--border-radius);

    --button-group-width: 100%;
  }

  &__header {
    align-items: center;
    padding: var(--space-s) var(--space-s);
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    display: flex;
    justify-content: space-between;

    h5 {
      text-transform: uppercase;
      font-size: .55em;
      font-weight: bold;
      color: var(--card-header-color, var(--card-color));
    }
  }
}
</style>
