<template>
	<Content>
		<MarkdownRenderer :source="markdownData" />
	</Content>
</template>

<script setup>
import { useRoute } from 'vue-router';
import { Languages } from '@trust-cafe/i18n';
import { usePage } from '@/composables/usePage';
import Content from '@/components/Molecules/Content.vue';

import MarkdownRenderer from '@/components/MarkdownRenderer.vue';

const route = useRoute();
const language = Languages.EN_GB;

const { getContent } = usePage(language);

const pageData = ref();

const markdownData = computed(() => {
	return pageData.value?.md || '';
});

onMounted(() => {
	pageData.value = getContent(route.params.slug[0]);
});
</script>

<style lang="scss">
.page{
	// padding: var(--spacing);
}
</style>
