<template>
	<div :class="bemm()">
		<h2>Write a post...</h2>
		<PostCreate
			v-if="loaded"
			:content="content"
			:branch="currentBranch"
			:is-main-trunk="isMainTrunk"
		/>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import PostCreate from '@/components/Organisms/Post/PostCreate.vue';

const bemm = useBemm('create');
const route = useRoute();

const currentBranch = ref();
const isMainTrunk = ref(false);
const content = ref('');
const loaded = ref(false);

definePageMeta({
	requiresAuth: true,
	middleware: ['auth'],
});

onMounted(() => {
	if (route.query.content) {
		content.value = route.query.content as string;
	}
	if (route.query.branch) {
		currentBranch.value = route.query.branch as string;
	}
	else {
		isMainTrunk.value = true;
	}
	nextTick(() => {
		loaded.value = true;
	});
});
</script>

<style lang="scss">
.create {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
@include global.mobile-only{
  padding: 0

}
  &__example {
    gap: var(--space);
    display: flex;
  }

  &__markdown,
  &__html {
    width: 50%;
    border: 1px solid color-mix(in srgb, var(--foreground-rgb), 0.125);
    padding: var(--space);
    background-color: var(--accent);
    border-radius: var(--border-radius);

    pre {
      overflow: scroll;
      white-space: break-spaces;
    }

    h6 {
      opacity: 0.25;
    }
  }
}
</style>
