<template>
	<div :class="bemm()">
		<PostFeed
			type="home"
			slug="foryou"
		/>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import PostFeed from '@/components/Organisms/Post/PostFeed.vue';

const bemm = useBemm('home-feed');

definePageMeta({
	middleware: ['auth'],
});
</script>
