<template>
	<div>
		<PageHeader title="More" />
		<Content>
			<MyBranches
				v-if="loggedIn"
			/>
			<ExploreBranches :logged-in="loggedIn" />
		</Content>
	</div>
</template>

<script setup lang="ts">
import ExploreBranches from '@/components/Organisms/Branch/ExploreBranches.vue';
import MyBranches from '@/components/Organisms/Branch/MyBranches.vue';
import { useUserStore } from '@/store/user';

import Content from '@/components/Molecules/Content.vue';
import PageHeader from '~/components/Organisms/PageHeader.vue';

const { isLoggedIn } = useUserStore();
const loggedIn = ref(isLoggedIn);

watch(() => isLoggedIn, (val) => {
	loggedIn.value = val;
}, {
	immediate: true,
});
</script>

<style lang="scss" scoped>
.content{
	display: flex; gap: var(--spacing);
	flex-direction: column;
}
</style>
