<template>
	<Content>
		<h2>My Settings</h2>
		<section>
			<FormField label="User information">
				<p>Update your user information.</p>
				<InputText
					v-model="userSettings.username"
					label="Username"
				/>
				<FormGroup>
					<InputText
						v-model="userSettings.firstName"
						label="First name"
					/>
					<InputText
						v-model="userSettings.lastName"
						label="Last name"
					/>
				</FormGroup>
				<ButtonGroup :align="ButtonGroupAlign.RIGHT">
					<Button
						:type="ButtonSettings.Type.DEFAULT"
						:color="ButtonSettings.Color.PRIMARY"
						:size="ButtonSettings.Size.SMALL"
					>
						Save
					</Button>
				</ButtonGroup>
			</FormField>
			<FormField label="User Settings">
				<p>Update your user information.</p>
				<InputSelect
					v-model="userSettings.locale"
					label="Language"
					:options="languageOptions"
				/>
				<InputSelect
					v-model="userSettings.theme"
					label="Theme"
					:options="themeOptions"
				/>
				<ButtonGroup :align="ButtonGroupAlign.RIGHT">
					<Button
						:type="ButtonSettings.Type.DEFAULT"
						:color="ButtonSettings.Color.PRIMARY"
						:size="ButtonSettings.Size.SMALL"
					>
						Save
					</Button>
				</ButtonGroup>
			</FormField>
		</section>

		<section>
			<FormField label="Blocked users">
				A list of users I have blocked
				<ButtonGroup :align="ButtonGroupAlign.RIGHT">
					<Button
						:type="ButtonSettings.Type.DEFAULT"
						:color="ButtonSettings.Color.PRIMARY"
						:size="ButtonSettings.Size.SMALL"
					>
						Save
					</Button>
				</ButtonGroup>
			</FormField>
			<FormField label="Muted users">
				A list of users I have muted
				<ButtonGroup :align="ButtonGroupAlign.RIGHT">
					<Button
						:type="ButtonSettings.Type.DEFAULT"
						:color="ButtonSettings.Color.PRIMARY"
						:size="ButtonSettings.Size.SMALL"
					>
						Save
					</Button>
				</ButtonGroup>
			</FormField>
		</section>
	</Content>
</template>

<script setup lang="ts">
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';
import Content from '@/components/Molecules/Content.vue';
import InputSelect from '@/components/Atoms/Form/InputSelect.vue';
import InputText from '@/components/Atoms/Form/InputText.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import FormGroup from '@/components/Atoms/Form/FormGroup.vue';
import FormField from '@/components/Atoms/Form/FormField.vue';

definePageMeta({
	requiresAuth: true,
	middleware: ['auth'],
});

const userSettings = reactive({
	username: '',
	firstName: '',
	lastName: '',
	locale: '',
	theme: '',
});

const languageOptions = [
	{ label: 'English', value: 'en' },
	{ label: 'Español', value: 'es' },
	{ label: 'Français', value: 'fr' },
	{ label: 'Deutsch', value: 'de' },
	{ label: 'Nederlands', value: 'nl' },
];

const themeOptions = [
	{ label: 'Light', value: 'light' },
	{ label: 'Dark', value: 'dark' },
	{ label: 'System', value: 'system' },
];
</script>
