<template>
	<div>
		<PageHeader
			:title="t('Auth.forgot-password')"
		/>
		<Content :class="bemm()">
			<h2>{{ $t("Auth.reset-password") }}</h2>

			<Banner
				v-if="tokenStatus === Status.IDLE"
				type="error"
			>
				{{ $t("Auth.invalid-token") }}
				{{ token }}<br>
				{{ email }}
			</Banner>
			<Card v-if="tokenStatus == Status.SUCCESS">
				<ChangePassword
					:email="email"
					:token="token"
				/>
			</Card>
			<Banner
				v-if="tokenStatus == Status.ERROR"
				:type="BannerType.ERROR"
			>
				{{ errors.join(', ') }}
			</Banner>
		</content>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import Content from '@/components/Molecules/Content.vue';
import Card from '@/components/Atoms/Card/Card.vue';
import ChangePassword from '~/components/Auth/ChangePassword.vue';
import Banner from '~/components/Atoms/Banner/Banner.vue';
import PageHeader from '~/components/Organisms/PageHeader.vue';
import { validateForgotPasswordToken } from '~/composables/useApi';
import { Status } from '~/types';
import { BannerType } from '~/components/Atoms/Banner';

const { t } = useI18n();

const route = useRoute();
const errors = ref<string[]>([]);
const tokenStatus = ref<Status>(Status.IDLE);
const token = route.query.token as string;
const email = route.query.email as string;

onMounted(async () => {
	if (!token || !email) {
		tokenStatus.value = Status.ERROR;
		if (!token) errors.value.push('Token is missing');
		if (!email) errors.value.push('Email is missing');
		return;
	}

	try {
		const result = await validateForgotPasswordToken({ token, email });
		if (result) {
			tokenStatus.value = Status.SUCCESS;
		}
		else {
			tokenStatus.value = Status.ERROR;
			errors.value.push('Invalid token');
		}
	}
	catch (error: any) {
		tokenStatus.value = Status.ERROR;
		errors.value.push(error.message);
	}
});

const bemm = useBemm('change-password-page');
</script>

<style lang="scss"></style>
