<template>
	<div>
		<PageHeader
			:title="t('Auth.forgot-password')"
		/>
		<Content>
			<Card>
				<ForgotPassword />
			</Card>
		</Content>
	</div>
</template>

<script lang="ts" setup>
import PageHeader from '~/components/Organisms/PageHeader.vue';
import ForgotPassword from '~/components/Auth/ForgotPassword.vue';
import Content from '@/components/Molecules/Content.vue';
import Card from '@/components/Atoms/Card/Card.vue';

const { t } = useI18n();
</script>
