<template>
	<Content :class="bemm()">
		<AuthTabs />
	</Content>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import AuthTabs from '@/components/Auth/AuthTabs.vue';

const bemm = useBemm('auth');
</script>

<style lang="scss">
.auth {
}
</style>
