<template>
	<Content :class="bemm()">
		<h2>{{ $t("Auth.login-title") }}</h2>

		<Card :color="Colors.TERTIARY">
			<Login :show-register="false" />
		</Card>

		<Card :color="Colors.BACKGROUND">
			<Button
				color="primary"
				:to="'/auth/register'"
			>
				{{
					$t("General.create-account")
				}}
			</Button>
		</Card>
	</Content>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { Colors } from '../../types';
import Button from '~/components/Atoms/Button/Button.vue';
import Login from '~/components/Auth/Login.vue';
import Content from '~/components/Molecules/Content.vue';
import Card from '~/components/Atoms/Card/Card.vue';

const bemm = useBemm('login-page');
</script>

<style lang="scss">
.login-page {
}
</style>
