<template>
	<Content>
		<h2>{{ $t("Auth.register-title") }}</h2>
		<Card :color="Colors.BACKGROUND">
			<Register />
		</Card>
		<hr>
		<Card :color="Colors.BACKGROUND">
			<ButtonGroup :align="ButtonGroupAlign.CENTER">
				<Button
					:type="ButtonSettings.Type.OUTLINE"
					:to="'/auth/login'"
				>
					{{ $t("General.login") }}
				</Button>
			</ButtonGroup>
		</Card>
	</Content>
</template>

<script lang="ts" setup>
import { Colors } from '../../types';

import Register from '@/components/Auth/Register.vue';
import Content from '@/components/Molecules/Content.vue';
import Card from '@/components/Atoms/Card/Card.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';
import { ButtonSettings } from '~/components/Atoms/Button/Button.model';
</script>

<style lang="scss">
.register-form {
}
</style>
