<template>
	<Content>
		<div>
			<p>{{ t('General.one-moment') }}</p>
			<DotsLoader />
		</div>
	</Content>
</template>

<script setup lang="ts">
import { useI18n } from 'vue-i18n';
import { useRoute } from 'vue-router';
import { useUserStore } from '~/store/user';
import { Routes } from '@/data/routes';

const route = useRoute();
const userstore = useUserStore();
const { getAccessToken } = storeToRefs(userstore);
const { t } = useI18n();

const redirect = route?.meta?.redirect ? route.meta.redirect : '/';
watch(getAccessToken, () => {
	navigateTo(redirect as string);
});

if (!userstore.isLoggedIn) {
	navigateTo({ path: Routes.LOGIN });
}
</script>

<style scoped></style>
