<template>
	<div :class="bemm()">
		<div
			v-if="isLoading"
			:class="bemm('loading')"
		>
			<DotsLoader />
		</div>
		<div
			v-if="!isLoading"
			:class="bemm('container')"
		>
			<header
				v-if="userData"
				:class="bemm('header')"
			>
				<div :class="bemm('cover')">
					<AvatarCover
						:url="userCover"
						:is-edit-mode="isEditMode"
					/>
				</div>
				<div :class="bemm('user')">
					<div :class="bemm('user-avatar')">
						<div :class="bemm('user-avatar-container')">
							<AvatarImage
								:class="bemm('profile-picture')"
								:url="userAvatar"
							/>
						</div>

						<Button
							v-if="isEditMode"
							:class="bemm('button', 'edit-profile')"
							:size="ButtonSettings.Size.SMALL"
							:color="Colors.TERTIARY"
							:icon="ButtonSettings.Icon.EDIT_M"
							:type="ButtonSettings.Type.ICON_ONLY"
							:status="profileUpdateStatus"
							:tooltip="'Change  Profile Image'"
							@click="handleEditProfile()"
						/>
					</div>
					<div :class="bemm('user-info')">
						<div :class="bemm('name')">
							<h3>
								{{ userData.fname }} {{ userData.lname }}
							</h3>
							<chip>{{ userData.slug }}</chip>
							<chip>{{ userData.trustLevelInfo?.aka || '' }}</chip>

							<!-- <ButtonGroup>
								<Button
									v-if="!isSelf && isLoggedIn"
									:size="ButtonSize.SMALL"
									:icon="Icons.CIRCLED_MULTIPLY"
									:color="isBlocked ? Colors.ERROR : Colors.BACKGROUND"
									:type="ButtonType.ICON_ONLY"
									tooltip="Block user"
									@click="toggleBlockUser({ slug })"
								/>
								<Button
									v-if="!isSelf && isLoggedIn"
									:size="ButtonSize.SMALL"
									:icon="Icons.VOLUME_MUTE"
									:color="isMuted ? Colors.WARNING : Colors.BACKGROUND"
									:type="ButtonType.ICON_ONLY"
									tooltip="Mute user"
									@click="toggleMuteUser({ slug })"
								/>
							</ButtonGroup> -->
						</div>

						<!-- eslint-disable vue/no-v-html -->
						<p
							v-if="userData.userBio && !isEditMode"
							:class="bemm('description')"
							v-html="userBio"
						/>
						<InputTextArea
							v-if="isEditMode"
							:value="userData.userBio"
							placeholder="Tell us about yourself"
							@change="handleBioChange"
						/>
						<div :class="bemm('actions')">
							<div :class="bemm('stats')">
								<Chip
									tooltip="Comments"
									:icon="Icons.SPEECH_BALLOON"
								>
									{{ userData.statistics?.commentCount || 0 }}
								</Chip>
								<Chip
									tooltip="Posts"
									:icon="Icons.NOTE_EDIT"
								>
									{{ userData.statistics?.postCount || 0 }}
								</Chip>
								<Chip
									tooltip="Followers"
									:icon="Icons.HEART"
									@click="showFollowersTab()"
								>
									{{ userData.statistics?.totalFollowers || 0 }}
								</Chip>

								<UserTrustButton
									v-if="isLoggedIn && !isSelf"
									:user="{
										slug: userData.slug,
										fname: userData.fname,
										lname: userData.lname,
									}"
								/>
								<UserFollowButton
									v-if="isLoggedIn && !isMe"
									:slug="userData.slug"
								/>
							</div>
						</div>
					</div>
				</div>
				<ButtonGroup :class="bemm('edit-actions')">
					<Button
						v-if="isEditMode"
						:class="bemm('button', 'edit-cover')"
						:size="ButtonSettings.Size.SMALL"
						:color="Colors.TERTIARY"
						:icon="ButtonSettings.Icon.EDIT_M"
						:type="ButtonSettings.Type.ICON_ONLY"
						:status="coverUpdateStatus"
						:tooltip="'Change Cover Image'"
						@click="handleEditCover()"
					>
						Change Cover
					</Button>
					<Button
						v-if="isSelf && isLoggedIn && !isEditMode"
						:icon="Icons.EDIT_M"
						:size="ButtonSize.SMALL"
						:color="Colors.PRIMARY"
						:class="bemm('edit-profile-button')"
						tooltip="Edit Profile"
						@click="navigateToEditProfile()"
					>
						Edit Profile
					</Button>
					<Button
						v-if="isSelf && isLoggedIn && isEditMode"
						:icon="Icons.ARROW_RIGHT"
						:size="ButtonSize.SMALL"
						:color="Colors.PRIMARY"
						:class="bemm('edit-profile-button')"
						tooltip="Save Profile"
						:status="editStatus"
						@click="handleSaveProfile()"
					>
						Save Profile
					</Button>
					<Button
						v-if="isSelf && isLoggedIn && isEditMode"
						:icon="Icons.MULTIPLY_M"
						:size="ButtonSize.SMALL"
						:color="Colors.PRIMARY"
						:type="ButtonType.ICON_ONLY"
						:class="bemm('edit-profile-button')"
						tooltip="Exit Edit Profile"
						@click="navigateToEditProfile()"
					/>
					<ContextMenu
						:config="{
							menu: userContextMenu,
						}"
					>
						<Button
							v-if="isLoggedIn"
							:icon="Icons.THREE_DOTS_VERTICAL"
							:size="ButtonSize.SMALL"
							:color="Colors.PRIMARY"
							:type="ButtonType.ICON_ONLY"
							:class="bemm('edit-profile-button')"
							tooltip="User information"
						/>
					</ContextMenu>
				</ButtonGroup>
			</header>
			<!-- {{ userData }} -->

			<main :class="bemm('main')">
				<TabContent
					v-if="pageId"
					:tab-position="TabBarPosition.TOP"
					:tab-type="TabType.DEFAULT"
					:active-id="pageId"
					:items="profileTabs"
					:home="'posts-tab'"
				/>
			</main>
		</div>
		<div v-if="isLoading">
			<Loader />
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import ContextMenu from '@/components/Atoms/ContextMenu/ContextMenu.vue';
import Everything from '@/components/Organisms/Profile/Posts/Everything.vue';
import Posts from '@/components/Organisms/Profile/Posts/Posts.vue';
import MyBranch from '@/components/Organisms/Profile/Posts/MyBranch.vue';
import Loader from '@/components/Atoms/Loader.vue';
import TabContent from '@/components/Atoms/Tab/TabContent.vue';
import UserFollowButton from '@/components/Organisms/User/UserFollowButton.vue';
import UserTrustButton from '@/components/Organisms/User/UserTrustButton.vue';
import Chip from '@/components/Atoms/Chip/Chip.vue';
import InputTextArea from '@/components/Atoms/Form/InputTextArea.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import AvatarImage from '@/components/Atoms/AvatarImage.vue';
import AvatarCover from '@/components/Atoms/AvatarCover.vue';
import DotsLoader from '@/components/Molecules/Loader/DotsLoader.vue';
import {
	getUserProfile, toggleMuteUser, toggleBlockUser,
	updateProfile,
	type UpdateProfile,
} from '@/composables/useApi/useApi.helpers';
import { Colors, Icons, Status } from '@/types';
import { useUserStore } from '@/store/user';

import { ButtonSettings, ButtonSize, ButtonType } from '@/components/Atoms/Button/Button.model';
import { TabBarPosition, TabType, type TabContent as TabContentType } from '@/components/Atoms/Tab/Tab.model';

import { EventAction, EventChannel, eventBus } from '@/utils/eventBus';

import { popupService } from '@/components/Molecules/Popup/Popup.service';
import ProfileAdmin from '@/components/Organisms/Profile/ProfileAdmin.vue';
import ImageUploader from '@/components/Organisms/ImageUploader/ImageUploader.vue';
import Trusting from '@/components/Organisms/Profile/Trust/Trusting.vue';
import TrustedBy from '@/components/Organisms/Profile/Trust/TrustedBy.vue';
import MyBranches from '@/components/Organisms/Branch/MyBranches.vue';
import FollowedBy from '@/components/Organisms/Profile/Follow/FollowedBy.vue';
import Following from '@/components/Organisms/Profile/Follow/Following.vue';
import type { ContextMenuItem } from '~/components/Atoms/ContextMenu/ContextMenu.model';
import UserTrustPanel from '@/components/Organisms/User/UserTrustPanel.vue';

const tempUpdate = reactive({
	coverPic: '',
	profilePic: '',
	userBio: '',
	profileCenter: {
		x: 0,
		y: 0,
	},
	profileZoom: 1,
	coverCenter: {
		x: 0,
		y: 0,
	},
	coverZoom: 1,
});

const runtimeConfig = useRuntimeConfig();
const userstore = useUserStore();
const { isLoggedIn } = userstore;

const bemm = useBemm('profile');
const route = useRoute();
const isLoading = ref(false);

const slug = computed(() => {
	if (typeof route.params.slug === 'string') {
		return route.params.slug;
	}
	return (route.params.slug ? route.params.slug[0] : '') as string;
});

const pageId = computed(() => {
	if (route.params.slug && route.params.slug[1]) {
		return route.params.slug[1];
	}
	return 'posts-tab';
});

// const isMuted = ref(false);
const isBlocked = ref(false);
const isEditMode = ref(false);
const baseUrlValue = ref(runtimeConfig?.public?.UPLOADS_S3URL);

const editStatus = ref<Status>(Status.IDLE);
const coverUpdateStatus = ref<Status>(Status.IDLE);
const profileUpdateStatus = ref<Status>(Status.IDLE);

const isMe = computed(() => {
	return userData.value?.slug === userstore.getUserSlug;
});

const { data: userData } = useAsyncData(async () => {
	isLoading.value = true;
	const result = await getUserProfile({ slug: slug.value as string });

	if (result.success && result.data.profile) {
		isLoading.value = false;
		return result.data.profile;
	}
	return null;
});

watch(() => userData, () => {
	initDetails();
});

const toXY = (str: string): {
	x: number;
	y: number;
} => {
	const [x, y] = str.split(',').map(v => parseFloat(v.trim()));
	return {
		x: Math.round(x || -50),
		y: Math.round(y || -50),
	};
};
const toXYString = (obj: {
	x: number;
	y: number;
}): string => {
	return `${obj.x},${obj.y}`;
};

const initDetails = () => {
	isBlocked.value = false;
	// isUserBlocked({ slug: slug.value }).then((result) => {
	// 	if (result.data.blocked !== undefined) {
	// 		isBlocked.value = result.data.blocked;
	// 	}
	// });
	if (!userData.value) return;

	tempUpdate.userBio = userData.value.userBio || '';
	tempUpdate.profilePic = userData.value.profilePic || '';
	tempUpdate.coverPic = userData.value.coverPic || '';
	tempUpdate.profileCenter = toXY(userData.value.profilePicCropData?.center || '-50,-50');
	tempUpdate.profileZoom = (userData.value.profilePicCropData?.zoom || 100) / 100;
	tempUpdate.coverCenter = toXY(userData.value.coverPicCropData?.center || '-50,-50');
	tempUpdate.coverZoom = (userData.value.coverPicCropData?.zoom || 100) / 100;
};
initDetails();

const handleEditCover = () => {
	popupService.showPopup({
		component: ImageUploader,
		props: {
			id: 'cover',
			slug: slug.value,
			ratio: [16, 4.5],
		},
		on: {
			image: (data) => {
				tempUpdate.coverPic = data.url;
			},
		},
	});
};

const handleEditProfile = () => {
	popupService.showPopup({
		component: ImageUploader,
		props: {
			id: 'profile',
			slug: slug.value,
			ratio: [1, 1],
			overlay: 'circle',
		},
		on: {
			image: (data) => {
				tempUpdate.profilePic = data.url;
			},
		},
	});
};
const isSelf = computed(() => {
	return userstore.userData?.slug === slug.value;
});

const userAvatar = computed(() => {
	const userDataUrl = userData.value?.profilePic ? `${baseUrlValue.value}${userData.value?.profilePic}` : '';
	const url = tempUpdate.profilePic || userDataUrl || `${baseUrlValue.value}profilepics/${userData.value?.userID}`;

	return url;
});

const userCover = computed(() => {
	const userDataUrl = userData.value?.coverPic ? `${baseUrlValue.value}${userData.value?.coverPic}` : '';
	const url = tempUpdate.coverPic || userDataUrl || `${baseUrlValue.value}coverpics/${userData.value?.userID}`;

	return url;
});

const userBio = computed(() => {
	if (isEditMode.value) {
		return tempUpdate.userBio || userData.value?.userBio || '';
	}
	else {
		return userData.value?.userBio || '';
	}
});

const handleBioChange = (value: string) => {
	tempUpdate.userBio = value;
};

const handleSaveProfile = async () => {
	editStatus.value = Status.LOADING;

	// Create new data
	const id = `userprofile#${slug.value}`;
	const updateData: UpdateProfile = {
		slug: slug.value,
		userID: userData.value?.userID,
		key: {
			pk: id,
			sk: id,
		},
		userBio: userBio.value,
		profilePic: userAvatar.value,
		coverPic: userCover.value,
		profilePicCropData: {
			center: toXYString(tempUpdate.profileCenter),
			zoom: Math.round(tempUpdate.profileZoom * 100),
		},
		coverPicCropData: {
			center: toXYString(tempUpdate.coverCenter),
			zoom: Math.round(tempUpdate.coverZoom * 100),
		},
	};

	// Check if has updates
	if (
		updateData.userBio === userData.value?.userBio
		&& updateData.profilePic === userData.value?.profilePic
		&& updateData.coverPic === userData.value?.coverPic
		&& updateData.coverPicCropData === userData.value?.coverPicCropData
		&& updateData.profilePicCropData === userData.value?.profilePicCropData
	) {
		editStatus.value = Status.IDLE;
		toggleEditMode();
		return;
	}

	// Update

	const result = await updateProfile({ data: updateData });

	if (result.success) {
		editStatus.value = Status.SUCCESS;
		setTimeout(() => {
			editStatus.value = Status.IDLE;
			toggleEditMode();
		}, 1000);
	}
	else {
		editStatus.value = Status.ERROR;
	}
};

const toggleEditMode = () => {
	initDetails();
	if (!isSelf.value) return;
	isEditMode.value = !isEditMode.value;
};

onMounted(() => {
	initDetails();
});

const navigateToEditProfile = () => {
	toggleEditMode();
};

const adminProfilePanel = () => {
	popupService.showPopup({
		component: ProfileAdmin,
		title: slug.value,
		props: {
			slug: slug.value,
		},
	});
};

const setTrust = ({ slug }: { slug: string }) => {
	if (!userData.value) return;
	popupService.showPopup({
		component: UserTrustPanel,
		props: {
			slug: slug,
			name: (userData.value.fname + ' ' + userData.value.lname).trim(),
		},
	});
};

const userContextMenu: Partial<ContextMenuItem>[] = [
	{
		label: 'User information',
		icon: Icons.USER,
		action: () => adminProfilePanel(),
	},
	{
		label: `Trust`,
		icon: Icons.SHIELD,
		disabled: isSelf.value || !isLoggedIn,
		action: () => setTrust({ slug: slug.value }),
	},
	{
		label: 'Block user',
		icon: Icons.CIRCLED_MULTIPLY,
		disabled: isSelf.value || !isLoggedIn,
		action: () => toggleBlockUser({ slug: slug.value }),
	},
	{
		label: 'Mute user',
		icon: Icons.VOLUME_MUTE,
		disabled: !(!isSelf.value && isLoggedIn),
		action: () => toggleMuteUser({ slug: slug.value }),
	},
];

const showFollowersTab = () => {
	eventBus.emit(EventChannel.TABS, {
		action: EventAction.GO,
		data: {
			id: 'tab-follow',
		},
	});
};

const profileTabs: TabContentType[] = [
	{
		label: 'Posts',
		id: 'posts-tab',
		icon: Icons.NOTE,
		path: `/profile/${slug.value}/`,
		children: [{
			label: 'My Branch',
			id: 'my-branch',
			icon: Icons.USER,
			component: markRaw(MyBranch),
			path: `/profile/${slug.value}/my-branch`,
			props: {
				slug: slug.value,
			},
		}, {
			label: 'Everything',
			id: 'everything',
			icon: Icons.SPEECH_BALLOON,
			component: markRaw(Everything),
			path: `/profile/${slug.value}/everything`,
			props: {
				slug: slug.value,
			},
		}, {
			label: 'Posts',
			id: 'posts',
			icon: Icons.NOTE_EDIT,
			component: markRaw(Posts),
			path: `/profile/${slug.value}/posts`,
			props: {
				slug: slug.value,
			},
		}],
	},
	{
		label: 'Trust',
		id: 'trust',
		icon: Icons.SHIELD,
		path: `/profile/${slug.value}/trust`,
		children: [{
			label: 'Trusting',
			id: 'trusting',
			icon: Icons.SHIELD,
			component: Trusting,
			path: `/profile/${slug.value}/trusting`, props: {
				slug: slug.value,
			},
		}, {
			label: 'Trusted By',
			id: 'trusted-by',
			icon: Icons.SHIELD,
			component: TrustedBy,
			path: `/profile/${slug.value}/trusted-by`, props: {
				slug: slug.value,
			},
		}],
	},
	{
		label: 'Follow',
		id: 'follow',
		icon: Icons.HEART,
		path: `/profile/${slug.value}/follow`,
		children: [{
			label: 'Following',
			id: 'following',
			icon: Icons.HEART,
			component: Following,
			path: `/profile/${slug.value}/following`,
			props: {
				slug: slug.value,
			},
		}, {
			label: 'Followers',
			id: 'followers',
			icon: Icons.HEART,
			component: FollowedBy,
			path: `/profile/${slug.value}/followers`,
			props: {
				slug: slug.value,
			},
		}, {
			label: 'Branches',
			id: 'branches',
			icon: Icons.HEART,
			component: MyBranches,
			path: `/profile/${slug.value}/branches`,
			props: {
				slug: slug.value,
			},
		}],
	},
];
</script>

<style lang="scss">
.tab-content {

	@include global.mobile-only {
		--tab-content-header-border-radius: var(--border-radius);
		--tab-content-header-background-color: var(--background);
	}
}

.profile {
	padding: var(--space);
	padding-top: var(--space);
	--avatar-size: 4em;
	--post-list-padding: var(--space);
	--tab-group-width: 100%;

	@include global.mobile-only() {
		padding: 0
	}

	&__profile-picture {
		box-shadow: 0 0 0 4px var(--background);
	}

	&__header {
		position: relative;
	}

	&__cover {
		width: 100%;
		aspect-ratio: 16/4.5;
	}

	&__user {
		position: relative;
		padding: var(--space);
		display: flex;
		gap: var(--space);
		margin-top: calc(var(--spacing) * -0.5);
		justify-content: center;
		align-items: flex-start;

		@include global.mobile-only() {
			margin-top: var(--space);
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;
			padding: 0;
			gap: 0;
		}
	}

	&__user-avatar {
		position: relative;
		grid-area: avatar;
		flex-shrink: 0;
		border-radius: 50%;
		border: 4px solid var(--background);

		@include global.mobile-only {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -80%);
		}

	}

	&__user-avatar-container {
		border-radius: 50%;
		overflow: hidden;
		width: 4em;
		height: 4em;
	}

	&__user-info {
		grid-area: info;
		display: flex;
		flex-direction: column;
		gap: var(--space-s);
		background-color: var(--background);
		padding: var(--space);
		border-radius: var(--border-radius);
		justify-content: center;
		flex-shrink: 1;
		flex-wrap: wrap;
		width: 100%;

		// @include global.mobile-only() {
		// 	padding: var(--space-s) 0;
		// }
	}

	&__name {
		display: flex;
		gap: var(--space-s);
		flex-wrap: wrap;
		align-items: center;

		@include global.mobile {
			h3 {
				font-size: 1em;
			}

		}
	}

	&__description {
		opacity: .75;
		font-size: .8em;
		grid-area: description;
	}

	&__stats {
		display: flex;
		gap: calc(var(--space) / 2);
	}

	&__actions {
		grid-area: actions;
		display: flex;
		gap: var(--space);
		align-items: center;
		flex-wrap: wrap;
		flex-direction: column;
	}

	&__main {
		position: sticky;
		top: 0;

		@include global.mobile-only {
			margin-top: var(--space);
			--post-list-padding: 0;

		}
	}

	&__edit-profile-button {}

	// &__button {
	// 	&--edit-profile {
	// 		position: absolute;
	// 		top: 0;
	// 		right: 0;
	// 	}
	// }

	&__edit-actions {
		position: absolute;
		top: var(--space);
		right: var(--space);
		display: flex;
	}

}

pre {
	width: 400px;
	overflow: scroll;
	height: fit-content;
}
</style>
