<!-- Popup.vue -->
<template>
	<Teleport to="body">
		<template
			v-for="popup in popups"
			:key="popup.id"
		>
			<div
				:id="popup.id"
				:class="[
					bemm(''),
					bemm('', popup.config.position),
					bemm('', popup.config.hasBackground ? 'has-background' : ''),
					bemm('', `stack-${popup.id}`),
					bemm('', popup.state.closing ? 'closing' : ''),
				]"
			>
				<div
					v-if="popup.config.hasBackground"
					:class="bemm('background')"
					@click="popupService.closePopup(popup.id)"
				/>
				<div :class="bemm('wrapper')">
					<div :class="bemm('container')">
						<header
							v-if="hasSlot('header') || popup.title"
							:class="bemm('header')"
						>
							<h4
								v-if="popup.title"
								:class="bemm('header-title')"
							>
								{{ popup.title }}
							</h4>
							<p
								v-if="popup.description"
								:class="bemm('header-description')"
							>
								{{ popup.description }}
							</p>
							<slot name="header" />
							<Button
								v-if="popup.config.canClose"
								:class="bemm('close')"
								:icon="Icons.MULTIPLY_M"
								:size="ButtonSize.SMALL"
								@click="popupService.closePopup(popup.id)"
							/>
						</header>

						<div :class="bemm('content')">
							<component
								:is="popup.component"
								v-bind="popup.props"
								@close="popupService.closePopup(popup.id)"
							/>
						</div>
						<footer
							v-if="hasSlot('footer')"
							:class="bemm('footer')"
						>
							<slot name="footer" />
							<component
								:is="popup.footer"
								v-if="popup.footer"
								v-bind="popup.props"
								@close="popupService.closePopup(popup.id)"
							/>
						</footer>
					</div>
				</div>
			</div>
		</template>
	</Teleport>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import { popupService } from './Popup.service';
import { ButtonSize } from '@/components/Atoms/Button/Button.model';
import { Icons } from '@/types';
import type { EventData } from '@/utils/eventBus';
import { EventChannel, EventAction, EventKeys } from '~/utils/eventBus';

import Button from '@/components/Atoms/Button/Button.vue';

const bemm = useBemm('popup');

const popups = computed(() => {
	return popupService.popups.value;
});

// Handle escape key and event bus
eventBus.on(EventChannel.UI, (p) => {
	const payload = p as EventData;
	if (payload.action === EventAction.KEY && payload.data.key === EventKeys.ESCAPE) {
		popupService.closePopup();
	}
});

eventBus.on(EventChannel.POPUP, (p) => {
	const payload = p as EventData;

	switch (payload.action) {
		case EventAction.OPEN:
			if (payload.data?.id) {
				popupService.showPopup({ component: payload.data.component, ...payload.data });
			}
			break;
		case EventAction.CLOSE:
			if (payload.data?.id) {
				popupService.closePopup(payload.data.id);
			}
			break;
		case EventAction.FORCE_CLOSE:
			popupService.closeAllPopups();
			break;
	}
});

const $slots = useSlots();
const hasSlot = (name: string) => {
	return !!$slots[name];
};
</script>

<style lang="scss" scoped>
.popup {
	$b: &;
	position: fixed;
	z-index: 100;
	margin: 0 auto;

	top: 0;
	left: 0;
	inset: 0;
	background-color: transparent;
	width: 100svw;
	height: 100svh;
	border: none;

	display: flex;
	overflow: scroll;

	// Stack popups using their unique IDs
	&--stack {
		z-index: calc(100 + var(--popup-stack-index, 0));
	}

	&__background {
		position: fixed;
		top: 0;
		inset: 0;
		background-color: color-mix(in srgb, var(--accent-dark), transparent 80%);
		backdrop-filter: blur(5px);
		animation: backgroundFadeIn 0.3s var(--bezier) forwards;
		height: 100vh; width: 100vw;
	}

	&__wrapper {
		width: 100vw;
		margin: auto;
		overflow: scroll;
		height:fit-content;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;
		margin: var(--spacing);
		overflow:visible;

		@include global.mobile-only() {
			width: 100%;
			padding: var(--space-xs);
			padding-bottom: calc(var(--spacing) * 2 + var(--space))
		}
	}

	&__container {
		position: relative;
		margin: auto;
		z-index: var(--popup-container-z-index, 6);
		background: var(--popup-container-background, var(--background));
		border-radius: var(--popup-border-radius, var(--border-radius));
		height: fit-content;
		color: var(--popup-container-color, var(--foreground));
		max-width: 960px;
		width: fit-content;
		animation: containerComeIn .3s var(--bezier) forwards;
		transform: scale(.75) translateY(var(--spacing));
		opacity: 0;

	}

	&__content {
		padding: var(--popup-padding, var(--space));

		@include global.desktop-up() {
			width: var(--popup-width, fit-content);
		}
	}

	&__close {
		position: absolute;
		z-index: 5;
		top: calc(var(--popup-padding, var(--space)));
		right: calc(var(--popup-padding, var(--space)));
		--button-background-color: transparent;
		--button-background-color--hover: var(--tertiary);
	}

	&--bottom {
		.popup__wrapper {
			align-items: flex-end;
		}
	}

	&--top {
		.popup__wrapper {
			align-items: flex-start;
		}
	}

	&__header {
		padding: var(--popup-padding, var(--space));

		border-radius: inherit;
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		border-bottom: 1px solid color-mix(in srgb, var(--tertiary), transparent 80%);

		background-color: color-mix(in srgb, var(--tertiary), transparent 90%);
		z-index: 10;
		position: sticky; top: 0;
	}

	&__header-title {
		font-size: 1em;
		font-weight: 600;
		color: var(--tertiary)
	}

	&--closing{
		.popup__container {
			animation: containerGoAway 1s ease-in-out forwards;
		}
		.popup__background{
			animation: backgroundFadeOut .5s ease-in-out forwards;
		}
	}
}

@keyframes backgroundFadeIn {
	to {
		opacity: 1;
	}
}

@keyframes backgroundFadeOut {
	to {
		opacity: 0;
	}
}
@keyframes containerComeIn {
	to {
		transform: scale(1) translateY(0);
		opacity: 1;
	}
}
@keyframes containerGoAway {
	to {
		transform: scale(.75) translateY(100%);
		opacity: 0;
	}
}
</style>
