<template>
	<div :class="bemm()">
		<header :class="bemm('header')">
			<H4>{{ t('Profile.edit-profile') }}</H4>
		</header>

		<main :class="bemm('main')">
			<section>
				<FormField :label="t('Profile.details-label')">
					<InputText
						:value="formProfile.slug"
						:label="t('Profile.slug-label')"
						size="small"
						:description="t('Profile.slug-description')"
						:error="slugError"
						@change="handleSlugChange($event)"
					/>
					<InputTextArea
						:value="formProfile.description"
						:label="t('Profile.description-label')"
						:description="t('Profile.description-description')"
						:error="descriptionError"
						@change="handleDescriptionChange($event)"
					/>
				</FormField>

				<FormField :label="t('Profile.settings-label')">
					<InputSelectColor
						:value="formProfile.color"
						:options="colorOptions"
						:collapse="{ collapse: true, auto: true }"
						:label="t('Profile.color-label')"
						:description="t('Profile.color-description')"
						:error="colorError"
						@change="handleColorChange($event)"
					/>
				</FormField>

				<FormField :label="t('Profile.images-label')">
					<InputImage
						:value="formProfile.profileImage"
						:label="t('Profile.profile-picture-label')"
						@change="handleProfileImageChange($event)"
					/>
					<InputImage
						:value="formProfile.coverImage"
						:label="t('Profile.cover-image-label')"
						@change="handleCoverImageChange($event)"
					/>
				</FormField>
			</section>
		</main>

		<footer :class="bemm('footer')">
			<template v-if="serverError.length">
				<Card
					v-for="error in serverError"
					:key="error"
					:color="Colors.ERROR"
				>
					{{ serverError }}
				</Card>
			</template>

			<ButtonGroup :align="ButtonGroupAlign.CENTER">
				<Button
					:class="bemm('button')"
					:color="ButtonSettings.Color.PRIMARY"
					:icon="isNew ? ButtonSettings.Icon.PLUS : ButtonSettings.Icon.NOTE_EDIT"
					:status="formStatus"
					:size="ButtonSettings.Size.LARGE"
					@click="handleSave()"
				>
					{{ t('Profile.update-profile-button') }}
				</Button>
			</ButtonGroup>
		</footer>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { useI18n } from 'vue-i18n';
import { kebabCase } from '@sil/case';
import { BaseColors, Colors, Status } from '../../../types';

import Button from '../../Atoms/Button/Button.vue';
import { ButtonSettings } from '../../Atoms/Button/Button.model';
import FormField from '../../Atoms/Form/FormField.vue';
import Card from '../../Atoms/Card/Card.vue';
import type { Branch } from '@/composables/useBranches/branches.model';
import { getUserProfile, updateProfile, type UpdateProfile } from '@/composables/useApi';
import { Routes } from '@/data/routes';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';
import { useUserStore } from '~/store/user';

const props = defineProps({
	branch: {
		type: Object as PropType<Branch>,
		required: false,
	},
});

const formStatus = ref<Status>(Status.IDLE);
const isNew = ref(!props.branch);

const bemm = useBemm('create-branch');
const { t } = useI18n();

const userStore = useUserStore();

interface ColorOption {
	label: string;
	value: string;
}

const colorOptions = computed<ColorOption[]>(() => {
	return Object.values(BaseColors).map((color) => {
		return {
			label: color,
			value: color,
		};
	});
});

const formProfile = reactive({
	slug: '',
	description: '',
	color: '',
	coverImage: '',
	profileImage: '',
});

enum FormFieldType {
	SLUG = 'slug',
	DESCRIPTION = 'description',
	COLOR = 'color',
	SERVER = 'server',
}

onMounted(async () => {
	const result = await getUserProfile({
		slug: userStore.getUserSlug,
	});
	if (result.success && result.data.profile) {
		formProfile.slug = result.data.profile.slug;
		formProfile.description = result.data.profile.userBio;
		formProfile.color = result.data.profile.userColour;
		formProfile.coverImage = result.data.profile.coverPic;
		formProfile.profileImage = result.data.profile.profilePic;
	}
	if (result.error) handleErrors(result.error);
});

const handleSlugChange = (slug: string) => {
	resetError(FormFieldType.SLUG);
	formProfile.slug = kebabCase(slug);
};

const handleDescriptionChange = (description: string) => {
	resetError(FormFieldType.DESCRIPTION);
	formProfile.description = description;
};

const handleColorChange = (color: string) => {
	resetError(FormFieldType.COLOR);
	formProfile.color = color;
};

const handleCoverImageChange = (value: string) => {
	formProfile.coverImage = value;
};

const handleProfileImageChange = (value: string) => {
	formProfile.profileImage = value;
};

const errors = ref<{ message: string; field: FormFieldType }[]>([]);
const getErrorsByField = (field: FormFieldType) => {
	return errors.value.filter(error => error.field === field).map(error => error.message);
};
const resetError = (field: FormFieldType) => {
	errors.value = errors.value.filter(error => error.field !== field);
};

const setError = (field: FormFieldType, message: string) => {
	errors.value.push({ message, field });
};

const slugError = computed(() => getErrorsByField(FormFieldType.SLUG));
const descriptionError = computed(() => getErrorsByField(FormFieldType.DESCRIPTION));
const colorError = computed(() => getErrorsByField(FormFieldType.COLOR));
const serverError = computed(() => getErrorsByField(FormFieldType.SERVER));

const checkForm = (): boolean => {
	let pass = true;

	if (!formProfile.slug) {
		setError(FormFieldType.SLUG, t('Profile.error-slug-required'));
		pass = false;
	}
	if (!formProfile.description) {
		setError(FormFieldType.DESCRIPTION, t('Profile.error-description-required'));
		pass = false;
	}
	if (!formProfile.color) {
		setError(FormFieldType.COLOR, t('Profile.error-color-required'));
		pass = false;
	}

	return pass;
};

const handleErrors = (errors: Error) => {
	if (errors) {
		setError(FormFieldType.SERVER, errors as unknown as string);
	}
};
const handleSave = async () => {
	formStatus.value = Status.LOADING;

	if (!checkForm()) {
		formStatus.value = Status.IDLE;
		return;
	}

	const profileData: UpdateProfile = {
		key: {
			pk: `userprofile#${userStore.getUserID}`,
			sk: `userprofile#${userStore.getUserID}`,
		},
		coverPic: formProfile.coverImage,
		profilePic: formProfile.profileImage,
		userBio: formProfile.description,
	};

	const result = await updateProfile({ data: profileData });

	if (result.error) handleErrors(result.error);

	if (result.success) {
		formStatus.value = 'success';
		setTimeout(() => {
			const { slug } = (result.data as any) || { slug: '' };

			navigateTo({ name: Routes.BRANCH_DETAIL, params: { slug } });
			setTimeout(() => {
				forceCloseModals();
			}, 500);
		}, 1000);
	}
};
</script>

<style lang="scss">
.create-branch {
	display: flex;
	flex-direction: column;
	gap: var(--space);

	max-width: 900vw;
	width: 480px;
	margin: 0 auto;

	&__main {
		display: flex;
		flex-direction: column;
		gap: var(--space);
	}

	&__footer {
		margin-top: 1.5rem;
	}

	&__footer {
		display: flex;
		flex-direction: column;
		gap: var(--space);
	}

	&__inline {
		display: flex;
		flex-direction: row;
		gap: var(--space);
		align-items: flex-start;

		.input-text {
			width: 100%;
		}
	}
}
</style>
