<template>
	<header :class="bemm('header')">
		<InputSwitch
			v-model="viewMode"
			:options="switchOptions"
		/>
	</header>
	<div :class="bemm()">
		<div v-if="viewMode === ViewMode.MY_BRANCH">
			<ProfileBranch />
		</div>

		<div v-else-if="viewMode === ViewMode.COMMENTS">
			<ProfileEverything />
		</div>

		<div v-if="viewMode === ViewMode.POSTS">
			<ProfilePosts />
		</div>
	</div>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import type { PropType } from 'vue';
import ProfileEverything from '../Profile/Posts/Everything.vue';
import ProfileBranch from '../Profile/Posts/MyBranch.vue';
import ProfilePosts from '../Profile/Posts/Posts.vue';
import { ViewMode } from '../User/ViewPage.model';
import { type User } from '@/types';

// const userstore = useUserStore();

const bemm = useBemm('posts-page');

const props = defineProps({
	slug: {
		type: String as PropType<User['slug']>,
		required: true,
	},
	activeTab: {
		type: String as PropType<ViewMode>,
		default: ViewMode.MY_BRANCH,
	},
	showBranch: {
		type: Boolean,
		default: true,
	},
	showPosts: {
		type: Boolean,
		default: true,
	},
	showComments: {
		type: Boolean,
		default: true,
	},
});

const switchOptions = computed(() => {
	const options = [];
	if (props.showBranch) {
		options.push({ label: 'My Branch', value: ViewMode.MY_BRANCH });
	}
	if (props.showPosts) {
		options.push({ label: 'My Posts', value: ViewMode.POSTS });
	}
	if (props.showComments) {
		options.push({ label: 'Everything', value: ViewMode.COMMENTS });
	}
	return options;
});

const viewMode = ref<ViewMode>(props.activeTab as ViewMode);
</script>

<style lang="scss">
.posts-page {
	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--space);

		--input-switch-padding: var(--space-s);
		--input-switch-border: 1px solid var(--accent);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: var(--space-s);
	}

	&__user {
		border: var(--border-radius);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: var(--space-s);
		font-size: .875em;
		border-radius: var(--border-radius);
		padding: var(--space-s);

		&:hover {
			background-color: color-mix(in srgb, var(--tertiary-rgb), 0.125);
		}
	}

	&__name {
		font-size: .75em;

	}

}
</style>
