<template>
	<div :class="bemm()">
		<header :class="bemm('header')">
			<InputSwitch
				v-if="users"
				v-model="mode"
				:options="[
					{ label: 'Trusting', value: 'trusting' },
					{ label: 'Trusted', value: 'trusted' },
				]"
			/>
		</header>
		<div
			v-if="isLoading"
			:class="bemm('loading')"
		>
			<DotsLoader />
		</div>

		<template v-else>
			<div
				v-for="(user, idx) in users"
				:key="idx"
				:class="bemm('user-list')"
			>
				<UserCard
					v-if="user && mode == 'trusted'"
					:is-trust="true"
					:user="user.data.createdByUser"
				/>
				<UserCard
					v-if="user && mode == 'trusting'"
					:is-trust="true"
					:user="user.data.parentUser"
				/>
			</div>
		</template>
	</div>
	<div v-if="!isLoading && users && !users.length">
		<EmptyMessage
			:icon="Icons.USER_DELETE"
			message="No users found"
		/>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
// import PostList from '@/components/Organisms/Post/PostList.vue';
import { getTrustFromUser, getTrustOfUser } from '@/composables/useApi';
import DotsLoader from '@/components/Molecules/Loader/DotsLoader.vue';
import { Icons } from '~/types';

const bemm = useBemm('profile-trusted');
const isLoading = ref(true);
const route = useRoute();

const mode = ref<'trusting' | 'trusted'>('trusting');

watch(() => mode.value, () => {
	refresh();
});

const { data: users, refresh } = await useLazyAsyncData('users', async () => {
	isLoading.value = true;

	const slug = route.params.slug as string;

	const result = mode.value == 'trusting'
		? await getTrustOfUser({ slug })
		: await getTrustFromUser({ slug });

	if (!result || !result.success) {
		isLoading.value = false;
		return [];
	}
	if (result.success) {
		isLoading.value = false;
		return result.data.users || [];
	}
});
</script>

<style lang="scss">
.profile-trusted {
	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--space);

		--input-switch-padding: var(--space-s);
		--input-switch-border: 1px solid var(--accent);
	}

	&__user-list {
		padding: var(--space);
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: var(--space-s);
		padding: var(--space);
		flex-direction: column;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: var(--space);

		--input-switch-padding: var(--space-s);
		--input-switch-border: 1px solid var(--accent);
	}
}
</style>
