<template>
	<div :class="bemm()">
		<div :class="bemm('container')">
			<UserDetails :slug="slug" />

			<kickUser
				v-if="isAdmin"
				:slug="slug"
			/>

			<GDPRUser
				v-if="isAdmin"
				:slug="slug"
			/>

			<UserGroups
				v-if="isAdmin"
				:slug="slug"
			/>
		</div>
	</div>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import GDPRUser from './AdminSections/GDPRUser.vue';
import KickUser from './AdminSections/KickUser.vue';
import UserDetails from './AdminSections/UserDetails.vue';
import UserGroups from './AdminSections/UserGroups.vue';
import { useUserStore } from '~/store/user';

const bemm = useBemm('profile-admin');

const isAdmin = computed(() => {
	return useUserStore().isAdmin;
});

defineProps({
	slug: {
		type: String,
		required: true,
	},
});
</script>

<style lang="scss">
.profile-admin {
	$b: &;
	display: flex;
	flex-direction: column;
	gap: var(--space);

	&__header {
		display: flex;
		gap: var(--space);
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: var(--space);
	}

}
</style>
