<template>
	<header :class="bemm('header')">
		<InputSwitch
			v-if="followData"
			v-model="viewMode"
			:options="switchOptions"
		/>
	</header>
	<div :class="bemm()">
		<div
			v-if="status == Status.LOADING"
			:class="bemm('loading')"
		>
			<DotsLoader />
		</div>
		<ul
			v-if="followData"
			:class="bemm('list')"
		>
			<li
				v-for="item in showData"
				:key="item.slug"
				:class="bemm('item')"
			>
				<div v-if="viewMode === ViewMode.FOLLOWERS">
					<UserCard
						:is-follow="true"
						:user="item as User"
					/>
				</div>

				<div v-if="viewMode === ViewMode.FOLLOWING">
					<UserCard
						:is-follow="true"
						:user="item as User"
					/>
				</div>

				<div v-if="viewMode === ViewMode.BRANCHES">
					<BranchItemDetail
						:logged-in="userstore.isLoggedIn"
						:branch="item as Branch"
					/>
				</div>
			</li>
		</ul>
	</div>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import type { PropType } from 'vue';
import { ViewMode } from '../User/ViewPage.model';
import { Status, type User } from '@/types';
import { getPeopleFollowingUser, getPeopleUserIsFollowing, getBranches } from '@/composables/useApi';
import type { Branch } from '@/composables/useBranches/branches.model';
import BranchItemDetail from '@/components/Organisms/Branch/BranchCard.vue';
import { useUserStore } from '~/store/user';

const userstore = useUserStore();

const bemm = useBemm('follow-page');

const status = ref<Status>(Status.LOADING);

const cachedData = reactive({
	following: [] as User[],
	followers: [] as User[],
	branches: [] as Branch[],
});

const props = defineProps({
	slug: {
		type: String as PropType<User['slug']>,
		required: true,
	},
	activeTab: {
		type: String as PropType<ViewMode>,
		default: ViewMode.FOLLOWING,
	},
	showFollowing: {
		type: Boolean,
		default: true,
	},
	showFollowers: {
		type: Boolean,
		default: true,
	},
	showBranches: {
		type: Boolean,
		default: true,
	},
});

const switchOptions = computed(() => {
	const options = [];
	if (props.showFollowing) {
		options.push({ label: 'Following', value: 'following', count: cachedData.following.length });
	}
	if (props.showFollowers) {
		options.push({ label: 'Followers', value: 'followers', count: cachedData.followers.length });
	}
	if (props.showBranches) {
		options.push({ label: 'Branches', value: 'branches', count: cachedData.branches.length });
	}
	return options;
});

const viewMode = ref<ViewMode>(props.activeTab as ViewMode);

interface ShowData { following: User[]; followers: User[]; branches: Branch[] };

const { data: followData, refresh } = useLazyAsyncData(async () => {
	const emptyFollowData: ShowData = {
		following: [],
		followers: [],
		branches: [],
	};

	if (!props.slug) {
		status.value = Status.IDLE;
		return emptyFollowData;
	}

	const resultFollowing = viewMode.value === ViewMode.FOLLOWING ? await getPeopleUserIsFollowing({ slug: props.slug }) : { success: true, data: { items: [] } };
	const resultFollowers = viewMode.value === ViewMode.FOLLOWERS ? await getPeopleFollowingUser({ slug: props.slug }) : { success: true, data: { items: [] } };
	const resultBranches = viewMode.value === ViewMode.BRANCHES ? await getBranches({ slug: props.slug }) : { success: true, data: { branches: [] } };

	if (resultFollowing.success === false || resultFollowers.success === false || resultBranches.success === false) {
		return {
			following: [],
			followers: [],
			branches: [],
		};
	}

	status.value = Status.IDLE;
	return {
		following: resultFollowing.data.items.length ? resultFollowing.data.items : cachedData.following,
		followers: resultFollowers.data.items?.length ? resultFollowers.data.items : cachedData.followers,
		branches: resultBranches.data.branches.length ? resultBranches.data.branches : cachedData.branches,
	};
});

/**
 * Lazy load other options, initially the first load will always be loaded.
 * This is to prevent loading all data at once.
 */
const lazyLoadOtherOptions = async () => {
	if (viewMode.value !== ViewMode.FOLLOWING && props.showFollowing) {
		const result = await getPeopleUserIsFollowing({ slug: props.slug });
		if (result.success && result.data.items) {
			cachedData.following = result.data.items;
		}
	}
	if (viewMode.value !== ViewMode.FOLLOWERS && props.showFollowers) {
		const result = await getPeopleFollowingUser({ slug: props.slug });
		if (result.success && result.data.items) {
			cachedData.followers = result.data.items;
		}
	}
	if (viewMode.value !== ViewMode.BRANCHES && props.showBranches) {
		const result = await getBranches({ slug: props.slug });
		if (result.success && result.data.branches) {
			cachedData.branches = result.data.branches;
		}
	}
};

onMounted(() => {
	lazyLoadOtherOptions();
});

watch(() => viewMode.value, () => {
	refresh();
});

watch(() => followData.value, () => {
	if (!followData.value) return;

	cachedData.following = (followData.value as ShowData).following;
	cachedData.followers = (followData.value as ShowData).followers;
	cachedData.branches = (followData.value as ShowData).branches;
});

const showData = computed(() => {
	if (!followData.value) return [];

	if (viewMode.value === ViewMode.FOLLOWING) {
		return (followData.value as ShowData).following || [];
	}
	if (viewMode.value === ViewMode.FOLLOWERS) {
		return (followData.value as ShowData).followers || [];
	}
	if (viewMode.value === ViewMode.BRANCHES) {
		return (followData.value as ShowData).branches || [];
	}
	return [];
});
</script>

<style lang="scss">
.follow-page {
	&__header {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: var(--space);

		--input-switch-padding: var(--space-s);
		--input-switch-border: 1px solid var(--accent);
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: var(--space-s);
	}

	&__user {
		border: var(--border-radius);
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: var(--space-s);
		font-size: .875em;
		border-radius: var(--border-radius);
		padding: var(--space-s);

		&:hover {
			background-color: color-mix(in srgb, var(--tertiary-rgb), 0.125);
		}
	}

	&__name {
		font-size: .75em;

	}

}
</style>
