<template>
	<div :class="bemm()">
		<Banner
			v-if="postError"
			:type="BannerType.ERROR"
		>
			{{ t('Profile.post-error') }}
		</Banner>
		<div
			v-if="showEditor"
			:class="bemm('form')"
		>
			<Editor
				v-model="editorValue"
			/>
			<ButtonGroup :align="ButtonGroupAlign.RIGHT">
				<Button
					:size="ButtonSettings.Size.SMALL"
					:color="ButtonSettings.Color.PRIMARY"
					:icon="ButtonSettings.Icon.EDIT_M"
					:status="status"
					@click="handlePost"
				>
					{{ t('Profile.post-button') }}
				</Button>
			</ButtonGroup>
		</div>

		<ButtonGroup
			v-if="!showEditor"
			:align="ButtonGroupAlign.CENTER"
			:style="`--button-group-width: 100%`"
		>
			<Button
				:size="ButtonSettings.Size.SMALL"
				:color="ButtonSettings.Color.TERTIARY"
				:icon="ButtonSettings.Icon.EDIT_M"
				@click="handleShowEditor()"
			>
				{{ t('Profile.write-post-to', { slug: props.slug }) }}
			</Button>
		</ButtonGroup>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { useI18n } from 'vue-i18n';
import Editor from '@/components/Organisms/Editor/Editor.vue';
import type { PostImage } from '@/components/Organisms/Editor/Editor.model';
import Banner from '@/components/Atoms/Banner/Banner.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import { ButtonStatus, ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { BannerType } from '@/components/Atoms/Banner/Banner.model';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';
import { commentOnProfile } from '@/composables/useApi';

const postError = ref<string | null>(null);
const bemm = useBemm('profile-comment');
const status = ref<ButtonStatus>(ButtonStatus.IDLE);
const showEditor = ref(false);
const { t } = useI18n();

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
});

const post = reactive({
	comment: '',
});

const editorValue = ref<{
	content: { html: string; md: string };
	images: PostImage[];
}>({
	content: { html: '', md: '' },
	images: [],
});

const resetPost = () => {
	editorValue.value.content.html = '';
	editorValue.value.content.md = '';
};

const emit = defineEmits(['success']);

const handlePost = async () => {
	status.value = ButtonStatus.LOADING;

	try {
		const result = await commentOnProfile({
			slug: props.slug,
			comment: editorValue.value.content.html,
		});

		if (result.success) {
			status.value = ButtonStatus.SUCCESS;
			emit('success');
			setTimeout(() => {
				post.comment = '';
				postError.value = null;
				status.value = ButtonStatus.IDLE;
				resetPost();
			}, 1500);
		}
		else {
			status.value = ButtonStatus.ERROR;
			postError.value = t('Profile.post-error');
		}
	}
	catch (error) {
		status.value = ButtonStatus.ERROR;
		console.error(error);
	}
};

const handleShowEditor = () => {
	showEditor.value = !showEditor.value;
};
</script>

<style lang="scss">
.profile-comment {
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		gap: var(--space-s);

		>* {
			width: 100%;
		}
	}

	.editor {
		--editor-padding: var(--space);
	}
}
</style>
