@forward "sections";
@forward "typography";
@forward "color/color";
@forward "reset";
@forward "content";
@forward "media";
@forward "base";
@forward "icon-animations";

body,
html {
  margin: 0;
  overflow: hidden;
  background: var(--background);
}

body {
  background-color: var(--background);
  background-attachment: fixed;
  background-size: 100% 100%;
  color: var(--foreground);
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family:
    "Inter",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  scroll-behavior: smooth;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  height: 100svh;
  width: 100vw;
  overflow: hidden;
}

