.content {
  > p {
    line-height: 1.75;
    &:first-of-type {
      font-size: 1.1em;
    }
  }
  > * {
    & + * {
      margin-top: var(--space);
    }
  }

  dl {
    counter-reset: name;
    dd + dt {
      margin-top: 1em;
    }
    &:has(dt ~ dt) {
      dt {
        counter-increment: name;
        &::before {
          content: counter(name) ".";
          margin-right: 0.5em;
        }
      }
      dd {
        font-weight: 300;
        opacity: 0.5;
        padding-left: var(--space);
        margin-top: 0.5em;
      }
    }
  }
}

a {
  color: currentColor;
  text-decoration: none;
}
h1 {
  font-size: calc(var(--spacing) * 0.75);
}

.dot{
  width: var(--dot-size,.5em); height: var(--dot-size,.5em); border-radius: 50%;
  display: block; background-color: var(--dot-color, currentColor);
}

hr {
  width: 100%; height: 2px;
  background-color: var(--accent);
  color: var(--accent);
  border:none;
}
