@mixin mobile-only() {
  @media screen and (width <= 50em) {
    @content;
  }
}
@mixin mobile-up() {
  @media screen and (width >= 50em) {
    @content;
  }
}

@mixin tablet(){
  @media screen and (width >= 50em) and (width <= 66em) {
    @content;
  }
}
@mixin desktop(){
  @media screen and (width >= 50em) {
    @content;
  }
}
@mixin mobile(){
  @media screen and (width <= 50em) {
    @content;
  }
}
@mixin max(){
  @media screen and (width >= 80em) {
    @content;
  }
}

// Tablet is the not mobile screen, but when
// the main navigation is vertical. Desktop does include tablet too
@mixin tablet-down() {
  @media screen and (width <= 66em) {
    @content;
  }
}

// Desktop is the screen which are not mobile, when we have the "normal" navigation
@mixin desktop-up() {
  @media screen and (width >= 66em) {
    @content;
  }
}
@mixin desktop-down() {
  @media screen and (width <= 66em) {
    @content;
  }
}

// Max is the screen when the it hit the max width.
@mixin max-down{
  @media screen and (width <= 120em) {
    @content;
  }
}
@mixin max-up{
  @media screen and (width >= 120em) {
    @content;
  }
}


@mixin non-touch-device(){
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

@mixin hideScrollbars{
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
