<template>
	<div :class="bemm()">
		<div
			v-if="isLoading"
			:class="bemm('loading')"
		>
			<SkeletonPost
				v-for="i in 5"
				:key="i"
			/>
		</div>
		<template v-else>
			<EmptyMessage
				v-if="!posts?.items?.length"
				message="User doesnt have posts yet"
			/>
			<PostList v-if="posts && posts.items">
				<template v-for="item in posts.items">
					<Post
						v-if="isPost(item)"
						:key="item.postID"
						:post="item"
					/>
					<Comment
						v-if="isComment(item)"
						:key="item.pk"
						:comment="item"
					/>
				</template>
			</PostList>
		</template>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import Post from '../../Post/Post.vue';
import Comment from '../../Comment/Comment.vue';
import PostList from '../../Post/PostList.vue';
import { getUserEverything } from '@/composables/useApi';
import SkeletonPost from '@/components/Organisms/Post/SkeletonPost.vue';
import { isPost, isComment } from '@/utils';
import EmptyMessage from '@/components/Molecules/EmptyMessage.vue';

const bemm = useBemm('posts-everything');

const isLoading = ref(true);

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
});

const { data: posts } = await useLazyAsyncData('posts', async () => {
	isLoading.value = true;

	const result = await getUserEverything({ slug: props.slug }).then((res) => {
		isLoading.value = false;
		return res;
	});

	if (!result) {
		isLoading.value = false;
		return;
	}
	if (result.success) {
		isLoading.value = false;
		return result.data;
	}
	else {
		isLoading.value = false;
	}
});
</script>
