<template>
	<div :class="bemm()">
		<!-- <div :class="bemm('create')">
			<ProfileComment
				:slug="slug"
				@success="refresh"
			/>
		</div> -->

		<div
			v-if="pending"
			:class="bemm('loading')"
		>
			<SkeletonPost
				v-for="i in 5"
				:key="i"
			/>
		</div>

		<template v-else-if="posts?.items">
			<EmptyMessage
				v-if="!posts.items.length"
				message="User doesn't have posts yet"
			/>

			<PostList v-else>
				<template
					v-for="(item, idx) in posts.items"
				>
					<Post
						v-if="isPost(item)"
						:key="`post-${idx}`"
						:post="item"
					/>
					<Comment
						v-else-if="isComment(item)"
						:key="`comment-${idx}`"
						:comment="item"
					/>
				</template>
			</PostList>
		</template>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import PostList from '../../Post/PostList.vue';
// import ProfileComment from '../ProfileCommentBox.vue';
import Comment from '../../Comment/Comment.vue';
import Post from '../../Post/Post.vue';
import SkeletonPost from '@/components/Organisms/Post/SkeletonPost.vue';
import { getUserBranch } from '@/composables/useApi';
import { isPost, isComment } from '@/utils';
import EmptyMessage from '@/components/Molecules/EmptyMessage.vue';
import { EventAction, EventChannel, type EventData } from '~/utils/eventBus';

const bemm = useBemm('posts-my-branch');

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
});

const { data: posts, refresh, pending } = await useAsyncData('posts', () =>
	getUserBranch({ slug: props.slug }).then(result => ({
		items: result?.data?.items || [],
	})),
);

eventBus.on(EventChannel.POST, (p) => {
	const payload = p as EventData;
	if (payload.action == EventAction.CREATED) {
		refresh();
	}
});
</script>

<style lang="scss">
.profile-branch {
	&__create {
		padding: var(--space);
	}
}
</style>
