<template>
	<div :class="bemm()">
		<div
			v-if="isLoading"
			:class="bemm('loading')"
		>
			<SkeletonPost
				v-for="i in 5"
				:key="i"
			/>
		</div>
		<template v-else>
			<EmptyMessage
				v-if="!posts?.items?.length"
				message="User doesnt have posts yet"
			/>
			<PostList v-if="posts">
				<Post
					v-for="post in posts.items"
					:key="post.postID"
					:post="post"
				/>
			</PostList>
		</template>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import Post from '../../Post/Post.vue';
import SkeletonPost from '@/components/Organisms/Post/SkeletonPost.vue';
import PostList from '@/components/Organisms/Post/PostList.vue';
import { getUserPosts } from '@/composables/useApi';
import EmptyMessage from '@/components/Molecules/EmptyMessage.vue';

const bemm = useBemm('posts-posts');

const isLoading = ref(true);

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
});

const { data: posts } = await useLazyAsyncData('posts', async () => {
	isLoading.value = true;

	const result = await getUserPosts({ slug: props.slug });
	if (!result) {
		isLoading.value = false;
		return;
	}
	if (result.success) {
		isLoading.value = false;
		return result.data;
	}
	if (!result.success) {
		isLoading.value = false;
	}
	return result.data;
});
</script>
