<template>
	<Teleport to="body">
		<Modal
			id="notifications"
			:active="isActive"
		>
			<div :class="bemm()">
				<h3>{{ t('Notifications.title') }}</h3>
				{{ notifications }}
			</div>
		</Modal>
	</Teleport>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { useI18n } from 'vue-i18n';

import {
	EventChannel,
	EventAction,
	type EventData,
} from '../../../components/Events/Events.model';

import { useNotifications } from '../../../composables/useNotifications';

const bemm = useBemm('notifications-panel');
const { t } = useI18n();

const { notifications, fetchNotifications } = useNotifications();

const isActive = ref(false);
fetchNotifications();

eventBus.on(EventChannel.MODAL, (p: any) => {
	const payload = p as unknown as EventData;

	switch (payload.action) {
		case EventAction.OPEN:
			if (payload.data.id == 'notifications') {
				isActive.value = true;
			}
			break;
	}
});
</script>
