@use "sass:map";
@use "sass:list";

// Base Colors
$base-colors: (
  "purple": #ad8acc,
  "blue": #7bcdff,
  "green": #4fcf4f,
  "lime": #8aff84,
  "yellow": #ffe34b,
  "orange": #f6a53a,
  "red": #ff4d5e,
  "pink": #ea7f9a,
  "brown": #4f332d,
  "gray": #b0b0b0,
  "black": #111111,
  "white": #ffffff,
  "turquoise": #63d4c7,
  "cyan": #baf0ff,
  "indigo": #571ab4,
  "violet": #dfbaff,
  "magenta": #e524b5,
  "rose": #ff7dff,
  "coral": #ff7d7d,
  "gold": #ffd700,
  "silver": #c0c0c0,
  "bronze": #cd7f32,
);

$base-color-names: map.keys($base-colors);

// Project Colors
$colors: (
  "dark": #262424,
  "light": #ffffff,
  "accent-dark": #000000,
  "accent-light": #edf2f5,
  "primary": #f2b225,
  "secondary": #06e100,
  "tertiary": #79bcd4,
  "quaternary": #bb75a7,
  "quinary": map.get($base-colors,'brown'),

  //
  "success": #4fcf4f,
  "warning": #f6a53a,
  "error": #ff4d5e,
  "info": #7bcdff,
);

$color-names: map.keys($colors);

// Theme Colors

$theme-colors: (
  background: var(--light),
  foreground: var(--dark),
);
$theme-color-names: map.keys($theme-colors);

// All Colors
$all-colors: map.merge($base-colors, $colors, $theme-colors);
$all-color-names: list.join($base-color-names, list.join($color-names, $theme-color-names,comma), comma);

