<template>
	<div
		v-if="links.length"
		:class="bemm()"
	>
		<ul :class="bemm('list')">
			<template v-if="!showOnlyFirstLink">
				<li
					v-for="postLink in links"
					:key="postLink.id"
					:class="bemm('item')"
				>
					<PreviewLink :link="postLink" />
				</li>
			</template>
			<template v-else>
				<li v-if="firstLink">
					<PreviewLink
						:key="firstLink.id"
						:link="firstLink"
					/>
				</li>
			</template>
		</ul>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import { useEditor } from '@/composables/useEditor';

import PreviewLink from '@/components/Molecules/PreviewLink.vue';

const bemm = useBemm('editor-links');
const { links } = useEditor();

const showOnlyFirstLink = ref(true);
const firstLink = computed(() => {
	return links.value[0];
});
</script>

<style lang="scss">
.editor-links {
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
		list-style: none;
		gap: var(--space);
	}

	&__item {
		width: fit-content;
	}
}
</style>
