<template>
	<div
		v-if="editor"
		:class="bemm()"
	>
		<div :class="bemm('image-upload')">
			<input
				id="upload-control"
				type="file"
				accept="image/*"
				@change="handleFileUpload"
			>
		</div>

		<nav :class="[bemm('menu'), bemmMenu()]">
			<ul :class="bemmMenu('list')">
				<li
					v-for="button in editorMenu"
					:key="button.name"
					:class="bemmMenu('item')"
				>
					<template v-if="button.name === 'separator'">
						<div :class="bemmMenu('separator')" />
					</template>
					<template v-else>
						<button
							:class="bemmMenu('button', [
								'',
								button.name,
								editor.isActive(button.name) ? 'active' : 'inactive',
							])
							"
							type="button"
							@click="button.action"
						>
							<template v-if="button.icon">
								<Icon :name="button.icon" />
							</template>
							<template v-else>
								{{ button.label }}
							</template>
						</button>

						<div
							v-if="button.children"
							:class="bemmMenu('children', ['', activeSubmenu === button.name ? 'active' : ''])"
						>
							<template
								v-for="child in button.children"
								:key="child.name"
							>
								<button
									:class="bemmMenu('button', [
										'',
										child.name,
										editor.isActive(child.name) ? 'active' : 'inactive',
									])
									"
									type="button"
									@click="child.action"
								>
									<template v-if="child.icon">
										<Icon :name="child.icon" />
									</template>
									<template v-else>
										{{ child.label }}
									</template>
								</button>
							</template>
						</div>
					</template>
				</li>
			</ul>
		</nav>

		<EditorContent
			:class="bemm('editor')"
			:editor="editor"
		/>

		<EditorLinks />
		<EditorImages />
	</div>
</template>

<script lang="ts" setup>
import { EditorContent, type EditorOptions } from '@tiptap/vue-3';

import { useBemm } from 'bemm';
import { Markdown } from 'tiptap-markdown';

import StarterKit from '@tiptap/starter-kit';
import TextAlign from '@tiptap/extension-text-align';
import TextUnderline from '@tiptap/extension-underline';
import Image from '@tiptap/extension-image';

import TaskList from '@tiptap/extension-task-list';
import TaskItem from '@tiptap/extension-task-item';
import ListItem from '@tiptap/extension-list-item';
import BlockQuote from '@tiptap/extension-blockquote';
import BulletList from '@tiptap/extension-bullet-list';
import Link from '@tiptap/extension-link';

import EditorImages from './EditorImages.vue';
import EditorLinks from './EditorLinks.vue';
import { type EditorValue, type BubbleButton } from './Editor.model';
import Icon from '@/components/Atoms/Icon.vue';
import { useEditor } from '@/composables/useEditor';
import { Icons } from '@/types';
import { eventBus, EventAction, EventChannel, type EventData } from '~/utils/eventBus';

const bemm = useBemm('editor');
const bemmMenu = useBemm('bubble-menu');
const modelValue = defineModel<EditorValue>();

const { editor, setLink, initeditorInstance, handleFileUpload, images, updateLinks } = useEditor();

const props = defineProps({
	focus: {
		type: Boolean,
		default: false,
	},
});

const editorMenu: BubbleButton[] = [
	{
		name: 'bold',
		icon: Icons.TEXT_BOLD,
		action: () => editor.value?.chain().focus().toggleBold().run(),
	},
	{
		name: 'italic',
		icon: Icons.TEXT_ITALIC,
		action: () => editor.value?.chain().focus().toggleItalic().run(),
	},
	{
		name: 'underline',
		icon: Icons.TEXT_UNDERLINE,
		action: () => editor.value?.chain().focus().toggleUnderline().run(),
	},
	{
		name: 'strike',
		icon: Icons.TEXT_LINE_THROUGH,
		action: () => editor.value?.chain().focus().toggleStrike().run(),
	},
	{
		name: 'link',
		icon: Icons.LINK,
		action: () => {
			if (!editor.value) return;

			if (editor.value.isActive('link')) {
				editor.value?.chain().focus().unsetLink().run();
			}
			else {
				setLink();
			}
		},
	},
	{
		name: 'separator',
	},
	{
		name: 'blockquote',
		label: '""',
		action: () => editor.value?.chain().focus().toggleBlockquote().run(),
	},
	{
		name: 'list',
		icon: Icons.CHECK_LIST,
		action: () => editor.value?.chain().focus().toggleBulletList().run(),
	},
	// {
	// 	name: 'task-list',
	// 	icon: Icons.CHECK_LIST,
	// 	action: () => editor.value?.chain().focus().toggleTaskList().run(),
	// },
	{
		name: 'separator',
	},
	{
		name: 'code',
		icon: Icons.TERMINAL,
		action: () => editor.value?.chain().focus().toggleCodeBlock().run(),
	},
	{
		name: 'image',
		icon: Icons.IMAGE,
		action: () => actionImage(),
	},
	{
		name: 'heading',
		icon: Icons.FILE_TEXT,
		action: () => {
			activeSubmenu.value = activeSubmenu.value === 'heading' ? '' : 'heading';
		},
		children: [
			{
				name: 'h1',
				label: 'H1',
				action: () => {
					activeSubmenu.value = '';
					editor.value?.chain().focus().toggleHeading({ level: 1 }).run();
				},
			},
			{
				name: 'h2',
				label: 'H2',
				action: () => {
					activeSubmenu.value = '';
					editor.value?.chain().focus().toggleHeading({ level: 2 }).run();
				},
			},
			{
				name: 'h3',
				label: 'H3',
				action: () => {
					activeSubmenu.value = '';
					editor.value?.chain().focus().toggleHeading({ level: 3 }).run();
				},
			},
			{
				name: 'h4',
				label: 'H4',
				action: () => {
					activeSubmenu.value = '';
					editor.value?.chain().focus().toggleHeading({ level: 4 }).run();
				},
			},
			{
				name: 'h5',
				label: 'H5',
				action: () => {
					activeSubmenu.value = '';
					editor.value?.chain().focus().toggleHeading({ level: 5 }).run();
				},
			},
			{
				name: 'h6',
				label: 'H6',
				action: () => {
					activeSubmenu.value = '';
					editor.value?.chain().focus().toggleHeading({ level: 6 }).run();
				},
			},
		],
	},
];

const activeSubmenu = ref<string>('');

// Images
const actionImage = () => {
	const input = document.getElementById('upload-control') as HTMLInputElement;
	input.click();
};

const onUpdate = ({ editor }: { editor: any }) => {
	if (!modelValue.value) return;
	modelValue.value = {
		content: {
			html: editor.getHTML(),
			md: editor.getText(),
		},
		images: images.value,
	};
	updateLinks(editor.getHTML());
};

const initEditor = () => {
	const editorInstanceOptions: Partial<EditorOptions> = {
		content: modelValue.value?.content.html || '',
		extensions: [
			StarterKit,
			Markdown,
			Link.configure({
				openOnClick: false,
				autolink: true,
				linkOnPaste: true,
				defaultProtocol: 'https',
				HTMLAttributes: {
					class: 'my-link',
				},
				validate: (url) => {
					const isValid = /^(https?:\/\/)?([\da-z.-]+)\.([a-z.]{2,6})([/\w .-]*)*\/?$/.test(url);
					if (!isValid) return false;
					return true;
				},

			}),
			TextUnderline,
			Image.configure({
				allowBase64: true,
			}),
			TaskList,
			TaskItem.configure({
				nested: true,
			}),
			BulletList,
			ListItem,
			BlockQuote,
			TextAlign.configure({
				types: ['heading', 'paragraph'],
			}),
		],
		onUpdate,
	};
	initeditorInstance(editorInstanceOptions);
};

initEditor();

onMounted(() => {
	if (props.focus) {
		editor.value?.commands.focus();
	}
	eventBus.on(EventChannel.EDITOR, (p) => {
		const payload = p as EventData;
		if (payload.action == EventAction.UPDATE) {
			editor.value?.commands.setContent(payload.data.content.html);
		}
	});
});
</script>

<style lang="scss">
.editor {
	--editor-padding: calc(var(--spacing) / 2);

	--editor-font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	--heading-font-family: var(--editor-font-family);
	font-family: var(--editor-font-family);

	display: flex;
	flex-direction: column;
	gap: var(--space);

	@include global.mobile-only() {
		width: calc(320px - var(--space));
		max-width: 100%;
	}

	&__editor {
		height: 100%;
		width: 100%;
		min-height: var(--editor-min-height, 160px);

		border: 1px solid color-mix(in srgb, var(--foreground), var(--background) 25%);
		border-radius: var(--border-radius);
		background-color: var(--editor-background-color);

		&:focus-within {
			border: 1px solid color-mix(in srgb, var(--foreground), var(--background) 50%);
		}

		.tiptap[contenteditable] {
			height: 100%;
			width: 100%;
			min-height: var(--editor-min-height, 160px);
			padding: var(--editor-padding);

			&:focus {
				outline: none;
			}

		}
	}
}

.editor {
	img {
		max-width: 100%;

		&.ProseMirror-selectednode {
			outline: 3px solid var(--primary);
		}
	}

	a {
		color: var(--primary);
		text-decoration: underline;
	}

	img {
		max-width: 320px;
		position: relative;

		&::before {
			content: attr(title);
			position: absolute;
			top: 0;
			left: 0;

		}
	}

	ul[data-type="taskList"] {
		list-style: none;
		padding: 0;

		p {
			margin: 0;
		}

		li {
			display: flex;
			margin-top: 1em;

			>label {
				flex: 0 0 auto;
				margin-right: 0.5rem;
				user-select: none;

				&::before {
					display: block;
					content: "";
					opacity: 0.5;
					opacity: 2;
					width: 1.5em;
					height: 1.5em;
					border-radius: 50%;
					border: 2px solid var(--primary);
					text-align: center;
					line-height: 1.5;
					font-weight: bold;
					font-size: 0.75em;
				}

				&:has(input[type="checkbox"]:checked) {
					&::before {
						content: "✓";
						color: var(--primary-text);

						background-color: var(--primary);
					}
				}

				input[type="checkbox"] {
					position: absolute;
					opacity: 0;
					width: 0;
					height: 0;
				}
			}

			>div {
				flex: 1 1 auto;
			}

			ul li,
			ol li {
				display: list-item;
			}

			ul[data-type="taskList"]>li {
				display: flex;
			}
		}
	}

	blockquote {
		background-color: color-mix(in srgb, var(--foreground), var(--background), 12.5%);
		border-radius: var(--border-radius);
		padding: var(--space);
		position: relative;

		&::before {
			position: absolute;
			left: 0;
			width: 1em;
			height: 1em;
			font-size: 2em;
			top: 0;
			font-family: Georgia, "Times New Roman", Times, serif;
			content: '"';
			opacity: 0.25;
		}
	}

	pre {
		padding: var(--space);
		border: 1px solid color-mix(in srgb, var(--foreground), var(--background), 25%);
		border-radius: var(--border-radius);
	}

	code {
		// border: 1px solid yellow;
	}
}

.editor {
	&__menu {
		margin: .5em 0;
		border-radius: 4px;
		box-shadow: .125em .125em .25em 0em color-mix(in srgb, var(--foreground), var(--background), 12.5%);
		display: flex;
		align-items: center;
		padding: .25em;
	}
}

.editor {
	&__image-upload {
		input {
			pointer-events: none;
			visibility: none;
			opacity: 0;
			position: absolute;
		}
	}
}

.bubble-menu {
	padding: 0;
	margin: 0;
	background-color: var(--dark);
	border-radius: calc(var(--border-radius) * 0.75);
	padding: 0.125em;
	border: 1px solid color-mix(in srgb, var(--light-rgb), 0.25);
	font-size: 1em;
	width: fit-content;
	color: var(--light);
	max-width: 100%;

	--icon-fill: red;
	--icon-fill-opacity: 0;

	&__list {
		align-items: center;
		display: flex;
		gap: 0.125em;
		flex-wrap: wrap;
	}

	&__item {
		position: relative;
	}

	&__children {
		border-radius: calc(var(--border-radius) * 0.75);
		padding: 0.125em;
		border: 1px solid color-mix(in srgb, var(--light-rgb), 0.25);
		display: flex;
		background-color: var(--dark);
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 100;

		opacity: 0;

		&--active {
			opacity: 1;
			visibility: visible;
		}
	}

	&__separator {
		width: 1px;
		background-color: color-mix(in srgb, var(--background-rgb), 0.25);
		height: 1.5em;
		display: block;
	}

	&__button {
		padding: 0.25em 0.5em;
		border-radius: calc(var(--border-radius) / 2);
		border-width: 1px;
		border-style: solid;
		border-color: transparent;
		background-color: transparent;
		// color: var(--secondary-text);
		color: inherit;
		width: 2em;
		height: 2em;
		font-size: 1em;

		&:hover {
			background-color: var(--quaternary);

		}

		&--active {
			background-color: global.opacity(foreground, .25);
		}
	}

}
</style>
