<template>
	<div
		v-if="images"
		:class="bemm('images')"
	>
		<ul :class="bemm('list')">
			<li
				v-for="(image, idx) in images"
				:key="idx"
				:class="[bemm('item'), bemm('item', image.status, bemm('item', image.isUsed ? 'is-used' : 'is-not-used'))]"
			>
				<div :class="[bemm('image-wrapper')]">
					<Icon
						:class="bemm('icon')"
						:name="Icons.IMAGE"
					/>
					<Icon
						:class="[bemm('status'), bemm('status', image.status)]"
						:name="iconStatus(image.status)"
					/>

					<Button
						:class="[bemm('is-not-used')]"
						:tooltip="'Your image is not used in the post, therefore it won\'t be posted.'"
					>
						<Icon
							v-if="!image.isUsed"
							:name="Icons.TRIANGLED_EXCLAMATION_MARK"
						/>
					</Button>

					<img
						:class="[bemm('image')]"
						:src="image.data"
						@click="insertImageEditor(image.id)"
					>
				</div>
				<FormField
					:class="bemm('details')"
					:size="FormSize.SMALL"
					:inline="true"
				>
					<InputText
						v-model="image.title"
						label="Title"
					/>
					<InputText
						v-model="image.alt"
						label="Alt"
					/>
				</FormField>
				<Button
					:type="ButtonType.ICON_ONLY"
					:icon="Icons.MULTIPLY"
					@click="updateImage({ image, action: 'remove' })"
				/>
			</li>
		</ul>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import { FormSize } from '@/components/Atoms/Form/Form.types';
import { Icons } from '@/types';
import FormField from '@/components/Atoms/Form/FormField.vue';
import Icon from '@/components/Atoms/Icon.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import InputText from '@/components/Atoms/Form/InputText.vue';
import { ButtonType } from '@/components/Atoms/Button/Button.model';
import { useEditor } from '@/composables/useEditor/useEditor';

const { insertImage, updateImage, images } = useEditor();

const bemm = useBemm('editor-images');

const insertImageEditor = (id) => {
	const image = images.value.find(img => img.id === id);
	if (image) insertImage({ image: image });
};

const iconStatus = (status: string) => {
	switch (status) {
		case 'uploading':
			return Icons.THREE_DOTS_HORIZONTAL;
		case 'failed':
			return Icons.MULTIPLY;
		case 'uploaded':
			return Icons.CHECK_M;
		default:
			return '';
	}
};
</script>

<style lang="scss">
.editor-images {
	display: flex;
	gap: var(--space);
	flex-direction: column;

	&__image-wrapper {
		animation: popInImage 0.33s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
		width: 4em;
		height: 4em;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 2px;
		outline: 1px solid color-mix(in srgb, var(--foreground-rgb), 0.125);
		outline-offset: .25em;
		display: block;
		position: relative;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: contain;
		display: block;

		@keyframes popInImage {
			from {
				opacity: 0;
				transform: scale(0.5);
			}

			to {
				opacity: 1;
				transform: scale(1);
			}
		}
	}

	&__icon {
		position: absolute;
		left: 0;
		bottom: 0;

	}

	&__is-not-used {
		position: absolute;
		left: 0;
		top: 0;
		line-height: .5;
		z-index: 3;
		--icon-fill: var(--background);
		color: var(--warning);
	}

	&__status {
		width: 1.5em;
		height: 1.5em;
		position: absolute;
		right: -.5em;
		top: -.5em;
		z-index: 2;
		border-radius: 50%;

		&--uploading {
			animation: spin 1s linear infinite;
		}

		&--failed {
			background-color: var(--error);
			color: var(--error-text);
		}

		&--uploaded {
			background-color: var(--success);
			color: var(--success-text);
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: var(--space);
	}

	&__item {
		display: flex;
		gap: var(--space);

		&--uploading {
			opacity: .5;
		}

		&--failed {
			opacity: .5;

			.editor-images__image {
				box-shadow: 0 0px 2px 0 red;
			}
		}

		&--uploaded .editor-images__image {
			box-shadow: 0 0px 2px 0 green;
			opacity: 1;
		}
	}
}
</style>
