<template>
	<BubbleMenu
		:class="bemm()"
		:editor="editor"
		:tippy-options="{ duration: 100 }"
	>
		<template
			v-for="button in menu"
			:key="button.name"
		>
			<template v-if="button.name === 'separator'">
				<div :class="bemm('separator')" />
			</template>
			<template v-else>
				<button
					:class="
						bemm('button', [
							'',
							button.name,
							editor.isActive(button.name) ? 'active' : 'inactive',
						])
					"
					@click="button.action"
				>
					<template v-if="button.icon">
						<Icon :name="button.icon" />
					</template>
					<template v-else>
						{{ button.label }}
					</template>
				</button>
			</template>
		</template>
	</BubbleMenu>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { Editor } from '@tiptap/vue-3';
import { BubbleMenu } from '@tiptap/vue-3';
import { type BubbleButton } from './Editor.model';

const bemm = useBemm('bubble-menu');

defineProps({
	menu: {
		type: Array as PropType<BubbleButton[]>,
		required: true,
	},
	editor: {
		type: Object as PropType<Editor>,
		required: true,
	},
});
</script>

<style lang="scss">
.bubble-menu {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.125em;
  background-color: var(--dark);
  border-radius: calc(var(--border-radius) * 0.75);
  padding: 0.125em;
  border: 1px solid color-mix(in srgb, var(--light-rgb), 0.25);
  font-size: 1em;
  align-items: center;
  width: fit-content;
  color: var(--light);

  button {
    font-size: 1em;
  }

  &__separator {
    width: 1px;
    background-color: color-mix(in srgb, var(--foreground-rgb), 0.25);
    height: 1.5em;
    display: block;
  }

  &__button {
    padding: 0.25em 0.5em;
    border-radius: calc(var(--border-radius) / 2);
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    background-color: transparent;
    // color: var(--secondary-text);
    color: inherit;
    width: 2em;
    height: 2em;

    &:hover {
      background-color: var(--secondary);
    }

    &--active {
      background-color: color-mix(in srgb, var(--foreground-rgb), 0.125);
    }
  }
}
</style>
