<template>
	<div>
		<h3>Data of: {{ slug }}</h3>
		<DotsLoader v-if="isLoading" />
		<pre v-if="data">
			{{ data }}
		</pre>
	</div>
</template>

<script lang="ts" setup>
import { getAllMedia } from '@/composables/useApi';

const route = useRoute();

const isLoading = ref(true);
const slug = ref(route.params.slug);

const { data } = useAsyncData(async () => {
	const result = await getAllMedia({ slug: route.params.slug as string });

	if (result.success && result.data) {
		isLoading.value = false;
		return result.data;
	}
	return null;
});
</script>
