<template>
	<figure
		:class="bemm()"
		:style="`--avatar-image-zoom: 1; --avatar-image-center-x: 50%; --avatar-image-center-y: 50%`"
	>
		<span
			v-if="isDefined(score)"
			:class="bemm('score', ['', level])"
		>
			<span :class="bemm('score-level')" />
			<span :class="bemm('score-value')">&nbsp;{{ score }}</span>
		</span>
		<div :class="bemm('container')">
			<img
				v-if="showImage"
				:class="bemm('image')"
				:src="currentImage"
				:alt="alt"
				@load="onImageLoad"
				@error="onImageError"
			>
			<div
				v-else
				:class="bemm('image')"
			/>
		</div>
	</figure>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { PropType } from 'vue';

const runtimeConfig = useRuntimeConfig();
const bemm = useBemm('avatar-image');

const props = defineProps({
	baseUrl: {
		type: String,
		default: '',
	},
	score: {
		type: [Number, String] as PropType<string | number>,
		default: undefined,
	},
	userId: {
		type: String,
		default: '',
	},
	alt: {
		type: String,
		default: '',
	},
	level: {
		type: String,
		default: '',
	},
	url: {
		type: String,
		default: '',
	},
});

const currentImage = ref('');
const baseUrlValue = ref(props.baseUrl || runtimeConfig?.public?.UPLOADS_S3URL + 'profilepics/');

/**
 * Set the user avatar
 * @returns void
 */
const setImage = () => {
	if (props.url) {
		currentImage.value = props.url;
	}
	else if (props.userId) {
		currentImage.value = `${baseUrlValue.value}${props.userId}`;
	}
};

watch(() => props, () => {
	setImage();
}, {
	immediate: true,
	deep: true,
});

const isDefined = (value: any) => value !== undefined;

const showImage = ref(true);

const onImageLoad = () => {
	showImage.value = true;
};

const onImageError = () => {
	showImage.value = false;
};
</script>

<style lang="scss">
.avatar-image {
  $b: &;
  display: flex;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0 0 0 2px global.opacity(foreground, .25) inset;
  position: relative;
  width: var(--avatar-size, 1.5em);
  height: var(--avatar-size, 1.5em);
  background-color: var(--accent);

  &::before {
    content: "?";
    opacity: 0.25;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &__container {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  &__image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    inset: 0;
  }

  &__score {
    position: absolute;
    top: 0%;
    left: 100%;
    // padding: .25em;
    transform: translateY(-40%) translateX(-1em);
    border-radius: 1em;
    background: var(--background);
    color: var(--user-score-color, var(--primary-text));
    border: 3px solid var(--background);
    // box-shadow: 0 0 2px 2px black;
    z-index: 2;
    font-weight: bold;
    font-size: 0.66em;
    display: flex;
    align-items: center;

    // gap: .25em;
    &--negative {
      --user-score-background: color-mix(in srgb, var(--error), var(--background) 75%);
      --user-score-color: var(--error-text);
      --user-score-border-color: var(--error);
    }

    &--superuser {
      --user-score-background: linear-gradient(to right bottom,
          color-mix(in srgb, var(--warning), var(--background) 75%),
          color-mix(in srgb, var(--light), var(--background) 75%),
          color-mix(in srgb, var(--warning), var(--background) 75%));
      --user-score-color: var(--warning-text);
      --user-score-border-color: var(--warning);
    }

    &--good {
      --user-score-background: color-mix(in srgb, var(--success), var(--background) 75%);
      --user-score-color: var(--success-text);
      --user-score-border-color: var(--success);
    }

    &--neutral {
      --user-score-background: color-mix(in srgb, var(--info), var(--background) 75%);
      --user-score-color: var(--info-text);
      --user-score-border-color: var(--info);
    }
  }

  &__score-level {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background: var(--user-score-background, color-mix(in srgb, var(--primary), var(--background) 75%));
  }

  &__score-value {
    line-height: 1;
    display: block;
    max-width: 0;
    overflow: hidden;
    transition: max-width 0.2s var(--bezier);
  }

  &:hover {
    #{$b}__score-value {
      max-width: 100px;
    }
  }
}
</style>
