<template>
	<figure :class="bemm()">
		<img
			v-if="showImage"
			:class="bemm('image')"
			:src="currentImage"
			:alt="alt"
			@load="onImageLoad"
			@error="onImageError"
		>
		<div
			v-else
			:class="bemm('image')"
		/>
	</figure>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { PropType } from 'vue';

const runtimeConfig = useRuntimeConfig();
const bemm = useBemm('avatar-cover');

const props = defineProps({
	baseUrl: {
		type: String,
		default: '',
	},
	score: {
		type: [Number, String] as PropType<string | number>,
		default: undefined,
	},
	userId: {
		type: String,
		default: '',
	},
	alt: {
		type: String,
		default: '',
	},
	level: {
		type: String,
		default: '',
	},
	url: {
		type: String,
		default: '',
	},
});

const currentImage = ref('');
const baseUrlValue = ref(props.baseUrl || runtimeConfig?.public?.UPLOADS_S3URL + 'profilepics/');

/**
 * Set the user avatar
 * @returns void
 */
const setImage = () => {
	if (props.url) {
		currentImage.value = props.url;
	}
	else if (props.userId) {
		currentImage.value = `${baseUrlValue.value}${props.userId}`;
	}
};

watch(() => props.url, () => {
	setImage();
}, {
	immediate: true,
	deep: true,
});

const showImage = ref(true);

const onImageLoad = () => {
	showImage.value = true;
};

const onImageError = () => {
	showImage.value = false;
};
</script>

<style lang="scss">
.avatar-cover {
	width: 100%;
	height: 100%;
	border-radius: var(--border-radius);
	overflow: hidden;
	position: relative;
	background-color: var(--foreground);

	&__image {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

}
</style>
