<template>
	<ClientOnly>
		<div :class="bemm()" />
	</ClientOnly>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

const bemm = useBemm('loading-bar');
</script>

<style lang="scss">
.loading-bar {
  height: 4px;
  width: 100vw;
  position: fixed;
  top: 0;
  background-image: linear-gradient(to right,
      var(--background),
      var(--primary),
      var(--background));
  animation: loadingBar 2s 2s linear infinite;
  background-size: 100% 100%;
  background-repeat: repeat;
  background-position: 0vw;

  @keyframes loadingBar {
    to {
      background-position: 100vw;
    }
  }
}
</style>
