<template>
	<ClientOnly>
		<div :class="bemm()">
			<Logo variant="icon" />
		</div>
	</ClientOnly>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import Logo from './Logo.vue';

const bemm = useBemm('loader');
</script>

<style lang="scss">
.loader {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;

  @keyframes show {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes rotateIn {
    from {
      transform: rotate(0deg) scale(0.5);
    }
    to {
      transform: rotate(360deg) scale(3);
    }
  }

  svg {
    animation: rotateIn 1s forwards;
    path {
      opacity: 0;
      @for $i from 1 through 5 {
        &:nth-child(#{$i}) {
          animation: show 1s #{$i * 0.2}s forwards;
        }
      }
    }
  }
}
</style>
