<template>
	<div :class="[bemm(), bemm('', variant)]">
		<template v-if="variant == 'text-icon'">
			<svg
				width="182"
				height="36"
				viewBox="0 0 182 36"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M116.825 28.3162C114.322 28.3162 112.476 26.5742 112.476 24.0168C112.476 21.4574 114.324 19.7136 116.825 19.7136C118.518 19.7136 119.904 20.4936 120.558 21.7924L125.6 18.9737C123.945 16.1167 120.634 14.2245 116.902 14.2245C111.051 14.2245 106.702 18.4903 106.702 24.0177C106.702 29.5441 111.051 33.8081 116.902 33.8081C120.673 33.8081 123.944 31.9159 125.6 29.0234L120.558 26.243C119.943 27.538 118.518 28.3162 116.825 28.3162ZM177.545 24.0168C177.545 18.4148 173.388 14.2236 167.769 14.2236C161.689 14.2236 157.531 18.4894 157.531 24.0168C157.531 29.5431 161.61 33.8071 168.192 33.8071C171.848 33.8071 174.696 32.5074 176.582 29.9845L171.965 27.427C171.197 28.2425 169.847 28.8378 168.271 28.8378C166.155 28.8378 164.385 28.1697 163.653 26.242H177.316C177.467 25.5357 177.545 24.794 177.545 24.0168ZM163.534 22.0863C164.074 20.1959 165.537 19.1547 167.73 19.1547C169.463 19.1547 171.194 19.9338 171.811 22.0863H163.534ZM157.531 14.7432H153.952C153.952 12.5907 155.379 11.9609 157.531 12.1466V6.80402C151.144 6.43453 148.182 9.54901 148.182 14.7432V33.2865H153.952V20.083H157.531V14.7432ZM140.505 16.4843C139.235 15.0754 137.349 14.2226 134.771 14.2226C129.728 14.2226 125.571 18.4885 125.571 24.0158C125.571 29.5422 129.727 33.8062 134.771 33.8062C137.349 33.8062 139.233 32.9534 140.505 31.5436V33.2856H146.278V14.7423H140.505V16.4843ZM135.924 28.5411C133.268 28.5411 131.346 26.7963 131.346 24.0149C131.346 21.2335 133.27 19.4887 135.924 19.4887C138.579 19.4887 140.504 21.2316 140.504 24.0149C140.505 26.7963 138.58 28.5411 135.924 28.5411Z"
					fill="var(--c, currentColor)"
				/>
				<path
					d="M169.368 12.2548H163.949L166.959 6.99341H173.732L169.368 12.2548Z"
					fill="var(--c, currentColor)"
				/>
				<path
					d="M106.54 28.2331V33.2295C99.0417 33.962 96.8595 31.7955 96.8595 26.6516V20.1502V14.858V11.3665L102.601 9.71411V14.8589H106.542V20.1511H102.601V26.6525C102.6 28.2331 104.014 28.3805 106.54 28.2331ZM95.8848 27.719C95.8848 31.9429 92.0606 33.7437 87.9271 33.7437C84.1001 33.7437 81.1928 32.3488 79.7003 29.3705L84.6749 26.6525C85.1711 28.0484 86.2431 28.82 87.9262 28.82C89.3046 28.82 89.9934 28.4141 89.9934 27.6798C89.9934 25.6598 80.5806 26.7244 80.5806 20.3685C80.5806 16.3639 84.1011 14.3429 88.0794 14.3429C91.1765 14.3429 93.9344 15.6641 95.539 18.2757L90.6429 20.8108C90.1083 19.8553 89.3411 19.1947 88.0794 19.1947C87.0851 19.1947 86.472 19.5642 86.472 20.2248C86.4748 22.3176 95.8848 20.9199 95.8848 27.719ZM73.08 31.5025C72.0473 32.8619 70.1343 33.7427 67.6082 33.7427C63.7429 33.7427 60.4543 31.0976 60.4543 26.1403V14.8598H66.1933V25.3304C66.1933 27.6089 67.6876 28.6744 69.5231 28.6744C71.6277 28.6744 73.0837 27.4988 73.0837 24.89V14.8598H78.8237V33.2295H73.0837V31.5016L73.08 31.5025ZM53.8629 24.9264V33.2295H48.122V14.8598H53.8629V18.1301C54.6264 15.6651 57.1927 14.4941 59.6029 14.4941V20.7371C57.231 20.3704 53.8629 21.2903 53.8629 24.9264ZM37.2626 26.6535V20.1521V14.8598V11.3684L43.0016 9.71598V14.8608H46.9435V20.153H43.0016V26.6544C43.0016 28.234 44.4193 28.3843 46.9435 28.234V33.2305C39.4438 33.9639 37.2626 31.7964 37.2626 26.6535Z"
					fill="var(--c, currentColor)"
				/>
				<g clip-path="url(#clip0_2216_337)">
					<path
						d="M30.938 2.93485C30.9486 2.94742 32.2418 9.7581 28.828 13.1323C25.4148 16.5053 18.5777 15.1613 18.5695 15.1537M30.9367 2.93359C30.9285 2.92668 24.0927 1.58453 20.6776 4.95625C17.2626 8.33049 18.5607 15.1456 18.5683 15.1525"
						fill="#D6B514"
					/>
					<path
						d="M24.8223 29.5881C24.8229 29.6007 21.5844 33.5002 16.7951 32.8348C12.0059 32.1694 7.47357 27.186 7.47168 27.1772M24.8223 29.5869C24.8211 29.5768 20.2888 24.5978 15.4982 23.9298C10.7071 23.2638 7.4698 27.1684 7.47168 27.1759"
						fill="#6B8AB0"
					/>
					<path
						d="M31.5494 20.7618C31.5487 20.7492 25.7038 16.2967 20.7348 16.4601C15.7627 16.626 13.5477 21.3461 13.5515 21.3581M31.5519 20.7624C31.5569 20.7743 29.3388 25.4958 24.3711 25.6597C19.4008 25.8269 13.5565 21.3681 13.5515 21.36"
						fill="#1AC71C"
					/>
					<path
						d="M13.1601 3.10255C13.1488 3.09815 8.34882 5.44252 8.10187 10.0797C7.8587 14.7207 12.2628 19.8958 12.2722 19.9002M13.1601 3.10255C13.172 3.10506 17.578 8.28455 17.333 12.9224C17.0879 17.5634 12.2823 19.904 12.2747 19.9009"
						fill="#FF708A"
					/>
					<path
						d="M2.83945 8.44165C2.82689 8.44354 -0.725805 12.3977 0.330451 17.3774C1.38796 22.3533 6.6548 26.4722 6.66485 26.4734M2.84008 8.44291C2.84951 8.44354 8.11697 12.5636 9.17448 17.5408C10.2301 22.518 6.67302 26.4728 6.66611 26.4728"
						fill="#0FED04"
					/>
				</g>
				<defs>
					<clipPath id="clip0_2216_337">
						<rect
							width="31.4175"
							height="30.7892"
							fill="white"
							transform="translate(0 2.28833)"
						/>
					</clipPath>
				</defs>
			</svg>
		</template>
		<template v-if="variant == 'text'">
			<svg
				width="153"
				height="39"
				viewBox="0 0 153 39"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					d="M85.9694 29.515C83.453 29.515 81.5978 27.7751 81.5978 25.2209C81.5978 22.6647 83.4558 20.923 85.9694 20.923C87.6705 20.923 89.0645 21.7021 89.7211 22.9993L94.7887 20.1841C93.1252 17.3306 89.7981 15.4408 86.0465 15.4408C80.1654 15.4408 75.7947 19.7013 75.7947 25.2218C75.7947 30.7413 80.1654 35 86.0465 35C89.8366 35 93.1243 33.1101 94.7887 30.2213L89.7211 27.4443C89.103 28.7378 87.6705 29.515 85.9694 29.515ZM147 25.2209C147 19.6259 142.821 15.4399 137.174 15.4399C131.063 15.4399 126.884 19.7004 126.884 25.2209C126.884 30.7404 130.984 34.9991 137.599 34.9991C141.274 34.9991 144.136 33.701 146.032 31.1812L141.391 28.6269C140.619 29.4413 139.262 30.0359 137.678 30.0359C135.552 30.0359 133.773 29.3686 133.037 27.4434H146.769C146.921 26.738 147 25.9971 147 25.2209ZM132.917 23.2928C133.46 21.4048 134.931 20.3648 137.134 20.3648C138.876 20.3648 140.616 21.143 141.236 23.2928H132.917ZM126.884 15.9589H123.286C123.286 13.8091 124.72 13.1801 126.884 13.3655V8.02956C120.464 7.66054 117.487 10.7711 117.487 15.9589V34.4791H123.286V21.2921H126.884V15.9589ZM109.77 17.6978C108.493 16.2907 106.598 15.4389 104.007 15.4389C98.9387 15.4389 94.7596 19.6995 94.7596 25.2199C94.7596 30.7394 98.9368 34.9981 104.007 34.9981C106.598 34.9981 108.492 34.1464 109.77 32.7383V34.4781H115.573V15.958H109.77V17.6978ZM105.166 29.7395C102.497 29.7395 100.565 27.9969 100.565 25.219C100.565 22.4411 102.499 20.6985 105.166 20.6985C107.834 20.6985 109.769 22.4392 109.769 25.219C109.77 27.9969 107.836 29.7395 105.166 29.7395Z"
				/>
				<path
					d="M138.781 13.4736H133.334L136.359 8.21875H143.168L138.781 13.4736Z"
				/>
				<path
					d="M75.6321 29.432V34.4222C68.0949 35.1538 65.9016 32.9899 65.9016 27.8525V21.3592V16.0735V12.5865L71.6728 10.9361V16.0745H75.6339V21.3601H71.6728V27.8534C71.6719 29.432 73.0931 29.5793 75.6321 29.432ZM64.9219 28.9186C64.9219 33.1372 61.0782 34.9357 56.9236 34.9357C53.077 34.9357 50.1548 33.5425 48.6547 30.568L53.6547 27.8534C54.1535 29.2475 55.2309 30.0182 56.9226 30.0182C58.3081 30.0182 59.0004 29.6128 59.0004 28.8794C59.0004 26.8619 49.5395 27.9252 49.5395 21.5772C49.5395 17.5776 53.078 15.5591 57.0767 15.5591C60.1896 15.5591 62.9615 16.8787 64.5743 19.487L59.6532 22.0189C59.1159 21.0647 58.3448 20.4049 57.0767 20.4049C56.0772 20.4049 55.461 20.7739 55.461 21.4337C55.4638 23.5239 64.9219 22.128 64.9219 28.9186ZM42.0005 32.6973C40.9626 34.0551 39.0398 34.9348 36.5008 34.9348C32.6157 34.9348 29.3103 32.2929 29.3103 27.3418V16.0754H35.0786V26.533C35.0786 28.8086 36.5806 29.8728 38.4255 29.8728C40.5408 29.8728 42.0043 28.6986 42.0043 26.0931V16.0754H47.7736V34.4222H42.0043V32.6964L42.0005 32.6973ZM22.6852 26.1294V34.4222H16.9149V16.0754H22.6852V19.3416C23.4526 16.8796 26.032 15.7101 28.4545 15.7101V21.9453C26.0705 21.5791 22.6852 22.4979 22.6852 26.1294ZM6 27.8544V21.361V16.0754V12.5883L11.7684 10.938V16.0763H15.7305V21.362H11.7684V27.8553C11.7684 29.433 13.1933 29.583 15.7305 29.433V34.4232C8.19238 35.1556 6 32.9909 6 27.8544Z"
				/>
			</svg>
		</template>
		<template v-if="variant == 'icon'">
			<svg
				id="Layer_1"
				data-name="Layer 1"
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 32.25 31.05"
			>
				<path
					d="M31.62.28s1.34,7-2.17,10.47c-3.5,3.46-10.52,2.08-10.53,2.08M31.62.28s-7.03-1.38-10.53,2.08c-3.51,3.46-2.17,10.46-2.17,10.47"
					style="stroke-width: 0px"
				/>
				<path
					d="M25.34,27.64s-3.32,4.02-8.24,3.33c-4.92-.68-9.57-5.8-9.57-5.81M25.34,27.64s-4.65-5.12-9.57-5.81c-4.92-.68-8.24,3.32-8.24,3.33"
					style="stroke-width: 0px"
				/>
				<path
					d="M32.25,18.58s-6-4.58-11.1-4.42c-5.1.17-7.38,5.02-7.37,5.03M32.25,18.58s-2.27,4.86-7.37,5.03c-5.1.17-11.1-4.41-11.11-4.41"
					style="stroke-width: 0px"
				/>
				<path
					d="M13.37.45s-4.94,2.4-5.19,7.16c-.25,4.76,4.27,10.08,4.28,10.08M13.37.45s4.53,5.32,4.28,10.08c-.25,4.76-5.18,7.17-5.19,7.16"
					style="stroke-width: 0px"
				/>
				<path
					d="M2.78,5.93S-.88,9.99.2,15.1c1.09,5.11,6.49,9.34,6.5,9.34M2.78,5.93s5.42,4.23,6.5,9.34c1.08,5.11-2.57,9.17-2.57,9.17"
					style="stroke-width: 0px"
				/>
			</svg>
		</template>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { type PropType } from 'vue';

const bemm = useBemm('logo');

defineProps({
	variant: {
		type: String as PropType<'text' | 'icon' | 'full' | 'text-icon'>,
		default: 'text-icon',
	},
});
</script>

<style lang="scss">
.logo {
  svg {
    width: 100%;

    rect,
    path,
    circle {
      &:not([fill]) {
        fill: var(--c, currentColor);
      }
    }
  }

  &--icon {
    width: 1.5em;

    svg {
      --c: var(--primary);
      rect,
      path,
      circle {
        fill: var(--c, red);

        stroke-width: 0px;
      }
    }

    &:hover {
      svg {
        path {
          stroke-width: 0px;

          @keyframes bumpyIcon {
            0% {
              transform: translateY(0);
              fill: var(--c);
            }

            50% {
              transform: translateY(-5px);
              fill: var(--c);
            }

            100% {
              transform: translateY(0);
              fill: var(--c);
            }
          }

          @for $i from 1 through 6 {
            &:nth-child(#{$i}) {
              animation: bumpyIcon 1s #{$i * 0.1}s infinite;
            }
          }

          &:nth-child(1) {
            --c: var(--tertiary);
          }

          &:nth-child(2) {
            --c: var(--secondary);
          }

          &:nth-child(3) {
            --c: var(--primary);
          }

          &:nth-child(4) {
            --c: var(--quaternary);
          }

          &:nth-child(5) {
            --c: var(--tertiary);
          }
        }
      }
    }
  }

  &--text {
    width: 100px;

    @keyframes bumpyText {
      0% {
        transform: translateY(0);
      }

      50% {
        transform: translateY(-5px);
        fill: var(--c);
      }

      100% {
        transform: translateY(0);
      }
    }

    &:hover {
      svg {
        rect,
        path,
        circle {
          @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
              animation: bumpyText 1s #{$i * 0.1}s infinite;
            }
          }

          &:nth-child(1) {
            --c: var(--primary);
          }

          &:nth-child(2) {
            --c: var(--secondary);
          }

          &:nth-child(3) {
            --c: var(--tertiary);
          }
        }
      }
    }
  }
}
</style>
