<template>
	<div :class="bemm()" />
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

const bemm = useBemm('SkeletonBlock');
</script>

<style lang="scss">
.skeleton-block {

  --skeleton-animation-time: 3s;
  --skeleton-block-color1: rgba(0, 0, 0, .025);
  --skeleton-block-color2: rgba(0, 0, 0, .05);

  width: var(--skeleton-block-width, 100%);
  border-radius: var(--skeleton-block-border-radius, var(--border-radius));
  height: var(--skeleton-block-height, 1em);
  animation: waveBackground var(--skeleton-animation-time) infinite;

  [data-contrast-mode] & {
    --skeleton-block-color1: rgba(0, 0, 0, .25);
    --skeleton-block-color2: rgba(0, 0, 0, .5);
  }

  @keyframes waveBackground {

    0%,
    100% {
      background-color: var(--skeleton-block-color1);
    }

    50% {
      background-color: var(--skeleton-block-color2);
    }
  }
}
</style>
