<template>
	<div :class="bemm()">
		<Banner
			:class="bemm('banner')"
			:close="true"
			:color="ButtonSettings.Color.TERTIARY"
		>
			<div :class="bemm('content')">
				<div>
					<h5>{{ t('Auth.login-register-title') }}</h5>
					<p>{{ t('Auth.not-logged-in') }}</p>
				</div>
				<ButtonGroup>
					<Button
						:color="ButtonColor.TERTIARY"
						:class="bemm('button')"
						:to="'/auth/login'"
					>
						{{ t('Auth.login-button') }}
					</Button>
					<span>{{ t('General.or') }}</span>
					<Button
						:color="ButtonColor.TERTIARY"
						:class="bemm('button')"
						:to="'/auth/register'"
					>
						{{ t('Auth.register-button') }}
					</Button>
				</ButtonGroup>
			</div>
		</Banner>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import Banner from '@/components/Atoms/Banner/Banner.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import { ButtonColor, ButtonSettings } from '@/components/Atoms/Button/Button.model';

const bemm = useBemm('support-banner');
const { t } = useI18n();
</script>

<style lang="scss" scoped>
.support-banner {
	&__content {
		display: flex;
		width: 100%;
		justify-content: space-between;
		gap: var(--space);
		flex-direction: column;
		align-items: flex-start;
	}

	&__button {
		white-space: nowrap;
	}
}
</style>
