<template>
	<header
		:class="bemm('', ['', headerState])"
		:style="`--header-color: var(--${color})`"
	>
		<NuxtLink
			to="/"
			:class="bemm('logo')"
		>
			<Logo
				variant="text-icon"
				:class="bemm('logo-image')"
			/>
		</NuxtLink>
		<div :class="bemm('content')">
			<Heading
				:level="5"
				:class="bemm('title')"
				:tooltip="isMobile ? t('General.for-you') : undefined"
			>
				<div
					v-if="icon"
					:class="bemm('title-icon')"
				>
					<Icon
						:class="bemm('header-icon')"
						:name="icon"
					/>
				</div>
				<span
					v-if="title"
					:class="bemm('title-text')"
				>{{ title }}</span>
			</Heading>
			<slot />
		</div>
	</header>
</template>

<script lang="ts" setup>
import { onMounted, onBeforeUnmount, onBeforeMount, type PropType } from 'vue';
import { useBemm } from 'bemm';
import type { Icons } from 'open-icon';
import Icon from '../Atoms/Icon.vue';
import Logo from '@/components/Atoms/Logo.vue';
import { useUI } from '@/composables/useUI';
import Heading from '@/components/Atoms/Heading/Heading.vue';

const bemm = useBemm('page-header');

const { isMobile } = useUI();
const headerState = ref<'before' | 'idle' | 'after'>('before');
const { t } = useI18n();

defineProps({
	color: {
		type: String,
		default: 'primary',
	},
	icon: {
		type: String as PropType<Icons>,
		default: '',
	},
	title: {
		type: String,
		default: '',
	},
});

onBeforeUnmount(() => {
	headerState.value = 'after';
});

onBeforeMount(() => {
	headerState.value = 'before';
});

onMounted(() => {
	headerState.value = 'idle';
});
</script>

<style lang="scss">
.page-header{
  position: sticky;
		top: var(--space);
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--space);
		padding: var(--space-s) var(--space-s);
		border-radius: var(--border-radius);
		transition: all .3s ease-in-out;

		--tab-background-color--active: blue;
		--tab-text-color--active: var(--foreground);
		--tab-group-justify-content: flex-end;
		--tab-underline-color: transparent;
		--tab-underline-color--active: var(--header-color);

		--background1: color-mix(in srgb, var(--header-color), 75% transparent);
		--background2: color-mix(in srgb, var(--header-color), 90% transparent);
		--background3: color-mix(in srgb, var(--header-color), 75% transparent);
		background-image: linear-gradient(to right, var(--background1), var(--background2), var(--background3));
		z-index: 10;

		backdrop-filter: blur(5px);

		--tab-group-horizontal-align: flex-end;

		[data-scroll-direction="down"]:not([data-on-top]) & {
			transform: translateY(-50%);
			opacity: 0;
		}

		@include global.desktop {
			top: 0;
			border-radius: 0 0 var(--border-radius) var(--border-radius);
		}

		@include global.tablet {
			border-radius: 0 0 0 var(--border-radius);
		}

    &__logo{
      flex-shrink: 0;
		width: 6em;
		display: none;

		@include global.mobile-only {
			display: block;
		}
    }

		&__content{
			display: flex;
			align-self: start;
			justify-content: space-between;
			width: 100%;

		}

	&__title {
		display: flex;
		gap: var(--space-s);
		color: color-mix(in srgb, var(--header-color), var(--foreground) 50%);
		width: fit-content;
	}

	&__title-text{
		white-space: nowrap;
	}

	&__title-icon {
		background-color: color-mix(in srgb, var(--header-color, var(--primary)), var(--background) 90%);
		border-radius: 4px;
		padding: .125em;
		color: color-mix(in srgb, var(--header-color), var(--foreground) 50%);
		--heading-icon-size: 1.5em;

		.icon {
			animation: popInHeaderIcon 0.5s var(--bezier) forwards;
		}
	}
}
</style>
