<template>
	<!-- <div id="sitesearch360">
		<input
			id="searchBox"
			type="text"
			:label="t('General.search-trust-cafe')"
		>
	</div> -->

	<div
		:class="[
			bemm(),
			bemm('', isActive ? 'active' : 'inactive'),
			bemm('', searchTerm.length > 0 ? 'has-value' : ''),
		]"
	>
		<div :class="bemm('container')">
			<div :class="bemm('input')">
				<Icon
					:class="bemm('icon')"
					:name="Icons.SEARCH_M"
				/>
				<input
					ref="control"
					v-model="searchTerm"
					:class="bemm('control')"
					type="text"
					:placeholder="t('General.search-placeholder')"
				>
			</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import { useBemm } from 'bemm';
import { useI18n } from 'vue-i18n';
import { Icons } from 'open-icon';
import { useRuntimeConfig } from '#app';

import Icon from '@/components/Atoms/Icon.vue';

import { useSearch } from '@/composables/useSearch';
import {
	eventBus,
	EventAction,
	EventChannel,
	type EventData,
} from '@/utils/eventBus';

const { searchTerm } = useSearch();
const { t } = useI18n();

const bemm = useBemm('search-bar');
const control = ref<HTMLInputElement>();

const isActive = ref(true);

const focusSearch = () => {
	isActive.value = true;
	control.value?.focus();
};

// Site Search 360
onMounted(() => {
	const runtimeConfig = useRuntimeConfig();
	const src = `https://js.sitesearch360.com/plugin/bundle/${runtimeConfig.public.SS360_ID}.js`;
	const appendScript = document.createElement('script');
	appendScript.onload = function () {};
	appendScript.setAttribute('src', src);
	document.head.appendChild(appendScript);
});

onMounted(() => {
	eventBus.on(EventChannel.FORM, (p: unknown) => {
		const { data, action } = p as unknown as EventData;

		if (data.id !== 'search') return;

		switch (action) {
			case EventAction.FOCUS:
				focusSearch();
				break;
		}
	});
});
</script>

<style lang="scss">
.search-bar {
	display: flex;
	z-index: 20;
	position: relative;

  &__container {
    @include global.mobile-only {
      width: 100%;
    }
  }

	&__icon {
		font-size: 1.5em;
		opacity: 0.25;
	}

	&:has(:focus) {
		.search-bar__icon {
			opacity: 1;
			color: var(--primary);
		}
	}

  &__input {
    border-radius: 2em;
    background-color: var(--background);
    border: 1px solid color-mix(in srgb, var(--foreground-rgb), 0.125);
    font-size: 1em;
    padding: 0;

		display: flex;
		align-items: center;
		padding-left: 0.5em;

    @include global.mobile-only {
      width: 100%;
    }

    &:focus-within {
      outline: none;
      border: 1px solid color-mix(in srgb, var(--primary-rgb), 0.75);
    }
  }

	&__control {
		padding: calc(var(--space) * 0.7) var(--space);
		background-color: transparent;
		border: none;
		font-size: 0.875em;
		color: var(--foreground);

		&:focus {
			outline: none;
		}
	}

	&__background {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--accent);
		width: 100vw;
		height: 100vh;
		opacity: 0.75;
		backdrop-filter: var(--modal-background-blur, blur(5px));

    @include global.desktop-up() {
      display: none;
    }

		.search-bar--has-value & {
			opacity: 0;
		}
	}
}
</style>
