<template>
	<div
		v-if="searchTerm"
		:class="bemm()"
	>
		<main :class="bemm('container')">
			<!-- <p>Searching for <strong>{{ searchTerm }}</strong></p>
      <hr> -->
			<span
				v-if="loading"
				:class="bemm('message', ['', 'loading'])"
			>
				<DotsLoader />
			</span>
			<span
				v-if="error"
				:class="bemm('message', ['', 'error'])"
			>{{
				error
			}}</span>
			<span
				v-if="!loading && !error && !searchResults.length"
				:class="bemm('message', ['', 'no-result'])"
			>Can't find anything.. sorry :(</span>
			<ul
				v-if="searchResults.length"
				:class="bemm('results')"
			>
				<li
					v-for="result in searchResults"
					:key="result.id"
				>
					<a
						:href="result.link"
						@click="goToLink($event, result.link)"
					>{{
						result.name
					}}</a>
				</li>
			</ul>
		</main>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { useSearch } from '@/composables/useSearch';

const bemm = useBemm('search-results');
const { searchResults, searchTerm, loading, error } = useSearch();

const goToLink = (event: Event, link: string) => {
	event.preventDefault();
	navigateTo(link);
};
</script>

<style lang="scss">
.search-results {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__results {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__message {
    font-size: 0.75em;
    border-radius: var(--space);
    margin-top: var(--space-s);
    padding: var(--space-s) var(--space);
    background-color: var(--search-result-message-background, transparent);
    color: var(--search-result-message-text, inherit);

    &--no-result {
      --search-result-message-background: color-mix(in srgb, var(--warning-rgb), 0.1);
      --search-result-message-text: #{darkenVar(--warning, 50%)};
    }

    &--loading {
      // --search-result-message-background: color-mix(in srgb, var(--info-rgb), 0.1);
      --search-result-message-text: #{darkenVar(--info, 50%)};
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--error {
      --search-result-message-background: color-mix(in srgb, var(--error-rgb), 0.1);
      --search-result-message-text: #{darkenVar(--error, 50%)};
    }
  }
}
</style>
