<template>
	<div :class="bemm()">
		<header :class="bemm('header')">
			<InputText
				v-model="searchTerm"
				:autofocus="true"
				:placeholder="'What are you looking for?'"
			/>
		</header>

		<div
			v-if="searchTerm.length > 2"
			:class="bemm('results')"
		>
			<DotsLoader v-if="loading" />
			<template v-else>
				<ul :class="bemm('list')">
					<li
						v-for="result in results"
						:key="result.id"
						:class="bemm('item')"
					>
						<h4 :class="bemm('result-title')">
							{{ result.title }}
						</h4>
						<p :class="bemm('result-description')">
							{{ result.description }}
						</p>
						<a
							:class="bemm('result-link')"
							:href="result.link"
						>{{ result.link }}</a>
					</li>
					<li v-if="!results.length">
						<p>Nope, sorry, couldn't find anything. </p>
					</li>
				</ul>
			</template>
		</div>

		<!-- <AisInstantSearch
			:configuration="configuration"
			:widgets="widgets"
		>
			<div class="left-panel">
				<ais-clear-refinements />
				<h2>Brands</h2>
				<ais-refinement-list
					attribute="brand"
					searchable
				/>
				<ais-configure :hits-per-page="8" />
			</div>
			<div class="right-panel">
				<ais-search-box />
				<ais-hits>
					<template #item="{ item }">
						<h2>{{ item.name }}</h2>
						<img
							:src="item.image"
							align="left"
							:alt="item.name"
						>
						<div class="hit-name">
							<ais-highlight
								:hit="item"
								attribute="name"
							/>
						</div>
						<div class="hit-description">
							<ais-highlight
								:hit="item"
								attribute="description"
							/>
						</div>
						<div class="hit-price">
							{{ item.price }} €
						</div>
					</template>
				</ais-hits>
			</div>
		</AisInstantSearch> -->
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { LoremIpsum } from 'lorem-ipsum';
import { faker } from '@faker-js/faker';
import InputText from '~/components/Atoms/Form/InputText.vue';
import DotsLoader from '~/components/Molecules/Loader/DotsLoader.vue';

const bemm = useBemm('search-modal');

// Define the search result item type
interface SearchResult {
	id: string;
	title: string;
	description: string;
	link: string;
}

const searchTerm = ref('');
const loading = ref(false);

// Initialize Lorem Ipsum generator
const lorem = new LoremIpsum({
	sentencesPerParagraph: {
		max: 4,
		min: 2,
	},
	wordsPerSentence: {
		max: 12,
		min: 4,
	},
});

// Generate realistic search results that incorporate the search term
const generateItems = (term: string, count: number): SearchResult[] => {
	if (!term || term.length < 3) return [];

	const items: SearchResult[] = [];
	const domains = ['trustcafe.com', 'example.org', 'community.net', 'social.io', 'connect.co'];

	for (let i = 1; i <= count; i++) {
		// Generate a title that includes the search term
		const titlePrefix = faker.helpers.arrayElement([
			'Guide to', 'Understanding', 'How to use', 'Best practices for',
			'Introduction to', 'Advanced', 'Exploring', 'The complete',
		]);

		const titleSuffix = faker.helpers.arrayElement([
			'in modern applications', 'for beginners', 'in 2025',
			'with examples', 'explained simply', 'and its benefits',
			'for developers', 'in social media',
		]);

		const title = `${titlePrefix} ${term} ${titleSuffix}`;

		// Generate a description that includes the search term
		let description = lorem.generateSentences(2);

		// Insert the search term into the description
		const insertPosition = Math.floor(description.length / 2);
		description = description.substring(0, insertPosition)
		+ ` ${term} `
		+ description.substring(insertPosition);

		// Generate a realistic URL that includes the search term
		const domain = faker.helpers.arrayElement(domains);
		const slug = term.toLowerCase().replace(/\s+/g, '-');
		const pathSegment = faker.helpers.arrayElement([
			'article', 'post', 'guide', 'tutorial', 'resource', 'blog',
		]);
		const link = `https://${domain}/${pathSegment}/${slug}-${faker.number.int({ min: 1000, max: 9999 })}`;

		items.push({
			id: `id-${i}`,
			description,
			title,
			link,
		});
	}

	return items;
};

const results = ref<SearchResult[]>([]);

// Watch for changes in the search term and update results
watch(() => searchTerm.value, (newValue) => {
	if (newValue.length > 2) {
		loading.value = true;
		results.value = [];

		const newResults = generateItems(newValue, faker.number.int({ min: 5, max: 80 }));

		setTimeout(() => {
			results.value = newResults;

			loading.value = false;
		}, 1000);
	}
	else {
		results.value = [];
	}
}, { immediate: true });

// import { algoliasearch } from 'algoliasearch';

// import { AisInstantSearch, AisClearRefinements, AisConfigure, AisSearchBox, AisHits } from 'vue-instantsearch';

// // import 'instantsearch.css/themes/algolia.css';

// const { ALGOLIA_API_KEY, ALGOLIA_APP_ID } = useRuntimeConfig().public;

// const client = algoliasearch(ALGOLIA_APP_ID, ALGOLIA_API_KEY);
// const algoliaRouter = useAisRouter();

// const configuration = ref({
// 	indexName: 'instant_search',
// 	routing: algoliaRouter.value,
// 	searchClient: client,
// });

// const widgets = computed(() => [
// 	useAisSearchBox({}),
// 	useAisClearRefinements({}),
// 	useAisRefinementList({
// 		attribute: 'brand',
// 	}),
// 	useAisConfigure({
// 		searchParameters: {},
// 	}),
// 	useAisHits({}),
// 	useAisPagination({}),
// ]);
</script>

<style lang="scss">
.search-modal {

	padding: var(--space);
	margin: calc(var(--space) * -1);
	max-height: 70vh;
	overflow-y: scroll;
	background-color: var(--accent);

	display: flex;
	flex-direction: column;
	gap: var(--space);

	&__header {
		position: sticky;
		top: 0;
		width: 480px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap: var(--space-s)
	}

	&__item {
		border-radius: var(--border-radius);
		padding: 1em;
		background-color: var(--background);

		display: flex;
		flex-direction: column;
		gap: var(--space-s);
		border: 1px solid transparent;

		&:hover {
			border: 1px solid var(--tertiary);
			background-color: color-mix(in srgb, var(--tertiary), var(--background) 75%);
		}
	}

	&__result-title {
		font-size: 1em;
	}

	&__result-description {
		font-size: .875em;
		opacity: .5;
	}

	&__result-link {
		color: var(--blue);
	}
}
</style>
