<template>
	<div
		v-if="!isLoading"
		:class="bemm()"
	>
		<div v-if="error">
			{{ error }}
		</div>

		<template v-if="postData && postData.post">
			<section :class="bemm('post-section')">
				<Post
					:key="`post-${params.id}`"
					:class="bemm('post')"
					:post="postData.post"
					:is-main="true"
				/>
			</section>

			<section
				v-if="postData.comments && commentsLoaded"
				id="comments"
				:class="bemm('comment-section')"
			>
				<div :class="bemm('comment-container')">
					<template v-if="postData.comments.length">
						<H6 :class="bemm('section-header')">
							<Icon :name="Icons.SPEECH_BALLOON2" />
							Comments
						</H6>
						<CommentList
							v-if="postData.comments"
							:comments="postData.comments"
						/>
					</template>
					<template v-if="isLoggedIn">
						<H6
							id="comments"
							:class="bemm('section-header')"
						>
							<Icon :name="Icons.NOTE_EDIT2" />
							Write a comment
						</H6>
						<CreateComment
							v-if="postData.post"
							:sk="postData.post.sk || ''"
							:pk="postData.post.data?.subwiki?.pk || ''"
							:post-id="postData.post.postID"
							@update="() => refresh()"
						/>
					</template>
				</div>
			</section>
		</template>
	</div>

	<div v-else>
		<section :class="bemm('post-section')">
			<SkeletonPost />
		</section>
	</div>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import { Icons } from 'open-icon';
import type { RouteLocation } from 'vue-router';

import Icon from '@/components/Atoms/Icon.vue';
import Post from '@/components/Organisms/Post/Post.vue';
import H6 from '@/components/Atoms/Heading/h6.vue';
import SkeletonPost from '@/components/Organisms/Post/SkeletonPost.vue';
import CreateComment from '@/components/Organisms/Comment/CreateComment.vue';
import CommentList from '@/components/Organisms/Comment/CommentList.vue';

import { getPostRevisions, getPostWithComments } from '@/composables/useApi';
import { usePostMetaData } from '@/composables/usePostMetadata';
import { useUserStore } from '@/store/user';
import { usePostsStore } from '@/store/post';
import type { EventData } from '@/utils/eventBus';
import { EventChannel, EventAction } from '@/utils/eventBus';

const bemm = useBemm('post');
const { params } = useRoute();
const { generatePostMeta } = usePostMetaData();
const { isLoggedIn } = useUserStore();
const postStore = usePostsStore();

const commentsLoaded = ref(false);
const isLoading = ref(true);

onMounted(() => {
	eventBus.on(EventChannel.POST, async (p: unknown) => {
		const payload = p as EventData;
		if (payload.action === EventAction.UPDATE) {
			await refresh();
		}
	});
});

onUnmounted(() => {
	eventBus.off(EventChannel.POST);
});

const getPostIdFromParams = (params: RouteLocation['params']) => {
	if (typeof params.id === 'string') {
		return params.id;
	}
	if (Array.isArray(params.id)) {
		return params.id[0] || '';
	}
	return '';
};

const getRevisionNumberFromParams = (params: RouteLocation['params']): number => {
	if (Array.isArray(params.id)) {
		return parseInt(params.id[1] || '-1') || -1;
	}
	return -1;
};

const { data: postData, error, refresh } = await useAsyncData('data', async () => {
	isLoading.value = true;

	try {
		const postId = getPostIdFromParams(params);
		await postStore.loadPost(postId);
		const post = postStore.getCurrentPost;

		if (!post) {
			isLoading.value = false;
			throw new Error('Failed to fetch post');
		}

		const result = await getPostWithComments({ id: postId });

		if (!result.success) {
			isLoading.value = false;
			throw new Error('Failed to fetch post with comments');
		}

		const revisionNumber = getRevisionNumberFromParams(params);

		if (revisionNumber >= 0) {
			const revisions = await getPostRevisions({ slug: postId });

			if (revisions.success) {
				const revision = revisions.data.items.find(r => r.revisionNumber === revisionNumber);

				if (revision) {
					isLoading.value = false;
					commentsLoaded.value = true;
					return {
						post: {
							...post,
							postText: revision.revisionText,
						},
						comments: result.data.comments || [],
					};
				}
			}
		}

		isLoading.value = false;
		commentsLoaded.value = true;
		return {
			post,
			comments: result.data.comments || [],
		};
	}
	catch (err) {
		isLoading.value = false;
		console.error('Error fetching post with comments:', err);
		return {
			post: undefined,
			comments: [],
		};
	}
}, {
	server: true, watch: [() => params.id],
});

onMounted(() => {
	if (postData.value?.comments && postData.value?.post) {
		isLoading.value = false;
	}
});

watch(() => postData, () => {
	if (postData.value?.comments && postData.value?.comments.length) {
		isLoading.value = false;
	}
}, {
	deep: true,
});

watchEffect(() => {
	const post = postData.value?.post;
	if (!post) return;

	const meta = generatePostMeta(post as any);
	if (!meta) return;
	useHead(meta);
});
</script>

<style lang="scss">
.post {
	display: flex;
	gap: var(--space);
	flex-direction: column;

	&__comment-section,
	&__write-comment-section,
	&__post-section {
		display: flex;
		flex-direction: column;
		gap: var(--space);

		[data-contrast-mode] & {
			--post-detail-section-divider-color: color-mix(in srgb, var(--primary-rgb), 1);
		}

	}

	&__post-section {
		padding: var(--spacing);

		@include global.mobile-only {
			padding: 0;
		}
	}

	&__comment-section {
		padding: var(--space) var(--spacing);

		@include global.mobile-only {
			padding: 0;
		}
	}

	&__comment-container {
		display: flex;
		flex-direction: column;
		gap: var(--space);

		border-radius: var(--border-radius);

		.comment {
			background-color: var(--background);
		}
	}

	&__section-header {
		color: var(--primary);
		opacity: 0.5;
		position: relative;
		width: fit-content;

		[data-contrast-mode] & {
			opacity: 1;
		}
	}
}
</style>
