<template>
	<div :class="bemm()">
		<FormField>
			<div>
				<p>Are you sure you want to archive this post?</p>
			</div>
			<ButtonGroup :align="ButtonGroupAlign.CENTER">
				<Button
					:color="ButtonSettings.Color.PRIMARY"
					:icon="ButtonSettings.Icon.FILE_ARCHIVE"
					:status="archiveStatus"
					@click="archiveAction"
				>
					Yes
				</Button>
			</ButtonGroup>
		</FormField>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import FormField from '@/components/Atoms/Form/FormField.vue';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import Button from '@/components/Atoms/Button/Button.vue';
import { ButtonGroupAlign } from '~/components/Atoms/Button/ButtonGroup.model';
import { archivePost } from '~/composables/useApi';
import type { Post } from '~/types';
import { Status } from '~/types';
import ButtonGroup from '~/components/Atoms/Button/ButtonGroup.vue';

const archiveStatus = ref<Status>(Status.IDLE);

const bemm = useBemm('move-post');
const props = defineProps({
	post: {
		type: Object as PropType<Post>,
		required: true,
	},
});
const archiveAction = async () => {
	archiveStatus.value = Status.LOADING;
	const result =	await archivePost({
		userSlug: props.post.userSlug,
		postID: props.post.postID,
	});
	if (result.success) {
		archiveStatus.value = Status.SUCCESS;
	}
	else {
		archiveStatus.value = Status.ERROR;
	}
};
</script>

<style lang="scss">
.move-post{
  display: flex; flex-direction: column;
}
</style>
