<template>
	<footer
		v-if="comment"
		:class="bemm()"
	>
		<div :class="bemm('list')">
			<PostReactions
				v-if="comment.data.post"
				:reactions="comment?.statistics.reactions"
				:post-id="comment.data.post.pk"
				:entity="comment"
				:size="Size.SMALL"
				:align-panel="ContextPanelPosition.BOTTOM_CENTER"
			/>
			<Button
				:size="ButtonSettings.Size.SMALL"
				:icon="ButtonSettings.Icon.SPEECH_BALLOON2"
				@click="goToComment(comment.data.post.pk, '#comments')"
			>
				{{
					comment.statistics?.commentCount || 0
				}}
			</Button>
		</div>
	</footer>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { type PropType } from 'vue';
import { goToComment } from '@/utils/navigation';
import Button from '~/components/Atoms/Button/Button.vue';
import { Size, type Comment } from '@/types';
import PostReactions from '@/components/Organisms/Post/PostReactions.vue';
import { ButtonSettings } from '~/components/Atoms/Button/Button.model';
import { ContextPanelPosition } from '~/components/Atoms/ContextPanel/ContextPanel.model';

const bemm = useBemm('comment-footer');

defineProps({
	comment: {
		type: Object as PropType<Comment>,
		required: true,
	},
});
</script>

<style lang="scss">
.comment-footer {
	$b: &;

	display: flex;
	justify-content: flex-end;
	gap: var(--space);
	position: relative;
	width: 100%;

	[data-contrast-mode] & {
		opacity: 1;
	}

	&__list {
		display: flex;
		gap: calc(var(--space) * 2);
		padding: var(--space-s);

		@include global.mobile-only() {
			gap: var(--space);
		}
	}
}
</style>
