<template>
	<div :class="bemm('container')">
		<Post
			v-if="postData"
			:post="postData"
		/>

		<SkeletonPost v-else />
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import SkeletonPost from './SkeletonPost.vue';
import { Post } from '@/types';
import { usePostsStore } from '@/store/post';

const route = useRoute();

const bemm = useBemm('load-post');

const postId = computed(() => {
	return route.params.id as string;
});

const { data: postData } = await useLazyAsyncData(
	`post-${postId.value}`,
	async () => {
		const postStore = usePostsStore();
		const post = postStore.getPost(postId.value);
		return post;
	},
	{
		watch: [postId],
		immediate: true,
	},
);
</script>

<style lang="scss">
.load-post {}
</style>
