<template>
	<div :class="bemm()">
		<FormField>
			<div>
				<p>Move this post to my profile.</p>
			</div>
			<Button
				:color="ButtonSettings.Color.PRIMARY"
				:icon="ButtonSettings.Icon.ARROW_RIGHT"
				:status="moveProfileStatus"
				@click="moveToProfileAction"
			>
				Move post to my profile
			</Button>
		</FormField>

		<FormField>
			<div>
				<h4>Or...</h4>
				<p>Select a branch to move the post to</p>
			</div>
			<InputSelect
				v-model="selectedBranch"
				:options="branchOptions"
				:placeholder="'Select a destination'"
			/>
			<Button
				:disabled="!selectedBranch"
				:color="ButtonSettings.Color.PRIMARY"
				:icon="ButtonSettings.Icon.ARROW_RIGHT"
				:status="moveStatus"
				@click="moveAction"
			>
				Move
			</Button>
		</FormField>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { computed } from 'vue';

import FormField from '@/components/Atoms/Form/FormField.vue';
import InputSelect from '@/components/Atoms/Form/InputSelect.vue';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import Button from '@/components/Atoms/Button/Button.vue';
import { useBranches } from '@/composables/useBranches';
import type { Option } from '@/components/Atoms/Form/InputSelect.model';
import { movePost, movePostToProfile } from '@/composables/useApi';
import { Status, type Post } from '@/types';

const { branches } = useBranches();

const bemm = useBemm('move-post');
const moveStatus = ref<Status>(Status.IDLE);
const moveProfileStatus = ref<Status>(Status.IDLE);
const selectedBranch = ref<string | null>(null);

const props = defineProps({
	post: {
		type: Object as PropType<Post>,
		required: true,
	},
});

const branchOptions = computed(() => {
	return branches.value.map((branch) => {
		return {
			value: branch.slug,
			label: branch.subwikiLabel,
		} as Option;
	});
});

const moveAction = async () => {
	moveStatus.value = Status.LOADING;
	const result = await movePost({ postID: props.post.pk, subwiki: selectedBranch.value || '' });
	if (result.success) {
		moveStatus.value = Status.SUCCESS;
		setTimeout(() => {
			moveStatus.value = Status.IDLE;
		}, 2000);
	}
	else {
		moveStatus.value = Status.ERROR;
		setTimeout(() => {
			moveStatus.value = Status.IDLE;
		}, 2000);
	}
};

const moveToProfileAction = async () => {
	moveProfileStatus.value = Status.LOADING;
	const result = await movePostToProfile({ postID: props.post.pk, userSlug: props.post.authors[0]?.slug || '' });
	if (result.success) {
		moveProfileStatus.value = Status.SUCCESS;
		setTimeout(() => {
			moveProfileStatus.value = Status.IDLE;
		}, 2000);
	}
	else {
		moveProfileStatus.value = Status.ERROR;
		setTimeout(() => {
			moveProfileStatus.value = Status.IDLE;
		}, 2000);
	}
};
</script>

<style lang="scss">
.move-post {
	display: flex;
	flex-direction: column;
}
</style>
