<template>
	<div :class="bemm()">
		<Button
			:size="ButtonSettings.Size.MEDIUM"
			:type="ButtonSettings.Type.GHOST"
			:icon="ButtonSettings.Icon.ARROW_THICK_DOWN"
			:tooltip="'Downvote'"
			:class="bemm('button', ['decrease', myVoteDirection === 'down' ? 'active' : ''])"
			@click="handleVote('down')"
		/>
		<span :class="bemm('score')">{{ currentScore }}</span>

		<Button
			:size="ButtonSettings.Size.MEDIUM"
			:type="ButtonSettings.Type.GHOST"
			:icon="ButtonSettings.Icon.ARROW_THICK_UP"
			:tooltip="'Upvote'"
			:class="bemm('button', ['increase', myVoteDirection === 'up' ? 'active' : ''])"
			@click="handleVote('up')"
		/>
	</div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import { useBemm } from 'bemm';
import type { PropType } from 'vue';
import Button from '@/components/Atoms/Button/Button.vue';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { useUserStore } from '@/store/user';
import { eventBus } from '@/utils';
import { setVote } from '@/composables/useApi';
import { type Post, type Comment } from '~/types';

const userstore = useUserStore();

const props = defineProps({
	item: {
		type: Object as PropType<Post | Comment>,
		required: true,
	},
});

const bemm = useBemm('post-score');

// Function to check if the item is a Post
const isPost = (item: Post | Comment): item is Post => {
	return 'vote' in item && 'statistics' in item;
};

// Initialize reactive state with item data
const initialScore = ref(isPost(props.item) ? props.item.statistics.voteValueSum : 0);
const currentScore = ref(initialScore.value);
const myVoteDirection = ref(isPost(props.item) ? props.item.vote.vote : null);
const myVoteValue = ref(isPost(props.item) ? props.item.vote.voteValue : 0);

/**
 * Handles voting for both upvote and downvote
 * @param direction The vote direction ('up' or 'down')
 */
const handleVote = async (direction: 'up' | 'down') => {
	if (props.item === undefined) return;

	const previousDirection = myVoteDirection.value;
	const scoreChange = calculateScoreChange(previousDirection, direction);

	// Apply optimistic update
	currentScore.value += scoreChange;
	myVoteDirection.value = previousDirection === direction ? null : direction;

	// Make API call
	const result = await setVote({
		slug: userstore.userData.slug,
		itempk: props.item?.pk,
		itemsk: props.item?.sk,
		direction,
	});

	if (result.success) {
		// Emit event with updated score
		eventBus.emit(`action:${direction === 'up' ? 'increase' : 'decrease'}-score`, {
			type: props.item.entity,
			id: props.item?.pk,
			value: currentScore.value,
		});
	}
	else {
		// Revert optimistic update if request failed
		currentScore.value -= scoreChange;
		myVoteDirection.value = previousDirection;
	}
};

/**
 * Calculates the score change based on previous and new vote directions
 */
const calculateScoreChange = (previousDirection: string | null, newDirection: 'up' | 'down'): number => {
	const voteValue = myVoteValue.value;

	// If clicking the same button that was already active, we're removing the vote
	if (previousDirection === newDirection) {
		return newDirection === 'up' ? -voteValue : voteValue;
	}

	// If changing from up to down or vice versa, the change is doubled
	if (previousDirection !== null) {
		return newDirection === 'up' ? voteValue * 2 : -voteValue * 2;
	}

	// If no previous vote, simply add or subtract the vote value
	return newDirection === 'up' ? voteValue : -voteValue;
};
</script>

<style lang="scss">
.post-score {
  display: flex;
  align-items: center;
  justify-content: center;

  &__score {
    font-size: 1em;
    padding: 0 var(--space-s);
  }

	&__button{
		&--active{
			border: 2px solid red;
		}
	}
}
</style>
