<template>
	<div :class="bemm('container')">
		<article
			:class="blockClasses"
		>
			<header
				v-if="post"
				:class="bemm('header')"
			>
				<ClientOnly>
					<Teleport
						v-if="isMain"
						to="#sidebar"
					>
						<PostDetails :post="post" />
					</Teleport>
				</ClientOnly>

				<AuthorAvatar
					v-if="post.data.createdByUser"
					:user="post.data.createdByUser"
					:entity="post"
					:is-self="post.data.createdByUser.slug === useUserStore().getUserSlug"
				>
					<template
						v-if="post.data.subwiki?.label"
						#branch
					>
						<Nothing
							v-if="post.data.subwiki?.label"
							:class="bemm('branch')"
							@click="goToBranch(post.data.subwiki.slug)"
						>
							{{ post.data.subwiki.label }}
						</Nothing>
					</template>
					<template
						v-if="post.createdAt"
						#time
					>
						<Nothing :tooltip="formatDate(post.createdAt)">
							{{ prettyDate(post?.createdAt) }}
						</Nothing>
					</template>
				</AuthorAvatar>
			</header>
			<main
				:class="bemm('main')"
				@click="handleGoToPost()"
			>
				<div
					v-if="status == ButtonStatus.LOADING"
					:class="bemm('loader-container')"
				>
					<DotsLoader />
				</div>

				<!-- eslint-disable vue/no-v-html -->
				<div
					v-if="!imagesOnly"
					:class="bemm('content')"
					v-html="postText"
				/>
				<!-- eslint-enable -->
				<div
					v-if="imagesOnly"
					:class="bemm('images')"
				>
					<figure
						v-for="(image, index) in images"
						:key="image.id"
						:class="bemm('image')"
						@click="openGallery($event, images, index)"
					>
						<img
							:class="bemm('img')"
							:src="image.url"
							alt="image.alt"
						>
					</figure>
				</div>
			</main>

			<ButtonGroup
				v-if="isLimited || hasImages && !isMain && !imagesOnly"
				:class="bemm('read-more')"
				:align="ButtonGroupAlign.CENTER"
			>
				<Button
					:icon="Icons.CHEVRON_DOWN"
					:type="ButtonType.NORMAL"
					:size="ButtonSize.SMALL"
					:color="ButtonColor.BACKGROUND"
					:status="status"
					@click="handleReadMore()"
				>
					Read More
				</Button>
			</ButtonGroup>

			<div :class="bemm('embeds')">
				<PostLinks
					v-if="props.post.cardUrl"
					:links="[props.post.cardUrl]"
				/>
			</div>
			<PostFooter
				v-if="post.statistics"
				:class="bemm('footer')"
				:post="props.post"
				:is-main="isMain"
			/>
		</article>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { type PropType } from 'vue';

import ImageGallery from '../ImageGallery/ImageGallery.vue';
import PostFooter from './PostFooter.vue';
import PostDetails from './PostDetails.vue';
import type { Post } from '@/types';
import { Icons } from '@/types';

import PostLinks from '@/components/Organisms/Post/PostLinks.vue';

import Button from '@/components/Atoms/Button/Button.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import AuthorAvatar from '@/components/Molecules/AuthorAvatar.vue';
import Nothing from '@/components/Atoms/Nothing/Nothing.vue';
import DotsLoader from '@/components/Molecules/Loader/DotsLoader.vue';
import { goToPost, goToBranch } from '@/utils/navigation';
import { extractLinks, limitHtmlContent } from '~/utils/html';
import { ButtonColor, ButtonSize, ButtonStatus, ButtonType } from '@/components/Atoms/Button/Button.model';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';
import { Routes } from '@/data/routes';
import { popupService } from '@/components/Molecules/Popup/Popup.service';
import { useUserStore } from '@/store/user';
import { formatDate, prettyDate } from '@/utils';

const route = useRoute();
const post = computed(() => {
	return props.post;
});

const bemm = useBemm('post-item');
const links = ref<string[]>([]);
const isLimited = ref(false);
const status = ref<ButtonStatus>(ButtonStatus.IDLE);

const props = defineProps({
	post: {
		type: Object as PropType<Post>,
		required: true,
	},
	isMain: {
		type: Boolean,
		default: false,
	},
});

const postText = computed(() => {
	return getPostText();
});

const setLinks = () => {
	links.value = extractLinks(postText.value);
};
const hasLinks = computed(() => {
	return !!(props.post.postText || '').includes('<a');
});

const isOnDetailPage = computed(() => {
	return route.name === Routes.POST_DETAIL && (route.params.id as string[])[0] === post.value.postID;
});

const handleGoToPost = () => {
	if (isOnDetailPage.value) return;
	status.value = ButtonStatus.LOADING;
	navigateTo(`/post/${post.value.postID}`);
};

// Handle Images

const imagesOnly = computed(() => {
	const tempPostText = removeEmptyTags(unParagraphImages(post.value.postText)) || '';

	return !tempPostText.includes('<p>') && tempPostText.includes('<img');
});
const images = ref();

onMounted(() => {
	if (imagesOnly.value) {
		images.value = post.value.postText.split('<img').map((img) => {
			const src = img.match(/src="([^"]*)"/);
			const alt = img.match(/alt="([^"]*)"/);
			return {
				url: src ? src[1] : '',
				alt: alt ? alt[1] : '',
			};
		}).filter(img => img.url);
	}
});

const openGallery = (event: Event, images: [], index: number) => {
	event.stopPropagation();
	popupService.showPopup(
		{
			component: ImageGallery,
			props: {
				images: images,
				initialIndex: index,
			},
		});
};

// Handle Read More

const getPostText = () => {
	if (props.isMain) {
		return post.value.postText;
	}
	const result = limitHtmlContent(props.post.postText, {
		lineLimit: 5,
		charLimit: 500,
	});
	isLimited.value = result.limited;
	return result.html;
};

const handleReadMore = () => {
	status.value = ButtonStatus.LOADING;
	goToPost(post.value.postID);
};

onMounted(() => {
	if (hasLinks.value) {
		setLinks();
	};
});

const hasImages = computed(() => {
	return !!post.value.postText?.includes('<img');
});

const blockClasses = computed(() => {
	return [bemm(), bemm('', props.isMain ? 'main' : 'feed'), bemm('', isLimited.value ? 'is-cropped' : ''), bemm('', hasImages.value ? 'has-image' : '')];
});
</script>

<style lang="scss">
.post-item {

  $b: &;

  width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-radius: var(--border-radius);
  box-shadow: var(--drop-shadow);
  background-color: var(--background);

  .post-item--feed & {

    @supports (view-timeline-name: --revealing-post) {
      scroll-snap-align: start;

      transform: translateY(50%);
      opacity: .5;

      view-timeline-name: --revealing-post;
      view-timeline-axis: block;

      animation: linear showPost both;
      animation-timeline: --revealing-post;
      animation-range: entry 0% cover 25%;

      @at-root {
        @keyframes showPost {
          to {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }

  &--main {
    font-size: 1.1em;
  }

  &::before {
    content: "";
    display: block;
    width: calc(100% + var(--space));
    height: calc(100% + var(--space));
    border: 1px solid rgba(from var(--primary) r g b / 0.25);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(.95);
    z-index: -1;
    border-radius: var(--border-radius);
    opacity: 0;
    transition: transform 0.2s var(--bezier), opacity 0.2s var(--bezier);

    @include global.mobile {
      width: calc(100% + var(--space-s));
      height: calc(100% + var(--space-s));
    }
  }

  &:has(.post-item__main:hover):not(.post-item--main)::before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__loader-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color-mix(in srgb, var(--background), transparent 50%);
    position: absolute;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
    animation: fadeIn 0.5s var(--bezier) forwards;
    opacity: 0;

    @keyframes fadeIn {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: var(--space);
    padding: var(--space);
    justify-content: space-between;
    position: relative;
    z-index: 5;
    width: 100%;

  }

  &__category {
    display: flex;
    align-items: center;
    gap: var(--space);
    padding: calc(var(--space) / 2);
    border: 1px solid color-mix(in srgb, var(--primary-rgb), 0.5);
    border-radius: var(--border-radius);
    background-color: color-mix(in srgb, var(--primary-rgb), 0.1);
    color: var(--primary);
    align-self: flex-end;
    font-size: 0.75em;

    [data-contrast-mode] & {
      color: currentColor;
    }
  }

  &__refresh {
    position: absolute;
    top: var(--space);
    right: var(--space);
    opacity: 0;
    z-index: 100;

    &:hover {
      animation: rotate 3s infinite linear;
      opacity: 1;
    }
    @keyframes rotate {
      to {
        transform: rotate(360deg);
      }
    }
  }

  // &__image {
  //   overflow: hidden;
  //   margin: var(--space) 0;
  //   max-width: 100%;
  //   width: 100%;
  //   border-radius: var(--border-radius);

  //   img {
  //     width: 100%;
  //   }
  // }

  &__main {
    padding: var(--space);
    position: relative;
    z-index: 1;
    width: 100%;
    padding-left: calc(var(--space) * 4);

    .post-item--main & {
      max-height: none;
    }
  }

  &__embeds {
    padding: var(--space);
    width: 100%;

    &:not(:has(*)) {
      display: none;
    }

  }

  &__read-more {
    position: relative;
    width: 100%;
    padding: var(--space);
    margin-top: calc(var(--space-l) * -1);

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      left: 0;
      top: 50%;
      background-color: color-mix(in srgb, var(--foreground-rgb), .25);
      display: block;
      position: absolute;
    }

    .button {
      position: relative;
      z-index: 2;
    }

  }

  &__images {
    display: grid;
    gap: var(--space);
    margin: var(--space) 0;

    &:has(.post-item__image:nth-child(2)) {
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - var(--space)), 1fr));
    }

    &:has(.post-item__image:nth-child(3)) {
      grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - var(--space)), 1fr));
    }

    &:has(.post-item__image:nth-child(4)) {
      grid-template-columns: repeat(auto-fill, minmax(calc(50% - var(--space)), 1fr));
    }
  }

  &__img {
    margin: 0;
    max-width: 100%;
    width: 100%;
    border-radius: var(--border-radius);
  }

  &__content {
    width: 100%;
    font-size: 0.875em;
    line-height: 1.5;

    p {
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: pre-wrap;
    }

    img {
      border-radius: var(--border-radius);
      max-width: 100%;
      width: 100%;
    }

    p+p {
      margin-top: 0.75em;
    }

    a {
      color: var(--primary);
      text-decoration: underline;
    }

    .post-item--feed & {
      p:has(img) {
        display: block;
        max-height: 320px;
        overflow: hidden;
        position: relative;

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          width: 100%;
          height: var(--spacing);
          background-image:
            linear-gradient(45deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(-45deg, white 0%, white 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%),
            linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
          background-position: bottom center, bottom center, bottom center;
          background-size: 0.75rem 0.75rem, 0.75rem 0.75rem, 100% 1rem;
          background-repeat: repeat-x;
        }

        a:has(img) {
          pointer-events: none;
        }
      }
    }

  }

  &__branch {

    opacity: .5;

    [data-contrast-mode] & {
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__footer {}

}
</style>
