<template>
	<ContextMenu
		v-if="contextMenuData"
		:class="bemm()"
		:config="{
			menu: contextMenuData,
			position: 'bottom-left',
		}"
	>
		<Button
			:icon="ButtonSettings.Icon.THREE_DOTS_VERTICAL"
			:size="ButtonSettings.Size.MEDIUM"
			:type="ButtonSettings.Type.GHOST"
		/>
	</ContextMenu>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import { useI18n } from 'vue-i18n';
import { useBemm } from 'bemm';
import { Icons } from 'open-icon';
import MovePost from './MovePost.vue';
import ArchivePost from './ArchivePost.vue';
import ContextMenu from '~/components/Atoms/ContextMenu/ContextMenu.vue';
import Button from '~/components/Atoms/Button/Button.vue';
import { ButtonSettings } from '~/components/Atoms/Button/Button.model';
import { popupService } from '~/components/Molecules/Popup/Popup.service';
import { useUserStore } from '~/store/user';
import type { Post } from '~/types';
import type { ContextMenuItem } from '~/components/Atoms/ContextMenu/ContextMenu.model';

const bemm = useBemm('post-actions');

const { t } = useI18n();

const props = defineProps({
	post: {
		type: Object as PropType<Post>,
		required: true,
	},
});

const editPost = () => {
	navigateTo(`/edit/post/${props.post.postID}`);
};

const canEdit = computed(() => {
	const userStore = useUserStore();

	const user = userStore.getUserData?.value;
	if (!user) return;
	return canEditPost({
		post: props.post,
		user,
	});
});
const contextMenuData = ref<Partial<ContextMenuItem>[]>([
	{
		label: t('Actions.view-post'),
		link: `/post/${props.post.postID}`,
		icon: Icons.FILE_TEXT,
	}, {
		disabled: !canEdit.value,
		label: t('Actions.edit-post'),
		action: editPost,
		icon: Icons.FILE_EDIT2,
	}, {
		disabled: !canEdit.value,
		label: t('Actions.move-post'),
		action: () => movePostAction(),
		icon: Icons.ARROW_RIGHT,
	}, {
		disabled: !canEdit.value,
		label: t('Actions.archive-post'),
		icon: Icons.FILE_ARCHIVE,
		action: () => archivePostAction(),
	}]);

const movePostAction = () => {
	popupService.showPopup({
		component: MovePost,
		title: t('Actions.move-post'),
		props: {
			post: props.post,
		},
	});
};

const archivePostAction = () => {
	popupService.showPopup({
		component: ArchivePost,
		title: t('Actions.archive-post'),
		props: {
			post: props.post,
		},
	});
};
</script>
