<template>
	<div :class="bemm()">
		<ClientOnly>
			<slot />
		</ClientOnly>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

const bemm = useBemm('post-list');
</script>

<style lang="scss">
.post-list{
	display: flex; flex-direction: column; gap: var(--space);
	padding: var(--post-list-padding, 0);
}
</style>
