<template>
	<div :class="bemm()">
		<Card v-if="Revisions?.data">
			<template #header>
				<h5>Revisions  <Chip>{{ Revisions.data.items.length }}</Chip></h5>
			</template>
			<template #default>
				<ul :class="bemm('revision-list')">
					<li
						v-for="revision in allRevisions"
						:key="revision.sk"
						:class="bemm('revision-item', {
							'': true,
							'active': revision.revisionNumber === revisionNumber,
						})"
						@click="goToRevision(revision.revisionNumber)"
					>
						<span :class="bemm('revision-number')">#{{ revision.revisionNumber }}</span>
						<span :class="bemm('revision-date')">{{ calculateTimeDifference(revision.updatedAt) }}</span>
						<span
							:class="bemm('revision-author')"
							@click="goToProfile(revision.data.user.slug)"
						>{{ revision.data.user.fname }} {{ revision.data.user.lname }}</span>
					</li>
					<Button
						v-if="!showAllRevision && Revisions.data.items.length > 5"
						:type="ButtonSettings.Type.OUTLINE"
						:size="ButtonSettings.Size.SMALL"
						@click="toggleAll()"
					>
						{{ showAllRevision ? 'Hide' : 'Show all' }}
					</Button>
				</ul>
			</template>
		</Card>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { PropType } from 'vue';
import { getPostRevisions } from '@/composables/useApi';
import type { Post } from '@/types';
import { Status } from '@/types';
import { calculateTimeDifference } from '@/utils';
import Chip from '@/components/Atoms/Chip/Chip.vue';
import Card from '@/components/Atoms/Card/Card.vue';
import Button from '~/components/Atoms/Button/Button.vue';
import { ButtonSettings } from '~/components/Atoms/Button/Button.model';

const bemm = useBemm('post-details', {
	includeBaseClass: true,
});

const props = defineProps({
	post: {
		type: Object as PropType<Post>,
		required: true,
	},
});

const status = ref<Status>(Status.IDLE);

const { data: Revisions } = useAsyncData(async () => {
	status.value = Status.LOADING;
	const response = getPostRevisions({
		slug: props.post.postID,
	});
	status.value = Status.IDLE;
	return response;
});

const { params } = useRoute();

const showAllRevision = ref(false);
const toggleAll = () => {
	showAllRevision.value = !showAllRevision.value;
};

const allRevisions = computed(() => {
	if (showAllRevision.value) {
		return Revisions.value?.data.items || [];
	}
	return (Revisions.value?.data.items || []).splice(0, 5);
});

const revisionNumber = computed<number | null>(() => {
	if (Array.isArray(params.id)) {
		const revision = parseInt(params.id[1] as string);
		return isNaN(revision) ? null : revision;
	}
	return null;
});

const goToRevision = (revisionNumber: number) => {
	navigateTo(`/post/${props.post.postID}/${revisionNumber}`);
};

const goToProfile = (slug: string) => {
	navigateTo(`/profile/${slug}`);
};
</script>

<style lang="scss">
.post-details {

	&__revision {
		border: 1px solid red;
	}

	&__revision-list {
		display: flex;
		flex-direction: column;
	}

	&__revision-item {
		display: flex;
		flex-wrap: wrap;
		gap: var(--space-xs) var(--space);

		display: grid;
		grid-template-columns: auto 1fr;
		grid-template-areas:
			"rev-number rev-author"
			"rev-number rev-date";
		z-index: 1;
		position: relative;
		padding: var(--space-s);
		--scale: 0.5;
		--opacity: 0;

		&:hover{
			cursor: pointer;
		}

		&::before {
			z-index: -1;
			content: "";
			width: 100%; height: 100%;
			position: absolute;
			left: 50%;
			top: 50%;
			background-color: color-mix(in srgb, var(--card-color), transparent 80%);
			border: 1px solid var(--card-color);
			transform: translate(-50%, -50%) scale(var(--scale));
			border-radius: var(--border-radius);
			pointer-events: none;
			opacity: var(--opacity);
			transition: all .3s ease-in-out;
		}

		&--active::before {
			--opacity: 1;
			--scale: 1;
		}
		&:hover{
			--opacity: .75;
			--scale: 1;

		}
	}

	&__revision-number {
		grid-area: rev-number;
		font-weight: bold;
		font-size: .66em;
	}

	&__revision-date {
		grid-area: rev-date;
		font-size: .66em;
		opacity: 0.5;
	}

	&__revision-author {
		grid-area: rev-author;
		font-size: .75em;

font-weight: bold;		opacity: 0.5;
		&:hover{
			opacity: 1;
		}

	}

}
</style>
