<template>
	<template v-if="exists">
		<PageHeader
			:color="branchColour"
			:title="branchTitle"
			:icon="branchIcon"
		>
			<TabGroup
				v-if="showBrowseType"
				:class="bemm('tab-group')"
				:size="Size.SMALL"
			>
				<Tab
					:class="bemm('tab')"
					:active="browseType === BrowseType.FOR_YOU"
					:icon="Icons.USER"
					:label="t('General.for-you')"
					:size="Size.SMALL"
					:tooltip="t('General.for-you')"
					@click="browseType = BrowseType.FOR_YOU"
				/>
				<Tab
					:class="bemm('tab')"
					:active="browseType === BrowseType.EXPLORE"
					:icon="Icons.COMPASS"
					:size="Size.SMALL"
					:label="t('General.explore')"
					:tooltip="t('General.explore')"
					@click="browseType = BrowseType.EXPLORE"
				/>
			</TabGroup>
			<BranchFollowButton
				v-if="!showBrowseType"
				:color="branchColour"
				:slug="slug"
			/>
		</PageHeader>
		<main :class="bemm('main')">
			<PostList v-if="isLoading && !posts?.length">
				<SkeletonPost
					v-for="i in 5"
					:key="i"
				/>
			</PostList>
			<ClientOnly>
				<PostList
					v-if="posts"
					:class="bemm('list')"
				>
					<Post
						v-for="(post, i) in posts"
						:key="post.postID"
						:data-delay="i"
						:class="bemm('article')"
						:post="post"
					/>
					<!-- Loading trigger -->
					<div
						v-if="posts.length > 0 && feedState.hasMore"
						ref="loadMoreTrigger"
						:class="bemm('load-more')"
					>
						<SkeletonPost v-if="feedState.isLoading" />
						<SkeletonPost v-if="feedState.isLoading" />
						<SkeletonPost v-if="feedState.isLoading" />
					</div>

					<Card
						v-if="posts.length > 0 && !feedState.hasMore"
						:class="bemm('end-card')"
						:color="ButtonSettings.Color.BACKGROUND"
					>
						<small>
							{{ t('PostFeed.end-message') }}
						</small>
					</Card>

					<template v-if="!isLoading && !posts?.length">
						<EmptyMessage
							:icon="Icons.FILE_QUESTION_MARK"
							:message="t('PostFeed.no-posts')"
						/>
						<ButtonGroup
							:align="ButtonGroupAlign.CENTER"
							style="--button-group-width: 100%"
						>
							<Button
								v-if="userstore.isLoggedIn"
								:class="bemm('first-post')"
								:size="ButtonSettings.Size.LARGE"
								:icon="ButtonSettings.Icon.FILE_EDIT2"
								:color="branchColour"
								@click="createPost"
							>
								{{ t('PostFeed.create-first-post') }}
							</Button>
						</ButtonGroup>
					</template>
				</PostList>
			</ClientOnly>
		</main>
	</template>
</template>

<script lang="ts" setup>
import { computed, ref, onMounted, onUnmounted, nextTick, watch } from 'vue';
import { useRoute } from 'vue-router';
import { useBemm } from 'bemm';

import PageHeader from '../PageHeader.vue';

import BranchFollowButton from '../Branch/BranchFollowButton.vue';
import SkeletonPost from './SkeletonPost.vue';
import PostCreate from './PostCreate.vue';
import PostList from './PostList.vue';
import Post from './Post.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import Card from '@/components/Atoms/Card/Card.vue';
import EmptyMessage from '@/components/Molecules/EmptyMessage.vue';
import TabGroup from '@/components/Atoms/Tab/TabGroup.vue';
import Tab from '@/components/Atoms/Tab/Tab.vue';
import { Icons, BrowseType, Size } from '@/types';
import { usePostsStore } from '@/store/post';
import { useUI } from '@/composables/useUI';
import { useBranches } from '@/composables/useBranches';
import { Routes } from '@/data/routes';
import { EventAction, EventChannel, type EventData } from '~/utils/eventBus';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { popupService } from '@/components/Molecules/Popup/Popup.service';
import { useUserStore } from '@/store/user';
import { checkBranchExists } from '@/composables/useApi';

const { t } = useI18n();
const bemm = useBemm('post-feed');
const route = useRoute();
const { browseType } = useUI();
const isLoading = ref(true);
const { getBranchIcon, getBranch } = useBranches();
const postStore = usePostsStore();
const userstore = useUserStore();

// UI state
const loadMoreTrigger = ref(null);
const isMounted = ref(false);
const showBrowseType = ref(false);
const postsLoading = ref(false);
const currentPage = ref(1);

const props = defineProps({
	type: {
		type: String,
		required: true,
	},
	slug: {
		type: String,
		required: false,
	},
});

// Branch information
const slug = ref<string>(props.slug || '');
const branchTitle = ref<string>('');
const branchIcon = ref<Icons>('');
const branchColour = ref<string>(ButtonSettings.Color.QUATERNARY);

// Computed feed state
const feedState = computed(() => postStore.getFeedState(props.type, props.slug));

// Keep a reference to the current posts to prevent flash
const currentPosts = ref<any[]>([]);

const { data: exists } = await useAsyncData(async () => {
	if (props.slug == 'foryou') return true;
	const exists = await checkBranchExists({
		slug: props.slug || '',
	});
	return exists.data.exists;
});

// Initial data fetch
const { data: posts, refresh } = await useLazyAsyncData(
	`posts-${props.type}-${props.slug}`, // Unique key for each feed
	async () => {
		try {
			isLoading.value = true;
			postsLoading.value = true;
			await postStore.loadPosts(props.type, props.slug, 1);
			const newPosts = postStore.getPosts();
			currentPosts.value = newPosts; // Update our reference
			return newPosts;
		}
		catch (error) {
			console.error('Error loading posts:', error);

			postsLoading.value = false;
			isLoading.value = false;
		}
		finally {
			setTimeout(() => {
				postsLoading.value = false;
				isLoading.value = false;
			}, 100);
		}
	},
	{
		immediate: true,
		watch: [
			() => props.type,
			() => props.slug,
			() => browseType.value,
		],
	},
);

// Modified resetPosts to handle the transition better
const resetPosts = async () => {
	isLoading.value = true;
	currentPage.value = 1;
	postStore.clearFeed(props.type, props.slug); // Make sure your store has this method
	await refresh();
};

const resetEvaluatedKey = () => {
	postStore.resetEvaluatedKey(props.type, props.slug);
};

// Watch for navigation changes
watch(
	() => route.params.slug,
	async (newSlug, oldSlug) => {
		if (newSlug !== oldSlug) {
			await resetPosts();
		}
	},
	{ immediate: true },
);

// Load more function
const loadMore = async () => {
	if (feedState.value.isLoading || !feedState.value.hasMore) return;

	try {
		await postStore.loadPosts(props.type, props.slug, currentPage.value);
		posts.value = postStore.getPosts();
		currentPosts.value = posts.value; // Keep our reference updated
	}
	catch (error) {
		console.error('Error loading more posts:', error);
	}
};

const scrollToTop = () => {
	const scrollContainer = document.querySelector('.default-layout__scroll-wrapper');
	if (scrollContainer) scrollContainer.scrollTop = 0;
};

onUnmounted(() => {
	resetEvaluatedKey();
});

// Intersection Observer setup
onMounted(() => {
	scrollToTop();
	isMounted.value = true;

	const observer = new IntersectionObserver(
		async (entries) => {
			const target = entries[0];
			if (target?.isIntersecting && !feedState.value.isLoading && feedState.value.hasMore) {
				currentPage.value++;
				await loadMore();
			}
		},
		{
			rootMargin: '100px',
		},
	);

	watch(loadMoreTrigger, (el) => {
		if (el) {
			observer.observe(el);
		}
	});

	// Branch setup
	if (route.params.slug) {
		getBranch({ slug: route.params.slug as string }).then((res) => {
			branchTitle.value = res?.subwikiLabel || route.params.slug as string;
			branchIcon.value = res?.branchIcon || getBranchIcon(route.params.slug as string);
			branchColour.value = res?.branchColour || ButtonSettings.Color.QUATERNARY;
		});
	}
	else {
		branchTitle.value = t('Branch.maintrunk');
		branchIcon.value = Icons.TREE;
		branchColour.value = ButtonSettings.Color.GREEN;
	}

	// Event handling
	eventBus.on(EventChannel.POST, (p) => {
		const payload = p as EventData;
		if (payload.action === EventAction.NEW) {
			refresh();
		}
	});
});

// Clean up
onUnmounted(() => {
	isMounted.value = false;
	currentPage.value = 1;
	eventBus.off(EventChannel.POST);
});

// Simplified watchers
watch(() => route.name, () => {
	showBrowseType.value = route.name === Routes.INDEX;
}, { immediate: true });

// Create post handling
const createPost = () => {
	if (!userstore.isLoggedIn) return;

	nextTick(() => {
		popupService.showPopup({
			component: PostCreate,
			props: {
				branch: route.params.slug,
			},
		});
	});
};
</script>

<style lang="scss">
.post-feed {
	opacity: 0;
	transition: all 0.5s ease-in-out;

	&--loaded {
		opacity: 1;
		transform: translateY(0);
	}

	&--not-loaded {
		opacity: 0;
		transform: translateY(-1em);
	}

	// &__header {
	// 	position: sticky;
	// 	top: var(--space);
	// 	display: flex;
	// 	align-items: center;
	// 	justify-content: space-between;
	// 	gap: var(--space);
	// 	padding: var(--space-s) var(--space-s);
	// 	border-radius: var(--border-radius);
	// 	transition: all .3s ease-in-out;

	// 	--tab-background-color--active: blue;
	// 	--tab-text-color--active: var(--foreground);
	// 	--tab-group-justify-content: flex-end;
	// 	--tab-underline-color: transparent;
	// 	--tab-underline-color--active: var(--branch-color);

	// 	--background1: color-mix(in srgb, var(--branch-color), 75% transparent);
	// 	--background2: color-mix(in srgb, var(--branch-color), 90% transparent);
	// 	--background3: color-mix(in srgb, var(--branch-color), 75% transparent);
	// 	background-image: linear-gradient(to right, var(--background1), var(--background2), var(--background3));
	// 	z-index: 10;

	// 	backdrop-filter: blur(5px);

	// 	--tab-group-horizontal-align: flex-end;

	// 	[data-scroll-direction="down"]:not([data-on-top]) & {
	// 		transform: translateY(-50%);
	// 		opacity: 0;
	// 	}

	// 	@include global.desktop {
	// 		top: 0;
	// 		border-radius: 0 0 var(--border-radius) var(--border-radius);
	// 	}

	// 	@include global.tablet {
	// 		border-radius: 0 0 0 var(--border-radius);
	// 	}

	// 	.tab-group {
	// 		.tab {
	// 			font-size: 1em;
	// 		}

	// 		position: relative;
	// 		top: var(--space-s);
	// 	}
	// }

	// &__top-logo {
	// 	flex-shrink: 0;
	// 	width: 6em;
	// 	display: none;

	// 	@include global.mobile-only {
	// 		display: block;
	// 	}
	// }

	&__load-more {
		min-height: 50px;
		padding: var(--space-s) 0;
		opacity: 1;
	}

	&__main {
		padding: var(--space-l) var(--space-l);
		height: fit-content;

		@include global.mobile-only {
			padding: var(--space) 0;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		gap:var(--space);
		@include global.mobile-only {
			gap: var(--space-s);
		}

	}

	&__end-card {
		--card-border-color: var(--accent);
		--card-text-color: color-mix(in srgb, var(--background), var(--foreground) 50%);
		--card-text-align: center;
	}
}

@keyframes popInHeaderIcon {
	from {
		transform: scale(0.5) translateY(100%);
	}

	to {
		transform: scale(1) translateY(0%);
	}
}
</style>
