<template>
	<div :class="bemm()">
		<header :class="bemm('header')">
			<p v-if="isPosted">
				Successfully posted to <Chip>{{ branchTitle || currentBranch }}</Chip>
			</p>
			<template v-else>
				<p v-if="isProfilePost">
					this is a profile post. <strong>{{ slug }}</strong>
				</p>
				<template v-else>
					<p v-if="!isUpdate">
						You are currently posting to <strong @click="editBranch = !editBranch">{{ branchTitle || currentBranch
						}}</strong>
					</p>
					<p v-if="isUpdate">
						You are currently updating a post on {{ branchTitle || currentBranch
						}}
					</p>
				</template>

				<InputSelect
					v-if="editBranch"
					v-model="currentBranch"
					:options="branchOptions"
					@change="() => { editBranch = false }"
				/>
			</template>
		</header>

		<Banner
			v-if="postError"
			type="error"
		>
			{{ postError }}
		</Banner>

		<div :class="bemm('field')">
			<div
				v-if="isPosting || loading"
				:class="bemm('posting')"
			>
				<DotsLoader />
			</div>
			<div
				v-if="!isPosted && !loading"
				:class="bemm('editor-container', ['', isPosting ? 'is-posting' : 'idle'])"
			>
				<Editor
					v-if="!loading"
					v-model="postData"
					:class="bemm('editor')"
					:post-label="editMode ? 'Update Post' : 'Create Post'"
					:focus="true"
				/>

				<InputCheckbox
					v-model="postData.collaborative"
					label="Collaborative"
				/>

				<ButtonGroup :align="ButtonGroupAlign.CENTER">
					<Button
						:type="ButtonType.GHOST"
						:color="Colors.TERTIARY"
						:icon="Icons.MULTIPLY_M"
						@click="resetPost()"
					>
						Reset
					</Button>
					<Button
						html-button-type="button"
						:type="ButtonType.NORMAL"
						:color="Colors.PRIMARY"
						:icon="Icons.EDIT_LINE"
						:status="status"
						@click="handlePostArticle()"
					>
						{{ isUpdate ? 'Update' : 'Post' }} Article
					</Button>
				</ButtonGroup>
			</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { PropType } from 'vue';
import type { PostImage } from '../Editor/Editor.model';

import InputCheckbox from '../../Atoms/Form/InputCheckbox.vue';
import Editor from '../Editor/Editor.vue';
import Chip from '@/components/Atoms/Chip/Chip.vue';
import type { Post } from '@/types';
import { Icons, Colors, createPost } from '@/types';

import DotsLoader from '@/components/Molecules/Loader/DotsLoader.vue';
import Banner from '@/components/Atoms/Banner/Banner.vue';
import InputSelect from '@/components/Atoms/Form/InputSelect.vue';
import Button from '@/components/Atoms/Button/Button.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import { ButtonStatus, ButtonType } from '@/components/Atoms/Button/Button.model';
import { commentOnProfile, postArticle, updateArticle } from '@/composables/useApi';
import { useUI } from '@/composables/useUI';
import { ButtonGroupAlign } from '@/components/Atoms/Button/ButtonGroup.model';
import { useBranches } from '~/composables/useBranches';
import { eventBus, EventAction, EventChannel } from '~/utils/eventBus';

import { Routes } from '~/data/routes';
import { popupService } from '~/components/Molecules/Popup/Popup.service';
import { useEditor } from '~/composables/useEditor';

const bemm = useBemm('post-create');
const { setTempPost, getTempPost, removeTempPost } = useUI();
const { links } = useEditor();
const { branches } = useBranches();

const editBranch = ref(false);
const isPosting = ref(false);
const isPosted = ref(false);
const status = ref<ButtonStatus>(ButtonStatus.IDLE);
const postSuccessData = ref<Post | null>(null);
const postError = ref<string | null>(null);
const slug = ref('');

const props = defineProps({
	content: {
		type: String,
		default: '',
		required: false,
	},
	branch: {
		type: String,
		default: 'maintrunk',
		required: false,
	},
	isMainTrunk: {
		type: Boolean,
		default: false,
		required: false,
	},
	post: {
		type: Object as PropType<Post>,
		default: () => createPost({}),
		required: false,
	},
	useCached: {
		type: Boolean,
		default: true,
		required: false,
	},
	isUpdate: {
		type: Boolean,
		default: false,
		required: false,
	},
});

const parent = ref({
	pk: 'maintrunk#maintrunk',
	sk: 'maintrunk#maintrunk',
});

const route = useRoute();

const isProfilePost = ref(false);
const currentBranch = ref(props.branch);
const branchTitle = ref();
const loading = ref(false);

const editMode = computed(() => {
	return route.name === Routes.POST_EDIT;
});

const setBranchTitle = () => {
	if ((currentBranch.value === 'maintrunk' || !currentBranch.value)) {
		branchTitle.value = 'Main Trunk';
	}
	else {
		const branch = branches.value.find(branch => branch.slug === currentBranch.value);
		if (branch) {
			branchTitle.value = branch.subwikiLabel;
		}
	}
};

onMounted(async () => {
	if (props.post) {
		setPostData({
			content: {
				html: props.post.postText,
				md: props.post.postText,
			},
			images: [],
		});
	}
});

const decideParent = () => {
	if (props.isMainTrunk) {
		parent.value = {
			pk: 'maintrunk#maintrunk',
			sk: 'maintrunk#maintrunk',
		};
	}
	else {
		parent.value = {
			pk: 'subwiki#' + props.branch,
			sk: 'subwiki#' + props.branch,
		};
	}
};

watch(() => props.branch, (branch) => {
	if (route.name === Routes.PROFILE_DETAIL) {
		isProfilePost.value = true;
		slug.value = toArray(route.params.slug)[0] || '';
	}

	currentBranch.value = branch;
	decideParent();
}, {
	immediate: true,
});

// Close edit panel when branch changes
watch(() => currentBranch.value, () => {
	setTimeout(() => {
		editBranch.value = false;
	}, 1000);

	setBranchTitle();
}, {
	immediate: true,
});

const emit = defineEmits(['update:content', 'update:modelValue']);

const setPostData = (data: { content: { html: string; md: string }; images: PostImage[] }) => {
	postData.value = {
		content: {
			html: data.content.html,
			md: data.content.md,
		},
		images: data.images,
		collaborative: false,
	};
	setTempPost({
		branch: currentBranch.value,
		content: {
			html: data.content.html,
			md: data.content.md,
		},
		images: data.images,
	});
	emit('update:content', data.content.html);
	emit('update:modelValue', postData.value);
};

const resetPost = () => {
	postData.value.content.html = '';
	postData.value.content.md = '';
	postData.value = {
		content: {
			html: '',
			md: '',
		},
		images: [],
		collaborative: false,
	};
	emit('update:content', '');
	emit('update:modelValue', postData.value);
};

const goToPost = () => {
	resetPost();

	if (postSuccessData.value === null) return;
	const { postID } = postSuccessData.value as any;

	if (postID) navigateTo(`/post/${postID}?hasUpdate=${Date.now().valueOf()}`);

	setTimeout(() => {
		postSuccessData.value = null;
		popupService.closeAllPopups();
	}, 500);
};

const postData = ref<{
	content: {
		html: string;
		md: string;
	};
	images: any[];
	collaborative: boolean;
}>({
	content: {
		html: props.content || (props.useCached && getTempPost(currentBranch.value)?.content.html) || '',
		md: props.content,
	},
	images: getTempPost(currentBranch.value)?.images || [],
	collaborative: false,
});

// Watch for changes to postData to update temp post data
watch(() => postData.value, (newValue) => {
	setTempPost({
		branch: currentBranch.value,
		content: {
			html: newValue.content.html,
			md: newValue.content.md,
		},
		images: newValue.images,
	});
	emit('update:content', newValue.content.html);
	emit('update:modelValue', newValue);
}, { deep: true });

const branchOptions = computed(() => {
	return [
		{
			label: 'Main Trunk',
			value: 'maintrunk',
		},
		...branches.value.map(branch => ({
			label: branch.subwikiLabel,
			value: branch.slug,
		})),
	];
});

const handleProfilePost = async () => {
	try {
		const result = await commentOnProfile({
			slug: route.params.slug as string,
			comment: postData.value.content.html,
		});

		if (result.success) {
			status.value = ButtonStatus.SUCCESS;
			setTimeout(() => {
				postError.value = null;
				status.value = ButtonStatus.IDLE;
				resetPost();
				popupService.closeAllPopups();
			}, 1500);
			eventBus.emit(EventChannel.POST, {
				action: EventAction.CREATED,
				data: {
					post: result.data,
				},
			});
		}
		else {
			status.value = ButtonStatus.ERROR;
			postError.value = result.error as string;
		}
	}
	catch (error) {
		status.value = ButtonStatus.ERROR;
		console.error(error);
	}
};

const handlePostArticle = async () => {
	status.value = ButtonStatus.LOADING;

	if (!postData.value.content.html) {
		postError.value = 'Please write something before posting';
		status.value = ButtonStatus.ERROR;
		return;
	}

	if (isProfilePost.value) {
		handleProfilePost();
		return;
	}

	try {
		isPosting.value = true;

		const handlePostFunction = editMode.value ? updateArticle : postArticle;

		const tempPostData = {
			parent: {
				pk: parent.value.pk,
				sk: parent.value.sk,
			},
			post: {
				pk: props.post?.pk,
				sk: props.post?.sk,
				collaborative: postData.value.collaborative,
				postText: postData.value.content.html || '',
				cardUrl: links.value[0]?.url || '',
			},
		};

		const result = await handlePostFunction({
			data: tempPostData,
		});

		if (result.error) {
			console.error(result.error);
			postError.value = result.error as string;
			status.value = ButtonStatus.ERROR;
			return;
		}

		status.value = ButtonStatus.SUCCESS;

		eventBus.emit(EventChannel.POST, {
			action: EventAction.NEW,
			data: {
				post: result.data,
			},
		});

		setTimeout(() => {
			if (result.data.post) postSuccessData.value = result.data?.post;
			status.value = ButtonStatus.IDLE;

			resetPost();
			removeTempPost(currentBranch.value);
			goToPost();
		}, 1000);
	}
	catch (e) {
		console.error(e);
		postError.value = (e as any).message;
	}
	finally {
		status.value = ButtonStatus.IDLE;
		isPosting.value = false;
	}
};
</script>

<style lang="scss">
#post-create {
	--modal-width: 100%;
	--modal-max-width: 640px;

	@include global.mobile-only {
		--modal-max-width: calc(100% - var(--spacing));
	}
}

.post-create {
	display: flex;
	gap: var(--space);
	flex-direction: column;
	color: var(--foreground);

	&__field {
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		gap: var(--space);
	}

	&__header {
		p {
			font-size: .75em;
			opacity: .75;
		}
	}

	&__editor {
		width: 100%;
		--editor-min-height: 320px;
		--editor-padding: var(--space);
		--editor-background-color: var(--background);
	}

	&__editor-container {
		display: flex;
		gap: var(--space);
		flex-direction: column;

		&--is-posting {
			opacity: .75;
		}
	}

	&__post-success {
		display: flex;
		gap: var(--space);
		flex-direction: column;
	}

	&__post-preview {
		padding: var(--space);
		background-color: color-mix(in srgb, var(--foreground-rgb), .05);
		border-radius: var(--border-radius);
		border: 1px solid color-mix(in srgb, var(--foreground-rgb), .1);
	}
}
</style>
