<template>
	<footer
		v-if="post"
		:class="bemm()"
	>
		<div :class="bemm('list')">
			<PostReactions
				:reactions="post.statistics.reactions"
				:entity="post"
			/>

			<Button
				:type="ButtonSettings.Type.GHOST"
				:size="ButtonSettings.Size.MEDIUM"
				:icon="ButtonSettings.Icon.SPEECH_BALLOON2"
				@click="goToPost(post.postID, '#comments')"
			>
				{{
					post.statistics?.commentCount || 0
				}}
			</Button>

			<PostScore
				v-if="userstore.isLoggedIn"
				:item="post"
			/>

			<PostActions
				:post="post"
			/>
		</div>
	</footer>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { type PropType } from 'vue';
import PostScore from './PostScore.vue';
import PostActions from './PostActions.vue';
import { goToPost } from '@/utils/navigation';
import { useUserStore } from '@/store/user';
import { type Post } from '@/types';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import PostReactions from '@/components/Organisms/Post/PostReactions.vue';
import Button from '@/components/Atoms/Button/Button.vue';

const userstore = useUserStore();
const bemm = useBemm('post-footer');

defineProps({
	post: {
		type: Object as PropType<Post>,
		required: true,
	},
	isMain: {
		type: Boolean,
		default: false,
	},
});
</script>

<style lang="scss">
.post-footer {
	$b: &;

	width: 100%;
	display: flex;
	justify-content: flex-end;
	gap: var(--space);
	position: relative;
	width: 100%;

	[data-contrast-mode] & {
		opacity: 1;
	}

	&__list {
		width: 100%;
		display: flex;
		gap: var(--space);
		padding: var(--space);
		align-items: center;
		justify-content: space-between;
	}

}
</style>
