<template>
	<Button
		:type="ButtonSettings.Type.DEFAULT"
		:color="ButtonSettings.Color.PRIMARY"
		:icon="ButtonSettings.Icon.ADD_M"
		:hover-icon="ButtonSettings.Icon.FILE_ADD"
		:class="bemm()"
		@click="goCreatePost"
	>
		Create Post
	</Button>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import PostCreate from './PostCreate.vue';
import { useUserStore } from '@/store/user';

import Button from '@/components/Atoms/Button/Button.vue';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';

import { Routes } from '~/data/routes';
import { popupService } from '@/components/Molecules/Popup/Popup.service';

const userstore = useUserStore();
const route = useRoute();
const bemm = useBemm('post-button');
const clicked = ref(false);

const currentBranch = ref();

const goCreatePost = () => {
	if (!userstore.isLoggedIn) return;
	if (route.name == Routes.BRANCH_DETAIL) {
		currentBranch.value = route.params.slug as string;
	}
	else if (route.query.branch) {
		currentBranch.value = route.query.branch as string;
	}
	else {
		currentBranch.value = '';
	}

	nextTick(() => {
		if (route.name == Routes.PROFILE_DETAIL) {
			openCreatePostModal();
		}
		else if (route.name == Routes.BRANCH_DETAIL) {
			openCreatePostModal();
		}
		else {
			goTo({ name: Routes.POST_CREATE });
		}
	});
};
const openCreatePostModal = () => {
	clicked.value = true;
	setTimeout(() => {
		popupService.showPopup({
			component: PostCreate,
			title: 'Create Post',
			props: {
				branch: currentBranch.value,
			},
		});
		setTimeout(() => {
			clicked.value = false;
		}, 1000);
	}, 500);
};
</script>

<style lang="scss">
.post-button {
  $b: &;

}
</style>
