<template>
	<div :class="bemm()">
		<PreviewLink
			v-for="link in links"
			:key="link"
			:link="toPostLink(link)"
		/>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { PropType } from 'vue';
import type { PostLink } from '../Editor/Editor.model';
import PreviewLink from '@/components/Molecules/PreviewLink.vue';

const bemm = useBemm('post-links');

const toPostLink = (link: string): PostLink => {
	return {
		url: link,
		title: '',
		id: '',
	};
};

defineProps({
	links: {
		type: Array as PropType<string[]>,
		required: true,
	},
});
</script>
