<template>
	<div :class="bemm()">
		<ContextPanel
			:id="`context-${entityId}`"
			ref="contextPanelRef"
			:config="{
				id: `context-${entityId}`,
				position: alignPanel,
				disabled: !isLoggedIn,
			}"
		>
			<Button
				:type="ButtonSettings.Type.GHOST"
				:icon="myReaction ? null : ButtonSettings.Icon.HEART"
				:size="size"
				:disabled="!isLoggedIn"
			>
				<img
					v-if="myReaction"
					:class="bemm('emoji')"
					:src="getEmojiUrl(myReaction)"
				>
				{{ totalReactions }}
			</Button>

			<template #content>
				<ul :class="bemm('reaction-options')">
					<ul :class="bemm('list')">
						<li
							v-for="reaction in AllReactions"
							:key="reaction"
							:class="bemm('item')"
							@click="addReaction(reaction)"
						>
							<img
								:class="bemm('emoji')"
								:src="getEmojiUrl(reaction)"
							>
						</li>
					</ul>
				</ul>
			</template>
		</ContextPanel>
	</div>
	<ul :class="bemm('reaction-list')">
		<template
			v-for="(reaction) in reactionGroup"
			:key="reaction.emoji"
		>
			<li :class="bemm('reaction-item')">
				<span :class="bemm('reaction-emoji')">

					<img
						:class="bemm('emoji')"
						:src="getEmojiUrl(reaction.key)"
					>
				</span>
				<span :class="bemm('reaction-count')">
					{{ reaction.value }}
				</span>
			</li>
		</template>
	</ul>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import ContextPanel from '../../Atoms/ContextPanel/ContextPanel.vue';
import { type Post, type Comment, Size } from '@/types';
import { AllReactions, getEmoji, getEmojiUrl, type AllReactionsType, type IReactions } from '~/types/Reactions';
import { deleteReaction, setReaction } from '~/composables/useApi';
import { ButtonSettings } from '~/components/Atoms/Button/Button.model';
import Button from '@/components/Atoms/Button/Button.vue';
import { EventAction, EventChannel, eventBus } from '~/utils/eventBus';
import { ContextPanelPosition } from '~/components/Atoms/ContextPanel/ContextPanel.model';
import { useUserStore } from '~/store/user';

const userStore = useUserStore();
const bemm = useBemm('post-reactions');

const isLoggedIn = computed(() => {
	return userStore.isLoggedIn;
});

const myReaction = ref<AllReactionsType>();

const props = defineProps({
	reactions: {
		type: Object as PropType<IReactions>,
		required: true,
	},
	entity: {
		type: Object as PropType<Post | Comment>,
		required: true,
	},
	size: {
		type: String as PropType<Size>,
		default: Size.DEFAULT,
	},
	alignPanel: {
		type: String as PropType<ContextPanelPosition>,
		default: ContextPanelPosition.BOTTOM_ALIGN_LEFT,
	},
});

const getId = (entity: Post | Comment): string => {
	if (isPost(entity)) {
		return entity.postID;
	}
	if (isComment(entity)) {
		return entity.pk;
	}
	return '';
};

const entityId = ref<string>(getId(props.entity));

const contextPanelRef = ref<InstanceType<typeof ContextPanel>>();
const currentReactions = ref<IReactions>(props.reactions);

const totalReactions = computed(() => {
	return Object.values(currentReactions.value).reduce((acc, cur) => acc + (cur ?? 0), 0);
});

/** });

/**
 *
 * Set the emoji to the currentReactions object
 * @param {string} input
 * @returns {void}
 */
const addReaction = async (input: AllReactionsType, shallow = false): Promise<void> => {
	const reaction = input;
	myReaction.value = input;

	if (currentReactions.value[reaction]) {
		currentReactions.value[reaction] += 1;
	}
	else {
		currentReactions.value[reaction] = 1;
	}
	if (!shallow) {
		const result = await setReaction({ entity: props.entity, reaction });
		if (!result.success) {
			removeReaction(reaction, true);
		}
	}

	contextPanelRef.value?.close();
	eventBus.emit(EventChannel.CONTEXT, {
		action: EventAction.CLOSE,
		data: {
			id: `context-${entityId.value}`,
		},
	});
};

/**
 *
 * Remove the emoji from the currentReactions object
 * @param {string} input
 * @returns {void}
 */
const removeReaction = async (input: AllReactionsType, shallow = false): Promise<void> => {
	const reaction = input;
	if (currentReactions.value[reaction] && currentReactions.value[reaction] > 0) {
		currentReactions.value[reaction] -= 1;
	}
	else {
		delete currentReactions.value[reaction];
	}
	if (!shallow) {
		const result = await deleteReaction({ entity: props.entity, reaction });
		if (!result.success) {
			addReaction(reaction, true);
		}
	}
};

const reactionGroup = computed(() => {
	const reactiveKeys = Object.keys(currentReactions.value);
	return reactiveKeys.map((key) => {
		return {
			key: key,
			emoji: getEmoji(key as AllReactionsType),
			value: currentReactions.value[key],
		};
	})
		.filter(reaction => reaction.value && reaction.value > 0)
		.sort((a, b) => b.value - a.value);
});
</script>

<style lang="scss">
.post-reactions {
	$b: &;

	display: flex;
	gap: var(--space);

	&__button {
		font-size: 1.5em;
	}

	&__reaction-list {
		position: absolute;
		bottom: calc(100% - .75em);
		display: flex;
		flex-direction: row;
	}

	&__reaction-item {
		position: relative;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: .875em;
		margin-left: -.25em;

		&:hover {
			#{$b}__reaction-count {
				opacity: .5;
			}
		}
	}

	&__emoji {
		width: 1em;
		height: 1em;
		font-size: 1em;
	}

	&__reaction-count {
		position: absolute;
		bottom: 100%;
		left: 0;
		width: 100%;
		text-align: center;
		font-size: .75em;
		opacity: 0;
		transition: opacity .3s ease-in-out;
	}

	&__reaction-options {
		width: 200px;
	}

	&__list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: var(--space-s);

	}

	&__item {
		font-size: 1em;
	}
}
</style>
