<template>
	<div :class="bemm()">
		<div :class="bemm('header')">
			<div>
				<SkeletonBlock :class="bemm('avatar')" />
				<SkeletonBlock :class="bemm('name')" />
			</div>
			<SkeletonBlock :class="bemm('chip')" />
		</div>
		<div :class="bemm('main')">
			<div :class="bemm('content')">
				<SkeletonBlock
					v-for="i in randomNumber(2, 5)"
					:key="i"
					:class="bemm('line')"
					:style="`--skeleton-block-width: ${randomNumber(20, 100)}%`"
				/>
			</div>
		</div>
		<div :class="bemm('footer')">
			<SkeletonBlock :class="bemm('footer-item')" />
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import SkeletonBlock from '@/components/Atoms/SkeletonBlock.vue';

const bemm = useBemm('skeleton-post');

const randomNumber = (min: number, max: number): number => {
	return Math.round(Math.floor(Math.random() * (max - min) + min));
};
</script>

<style lang="scss">
.skeleton-post {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 640px;
  margin: auto;

  &__header {
    display: flex;
    justify-content: space-between;
    gap: var(--space);
    align-items: center;

    div {
      display: flex;
      gap: var(--space);
      align-items: center;
    }
  }

  &__avatar {
    --skeleton-block-height: 2em;
    --skeleton-block-width: 2em;
    --skeleton-block-border-radius: 50%;
  }

  &__chip {
    --skeleton-block-width: 5em;
  }

  &__name {
    --skeleton-block-width: 8em;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__line {}

  &__footer {
    display: flex;
    gap: 1em;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: var(--space);

    &-item {
      --skeleton-block-width: 50%;
    }
  }

}
</style>
