<template>
	<component
		:is="`h${props.level}`"
		:class="headingClasses"
	>
		<slot />
	</component>
</template>

<script lang="ts" setup>
import { computed, type PropType } from 'vue';
import { useBemm } from 'bemm';

const bemm = useBemm('heading');

const props = defineProps({
	level: {
		type: Number as PropType<1 | 2 | 3 | 4 | 5 | 6>,
		default: 1,
		required: true,
	},
	as: {
		type: Number as PropType<1 | 2 | 3 | 4 | 5 | 6>,
		default: undefined,
	},
});

const headingClasses = computed(() => {
	return [bemm(), bemm('', `${props.as || props.level}`)];
});
</script>
