<template>
	<div :class="bemm()">
		<EditProfileForm />
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import EditProfileForm from '@/components/Organisms/Profile/EditProfileForm.vue';

const bemm = useBemm('edit-profile-page');
</script>

<style lang="scss">
.edit-profile-page {
	padding: var(--spacing) 0;
}
</style>
