<template>
	<div :class="defaultClasses">
		<LoadingBar v-if="isLoading" />

		<Events />

		<div :class="bemm('container')">
			<aside :class="bemm('left')">
				<NuxtLink to="/">
					<Logo
						variant="text-icon"
						:class="bemm('logo')"
					/>
				</NuxtLink>
				<Sidebar v-if="!isMobile" />
				<MobileSidebar v-if="isMobile" />
			</aside>

			<div
				ref="scrollWrapper"
				:class="bemm('scroll-wrapper')"
			>
				<NuxtLink
					v-if="!isFeed"
					to="/"
					:class="bemm('top-logo')"
				>
					<Logo
						variant="text-icon"
						:class="bemm('logo')"
					/>
				</NuxtLink>
				<div :class="bemm('wrapper')">
					<main :class="bemm('main')">
						<div :class="bemm('main-container')">
							<slot />
						</div>
					</main>
					<aside
						v-if="showLoginBanner || isFeed"
						:class="bemm('right')"
					>
						<div
							id="sidebar"
							:class="bemm('right-container')"
						>
							<LoginBanner v-if="showLoginBanner" />
							<BranchDetails
								v-if="isFeed"
								:class="bemm('branch-details')"
							/>
						</div>
					</aside>
				</div>
			</div>
		</div>
		<A11YToolbar />

		<Bottombar />
	</div>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';

import Events from '@/components/Events/Events.vue';
import { useUI } from '@/composables/useUI';
import { Routes } from '@/data/routes';
import { useUserStore } from '@/store/user';
import Sidebar from '@/components/Organisms/Sidebar/Sidebar.vue';
import Logo from '@/components/Atoms/Logo.vue';
import MobileSidebar from '@/components/Organisms/Sidebar/MobileSidebar.vue';
import Bottombar from '@/components/Organisms/Sidebar/Bottombar.vue';
import A11YToolbar from '@/components/Organisms/Menu/A11YToolbar.vue';
import BranchDetails from '@/components/Organisms/Branch/BranchDetails.vue';
import LoginBanner from '@/components/Organisms/LoginBanner.vue';
import LoadingBar from '@/components/Atoms/LoadingBar.vue';

const {

	isLoading, isMobile,

	isOnTop, scrollDirection } = useUI();
const bemm = useBemm('default-layout');
const route = useRoute();
const userstore = useUserStore();

const scrollWrapper = ref<HTMLElement>();

const isLoggedIn = ref(false);

watch(() => userstore, () => {
	isLoggedIn.value = userstore.isLoggedIn;
}, {
	deep: true,
	immediate: true,
});

onMounted(() => {
	let lastValue = 0;
	scrollToTop();
	if (scrollWrapper.value) {
		scrollWrapper.value.addEventListener('scroll', () => {
			if (!scrollWrapper.value) return;

			const { scrollTop } = scrollWrapper.value;

			const onTop = scrollTop < 10;
			const direction = scrollTop > lastValue ? 'down' : 'up';

			isOnTop.value = onTop;
			scrollDirection.value = direction;
			lastValue = scrollTop;
		});
	}
});

const showLoginBanner = computed(() => {
	const isAuthRoute = route.name === Routes.LOGIN || route.name === Routes.REGISTER;
	return !isLoggedIn.value && !isAuthRoute;
});

const scrollToTop = () => {
	if (!scrollWrapper.value) return;
	const fullHeight = (scrollWrapper.value.scrollHeight - scrollWrapper.value.clientHeight);
	scrollWrapper.value.scrollTop = fullHeight * -1;
};

const isFeed = computed(() => {
	return route.name === Routes.BRANCH_DETAIL || route.name === Routes.INDEX;
});
// const isAuth = computed(() => {
// 	return route.name && (route.name as string).includes('auth');
// });

watch(() => route.name, () => {
	scrollToTop();
}, {
	immediate: true,
});

// const defaultClasses: string[] = [];
const defaultClasses = computed(() => {
	return [bemm('', ['', isFeed.value ? 'is-feed' : ''])];
});
</script>

<style lang="scss">
.default-layout {

  --banner-color: var(--primary);

  --default-sidebar-width: 320px;

  width: 100svw;
  margin: auto;
  height: 100svh;
  overflow: hidden;

  &__container {
    height: fit-content;
    width: 100%;
    margin: auto;
    background-color: var(--background);
    display:flex;

  }

  &__top-logo {
    align-items: center;
    justify-content: center;
    padding: 1em;
    display: none;

    @include global.mobile-only() {
      display: flex;
    }

    svg {
      width: 6em;
    }
  }

  &__scroll-wrapper {
    grid-area: wrapper;
    position: relative;
    height: 100svh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: var(--primary) transparent;

    @include global.desktop-up {
      min-height: 100vh;
    }

    @include global.tablet-down {
      display: block;
      flex-direction: column;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    width: 960px;
    margin: auto;
    height: fit-content;

    @include global.tablet-down {
    flex-direction: column;

    }
    @include global.mobile-up{

      max-width: calc(100vw - 320px);
    }
    @include global.desktop-up {
      max-width: calc(100vw - 320px);
      min-height: 100svh;
    }

    @include global.mobile() {
      transition: transform 0.5s;
      width: calc(100svw);
      padding: var(--space);
      background-color: var(--accent);
    }

  }

  &__header {
    grid-area: header;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 12;
  }

  &__footer {
    grid-area: footer;
  }

  &__left {
    display: none;
    grid-area: left;

    border: 1px solid var(--accent);
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding-right: 0;
    position: relative;
    padding-top: var(--space-l);
    height: 100svh;
    overflow: auto;
    flex-shrink: 0;
    width: var(--default-sidebar-width);

    @include global.hideScrollbars();

    @include global.mobile {
      display: none;
      height: 100svh;
      color: var(--background);

      padding: 0;
      position: fixed;
      width: 3em;
      z-index: 10;
      transition: transform 0.5s;
      transform: translateX(0%);
      background-color: var(--accent);

    }
  }

  &__main {
    width: 100%;
  }

  &__main-container {
    width: 100%;
    margin: auto;
  }

  &__right {
    top: 0;
    height: fit-content;
    border-radius: var(--border-radius);
    flex-shrink: 0;
    position: sticky;
    top: 0;
    width: 320px;

    @include global.tablet-down {
      width: 100%;
      position: relative;
    }

    &-container {
      padding: var(--space);
      display: flex;
      flex-direction: column;
      gap: var(--space);
      position: sticky;
      top: 0px;
      margin: auto;

      &:empty {
        display: none;
      }
    }

  }

  &__branch-details {
    background-color: var(--background);
    width: 100%;
    position: sticky;
    top: 0;

    // @include global.tablet-down() {
    //   display: none;__
    // }
  }

}
</style>
