<template>
	<FollowModal
		:slug="userstore.getUserSlug"
		:show-branches="true"
		:show-followers="false"
		:show-following="false"
	/>
</template>

<script lang="ts" setup>
import { useUserStore } from '~/store/user';

definePageMeta({
	requiresAuth: true,
	middleware: ['auth'],
});

const userstore = useUserStore();
</script>
