<template>
	<div :class="bemm()" />
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { onMounted } from 'vue';

import {
	eventBus,
	EventAction,
	EventChannel,
	type EventData,
} from '@/utils/eventBus';

// const lastEvent = ref<any>();
const bemm = useBemm('events');

const router = useRouter();

const handleKeydown = (e: KeyboardEvent) => {
	if (
		document.activeElement?.getAttribute('contentEditable')
		|| document.activeElement?.tagName === 'INPUT'
		|| document.activeElement?.tagName === 'TEXTAREA'
	) {
		return;
	}
	eventBus.emit(EventChannel.UI, {
		action: EventAction.KEY,
		data: {
			key: e.key,
			code: e.code,
		},
	} as EventData);
};
onMounted(() => {
	window.addEventListener('keydown', handleKeydown);
});

onUnmounted(() => {
	window.removeEventListener('keydown', handleKeydown);
});

eventBus.on(EventChannel.ROUTER, (data: unknown) => {
	const eventData = data as EventData;

	if (eventData.action === EventAction.GO) {
		const { name, hash, params } = (data as any).data;
		const details = {
			name: name,
			hash: hash || '',
			params: params || {},
		};
		router.push(details);
	}
});
</script>

<style lang="scss">
.events{
	position: absolute;
	z-index: 100;
	top: 0;
	width: fit-content;
	left: 50%; transform: translate(-50%,0);
	font-size: .75em; border-radius: 0 0 var(--border-radius) var(--border-radius); padding: 1em;
	background-color: rgba(from var(--foreground) r g b / .75); color: var(--background);
	display:none;
}
</style>
