<template>
	<div :class="bemm()">
		<h3>Update post</h3>
		<PostCreate
			v-if="loaded && isAllowed && route.params.id && post"
			:content="post.postText"
			:branch="currentBranch"
			:is-main-trunk="isMainTrunk"
			:post="post"
			:is-update="true"
		/>

		<div v-if="!isAllowed && loaded">
			<Icon :name="Icons.TRIANGLED_EXCLAMATION_MARK" />
			You are not allowed to edit this post
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { Icons } from 'open-icon';
import PostCreate from '@/components/Organisms/Post/PostCreate.vue';
import { getPost } from '~/composables/useApi';
import { useUserStore } from '~/store/user';
import { EventAction, EventChannel } from '~/utils/eventBus';

const userStore = useUserStore();
const bemm = useBemm('create');
const route = useRoute();

const currentBranch = ref();
const isMainTrunk = ref(false);
const content = ref('');
const loaded = ref(false);

definePageMeta({
	requiresAuth: true,
	middleware: ['auth'],
});

const isAllowed = computed(() => {
	if (!post.value) return false;
	return canEditPost({ post: post.value, user: userStore.getUserData.value });
});

watch(() => post.value, () => {
	setTimeout(() => {
		eventBus.emit(EventChannel.EDITOR, {
			action: EventAction.UPDATE,
			data: {
				content: {
					html: post.value?.postText,
				},
			},
		});
	}, 1000);
}, {
	deep: true,
	immediate: true,
});
const { data: post } = useAsyncData(async () => {
	const { id } = route.params;
	if (!id) return;
	const result = await getPost({ id: id as string });

	if (result.success) {
		const { post } = result.data;

		loaded.value = true;
		return post;
	}
	loaded.value = true;
	return null;
});

onMounted(() => {
	if (route.query.content) {
		content.value = route.query.content as string;
	}
	if (route.query.branch) {
		currentBranch.value = route.query.branch as string;
	}
	else {
		isMainTrunk.value = true;
	}
	nextTick(() => {
		loaded.value = true;
	});
});
</script>

<style lang="scss">
.create {
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  gap: var(--space-s);

  @include global.mobile-only {
    padding: 0
  }

  &__example {
    gap: var(--space);
    display: flex;
  }

  &__markdown,
  &__html {
    width: 50%;
    border: 1px solid color-mix(in srgb, var(--foreground-rgb), 0.125);
    padding: var(--space);
    background-color: var(--accent);
    border-radius: var(--border-radius);

    pre {
      overflow: scroll;
      white-space: break-spaces;
    }

    h6 {
      opacity: 0.25;
    }
  }
}
</style>
