<template>
	<div :class="bemm()">
		<div
			v-if="status == Status.LOADING"
			:class="bemm('loading')"
		>
			<DotsLoader />
		</div>
		<template v-else>
			<div

				:class="bemm('user-list')"
			>
				<UserCard
					v-for="(user, idx) in users"
					:key="idx"
					:class="bemm('user-item')"
					:is-trust="true"
					:user="user.data.createdByUser"
				/>
			</div>
		</template>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import { getTrustFromUser } from '@/composables/useApi';
import { Status } from '@/types';
import DotsLoader from '@/components/Molecules/Loader/DotsLoader.vue';
import UserCard from '@/components/Organisms/User/UserCard.vue';

const bemm = useBemm('trust-trusted-by');

const props = defineProps({
	slug: {
		type: String,
		required: true,
	},
});

const status = ref<Status>(Status.IDLE);

const { data: users } = await useLazyAsyncData('users', async () => {
	status.value = Status.LOADING;

	const result = await getTrustFromUser({ slug: props.slug });

	if (!result || !result.success) {
		status.value = Status.ERROR;
		return [];
	}
	if (result.success) {
		status.value = Status.SUCCESS;
		return result.data.users || [];
	}
});
</script>

<style lang="scss">
.trust-trusted-by{
	&__user-list{
		flex-direction: column;
		display: flex; gap: var(--space-s);

	}
}
</style>
