<template>
	<div :class="blockClasses">
		<header
			:class="bemm('header')"
			@click="$emit('update:isActive', !isActive)"
		>
			<div :class="bemm('header-container')">
				<Icon
					:class="bemm('header-icon')"
					:name="Icons.ACCESSIBILITY_PERSON_CIRCLED"
				/>
				<span :class="bemm('header-label')">{{ t('A11y.title') }}</span>
				<Icon
					:class="bemm('header-arrow-icon')"
					:name="isActive ? Icons.ARROW_DOWN : Icons.ARROW_UP"
				/>
			</div>
		</header>
		<main :class="bemm('main')">
			<Button
				tabindex="0"
				:color="ButtonColor.PRIMARY"
				:size="ButtonSize.SMALL"
				:icon="Icons.SUN"
				@click="handleColorMode"
			>
				{{ t('A11y.light-mode') }}
			</Button>
			<Button
				tabindex="0"
				:color="ButtonColor.PRIMARY"
				:size="ButtonSize.SMALL"
				:icon="Icons.MOON01"
				@click="handleContrastMode"
			>
				{{ t('A11y.dark-mode') }}
			</Button>

			<div :class="bemm('group')">
				<label>{{ t('A11y.font-size-label') }}</label>
				<Button
					:size="ButtonSize.SMALL"
					class="small"
					:icon="Icons.CLOUD"
					@click="handleFontSize(FontSize.SMALL)"
				>
					{{ t('A11y.font-size-small') }}
				</Button>
				<Button
					:size="ButtonSize.SMALL"
					class="medium"
					:icon="Icons.CLOUD"
					@click="handleFontSize(FontSize.MEDIUM)"
				>
					{{ t('A11y.font-size-medium') }}
				</Button>
				<Button
					:size="ButtonSize.SMALL"
					class="large"
					:icon="Icons.CLOUD"
					@click="handleFontSize(FontSize.LARGE)"
				>
					{{ t('A11y.font-size-large') }}
				</Button>
				<Button
					:size="ButtonSize.SMALL"
					class="xlarge"
					:icon="Icons.CLOUD"
					@click="handleFontSize(FontSize.XLARGE)"
				>
					{{ t('A11y.font-size-xlarge') }}
				</Button>
				<InputSelect
					:value="locale"
					:label="t('A11y.language-label')"
					:options="languages"
					@change="handleLocaleChange"
				/>
			</div>
		</main>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import { Icons } from '@/types';

import Icon from '@/components/Atoms/Icon.vue';
import InputSelect from '@/components/Atoms/Form/InputSelect.vue';
import Button from '@/components/Atoms/Button/Button.vue';

import { ButtonColor, ButtonSize } from '@/components/Atoms/Button/Button.model';
import { useUI } from '@/composables/useUI';
import { FontSize } from '@/composables/useUI/useUI.model';

const bemm = useBemm('accessibility');
const { t } = useI18n();
const { toggleColorMode, toggleContrastMode, setFontSize } = useUI();

const props = defineProps({
	isActive: {
		type: Boolean,
		default: false,
	},
});

defineEmits(['update:isActive']);

const blockClasses = computed(() => [
	bemm(),
	bemm('', props.isActive ? 'active' : 'inactive'),
]);

const languages = [
	{ label: 'English', value: 'en-GB' },
	{ label: 'Español', value: 'es-ES' },
	{ label: 'Deutsch', value: 'de-DE' },
	{ label: 'Português', value: 'pt-BR' },
	{ label: 'Русский', value: 'ru' },
];

const locale = computed(() => useI18n().locale.value);

const handleColorMode = () => {
	toggleColorMode();
};

const handleContrastMode = () => {
	toggleContrastMode();
};

const handleFontSize = (size: FontSize) => {
	setFontSize(size);
};

const handleLocaleChange = (newLocale: string) => {
	useI18n().locale.value = newLocale;
};
</script>

<style lang="scss">
.accessibility {

	--base-color: var(--tertiary);
	--base-color-rgb: var(--tertiary-rgb);
	--a11y-bg-lightness: 90%;
	--icon-fill: color-mix(in srgb, var(--light-rgb), 0.75);

	display: flex;
	gap: calc(var(--space));
	flex-direction: column;
	justify-content: flex-start;
	position: fixed;
	transition: transform 0.33s ease-in;
	background-color:color-mix(in srgb, var(--base-color), var(--background) 75%);
	z-index: 100;
	border-radius: var(--border-radius) var(--border-radius) var(--border-radius) 0;
	right: var(--space);
	bottom: 40vh;
	transform: translateX(calc(100% + var(--space)));

	&--active {
		transform: translateX(0%);
	}

	[data-color-mode="dark"] & {
		--a11y-bg-lightness: 20%;
	}

	&__header {
		cursor: pointer;
		padding: var(--space-s);
		border-radius: var(--border-radius);
		background-color: color-mix(in srgb, var(--foreground), var(--background) var(--a11y-bg-lightness));
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--space-s);
	}

	&__header-container {
		display: flex;
		align-items: center;
		gap: var(--space-s);
	}

	&__header-icon {
		font-size: 1.5em;
	}

	&__header-arrow-icon {
		margin-left: auto;
	}

	&__main {
		display: none;
		padding: var(--space);
		background-color: color-mix(in srgb, var(--foreground), var(--background) var(--a11y-bg-lightness));
		border-radius: var(--border-radius);
		margin-top: var(--space-s);
	}

	&--active &__main {
		display: flex;
		flex-direction: column;
		gap: var(--space);
	}

	&__group {
		display: flex;

		align-items: center;

		gap: calc(var(--space) / 3);

		label {
			font-size: 0.75em;
			display: block;
			font-weight: 200;
		}
	}

	.small {
		--button-icon-size: 0.75em;
	}

	.medium {
		--button-icon-size: 1em;
	}

	.large {
		--button-icon-size: 1.25em;
	}

	.xlarge {
		--button-icon-size: 1.5em;
	}
}
</style>
