<template>
	<div :class="blockClasses">
		<NuxtLink to="/about">
			<Icon :name="Icons.TREE" /> About Trust Café
		</NuxtLink>
		<NuxtLink to="/faq">
			<Icon :name="Icons.FILE_QUESTION_MARK" />FAQ
		</NuxtLink>
		<NuxtLink to="/support">
			<Icon :name="Icons.ANCHOR" />Support
		</NuxtLink>
		<NuxtLink to="/terms-conditions">
			<Icon :name="Icons.FILE_CHECK" />Terms and Conditions
		</NuxtLink>
		<NuxtLink to="/privacy-policy">
			<Icon :name="Icons.LUGGAGE_LOCKER" />Privacy Statement
		</NuxtLink>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { Icons } from 'open-icon';
import Icon from '@/components/Atoms/Icon.vue';

const bemm = useBemm('base-menu');

const props = defineProps({
	autoHide: {
		type: Boolean,
		default: false,
	},
});

const blockClasses = computed(() => {
	return [bemm(), bemm('', props.autoHide ? 'auto-hide' : 'visible')];
});
</script>

<style lang="scss">
.base-menu {
  display: flex;
  gap: calc(var(--space) / 2) var(--space);
  flex-wrap: wrap;
  padding: var(--space);
  position: sticky;
  // bottom: 0;
  width: 100%;
  opacity: 1;
  // align-self: flex-end;
  // justify-self: flex-end;
  color: var(--foreground);
  flex-direction: column;

  // &--auto-hide {
  //   @include global.desktop-up {
  //     animation: baseMenu var(--bezier) both;
  //     animation-timeline: scroll();
  //     animation-range: 0 50vh;

  //     @keyframes baseMenu {
  //       to {
  //         opacity: 0;
  //       }
  //     }
  //   }
  // }

  &--visible {
    flex-direction: column;

    a {
      opacity: 0.75;

      &:hover {
        opacity: 1;
      }
    }
  }

  a {

    display: flex;
    gap: var(--space-xs);

    @include global.mobile-up {
      opacity: 0.33;
      font-size: 0.75em;

      &:hover {
        opacity: 0.5;
      }
    }

    [data-contrast-mode] & {
      opacity: 0.8;

      &:hover {
        opacity: 1;
      }
    }
  }
}
</style>
