<template>
	<ButtonGroup :class="bemm()">
		<div :class="bemm('button-container')">
			<Button
				:icon="Icons.SEARCH_M"
				:class="bemm('search-button')"
				tooltip="Search"
				@click="toggleFloat(FloatType.SEARCH)"
			/>
			<Float
				position="right"
				:active="isActiveFloat(FloatType.SEARCH)"
				:class="bemm('search')"
				:color="Colors.BACKGROUND"
			>
				<SearchBar :active="isActiveFloat(FloatType.SEARCH)" />
				<!-- <SearchResults /> -->
			</Float>
		</div>
		<template v-if="isLoggedIn">
			<div :class="bemm('button-container')">
				<Button
					:icon="Icons.ADD_L"
					:class="bemm('create-button')"
					tooltip="Create Post"
					@click="goCreatePost()"
				/>
				<Modal
					id="post-create"
					:active="false"
				>
					<PostCreate
						v-if="creatingPost"
						:branch="currentBranch"
					/>
				</Modal>
			</div>
			<div :class="bemm('button-container')">
				<Button
					:icon="Icons.ALARM_BELL"
					:count="notifications.length"
					tooltip="Notifications"
					:class="bemm('notifications', [
						'',
						notifications.length ? 'has-notifications' : '',
					])
					"
					@click="toggleFloat(FloatType.NOTIFICATIONS)"
				/>
				<Float
					:active="isActiveFloat(FloatType.NOTIFICATIONS)"
					:class="bemm('notifications')"
					:color="Colors.BACKGROUND"
				>
					<Notifications :notifications="notifications" />
				</Float>
			</div>

			<div :class="bemm('button-container')">
				<UserAvatar
					:user-id="userstore.getUserID"
					:show-name="!isMobile"
					@click="toggleFloat(FloatType.USER_MENU)"
				/>
			</div>
		</template>
		<template v-if="!isLoggedIn && !onAuthPage">
			<div :class="bemm('button-container')">
				<Button
					v-if="isMobile"
					:color="ButtonColor.BACKGROUND"
					:type="ButtonType.ICON_ONLY"
					:size="ButtonSize.SMALL"
					:icon="Icons.USER"
					:shadow="true"
					@click="toggleFloat(FloatType.LOGIN)"
				/>
				<Button
					v-if="!isMobile"
					:color="ButtonColor.BACKGROUND"
					:size="ButtonSize.SMALL"
					:icon="Icons.USER"
					:shadow="true"
					@click="toggleFloat(FloatType.LOGIN)"
				>
					Login
				</Button>
				<Float
					position="right"
					:color="Colors.BACKGROUND"
					:active="isActiveFloat(FloatType.LOGIN)"
					:class="bemm('login')"
				>
					<FormField>
						<Login :show-register="true" />
					</FormField>
				</Float>
			</div>
		</template>
	</ButtonGroup>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { ref } from 'vue';
import { useRoute } from 'vue-router';
import PostCreate from '../Post/PostCreate.vue';
import SearchBar from '../Search/SearchBar.vue';

import Button from '@/components/Atoms/Button/Button.vue';
import Float from '@/components/Atoms/Float/Float.vue';
import Modal from '@/components/Molecules/Modal/Modal.vue';
import Notifications from '@/components/Molecules/Notifications/Notifications.vue';
import { Icons, Colors } from '@/types';
import { useUserStore } from '@/store/user';
import FormField from '@/components/Atoms/Form/FormField.vue';
import ButtonGroup from '@/components/Atoms/Button/ButtonGroup.vue';
import UserAvatar from '@/components/Molecules/UserAvatar.vue';
import { ButtonSize, ButtonColor, ButtonType } from '@/components/Atoms/Button/Button.model';
import Login from '@/components/Auth/Login.vue';
import { useNotifications } from '@/composables/useNotifications';
import { useUI } from '@/composables/useUI';
import { Routes } from '@/data/routes';
import { goTo } from '@/utils/navigation';
import { eventBus, EventAction, EventChannel } from '@/utils/eventBus';

const { notifications, fetchNotifications } = useNotifications();
const { bemm } = useBemm('base-user-menu');
const { isMobile } = useUI();
const FloatType = {
	NOTIFICATIONS: 'notifications',
	USER_MENU: 'user-menu',
	SEARCH: 'search',
	CREATE: 'create',
	LOGIN: 'login',
};

type FloatType = (typeof FloatType)[keyof typeof FloatType];

const route = useRoute();
const userstore = useUserStore();
const showFloat = ref<FloatType | undefined>();

const creatingPost = ref(false);

const isLoggedIn = computed(() => {
	return userstore.isLoggedIn;
});

const onAuthPage = computed(() => {
	return (route.name as string).includes(Routes.AUTH);
});

const focusInput = (id: string, delay: number = 500) => {
	setTimeout(() => {
		eventBus.emit(EventChannel.FORM, {
			action: EventAction.FOCUS,
			data: {
				id: id,
			},
		});
	}, delay);
};

const goCreatePost = () => {
	if (!userstore.isLoggedIn) return;

	if (route.name == Routes.BRANCH_DETAIL) {
		creatingPost.value = true;
		toggleCreateModal();
	}
	else {
		goTo({ name: Routes.POST_CREATE });
	}
};

const toggleCreateModal = () => {
	eventBus.emit(EventChannel.MODAL, {
		action: EventAction.OPEN,
		data: {
			id: 'post-create',
		},
	});
};

const currentBranch = ref();

watch(() => route, (route) => {
	if (route.name == Routes.BRANCH_DETAIL) {
		currentBranch.value = route.params.slug as string;
	}
	else if (route.query.branch) {
		currentBranch.value = route.query.branch as string;
	}
	else {
		currentBranch.value = '';
	}
}, { deep: true, immediate: true });

const isActiveFloat = (value: FloatType): boolean => {
	return showFloat.value == value;
};

onMounted(() => {
	if (userstore.isLoggedIn) {
		fetchNotifications();
	}
});

const toggleFloat = (value: FloatType) => {
	showFloat.value = showFloat.value == value ? undefined : value;

	if (showFloat.value == FloatType.NOTIFICATIONS) {
		fetchNotifications();
	}
	if (showFloat.value == FloatType.SEARCH) {
		focusInput('search');
	}
	if (showFloat.value == FloatType.CREATE) {
		focusInput('create-input');
	}
	if (showFloat.value == FloatType.LOGIN) {
		focusInput('login-email', 1000);
	}
};
</script>

<style lang="scss">
.base-user-menu {
	--button-font-size: 1em;
	--button-background-color: color-mix(in srgb, var(--primary-rgb), 0);
	--button-background-color_hover: color-mix(in srgb, var(--primary-rgb), 0.5);

	position: relative;

	&__button-container {
		--button-group-direction: column;

	}

	.float {
		@include global.desktop-up() {
			transform: translateX(calc(-50% + 1em));
			left: 0;
			top: calc(100% + 1em);
			position: absolute;
		}
	}

	&__search {
		--float-border-radius: 1.75em;
	}

	&__create {
		@include global.desktop-up() {
			--float-width: 10em;
		}
	}

	&__login {
		--tab-group-margin: 0 calc(var(--space) * -1) calc(var(--space) * -1) calc(var(--space) * -1);
		--tab-group-background: var(--accent);
		--tab-group-width: calc(100% + (var(--space) * 2));
		--tab-group-padding: var(--space);
		--tab-group-border-radius: 0 0 var(--space-s) var(--space-s);

		@include global.desktop-up() {
			--float-width: 15em;
			--float-padding: var(--space);
		}
	}

	&__register-button {
		display: none;
	}
}
</style>
