<template>
	<div :class="bemm()">
		<EditBranchForm
			v-if="currentBranch"
			:branch="currentBranch"
		/>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import EditBranchForm from '@/components/Organisms/Branch/EditBranchForm.vue';

import { useBranches } from '~/composables/useBranches';
import type { Branch } from '~/composables/useBranches/branches.model';

const bemm = useBemm('edit-branch-page');
const currentBranch = ref<Branch | undefined>(undefined);

const route = useRoute();
const { getBranch } = useBranches();

onMounted(async () => {
	const branch = await getBranch({ slug: route.params.slug as string });
	if (branch) {
		currentBranch.value = branch;
	}
});
</script>

<style lang="scss">
.edit-branch-page {
	padding: var(--spacing) 0;
}
</style>
