<template>
	<Icon
		:class="bemm()"
		:name="Icons.THREE_DOTS_HORIZONTAL"
	/>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { Icons } from '@/types';

import Icon from '@/components/Atoms/Icon.vue';

const bemm = useBemm('dots-loader');
</script>

<style lang="scss">
.dots-loader {
  font-size: 3em;

  svg {
    circle {
      --icon-line-color: var(--loader-color, var(--primary));

      --time: 3s;
      --total: 3;
      --delay: 0s;
      animation: show var(--time) var(--delay) infinite;

      &:nth-child(1) {
        --delay: calc(var(--time) / var(--total) * 0);
      }

      &:nth-child(2) {
        --delay: calc(var(--time) / var(--total) * 1);
      }

      &:nth-child(3) {
        --delay: calc(var(--time) / var(--total) * 2);
      }

      @keyframes show {
        0% {
          r: 0;
        }

        50% {
          r: 5;
        }

        100% {
          r: 0;
        }
      }
    }
  }
}
</style>
