<template>
	<div :class="bemm()">
		<slot />
	</div>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';

const bemm = useBemm('banner-group');
</script>

<style lang="scss">
.banner-group {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: var(--space);
}
</style>
