<template>
	<div
		v-if="isActive"
		:class="blockClasses"
		:style="`--banner-color: var(--${color})`"
	>
		<Button
			v-if="props.close"
			:class="bemm('close')"
			:icon="Icons.MULTIPLY_M"
			:size="ButtonSize.SMALL"
			:type="ButtonType.GHOST"
			@click="isActive = false"
		/>
		<Icon
			v-if="bannerIcon"
			:class="bemm('icon')"
			:name="bannerIcon"
		/>
		<div :class="bemm('content')">
			<slot />
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import { ButtonSize, ButtonType } from '../Button/Button.model';
import Button from '../Button/Button.vue';
import Icon from '../Icon.vue';
import { BannerType } from './Banner.model';
import { Colors, Icons, Size } from '@/types';

const bemm = useBemm('banner');

const props = defineProps({
	type: {
		type: String as PropType<BannerType>,
		default: 'default',
	},
	color: {
		type: String as PropType<Colors>,
		default: Colors.PRIMARY,
	},
	close: {
		type: Boolean,
		default: false,
	},
	active: {
		type: Boolean,
		default: true,
	},
	icon: {
		type: String as PropType<Icons>,
		default: '',
	},
	showIcon: {
		type: Boolean,
		default: true,
	},
	size: {
		type: String as PropType<Size>,
		default: Size.MEDIUM,
	},
});
const isActive = ref(props.active);

const blockClasses = computed(() => {
	return [bemm(), bemm('', props.type), bemm('', props.color), bemm('', props.size)];
});

const bannerIcon = computed(() => {
	if (!props.showIcon) return null;
	if (props.icon) return props.icon;
	switch (props.type) {
		case BannerType.DEFAULT:
			return null;
		case BannerType.ERROR:
			return Icons.CIRCLED_EXCLAMATION_MARK;
		case BannerType.WARNING:
			return Icons.TRIANGLED_EXCLAMATION_MARK;
		case BannerType.SUCCESS:
			return Icons.CIRCLED_CHECK;
		case BannerType.INFO:
			return Icons.CIRCLED_INFO;
		default:
			return null;
	}
});
</script>

<style lang="scss">
.banner {
	position: relative;
	padding: var(--space);
	border-radius: var(--border-radius);

	background: var(--banner-background);
	color: var(--banner-text-color);

	border: var(--banner-border-width, 1px) solid var(--banner-border-color);

	display: flex;
	align-items: center;
	gap: var(--space);

	--banner-background: color-mix(in srgb, var(--banner-color), var(--background) 50%);
	--banner-text-color: var(--foreground);
	--banner-border-color: color-mix(in srgb, var(--primary-rgb), 0);
	--banner-icon-color: var(--accent-text);

	&--small {
		font-size: .75em;
	}

	&--large {
		font-size: 1.5em;
	}

	&__icon {
		font-size: 1.5em;
		color: var(--banner-icon-color);
	}

	$banner-types: (
		"warning",
		"error",
		"success",
		"info"
	);

	&__icon {
		font-size: 1.5em;
		color: var(--banner-icon-color);
	}

	$banner-types: (
		"warning",
		"error",
		"success",
		"info"
	);

	@each $type in $banner-types {
		&--#{$type} {
			--banner-background: linear-gradient(to right bottom,
				color-mix(in srgb, var(--#{$type}), transparent 75%),
				color-mix(in srgb, var(--#{$type}), transparent 50%));
			--banner-text-color:color-mix(in srgb, var(--#{$type}), var(--foreground) 75%);
			--banner-border-color:color-mix(in srgb, var(--#{$type}), var(--foreground) 25%);
			--banner-icon-color: hsla(var(--#{$type}-h),
				var(--#{$type}-s),
				var(--banner-icon-lightness, var(--#{$type}-l)),
				1);

			[data-contrast-mode] & {
				--banner-border-color: var(--#{$type});
				--banner-icon-color: var(--#{$type});
			}
		}
	}

	[data-contrast-mode] & {
		--banner-background-color: var(--background);
		--banner-text: var(--foreground);
		--banner-border-width: 2px;
	}

	&__content {
		width: 100%;
		display: flex;
		flex-direction: var(--banner-content-direction, column);
		gap: var(--space);
	}

	&__close {
		position: absolute;
		right: calc(var(--space) / 2);
		top: calc(var(--space) / 2);
	}
}
</style>
