<template>
	<div
		:class="bemm('', {
			'no-exist': !exist,
		})"
	>
		<PostFeed
			v-if="route.params.slug?.toString()"
			type="branch"
			:slug="route.params.slug.toString()"
		/>
		<EmptyMessage
			v-if="!exist"
			:icon="Icons.TREE2"
			:message="`Branch not found`"
		/>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { Icons } from 'open-icon';

import { checkBranchExists } from '~/composables/useApi';
import EmptyMessage from '@/components/Molecules/EmptyMessage.vue';
import PostFeed from '@/components/Organisms/Post/PostFeed.vue';

const bemm = useBemm('branch-feed');
const route = useRoute();

const loading = ref(true);

const { data: exist } = useLazyAsyncData(async () => {
	const slug = route.params.slug?.toString();
	if (!slug) return;

	const result = await checkBranchExists({ slug });

	loading.value = false;
	return result.data.exists;
});

definePageMeta({
	middleware: ['auth'],
});
</script>

<style lang="scss">
.branch-feed {
	&--no-exist {
		min-height: 50vh;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
</style>
