<template>
	<div :class="bemm()">
		<h2>All</h2>
		<PostList
			v-if="posts"
			:class="bemm('list')"
		>
			<Post
				v-for="(post, i) in posts"
				:key="i"
				:class="bemm('article')"
				:post="post"
				@click="goToPost(post.postID)"
			/>
		</PostList>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import Post from '@/components/Organisms/Post/Post.vue';
import PostList from '@/components/Organisms/Post/PostList.vue';
// import { usePostsStore } from "~/store/post";
// import type { Post as PostType } from '~/types';

const bemm = useBemm('branch-feed');

// const route = useRoute()

const router = useRouter();

// const postStore = usePostsStore();
// const { params } = useRoute();

// // const post = ref<PostType>();
// const comments = ref<CommentType[]>([]);

// Load posts asynchronously
const { data } = await useAsyncData('post', async () => {
	// if ((params.post as string) !== undefined) {
	//   await postStore.loadPost(params.post as string);

	//   const post = postStore.getPost(params.post as string);
	//   const comments = postStore.getComments(params.post as string);

	//   return { post, comments };

	// } else {
	const posts = mockPosts(20);

	return { posts };
	// }
});

const goToPost = (postId: Post['postID']) => {
	router.push(`/post/${postId}`);
};

const posts = ref<Post[] | undefined>(data.value?.posts);
</script>
