<template>
	<footer :class="bemm()">
		<div :class="bemm('background')" />
		<div
			ref="containerRef"
			:class="bemm('container')"
		>
			<div
				v-if="hover.active"
				:class="bemm('floatie')"
				:style="{
					'--floatie-left': `${hover.left}px`,
					'--floatie-top': `${hover.top}px`,
					'--floatie-width': `${hover.width}px`,
					'--floatie-height': `${hover.height}px`,
				}"
			/>
			<div
				v-for="item in menuItems"
				:key="item.id"
				:class="bemm('button', ['', item.id, isActive === item.id ? 'active' : ''])"
				@click="item.action()"
				@mouseover="handleHover"
			>
				<ContextMenu
					:config="{
						id: item.id,
						position: ContextMenuPosition.TOP_CENTER,
						disabled: !item.contextMenu,
						menu: item.contextMenu || [],
						size: Size.DEFAULT,
					}"
				>
					<div :class="bemm('item')">
						<AvatarImage
							v-if="item.icon == Icons.USER && userstore.isLoggedIn"
							:user-id="userstore.userData.userID"
						/>
						<Icon
							v-else
							:class="bemm('icon')"
							:name="item.icon"
							:animated="true"
						/>
						<span :class="bemm('label')">{{ item.label }}</span>

						<span
							v-if="item.count !== undefined"
							:class="bemm('count')"
						>{{ item.count }}</span>
					</div>
				</ContextMenu>
				<!-- <AvatarImage
					v-if="item.icon == Icons.USER && userstore.userData.userID"
					:user-id="userstore.userData.userID"
				/>
				<Icon
					v-else
					:class="bemm('icon')"
					:name="item.icon"
					:animated="true"
				/>
				<span :class="bemm('label')">{{ item.label }}</span>

				<span
					v-if="item.count !== undefined"
					:class="bemm('count')"
				>{{ item.count }}</span>

				<Float
					v-if="item.float?.id"
					:id="item.float.id"
					position="top"
				>
					<component :is="item.float.component" />
				</Float> -->
			</div>
		</div>
	</footer>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import { Icons } from 'open-icon';
import { useRouter } from 'vue-router';
import SearchModal from '../Search/SearchModal.vue';
import PostCreate from '../Post/PostCreate.vue';
import AvatarImage from '@/components/Atoms/AvatarImage.vue';
import Icon from '@/components/Atoms/Icon.vue';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';

import { useUserStore } from '@/store/user';
import { navigateTo } from '#app';
import { EventAction, EventChannel } from '~/utils/eventBus';

import { useNotifications } from '@/composables/useNotifications';
import Login from '@/components/Auth/Login.vue';
import { Routes } from '~/data/routes';
import { popupService } from '@/components/Molecules/Popup/Popup.service';
import Notifications from '@/components/Molecules/Notifications/Notifications.vue';
import { openFloat } from '@/components/Atoms/Float/Float.utils';
import ContextMenu from '~/components/Atoms/ContextMenu/ContextMenu.vue';
import { ContextMenuPosition, type ContextMenuItem } from '~/components/Atoms/ContextMenu/ContextMenu.model';
import { Size } from '~/types';

const router = useRouter();

const { notifications, fetchNotifications } = useNotifications();
const bemm = useBemm('bottom-bar');
const userstore = useUserStore();
const route = useRoute();
const isActive = ref('home');

const hover = reactive({
	active: false,
	currentRect: null as DOMRect | null,
	previousRect: null as DOMRect | null,
	isAnimating: false,
	left: 0,
	top: 0,
	width: 0,
	height: 0,
});
const containerRef = ref<HTMLElement | null>(null);

const hoverTimeout = ref<number | null>(null);

const handleHover = (e: MouseEvent) => {
	const menuButton = (e.target as HTMLElement).closest('[class*="bottom-bar__button"]');
	if (!menuButton || !containerRef.value) return;

	const targetRect = menuButton.getBoundingClientRect();
	const containerRect = containerRef.value.getBoundingClientRect();
	const targetPosition = {
		left: Math.round(targetRect.left - containerRect.left),
		right: Math.round(targetRect.right - containerRect.left),
		top: Math.round(targetRect.top - containerRect.top),
		width: Math.round(targetRect.width),
	};

	if (hoverTimeout.value) {
		clearTimeout(hoverTimeout.value);
		hoverTimeout.value = null;
	}

	if (!hover.active) {
		hover.active = true;
		hover.left = targetPosition.left;
		hover.width = targetPosition.width;
	}
	else {
		// Get previous and current positions
		const previousLeft = hover.left;

		// Calculate the shortest path between positions
		const distance = Math.abs(targetPosition.left - previousLeft);
		if (distance <= targetPosition.width * 2) {
			// If moving right
			if (targetPosition.left > previousLeft) {
				hover.left = previousLeft;
				hover.width = targetPosition.right - previousLeft;
			}
			// If moving left
			else {
				hover.left = targetPosition.left;
				hover.width = (previousLeft + hover.width) - targetPosition.left;
			}
		}
		else {
			// If items are far apart, just move to new position
			hover.left = targetPosition.left;
			hover.width = targetPosition.width;
		}
	}

	hover.top = targetPosition.top;
	hover.height = targetRect.height;
	hover.isAnimating = true;

	hoverTimeout.value = window.setTimeout(() => {
		hover.isAnimating = false;
		hover.left = targetPosition.left;
		hover.width = targetPosition.width;
		hoverTimeout.value = null;
	}, 300);
};

const notificationCount = computed(() => {
	return notifications.value.length;
});

const getCurrentBranch = () => {
	if (route.name === Routes.BRANCH_DETAIL) {
		return route.params.slug;
	}
	return '';
};

const openPostModal = () => {
	popupService.showPopup({
		component: PostCreate,
		title: 'Create Post',
		props: {
			branch: getCurrentBranch(),
		},
	});
};

const handleClick = (action: string) => {
	isActive.value = action;
	eventBus.emit(EventChannel.MODAL, {
		action: EventAction.FORCE_CLOSE,
	});
	switch (action) {
		case 'home':
			navigateTo({ name: Routes.INDEX });
			break;
		case 'search':
			openSearchModal();
			break;
		case 'branches':
			if (userstore.isLoggedIn) {
				navigateTo({ path: `/profile/${userstore.userData.slug}/branches` });
			}
			else {
				navigateTo({ name: Routes.MORE });
			}

			// openBranchModal();
			break;
		case 'post':
			openPostModal();
			break;
		case 'user':
			openFloat('user-menu');
			break;
		case 'follow':
			navigateTo({ path: `/profile/${userstore.userData.slug}/follow` });
			// openFollowersModal();
			break;
		case 'notifications':
			openNotificationsModal();
			break;
		case 'login':
			openLoginModal();
			break;
	}
};

interface MenuItem {
	label: string;
	id: string;
	icon: Icons;
	action: (() => void);
	active: boolean;
	count?: number;
	contextMenu: ContextMenuItem[];
}

const menuItems = computed<MenuItem[]>(() => ([
	{
		label: 'Maintrunk',
		id: 'home',
		icon: ButtonSettings.Icon.TREE,
		action: () => handleClick('home'),
		active: true,
	},
	{
		id: 'branches',
		label: 'Branches',
		icon: ButtonSettings.Icon.LEAF3,
		action: () => handleClick('branches'),
		active: true,
	},
	{
		id: 'follow',
		label: 'Follow',
		icon: ButtonSettings.Icon.USER_GROUP,
		action: () => handleClick('follow'),
		active: userstore.isLoggedIn,
	},
	{
		id: 'post',
		label: 'Post',
		icon: ButtonSettings.Icon.PLUS,
		action: () => handleClick('post'),
		active: userstore.isLoggedIn,
	},
	{
		id: 'search',
		label: 'Search',
		icon: ButtonSettings.Icon.SEARCH_M,
		action: () => handleClick('search'),
		active: true,
	},
	{
		id: 'notifications',
		label: 'Notifications',
		icon: ButtonSettings.Icon.ALARM_BELL,
		action: () => handleClick('notifications'),
		active: userstore.isLoggedIn,
		count: notificationCount.value,
	},
	{
		id: 'login',
		label: 'Login',
		icon: ButtonSettings.Icon.USER,
		action: () => handleClick('login'),
		active: !userstore.isLoggedIn,
	},
	{
		id: 'user',
		label: userstore.userData.fname,
		icon: ButtonSettings.Icon.USER,
		action: () => handleClick('user'),
		active: userstore.isLoggedIn,
		contextMenu: [
			{
				label: 'Profile',
				action: () => {
					popupService.closeAllPopups();
					router.push({ name: Routes.PROFILE_DETAIL, params: { slug: userstore.getUserSlug } });
				},
				icon: Icons.USER,
				size: Size.LARGE,
			},
			{
				label: 'Settings', link: Routes.SETTINGS, icon: Icons.SETTINGS5,
				size: Size.LARGE,
			},
			{
				label: 'Logout', action: () => {
					userstore.logout();
					goTo({ path: Routes.LOGIN, params: {} });
					popupService.closeAllPopups();
				},
				icon: Icons.ARROW_LEFT,
				size: Size.LARGE,
			},
		],
	},
]).filter(item => item.active));

const findDefaultActive = () => {
	switch (route.name) {
		case Routes.BRANCH_DETAIL:
			isActive.value = 'branches';
			break;
		case Routes.PROFILE_DETAIL:
			isActive.value = 'user';
			break;
		default:
			isActive.value = '';
			break;
	}
};
watch(() => route, () => {
	findDefaultActive();
}, {
	immediate: true,
	deep: true,
});

const openNotificationsModal = () => {
	fetchNotifications();

	popupService.showPopup({
		component: Notifications,
		closePopups: true,
		title: 'Notifications',
		props: {
			notifications: notifications.value,
		},
	});
};

const openLoginModal = () => {
	popupService.showPopup({
		component: Login,
		title: 'Login',
		closePopups: true,
		props: {
			showRegister: true,
		},
	});
};

const openSearchModal = () => {
	popupService.showPopup({
		component: SearchModal,
		title: 'Search',
		closePopups: true,
	});
};

onMounted(() => {
	if (!containerRef.value) {
		console.warn('Container ref not mounted');
	}
	if (userstore.isLoggedIn) {
		fetchNotifications();
	}

	// On resize reset the hover
	window.addEventListener('resize', () => {
		hover.active = false;
	});
});
</script>

<style lang="scss">
.bottom-bar {
	$b: &;
	--background1: color-mix(in srgb, var(--accent), 15% transparent);
	--background2: color-mix(in srgb, var(--accent), 20% transparent);
	--background3: color-mix(in srgb, var(--accent), 15% transparent);

	position: fixed;
	z-index: 100;
	bottom: 0;
	left: 50%;
	width: 100%;

	width: calc(100svw - var(--space));
	bottom: var(--space-s);
	margin: auto;
	transform: translateX(-50%) translateY(0);

	@include global.desktop {
		width: fit-content;
	}

	[data-scroll-direction="down"][data-off-top] & {
		transform: translateX(-50%) translateY(calc(100% + var(--space)));

		#{$b}__button {
			transform: scale(0.5);
			opacity: 0;
		}

		#{$b}__post-button {
			transform: scale(0.5);
			opacity: 0;
		}

	}

	&__floatie {
		position: absolute;
		left: var(--floatie-left, 0);
		top: var(--floatie-top, 0);
		width: var(--floatie-width, 0);
		height: var(--floatie-height, 0);
		transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1); // Smoother easing
		background-color: var(--background);
		border-radius: 2em;
	}

	&__background {
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		left: 0;
		top: 0;

		// background-color: rgba(255,0,0,.25);
		background-image: linear-gradient(80deg, var(--background1), var(--background2), var(--background3));
		border-radius: 3em;
		backdrop-filter: blur(5px);
		pointer-events: none;
		opacity: .9;

	}

	&__container {
		position: relative;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: var(--space) var(--space-l);

		@include global.desktop {
			gap: var(--space);
			padding: var(--space-s) var(--space-s);
		}
	}

	&__icon {
		position: relative;
		font-size: 1.5em;
	}

	&__icon-container {
		position: relative;
	}

	&__item {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		@include global.mobile-only() {
			height: 2em;
		}
	}

	&__button {
		height: 2em;
		border-radius: var(--border-radius);
		position: relative;

		transform: scale(1);
		transition: all .2s var(--bezier);

		@include global.desktop {
			padding: var(--space-s);
			height: auto;

		}

		@include global.mobile-only() {
			width: 2em;
		}

		@for $i from 1 through 10 {
			&:nth-child(#{$i}) {
				transition-delay: #{$i * 0.05}s;
			}
		}

		&::before {
			content: "";
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			inset: 0;
			border-radius: var(--border-radius);
			background-color: var(--background);
			opacity: 0;
			transform: scale(0.5);
			transition: all .2s var(--bezier);

			[data-color-mode="dark"] & {
				background-color: color-mix(in srgb, var(--tertiary-rgb), .25);
			}
		}

		&--active {
			--icon-fill: var(--icon-active-fill);
			opacity: 1;

			[data-color-mode="dark"] & {
				--color-fill-opacity: .75;
			}
		}

		&--post {
			--border-radius: 50%;
			aspect-ratio: 1/1;
			background-color: var(--primary);

			.bottom-bar__label {
				display: none;
			}
		}

		&--home {
			--icon-active-fill: color-mix(in srgb, var(--primary-rgb), var(--color-fill-opacity, .25));
		}

		&--search {
			--icon-active-fill: color-mix(in srgb, var(--tertiary-rgb), var(--color-fill-opacity, .25));
		}

		&--branches {
			--icon-active-fill: color-mix(in srgb, var(--secondary-rgb), var(--color-fill-opacity, .25));
		}

		&--user {
			--icon-active-fill: color-mix(in srgb, var(--quaternary-rgb), var(--color-fill-opacity, .25));
		}

		&--notifications {
			--icon-active-fill: color-mix(in srgb, var(--primary-rgb), var(--color-fill-opacity, .25));
		}
	}

	&__label {
		font-size: .75em;
		position: relative;
		opacity: .5;
		display: block;

		@include global.mobile-only() {
			display: none;
		}

		[data-contrast-mode="true"] & {
			opacity: 1;
		}
	}

	&__count {
		position: absolute;
		top: 0;
		right: 0;
		// transform: translate(50%, -50%);
		background-color: var(--primary);
		font-weight: bold;
		border-radius: var(--border-radius);
		padding: .5em;

		font-size: .5em;

		// animation: popInCount 0.25s var(--bezier) forwards;

		// @keyframes popInCount {
		// 	from {
		// 		transform: translate(50%, -50%) scale(0.5);
		// 	}

		// 	to {
		// 		transform: translate(50%, -50%) scale(1);
		// 	}
		// }
	}

	&__post-button {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 1.5em;
		transform: scale(1) translate(75%, -75%);
		transition: all .3s var(--bezier);
		opacity: 1;
		z-index: 10;

		@include global.mobile() {

			transform: scale(1) translate(0%, -75%);
		}
	}
}

:root {
	--modal-bottom: calc(var(--spacing) + var(--space));
}
</style>
