<template>
	<div :class="bemm('', ['', isActive ? 'active' : 'inactive'])">
		<div
			:class="bemm('background')"
			@click="closeSidebar()"
		/>
		<div :class="bemm('container')">
			<div :class="bemm('column')">
				<NuxtLink to="/">
					<Logo
						:class="bemm('logo')"
						variant="icon"
					/>
				</NuxtLink>
				<BranchBar :class="bemm('branch-bar')" />
				<UserBar :class="bemm('user-bar')" />
				<Button
					:class="bemm('active-toggle')"
					:type="ButtonType.ICON_ONLY"
					:icon="Icons.CHEVRON_RIGHT"
					@click="toggleActive"
				/>
			</div>

			<div :class="bemm('column')">
				<Button
					:class="bemm('menu-toggle')"
					:icon="Icons.THREE_DOTS_VERTICAL"
					@click="showBaseMenu()"
				/>
				<BaseUserMenu
					v-if="isMobile"
					:class="bemm('user-menu')"
				/>
			</div>
			<Modal
				id="basemenu"
				:active="false"
			>
				<BaseMenu />
			</Modal>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import UserBar from '../User/UserBar.vue';
import { Icons } from '@/types';
import Button from '@/components/Atoms/Button/Button.vue';
import Modal from '@/components/Molecules/Modal/Modal.vue';
import BaseMenu from '@/components/Organisms/Menu/BaseMenu.vue';
import BranchBar from '@/components/Organisms/Branch/BranchBar.vue';
import BaseUserMenu from '@/components/Organisms/Menu/BaseUserMenu.vue';
import { EventAction, EventChannel, type EventData } from '@/utils/eventBus';
import { useUI } from '@/composables/useUI';
import { ButtonType } from '@/components/Atoms/Button/Button.model';
import Logo from '@/components/Atoms/Logo.vue';

const { isMobile } = useUI();

const isActive = ref(false);
const bemm = useBemm('mobile-sidebar');

const showBaseMenu = () => {
	eventBus.emit(EventChannel.MODAL, {
		action: EventAction.OPEN,
		data: {
			id: 'basemenu',
		},
	});
};

const toggleActive = () => {
	isActive.value = !isActive.value;
};

const closeSidebar = () => {
	isActive.value = false;
};

const route = useRoute();

watch(() => [route.name, route.params], () => {
	isActive.value = false;
}, {
	deep: true,
});

onMounted(() => {
	eventBus.on(EventChannel.UI, (p) => {
		const payload = p as EventData;
		if (payload.action === EventAction.TOGGLE) {
			if (payload.data.element == 'sidebar') {
				isActive.value = !isActive.value;
			}
		}
		if (payload.action === EventAction.OPEN) {
			if (payload.data.element == 'sidebar') {
				isActive.value = true;
			}
		}
	});
});
</script>

<style lang="scss">
.mobile-sidebar {
	position: sticky;
	top: 80px;

	transition: width .3s ease-in-out;
	z-index: 10;

		height: 100%;
		width: 3.5rem;

	&--active {
			width: 50vw;
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: var(--space);

			align-items: center;
	}

	&__logo {
	}

	&__background {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: color-mix(in srgb, var(--background-rgb), .5);
		backdrop-filter: blur(5px);
		z-index: 0;
		width: 100vw;
		opacity: 0;
		transition: opacity .3s ease-in-out;
		pointer-events: none;

		.sidebar--active & {
			opacity: 1;
			pointer-events: all;
		}
	}

	&__container {
		z-index: 5;
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		padding-block: var(--space);

			background-color: var(--accent);
			color: var(--foreground);
	}

	&__active-toggle {

		position: absolute;
		left: 100%;
		top: 50%;
		transform: translateX(-50%) rotate(0);
		font-size: .75em;

		&,
		&:hover {
			background-color: var(--background);
			color: var(--foreground);
		}

		.sidebar--active & {
			transform: translateX(-50%) rotate(180deg);
		}
	}

	// .base-menu,
	// .user-bar,
	// &__user-bar {
	// 	// @include global.mobile {
	// 	// 	display: none;
	// 	// }
	// }

	&__user-menu {
		--button-group-direction: column;

	}

	&__menu-toggle {
	}
}
</style>
