<template>
	<div :class="bemm('', ['', isActive ? 'active' : 'inactive'])">
		<div :class="bemm('background')" />
		<div :class="bemm('container')">
			<div :class="bemm('column')">
				<div
					v-if="userstore.isLoggedIn"
					:class="bemm('post-button')"
				>
					<PostButton />
				</div>
				<BranchBar :class="bemm('branch-bar')" />
				<UserBar
					v-if="userstore.isLoggedIn"
					:class="bemm('user-bar')"
				/>

				<SupportBanner v-if="!isAuth" />
				<BaseMenu
					:class="bemm('base-menu')"
					:auto-hide="false"
				/>
			</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import PostButton from '../Post/PostButton.vue';
import UserBar from '../User/UserBar.vue';
import BaseMenu from '../Menu/BaseMenu.vue';
import SupportBanner from '../SupportBanner.vue';
import BranchBar from '@/components/Organisms/Branch/BranchBar.vue';
import { useUserStore } from '~/store/user';

const isActive = ref(false);
const bemm = useBemm('sidebar');

const userstore = useUserStore();

const route = useRoute();

const isAuth = computed(() => {
	return route.name && (route.name as string).includes('auth');
});

watch(() => [route.name, route.params], () => {
	isActive.value = false;
}, {
	deep: true,
});
</script>

<style lang="scss">
.sidebar {
	position: sticky;
	transition: width .3s ease-in-out;
	z-index: 10;

	height: fit-content;
	padding: var(--space);

	@include global.mobile {
		height: 100%;
		width: 3.5rem;
	}

	&__column {
		display: flex;
		flex-direction: column;
		gap: var(--space);

		@include global.mobile {
			align-items: center;
		}
	}

	&__logo {
		// @iny
	}

	&__background {

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: color-mix(in srgb, var(--background-rgb), .5);
		backdrop-filter: blur(5px);
		z-index: 0;
		width: 100vw;
		opacity: 0;
		transition: opacity .3s ease-in-out;
		pointer-events: none;

		@include global.desktop {
			display: none;
		}

		.sidebar--active & {
			opacity: 1;
			pointer-events: all;
		}
	}

	&__container {
		z-index: 5;
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;

		@include global.mobile() {
			background-color: var(--accent);
			color: var(--foreground);
		}
	}

	.base-menu,
	.user-bar,
	&__user-bar {
		@include global.mobile {
			display: none;
		}
	}

	&__user-menu {
		--button-group-direction: column;

		@include global.desktop-up {
			display: none;
		}
	}

	&__post-button{
		--button-width: 100%;
	}
}
</style>
