<template>
	<div
		:class="blockClasses"
		:tooltip="!!tooltip"
	>
		<div :class="bemm('content')">
			<div
				v-if="count !== undefined"
				:class="bemm('count')"
			>
				{{ count }}
			</div>
			<slot name="pre-content" />
			<Icon
				v-if="icon"
				:name="icon"
				:class="bemm('icon')"
			/>
			<div :class="bemm('label')">
				<slot />
			</div>
			<ToolTip v-if="tooltip">
				{{ tooltip }}
			</ToolTip>
			<slot name="post-content" />
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { computed, type PropType } from 'vue';

import type { Icons } from 'open-icon';
import Icon from '../Icon.vue';

import ToolTip from '../ToolTip/ToolTip.vue';

const bemm = useBemm('nothing');

const props = defineProps({
	icon: {
		type: String as PropType<Icons | undefined>,
		default: undefined,
	},
	tooltip: {
		type: String as PropType<string>,
		default: undefined,
	},
	count: {
		type: Number,
		default: undefined,
	},

});

const blockClasses = computed(() => {
	return [bemm(), props.icon && bemm('', props.icon ? 'has-icon' : '')];
});
</script>

<style lang="scss">
.nothing {
	$b: &;
	display: inline-block;
	font-size: 1em;

	&--has-icon {
		padding: calc(var(--space) / 4) calc(var(--space) / 3 * 2) calc(var(--space) / 4) calc(var(--space) / 4);
	}

	&__content {
		display: flex;
		gap: calc(var(--space) / 2);
		align-items: center;
		justify-content: center;
	}

	&__icon {
		font-size: 1.5em;
		line-height: .75em;
		color: var(--chip-icon-color, color-mix(in srgb, var(--background), currentColor 50%));
	}

	&__count {
		background-color: var(--chip-count-background);
		font-weight: bold;
		color: var(--chip-count-text);
		height: 1.5em;
		padding: 0 .5em;

		min-width: 1.5em;
		line-height: 1.5;
		text-align: center;
		border-radius: .75em;
		margin-left: -.125em;
	}
}
</style>
