<template>
	<button
		:class="blockClasses"
		:tooltip="tooltip"
	>
		<Icon
			v-if="icon"
			:class="bemm('icon')"
			:name="icon"
		/>
		<span
			v-if="label || hasSlot('default')"
			:class="bemm('text')"
		>
			<slot />

			{{ label }}

			<span
				v-if="count !== undefined"
				:class="bemm('count')"
			>
				{{ count }}
			</span>
		</span>
		<ToolTip
			v-if="tooltip"
			:class="bemm('tooltip')"
		>
			{{ tooltip }}
		</ToolTip>
	</button>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { PropType } from 'vue';
import ToolTip from '../ToolTip/ToolTip.vue';
import Icon from '../Icon.vue';
import { TabSize, TabType, type TabColor } from './Tab.model';
import type { Icons } from '@/types';

const bemm = useBemm('tab');

const isActive = computed(() => props.active);

const props = defineProps({
	icon: {
		type: String as PropType<Icons>,
		default: '',
	},
	color: {
		type: String as PropType<TabColor>,
		default: TabType.DEFAULT,
	},
	type: {
		type: String as PropType<TabType>,
		default: TabType.DEFAULT,
	},
	size: {
		type: String as PropType<TabSize>,
		default: TabSize.DEFAULT,
	},
	action: {
		type: Function as PropType<() => void>,
		required: false,
		default: () => { },
	},
	label: {
		type: String,
		required: false,
		default: '',
	},
	count: {
		type: Number,
		required: false,
		default: undefined,
	},
	tooltip: {
		type: String,
		required: false,
		default: '',
	},
	active: {
		type: Boolean,
		required: false,
		default: false,
	},
});

const slots = useSlots();
const hasSlot = (type: string = 'default') => {
	return !!slots[type];
};

const blockClasses = computed(() => {
	return [
		bemm(),
		bemm('', props.type),
		bemm('', props.color),
		bemm('', `size-${props.size}`),
		bemm('', isActive.value ? 'active' : 'inactive'),
		bemm('', props.icon ? 'has-icon' : ''),
		bemm('', hasSlot('default') ? 'has-text' : ''),
		bemm('', props.icon && !hasSlot('default') ? 'icon-only' : ''),
		props.tooltip ? 'tooltip' : '',
	].filter(v => v);
});
</script>

<style lang="scss">
.tab {
	$b: &;

	padding: var(--tab-padding, calc(var(--space) / 2) var(--space));
	font-size: 1em;
	opacity: var(--tab-opacity, 1);
	position: relative;

	$types: (
		"default",
		"ghost",
		"highlight",
	);
$colors: (
	"primary",
	"secondary",
	"tertiary",
	"background",
	"foreground"
);

@each $color in $colors {
	color: var(--#{$color});
}

position: relative;
display: flex;
align-items: center;
justify-content: center;
gap: calc(var(--space) / 2);
background-color: transparent;
color: var(--tab-text-color, var(--accent-text));
font-weight: 400;
border: none;
opacity: var(--tab-opacity, .25);

// border-radius: var(--border-radius) var(--border-radius) 0 0;
// border-radius: var(--tab-border-radius, 2em);

border-radius: var(--border-radius) var(--border-radius) 0 0;
box-shadow: 0 -4px 0 0 var(--tab-underline-color, var(--accent)) inset;

// &:hover {
// 	opacity: var(--tab-hover-opacity, 1);
// 	background-color: var(--tab-hover-background-color, var(--tab-background-color));
// }

&__icon {
	opacity: var(--tab-icon-opacity, 0.5);
}

@each $color in $colors {
	&--#{$color} {
		--tab-background-color: color-mix(in srgb, var(--#{$color}-rgb), 0);
		--tab-background-color--active: color-mix(in srgb, var(--#{$color}-rgb), 0.5);
		--tab-background-color--hover: color-mix(in srgb, var(--#{$color}-rgb), 0.5);
		--tab-hover-background-color: color-mix(in srgb, var(--#{$color}-rgb), 0.25);
		--tab-border-color: var(--#{$color});
		--tab-text-color: var(--foreground);
		--tab-text-color--active: var(--foreground);
		--tab-text-color--hover: var(--foreground);
		--tab-icon-opacity: 1;
		--tab-underline-color: var(--accent);
		--tab-underline-color--active: var(--primary);
		--tab-underline-color--hover: var(--primary);
		--icon-fill: var(--background);
	}
}

&:hover {
	--tab-opacity: 1;
	--tab-underline-color: var(--tab-underline-color--hover);
	--tab-background-color: var(--tab-background-color--hover);
	--tab-text-color: var(--tab-text-color--hover);
}

&--active {
	--tab-opacity: 1;

	--tab-underline-color: var(--tab-underline-color--active);
	--tab-background-color: var(--tab-background-color--active);
	--tab-text-color: var(--tab-text-color--active);

	&:hover {
		--tab-underline-color: var(--tab-underline-color--hover);
		--tab-background-color: var(--tab-background-color--hover);
		--tab-text-color: var(--tab-text-color--hover);
	}
}

&--has-icon {
	@include global.desktop-up() {
		padding-left: calc(var(--space) / 2);

		&#{$b}--has-text {
			--padding-left: 0;
		}
	}

	@include global.mobile-only() {
		flex-direction: column;
		padding: var(--space-s) var(--space);
		gap: 0;

		#{$b}__text {
			font-size: .66em;
			opacity: .5;
		}
	}
}

&__icon {
	font-size: 1.25em;
}

&__text {
	white-space: nowrap;
}

&__count {
	font-size: 0.65em;
	padding: 0.25em .33em;
	border-radius: .25em;
	background-color: rgba(from var(--secondary) r g b / 0.25);
	border: 1px solid var(--secondary);
	color: currentColor;
}

&--size-small {
	font-size: 0.75em;
}

&--size-medium,
&--size-default {
	font-size: 1em;
}

&--size-large {
	font-size: 1.25em;
}

}
</style>
