<template>
	<div :class="blockClasses">
		<div
			:class="bemm('tabs')"
		>
			<TabGroup
				:class="bemm('tab-group')"
				:direction="tabGroupDirection"
			>
				<Tab
					v-for="(tab, idx) in tabs"
					:key="idx"
					:class="bemm('tab')"
					:type="tab.type"
					:active="isActive(tab.id)"
					:color="Colors.PRIMARY"
					:label="tab.label"
					:icon="tab.icon"
					:count="tab.count"
					@click="setActiveTabId(tab.id)"
				/>
				<Tab
					v-if="showMore && moreTabs"
					:icon="Icons.THREE_DOTS_HORIZONTAL"
					@click="showMoreFloat()"
				>
					<Float
						id="show-more-float"
						:class="bemm('more', ['', moreActive ? 'active' :''])"
						position="bottom"
					>
						<ButtonGroup :direction="ButtonGroupDirection.VERTICAL">
							<Button
								v-for="(tab, idx) in moreTabs"
								:key="idx"
								:type="tab.type"
								:active="tab.active"
								:color="Colors.PRIMARY"
								:size="ButtonSettings.Size.SMALL"
								:label="tab.label"
								:icon="tab.icon"
								:count="tab.count"
								@click="setActiveTabId(tab.id)"
							>
								{{ tab.label }}
							</Button>
						</ButtonGroup>
					</Float>
				</Tab>
			</TabGroup>
		</div>
		<div :class="bemm('content')">
			<header
				v-if="subTabOptions.length"
				:class="bemm('content-header')"
			>
				<InputSwitch
					:class="bemm('switch')"
					:options="subTabOptions"
					:value="activeTab?.id"
					@change="setActiveTabId($event)"
				/>
			</header>
			<main :class="bemm('content-container')">
				<Component
					v-bind="activeTab.props"
					:is="activeTab.component"
					v-if="activeTab?.component"
				/>
			</main>
		</div>
	</div>
</template>

<script setup lang="ts">
import { useBemm } from 'bemm';
import { type PropType } from 'vue';
import { kebabCase } from '@sil/case';
import { ButtonSettings } from '../Button/Button.model';
import { ButtonGroupDirection } from '../Button/ButtonGroup.model';
import type { SwitchOption } from '../Form/InputSwitch.model';
import InputSwitch from '../Form/InputSwitch.vue';
import Float from '../Float/Float.vue';
import ButtonGroup from '../Button/ButtonGroup.vue';
import Button from '../Button/Button.vue';
import { TabBarPosition,
	TabGroupDirection,
	TabType, type TabContent } from './Tab.model';
import TabGroup from './TabGroup.vue';
import Tab from '@/components/Atoms/Tab/Tab.vue';
import { Colors, Icons, Status } from '@/types';
import { EventAction, EventChannel,
	type EventData,
} from '@/utils/eventBus';

const bemm = useBemm('tab-content');
// const status = ref<'out' | 'idle' | 'in'>('in');
const moreActive = ref(false);

const loadingStatus = ref<Status>(Status.IDLE);

const props = defineProps({
	items: {
		type: Array as PropType<TabContent[]>,
		default: () => [],
	},
	activeId: {
		type: String,
		default: '',
	},
	tabPosition: {
		type: String as PropType<TabBarPosition>,
		default: TabBarPosition.TOP,
	},
	tabType: {
		type: String as PropType<TabType>,
		default: TabType.DEFAULT,
	},
	setHash: {
		type: Boolean,
		default: false,
	},
	showMore: {
		type: Boolean,
		default: false,
	},
	style: {
		type: String as PropType<'tabs' | 'switch'>,
		default: 'tabs',
	},
	home: {
		type: String,
		default: '',
	},
});

const activeTabId = ref(props.activeId);
const activeTab = ref<TabContent | null>(null);
const activeParentTab = ref();
const currentTabType = ref<TabType>(props.tabType);
const currentTabPosition = ref<TabBarPosition>(props.tabPosition);

const router = useRouter();

watch(() => props, () => {
	currentTabType.value = props.tabType;
	currentTabPosition.value = props.tabPosition;
}, {
	deep: true,
});

const showMoreFloat = () => {
	eventBus.emit(EventChannel.FLOAT, {
		action: EventAction.OPEN,
		data: {
			id: 'show-more-float',
		},
	});
};

const currentTabs = computed<TabContent[]>(() => {
	const items = props.items || [];
	return items.map((item) => {
		return {
			id: item.id || useId(),
			label: item.label,
			component: item.component ? markRaw(item.component) : null,
			icon: item.icon,
			count: item.count,
			type: item.type || currentTabType.value,
			isHidden: !!item.isHidden,
			active: item.id == activeTab.value?.id,
			path: item.path || '',
			props: {},
			children: item.children,
		} as TabContent;
	});
});

const subTabs = computed<TabContent[]>(() => {
	return activeParentTab.value?.children || [];
});

const subTabOptions = computed(() => {
	return subTabs.value.map((tab) => {
		return {
			label: tab.label,
			value: tab.id,
			count: tab.count,
		} as SwitchOption;
	});
});

const moreTabs = computed<TabContent[]>(() => {
	return currentTabs.value.filter(tab => tab.isHidden);
});

const tabs = computed<TabContent[]>(() => {
	return currentTabs.value.filter(tab => !tab.isHidden);
});

const allTabs = computed(() => {
	const tabs: TabContent[] = [];

	currentTabs.value.forEach((tab) => {
		tabs.push(tab);
		if (tab.children) {
			tab.children.forEach((child) => {
				tabs.push(child);
			});
		}
	});
	return tabs;
});

const setActiveTabId = (id: TabContent['id']) => {
	logger.debug('setting active tab id', id);
	activeTabId.value = id || '';
};

onMounted(() => {
	if (!activeTab.value) {
		setActiveTabId(props.home);
	}
});

// Update setActiveTab to handle navigation more gracefully
const setActiveTab = async (id: TabContent['id'], changePath: boolean = true) => {
	loadingStatus.value = Status.LOADING;

	const targetTab = currentTabs.value.find(t => t.id === id)
		|| allTabs.value.find(t => t.id === id);

	if (!targetTab) {
		logger.warning('Tab not found:', id);
		return;
	}

	// Handle parent vs child tab selection
	if (targetTab.children?.length) {
		activeParentTab.value = targetTab;
		if (!targetTab.component && targetTab.children[0]) {
			activeTab.value = targetTab.children[0];
			activeTabId.value = targetTab.children[0].id;
		}
		else {
			activeTab.value = targetTab;
			activeTabId.value = targetTab.id;
		}
	}
	else {
		activeTab.value = targetTab;
		activeTabId.value = targetTab.id;
		activeParentTab.value = currentTabs.value.find(t =>
			t.children?.some(child => child.id === targetTab.id),
		);
	}

	// Handle actions and URL updates
	if (activeTab.value?.action) {
		await activeTab.value.action();
	}

	if (activeTab.value) {
		if (props.setHash) {
			setHash(activeTab.value);
		}
		if (activeTab.value.path && changePath) {
			await setPath(activeTab.value);
		}
	}

	loadingStatus.value = Status.IDLE;
};

const setHash = (tab: TabContent) => {
	if (!props.setHash) return;
	const hash = kebabCase(tab.label);
	router.push({ query: { tab: hash } });
};

const setPath = async (tab: TabContent) => {
	try {
		if (!tab.path) return;

		// Ensure we're not duplicating the path
		const cleanPath = tab.path.startsWith('/') ? tab.path : `/${tab.path}`;

		await navigateTo(cleanPath, {
			replace: true,
			external: false,
		});
	}
	catch (error) {
		logger.error('Navigation error:', error);
	}
};

setActiveTab(props.activeId, false);
watch(() => activeTabId.value, (id) => {
	setActiveTab(id);
});

const setActiveId = () => {
	const route = useRoute();
	const slugArray = (typeof route.params.slug == 'string' ? route.params.slug.split('/') : route.params.slug);
	const lastItemInArray = slugArray && slugArray[slugArray.length - 1];
	if (lastItemInArray) setActiveTab(lastItemInArray);
};

onMounted(() => {
	setActiveId();

	router.beforeEach((to, from, next) => {
		// If it's just a tab change within the same base route, handle it specially
		if (to.path !== from.path && to.matched[0]?.path === from.matched[0]?.path) {
			const targetTab = allTabs.value.find(tab => tab.path === to.path);
			if (targetTab) {
				activeTabId.value = targetTab.id;
				next();
				return;
			}
		}
		next();
	});

	eventBus.on(EventChannel.TABS, (p: any) => {
		const payload = p as EventData;
		if (payload.action === EventAction.GO) {
			if (payload.data.id) {
				const { id } = payload.data;
				const exists = !!allTabs.value.find(tab => tab.id === id);
				if (exists) setActiveTab(payload.data.id);
			}
		}
	});
});

const isActive = (id: TabContent['id']) => {
	// If no active tab, check if this is the active parent
	if (!activeTab.value?.id) {
		return activeParentTab.value?.id === id;
	}

	// Check if this id matches either the active tab or active parent
	return activeTab.value.id === id || activeParentTab.value?.id === id;
};

// watch(
// 	() => props.activeId,
// 	(activeId) => {
// 		if (activeTab.value?.id !== props.activeId) setActiveTab(activeId);
// 	},
// 	{
// 		immediate: true,
// 	},
// );
// watch(() => activeTab.value, () => {
// 	activeTabContent.value = activeTab.value?.component;
// });

// watch(() => route.query.tab, () => {
// 	const hash = route.query.tab as string;
// 	const tab = currentTabs.value.find(tab => kebabCase(tab.label) === hash);
// 	if (tab && kebabCase(activeTab.value?.label) !== tab.label && activeTab.value?.id !== tab.id) {
// 		setActiveTab(tab.id);
// 	}
// 	setFromQuery.value = true;
// }, {
// 	immediate: true,
// });

const blockClasses = computed(() => {
	return [bemm(), bemm('', props.tabPosition)];
});

const tabGroupDirection = computed<TabGroupDirection>(() => {
	switch (currentTabPosition.value) {
		case TabBarPosition.LEFT:
		case TabBarPosition.RIGHT:
			return TabGroupDirection.VERTICAL;
		default:
		case TabBarPosition.TOP:
		case TabBarPosition.BOTTOM:
			return TabGroupDirection.HORIZONTAL;
	}
});
</script>

<style lang="scss">
.tab-content {
	display: flex;
	gap: var(--space);
	border-radius: var(--tab-content-container-border-radius, 0);
	background-color: var(--tab-content-background-color, transparent);
	height: var(--tab-content-height, fit-content);
	overflow: var(--tab-content-overflow, none);
	z-index: 1;
	position: relative;

	&--top {
		flex-direction: column;
	}

	&--left {
		flex-direction: row;
	}

	&--right {
		flex-direction: row-reverse;
	}

	&--bottom {
		flex-direction: column-reverse;
	}

	&__tabs {
		position: var(--tab-content__tabs-position, relative);
		top: 0;
		display: flex; align-items: center;
		justify-content: center;
		z-index: 10;
	}

	&__content {
		padding: var(--tab-content-content-padding, 0);
		background-color: var(--tab-content-content-background);
		display: flex; flex-direction: column; gap: var(--space);
	}

	&__content-container {
		opacity: 1;
		padding: var(--tab-content-container-padding, 0);

		--tab-content-animation-distance: 0em;
		--tab-content-animation-scale: 0.95;

		&--in {
			opacity: 0;
			transform: translateY(var(--tab-content-animation-distance)) scale(var(--tab-content-animation-scale));
			animation: tabContentIn 0.3s var(--bezier) forwards;

			@keyframes tabContentIn {
				to {
					transform: translateY(0%) scale(1);
					opacity: 1;
				}
			}
		}

		&--idle {
			opacity: 1;
			transform: translateY(0%) scale(1);
		}

		&--out {
			opacity: 1;
			transform: translateY(0%) scale(1);
			animation: tabContentOut 0.3s var(--bezier) forwards;

			@keyframes tabContentOut {
				to {
					transform: translateY(calc(var(--tab-content-animation-distance) * -1)) scale(var(--tab-content-animation-scale));
					opacity: 0;
				}
			}
		}
	}

	&__switch{
		display: flex; align-items: center;
	}
	&__more{
		// position: absolute;
		// top: 100%;
		// left: 50%;
		// transform: translateX(-50%);
		// z-index: 100;
	}
	// &__more{
	// 	position: relative;
	// 	display: none;
	// 	.tab-group{
	// 		position: absolute; left: 0; top: 100%;

	// 	}
	// 	&--active{
	// 		display: block;
	// 	}
	// }
}
</style>
