<template>
	<div :class="[bemm(), bemm('', [direction, size])]">
		<template v-if="props.tabs">
			<Tab
				v-for="(tab, index) in props.tabs"
				:key="index"
				:type="tab?.type || props.type"
				:color="tab?.color || props.color"
				:size="tab?.size || props.size"
			>
				{{ tab.size }} {{ props.size }}
				{{ tab.label }}
			</Tab>
		</template>
		<slot />
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import type { PropType } from 'vue';
import Tab from './Tab.vue';

import { TabColor, TabGroupDirection, TabType, TabSize } from './Tab.model';
import type { Icons } from '@/types';

const bemm = useBemm('tab-group');

const props = defineProps({
	color: {
		type: String as PropType<TabColor>,
		default: TabColor.DEFAULT,
	},
	type: {
		type: String as PropType<TabType>,
		default: TabType.DEFAULT,
	},
	size: {
		type: String as PropType<TabSize>,
		default: TabSize.DEFAULT,
	},
	tabs: {
		type: Array as PropType<
			{
				label: string;
				action: () => void;
				icon?: Icons;
				color?: TabColor;
				type?: TabType;
				size?: TabSize;
			}[]
		>,
		default: () => [],
	},
	direction: {
		type: String as PropType<TabGroupDirection>,
		default: TabGroupDirection.HORIZONTAL,
	},
});
</script>

<style lang="scss">
.tab-group {
	display: flex;
	width: 100%;
	margin: 0;
	font-size: 1em;
	align-items: var(--tab-group-vertical-align, var(--tab-group-align, center));
	justify-content: var(--tab-group-horizontal-align,
			var(--tab-group-align, flex-start));
	gap: var(--tab-group-gap, 0);
	width: var(--tab-group-width, 100%);
	margin: var(--tab-group-margin, 0);
	box-shadow: 0 -4px 0 0 var(--tab-underline-color, var(--accent)) inset;
	max-width: 100%;
	flex-wrap: wrap;
	justify-content: var(--tab-group-justify-content, center);

	&:has(.tab--bare) {
		gap: var(--space);
	}

	&--vertical {
		flex-direction: column;
		width: fit-content;
		align-items: flex-start;
		justify-content: flex-start;
	}

	&--horizontal {
		flex-direction: row;
	}
}
</style>
