<template>
	<div :class="bemm()">
		<label
			v-if="props.label"
			:class="bemm('label')"
		>
			{{ props.label }}
		</label>
		<div :class="bemm('controls')">
			<div :class="bemm('column', 'day')">
				<InputText
					v-model="daySearch"
					type="text"
					:class="bemm('input')"
					placeholder="Day"
					:reset="true"
					@focus="dayOptionsActive = true"
					@input="handleDayInput"
					@reset="handleResetDay"
				/>
				<div
					v-if="dayOptionsActive"
					:class="bemm('options')"
				>
					<ul :class="bemm('option-list')">
						<li
							v-for="day in filteredDays"
							:key="day.value"
							:class="bemm('option', {
								active: day.value === dayValue,
							})"
							@click="selectDay(day)"
						>
							{{ day.label }}
						</li>
					</ul>
				</div>
			</div>
			<div :class="bemm('column', 'month')">
				<InputText
					v-model="monthSearch"
					type="text"
					:class="bemm('input')"
					placeholder="Month"
					:reset="true"
					@focus="monthOptionsActive = true"
					@input="handleMonthInput"
					@reset="handleResetMonth"
				/>
				<div
					v-if="monthOptionsActive"
					:class="bemm('options')"
				>
					<ul :class="bemm('option-list')">
						<li
							v-for="month in filteredMonths"
							:key="month.value"
							:class="bemm('option', {
								active: month.value === monthValue,
							})"
							@click="selectMonth(month)"
						>
							{{ month.label }}
						</li>
					</ul>
				</div>
			</div>
			<div :class="bemm('column', 'year')">
				<InputText
					v-model="yearSearch"
					type="text"
					:class="bemm('input')"
					placeholder="Year"
					:reset="true"
					@focus="yearOptionsActive = true"
					@input="handleYearInput"
					@reset="handleResetYear"
				/>
				<div
					v-if="yearOptionsActive"
					:class="bemm('options')"
				>
					<ul :class="bemm('option-list')">
						<li
							v-for="year in filteredYears"
							:key="year.value"
							:class="bemm('option', {
								active: year.value === yearValue,
							})"
							@click="selectYear(year)"
						>
							{{ year.label }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
import InputText from './InputText.vue';
import { useBemm } from '~/utils/bemm';

interface SelectOption {
	label: string;
	value: string;
}

const bemm = useBemm('input-birthday');

const props = defineProps({
	label: {
		type: String,
		default: '',
	},
	modelValue: {
		type: String,
		default: '',
	},
	value: {
		type: String,
		default: '',
	},
	locale: {
		type: String,
		default: 'en-US',
	},
});

const emit = defineEmits(['update:modelValue', 'input', 'reset']);

const yearValue = ref<string | null>(null);
const monthValue = ref<string | null>(null);
const dayValue = ref<string | null>(null);

const yearSearch = ref('');
const monthSearch = ref('');
const daySearch = ref('');

// Get localized month names using Intl
const monthNames = computed(() => {
	const formatter = new Intl.DateTimeFormat(props.locale, { month: 'long' });
	return Array.from({ length: 12 }, (_, i) => {
		const date = new Date(2000, i, 1);
		return formatter.format(date);
	});
});

const yearOptions = computed((): SelectOption[] => {
	const currentYear = new Date().getFullYear();
	const years: SelectOption[] = [];
	for (let i = currentYear; i >= 1900; i--) {
		years.push({
			label: i.toString(),
			value: i.toString(),
		});
	}
	return years;
});

const yearOptionsActive = ref(true);

const monthOptions = computed((): SelectOption[] => {
	const months: SelectOption[] = [];
	for (let i = 1; i <= 12; i++) {
		months.push({
			label: monthNames.value[i - 1] || '',
			value: i.toString(),
		});
	}
	return months;
});

const monthOptionsActive = ref(true);

const dayOptions = computed((): SelectOption[] => {
	const days: SelectOption[] = [];
	for (let i = 1; i <= 31; i++) {
		days.push({
			label: i.toString(),
			value: i.toString(),
		});
	}
	return days;
});

const dayOptionsActive = ref(true);

const filteredYears = computed((): SelectOption[] => {
	if (!yearSearch.value) return yearOptions.value;
	const search = yearSearch.value.toLowerCase();
	return yearOptions.value.filter(year =>
		year.label.toLowerCase().startsWith(search),
	);
});

const filteredMonths = computed((): SelectOption[] => {
	if (!monthSearch.value) return monthOptions.value;
	const search = monthSearch.value.toLowerCase();
	return monthOptions.value.filter(month =>
		month.label.toLowerCase().startsWith(search),
	);
});

const filteredDays = computed((): SelectOption[] => {
	if (!daySearch.value) return dayOptions.value;
	const search = daySearch.value.toLowerCase();
	return dayOptions.value.filter(day =>
		day.label.toLowerCase().startsWith(search),
	);
});

// Computed date string in YYYY-MM-DD format
const dateString = computed(() => {
	if (!yearValue.value || !monthValue.value || !dayValue.value) return '';

	const year = yearValue.value.padStart(4, '0');
	const month = monthValue.value.padStart(2, '0');
	const day = dayValue.value.padStart(2, '0');

	return `${year}-${month}-${day}`;
});

// Watch for changes in the date parts and emit the new value
watch(dateString, (newValue) => {
	emit('update:modelValue', newValue);
	emit('input', newValue);
});

const handleResetDay = () => {
	dayValue.value = null;
	daySearch.value = '';
	dayOptionsActive.value = true;
};

const handleResetMonth = () => {
	monthValue.value = null;
	monthSearch.value = '';
	monthOptionsActive.value = true;
};

const handleResetYear = () => {
	yearValue.value = null;
	yearSearch.value = '';
	yearOptionsActive.value = true;
};

// Watch for external value changes
watch(() => props.modelValue || props.value, (newValue) => {
	const date = new Date(newValue);
	if (isNaN(date.getTime())) return;

	yearValue.value = date.getFullYear().toString();
	monthValue.value = (date.getMonth() + 1).toString();
	dayValue.value = date.getDate().toString();

	yearSearch.value = yearValue.value;
	monthSearch.value = monthNames.value[date.getMonth()] || '';
	daySearch.value = dayValue.value;
}, { immediate: true });

const handleYearInput = () => {
	const matches = filteredYears.value;
	if (matches.length === 1) {
		const match = matches[0] as SelectOption;
		selectYear(match);
		yearOptionsActive.value = false;
	}
};

const handleMonthInput = () => {
	const matches = filteredMonths.value;
	if (matches.length === 1) {
		const match = matches[0] as SelectOption;
		selectMonth(match);
		monthOptionsActive.value = false;
	}
};

const handleDayInput = () => {
	const matches = filteredDays.value;
	if (matches.length === 1) {
		const match = matches[0] as SelectOption;
		selectDay(match);
		dayOptionsActive.value = false;
	}
};

const selectYear = (year: SelectOption) => {
	yearOptionsActive.value = false;
	yearValue.value = year.value;
	yearSearch.value = year.label;
};

const selectMonth = (month: SelectOption) => {
	monthOptionsActive.value = false;
	monthValue.value = month.value;
	monthSearch.value = month.label;
};

const selectDay = (day: SelectOption) => {
	dayOptionsActive.value = false;
	dayValue.value = day.value;
	daySearch.value = day.label;
};
</script>

<style lang="scss">
@use "Form" as form;

.input-birthday {
	@include form.inputBase();

	&__controls {
		display: flex;
		justify-content: space-between;
		gap: var(--space-s);
		align-items: flex-start;
	}

	&__column {
		border: 1px solid var(--accent);
		border-radius: var(--border-radius);
		background-color: var(--background);
		flex: 1;
	}

	&__input {
		width: 100%;
		padding: 0;
		border: none;
		background: transparent;
		color: inherit;
		font: inherit;

		--sizing: 0.8;

		&:focus {
			outline: none;
		}
	}

	&__options {
		width: 100%;
		height: fit-content;
		max-height: 10em;
		overflow-y: scroll;
		margin-top: -1em;
		padding-top: 1em;
		border: 1px solid var(--accent);
		border-radius: 0 0 var(--border-radius) var(--border-radius);
		scrollbar-color: var(--primary) transparent;
	}

	&__option-list {
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: column;
	}

	&__option {
		padding: var(--space-xs) var(--space);
		font-size: .75em;
		cursor: pointer;

		&:hover {
			background-color: var(--accent);
		}

		&--active {
			background-color: color-mix(in srgb, var(--primary), transparent 50%);

			&:hover {
				background-color: color-mix(in srgb, var(--primary), transparent 75%);
			}
		}
	}
}
</style>
