<template>
	<div :class="bemm()">
		<h1>Buttons</h1>

		<FormField label="Button basic">
			<ButtonGroup>
				<Button :type="ButtonSettings.Type.DEFAULT">
					Default
				</Button>
				<Button :type="ButtonSettings.Type.GHOST">
					Ghost
				</Button>
				<Button :type="ButtonSettings.Type.OUTLINE">
					Outline
				</Button>
				<Button
					:type="ButtonSettings.Type.ICON_ONLY"
					:icon="ButtonSettings.Icon.AIRPLANE"
				>
					Icon Only
				</Button>
			</ButtonGroup>
		</FormField>
		<FormField label="Button Colored">
			<ButtonGroup>
				<Button
					v-for="color in Colors"
					:key="color"
					:color="color"
				>
					{{ color }}
				</Button>
			</ButtonGroup>
		</FormField>
		<FormField label="Button Sizes">
			<ButtonGroup>
				Large
				<Button
					:color="ButtonSettings.Color.PRIMARY"
					:size="ButtonSettings.Size.LARGE"
				>
					Large
				</Button>
				<Button
					:color="ButtonSettings.Color.PRIMARY"
					:size="ButtonSettings.Size.LARGE"
					:icon="ButtonSettings.Icon.ADD_M"
					:reverse="true"
				>
					Large
				</Button>
				<Button
					:color="ButtonSettings.Color.PRIMARY"
					:size="ButtonSettings.Size.LARGE"
					:type="ButtonSettings.Type.ICON_ONLY"
					:icon="ButtonSettings.Icon.ADD_M"
				>
					Large
				</Button>
			</ButtonGroup>
			<ButtonGroup>
				Medium / Default
				<Button
					:color="ButtonSettings.Color.PRIMARY"
					:size="ButtonSettings.Size.MEDIUM"
				>
					Medium
				</Button>
				<Button
					:color="ButtonSettings.Color.PRIMARY"
					:size="ButtonSettings.Size.MEDIUM"
					:icon="ButtonSettings.Icon.ADD_M"
				>
					Medium
				</Button>
				<Button
					:color="ButtonSettings.Color.PRIMARY"
					:size="ButtonSettings.Size.MEDIUM"
					:type="ButtonSettings.Type.ICON_ONLY"
					:icon="ButtonSettings.Icon.ADD_M"
				>
					Medium
				</Button>
			</ButtonGroup>
			<ButtonGroup>
				Small
				<Button
					:color="ButtonSettings.Color.PRIMARY"
					:size="ButtonSettings.Size.SMALL"
				>
					Small
				</Button>
				<Button
					:color="ButtonSettings.Color.PRIMARY"
					:size="ButtonSettings.Size.SMALL"
					:icon="ButtonSettings.Icon.ADD_M"
				>
					Small
				</Button>
				<Button
					:color="ButtonSettings.Color.PRIMARY"
					:size="ButtonSettings.Size.SMALL"
					:type="ButtonSettings.Type.ICON_ONLY"
					:icon="ButtonSettings.Icon.ADD_M"
				>
					Small
				</Button>
			</ButtonGroup>
		</FormField>
		<FormField label="Button Icons">
			<ButtonGroup>
				<Button :icon="ButtonSettings.Icon.ARROW_CORNER_DOWN">
					Only Icon
				</Button>
				<Button
					:icon="ButtonSettings.Icon.ARROW_CORNER_DOWN"
					:type="ButtonSettings.Type.GHOST"
				>
					Icon + type:GHOST
				</Button>
				<Button
					:icon="ButtonSettings.Icon.ARROW_CORNER_DOWN"
					:type="ButtonSettings.Type.OUTLINE"
				>
					Icon + type:OUTLINE
				</Button>
				<Button
					:icon="ButtonSettings.Icon.ARROW_CORNER_DOWN"
					:type="ButtonSettings.Type.ICON_ONLY"
				>
					Icon + type:ICON_ONLY
				</Button>
			</ButtonGroup>
		</FormField>
		<FormField label="Button Status">
			<ButtonGroup>
				Idle <Button :status="ButtonSettings.Status.IDLE">
					Button
				</Button>
			</ButtonGroup>
			<ButtonGroup>
				Loading
				<Button :status="ButtonSettings.Status.LOADING">
					Button
				</Button>
			</ButtonGroup>
			<ButtonGroup>
				Error <Button :status="ButtonSettings.Status.ERROR">
					Button
				</Button>
			</ButtonGroup>
			<ButtonGroup>
				Success <Button :status="ButtonSettings.Status.SUCCESS">
					Button
				</Button>
			</ButtonGroup>
		</FormField>

		<h3>Generator</h3>
		<FormField label="Button Generator">
			<ButtonGroup>
				<Card>
					<Button
						:type="buttonSettings.type"
						:color="buttonSettings.color"
						:size="buttonSettings.size"
						:status="buttonSettings.status"
						:icon="buttonSettings.icon"
						:reverse="playButton.reverse"
					>
						{{ playButton.text }}
					</Button>
				</Card>
			</ButtonGroup>

			<Card>
				<pre>{{ generatedButton }}</pre>
			</Card>

			<InputText
				v-model="playButton.text"
				label="Label"
				:size="Size.SMALL"
			/>
			<InputSwitch
				v-model="playButton.type"
				:size="Size.SMALL"
				label="Type"
				:options="['none', ...Object.values(ButtonSettings.Type)]"
			/>
			<InputSwitch
				v-model="playButton.color"
				:size="Size.SMALL"
				label="Color"
				:options="['none', ...Object.values(ButtonSettings.Color)]"
			/>
			<InputSelect
				v-model="playButton.icon"
				:size="Size.SMALL"
				label="Icon"
				:options="['none', ...Object.values(ButtonSettings.Icon)]"
			/>
			<InputSwitch
				v-model="playButton.status"
				:size="Size.SMALL"
				label="Status"
				:options="['none', ...Object.values(ButtonSettings.Status)]"
			/>
			<InputSwitch
				v-model="playButton.size"
				:size="Size.SMALL"
				label="Size"
				:options="['none', ...Object.values(ButtonSettings.Size)]"
			/>
			<InputCheckbox
				v-model="playButton.reverse"
				:size="Size.SMALL"
				label="Reverse"
			/>
		</FormField>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import Button from '@/components/Atoms/Button/Button.vue';
import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { Colors, Size } from '~/types';
import { Routes } from '~/data/routes';

definePageMeta({
	routeName: Routes.KITCHENSINK_BUTTON,
});

const playButton = reactive({
	text: 'Text',
	type: ButtonSettings.Type.DEFAULT,
	color: ButtonSettings.Color.PRIMARY,
	icon: ButtonSettings.Icon.ARROW_CORNER_DOWN,
	status: ButtonSettings.Status.IDLE,
	size: ButtonSettings.Size.DEFAULT,
	reverse: false,
});

const buttonSettings = computed(() => {
	const settings: { [key: string]: any } = { ...playButton };

	Object.keys(settings).forEach((key) => {
		if (settings[key] === 'none') {
			settings[key] = null;
		}
	});

	return settings;
});

const generatedButton = computed(() => {
	const attributes = [
		playButton.type !== 'none' ? `type="${playButton.type}"` : '',
		playButton.color !== 'none' ? `color="${playButton.color}"` : '',
		playButton.size !== 'none' ? `size="${playButton.size}"` : '',
		playButton.status !== 'none' ? `status="${playButton.status}"` : '',
		playButton.icon !== 'none' ? `icon="${playButton.icon}"` : '',
		playButton.reverse ? `reverse="${playButton.reverse}"` : '',
	].filter(Boolean).join(' \n ');

	return `
<Button
 ${attributes}
>
	${playButton.text}
</Button>`;
});

const bemm = useBemm('kitchensink-buttons');
</script>

<style lang="scss">
.kitchensink-buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: var(--spacing);

  .form-group {
    &+& {
      margin-top: var(--spacing)
    }
  }
}
</style>
