<template>
	<div :class="bemm()">
		<h3>Context Menu</h3>
		<CardGroup :class="bemm('group')">
			<Card :class="bemm('card')">
				<div>
					<ContextMenu
						:config="{
							menu: exampleMenu,
							position: ContextMenuPosition.TOP_ALIGN_LEFT,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Top Align Left
						</Button>
					</ContextMenu>
				</div>

				<div>
					<ContextMenu
						:config="{
							menu: exampleMenu,
							position: ContextMenuPosition.TOP_ALIGN_RIGHT,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Top Align Right
						</Button>
					</ContextMenu>
				</div>
			</Card>
			<Card :class="bemm('card')">
				<div>
					<ContextMenu
						:config="{
							menu: exampleMenu,
							position: ContextMenuPosition.TOP_LEFT,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Top Left
						</Button>
					</ContextMenu>
				</div>
				<div>
					<ContextMenu
						:config="{
							menu: exampleMenu,
							position: ContextMenuPosition.TOP_CENTER,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Top Center
						</Button>
					</ContextMenu>
				</div>
				<div>
					<ContextMenu
						:config="{
							menu: exampleMenu,
							position: ContextMenuPosition.TOP_RIGHT,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Top Right
						</Button>
					</ContextMenu>
				</div>
			</Card>
			<Card :class="bemm('card')">
				<div>
					<ContextMenu
						:config="{
							menu: exampleMenu,
							position: ContextMenuPosition.BOTTOM_LEFT,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Bottom Left
						</Button>
					</ContextMenu>
				</div>
				<div>
					<ContextMenu
						:config="{
							menu: exampleMenu,
							position: ContextMenuPosition.BOTTOM_CENTER,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Bottom Center
						</Button>
					</ContextMenu>
				</div>
				<div>
					<ContextMenu
						:config="{
							menu: exampleMenu,
							position: ContextMenuPosition.BOTTOM_RIGHT,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Bottom Right
						</Button>
					</ContextMenu>
				</div>
			</Card>
			<Card :class="bemm('card')">
				<div>
					<ContextMenu
						:config="{
							menu: exampleMenu,
							position: ContextMenuPosition.BOTTOM_ALIGN_LEFT,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Bottom Align Left
						</Button>
					</ContextMenu>
				</div>

				<div>
					<ContextMenu
						:config="{
							menu: exampleMenu,
							position: ContextMenuPosition.BOTTOM_ALIGN_RIGHT,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Bottom Align Right
						</Button>
					</ContextMenu>
				</div>
			</Card>
		</CardGroup>

		<h3>Right Click Menu</h3>
		<CardGroup :class="bemm('group')">
			<Card :class="bemm('card')">
				<div>
					<ContextMenu
						:config="{
							menu: rightClickMenu,
							position: ContextMenuPosition.BOTTOM_RIGHT,
							clickMode: ContextPanelClickMode.RIGHT,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Right Click Me
						</Button>
					</ContextMenu>
				</div>
			</Card>
		</CardGroup>

		<h3>Long Press Menu</h3>
		<CardGroup :class="bemm('group')">
			<Card :class="bemm('card')">
				<div>
					<ContextMenu
						:config="{
							menu: longPressMenu,
							position: ContextMenuPosition.BOTTOM_CENTER,
							clickMode: ContextPanelClickMode.LONG,
							pressTime: 500,
						}"
					>
						<Button :color="ButtonSettings.Color.PRIMARY">
							Long Press Me
						</Button>
					</ContextMenu>
				</div>
			</Card>
		</CardGroup>
		<Card :class="bemm('card')">
			<div>
				<h4>Click Position Example</h4>

				<ContextMenu
					:config="{
						menu: exampleMenu,
						position: ContextMenuPosition.CLICK,
					}"
				>
					<div
						style="width: 100%; height: 300px; display: flex; align-items: center; justify-content: center; background-color: var(--dark); color: var(--primary); border-radius: var(--border-radius); padding: var(--space); display: flex; align-items: center; justify-content: center;"
					>
						Click anywhere in this area to open the context menu
					</div>
				</ContextMenu>
			</div>
		</Card>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import CardGroup from '@/components/Atoms/Card/CardGroup.vue';
import Card from '@/components/Atoms/Card/Card.vue';

import { ButtonSettings } from '@/components/Atoms/Button/Button.model';
import { ContextMenuPosition, type ContextMenuItem } from '@/components/Atoms/ContextMenu/ContextMenu.model';
import { ContextPanelClickMode } from '@/components/Atoms/ContextPanel/ContextPanel.model';
import ContextMenu from '@/components/Atoms/ContextMenu/ContextMenu.vue';
import Button from '@/components/Atoms/Button/Button.vue';

import { Icons } from '@/types';

const bemm = useBemm('kitchensink-context-menu');

const exampleMenu = ref<Partial<ContextMenuItem>[]>([
	{
		label: 'Edit',
		icon: Icons.EDIT_M,
		action: () => console.log('Edit clicked'),
	},
	{
		label: 'Share',
		icon: Icons.ARROW_SHARE,
		items: [
			{
				label: 'Copy Link',
				icon: Icons.LINK,
				action: () => console.log('Copy link clicked'),
			},
			{
				label: 'Social',
				icon: Icons.USERS,
				items: [
					{
						label: 'Twitter',
						icon: Icons.AIRPORT_CONNECT_FLIGHTS,
						action: () => console.log('Share to Twitter'),
					},
					{
						label: 'Facebook',
						icon: Icons.ACCESSIBILITY_PERSON,
						action: () => console.log('Share to Facebook'),
					},
				],
			},
		],
	},
	{
		label: 'Delete',
		icon: Icons.TRASH,
		action: () => console.log('Delete clicked'),
	},
]);

const rightClickMenu = ref<Partial<ContextMenuItem>[]>([
	{
		label: 'View',
		icon: Icons.EYE,
		action: () => console.log('View clicked'),
	},
	{
		label: 'Download',
		icon: Icons.ARROW_DOWNLOAD,
		action: () => console.log('Download clicked'),
	},
]);

const longPressMenu = ref<Partial<ContextMenuItem>[]>([
	{
		label: 'Select',
		icon: Icons.CIRCLED_CHECK,
		action: () => console.log('Select clicked'),
	},
	{
		label: 'More',
		icon: Icons.THREE_DOTS_HORIZONTAL,
		items: [
			{
				label: 'Archive',
				icon: Icons.FILE_ARCHIVE,
				action: () => console.log('Archive clicked'),
			},
			{
				label: 'Report',
				icon: Icons.FILE_GRAPHS,
				action: () => console.log('Report clicked'),
			},
		],
	},
]);
</script>

<style lang="scss">
.kitchensink-context-menu {
	padding: var(--spacing);
	gap: var(--space);
	display: flex;
	flex-direction: column;
}

.card__main {
	display: flex;
	justify-content: space-between;
	flex-direction: row;

	>div {
		width: fit-content;
	}
}
</style>
