<template>
	<div :class="bemm()">
		<CardGroup :class="bemm('group')">
			<Card
				:class="bemm('card')"
				@click="float1 = !float1"
			>
				top
				<Float
					:active="float1"
					position="top"
				>
					Some content
				</Float>
			</Card>
			<Card
				:class="bemm('card')"
				@click="float2 = !float2"
			>
				left
				<Float
					:active="float2"
					position="left"
				>
					Some content
				</Float>
			</Card>
			<Card
				:class="bemm('card')"
				@click="float3 = !float3"
			>
				bottom
				<Float
					:active="float3"
					position="bottom"
				>
					Some content
				</Float>
			</Card>
			<Card
				:class="bemm('card')"
				@click="float4 = !float4"
			>
				right
				<Float
					:active="float4"
					position="right"
				>
					Some content
				</Float>
			</Card>
		</CardGroup>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

import CardGroup from '@/components/Atoms/Card/CardGroup.vue';
import Card from '@/components/Atoms/Card/Card.vue';
import Float from '@/components/Atoms/Float/Float.vue';

const bemm = useBemm('kitchensink-float');

const float1 = ref(true);
const float2 = ref(true);
const float3 = ref(true);
const float4 = ref(true);
</script>

<style lang="scss">
.kitchensink-float {
  padding: var(--spacing);
  &__card{
    position: relative;
    width: 30%;
  }
  &__group{
    --card-group-gap: var(--spacing);
  }
}
</style>
