<template>
	<div class="kitchensink-form">
		<FormGroup label="text">
			<div>
				<InputText
					v-model="text1"
					label="Text (v-model)"
				/>
				<Banner>{{ text1 }}</Banner>
			</div>
			<div>
				<InputText
					:value="text2"
					label="Text (value/@change)"
					@change="$event => text2 = $event"
				/>
				<Banner>{{ text2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="textarea">
			<div>
				<InputTextArea
					v-model="textarea1"
					label="TextArea (v-model)"
				/>
				<Banner>{{ textarea1 }}</Banner>
			</div>
			<div>
				<InputTextArea
					:value="textarea2"
					label="TextArea (value/@change)"
					@change="$event => textarea2 = $event"
				/>
				<Banner>{{ textarea2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="email">
			<div>
				<InputEmail
					v-model="email1"
					label="Email (v-model)"
				/>
				<Banner>{{ email1 }}</Banner>
			</div>
			<div>
				<InputEmail
					:value="email2"
					label="Email (value/@change)"
					@change="($event:string) => email2 = $event"
				/>
				<Banner>{{ email2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="password">
			<div>
				<InputPassword
					v-model="password1"
					label="Password (v-model)"
				/>
				<Banner>{{ password1 }}</Banner>
			</div>
			<div>
				<InputPassword
					:value="password2"
					label="Password (value/@change)"
					@change="$event => password2 = $event"
				/>
				<Banner>{{ password2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="number">
			<div>
				<InputNumber
					v-model="number1"
					label="Number (v-model)"
				/>
				<Banner>{{ number1 }}</Banner>
			</div>
			<div>
				<InputNumber
					:value="number2"
					label="Number (value/@change)"
					@change="$event => number2 = $event"
				/>
				<Banner>{{ number2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="range">
			<div>
				<InputRange
					v-model="range1"
					label="Range (v-model)"
					:min="0"
					:max="100"
				/>
				<Banner>{{ range1 }}</Banner>
			</div>
			<div>
				<InputRange
					:value="range2"
					label="Range (value/@change)"
					:min="0"
					:max="100"
					@change="($event: number) => range2 = $event"
				/>
				<Banner>{{ range2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="date">
			<div>
				<InputDate
					v-model="date1"
					label="Date (v-model)"
				/>
				<Banner>{{ date1 }}</Banner>
			</div>
			<div>
				<InputDate
					:value="date2"
					label="Date (value/@change)"
					@change="$event => date2 = $event"
				/>
				<Banner>{{ date2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="color">
			<div>
				<InputColor
					v-model="color1"
					label="Color (v-model)"
				/>
				<Banner>{{ color1 }}</Banner>
			</div>
			<div>
				<InputColor
					:value="color2"
					label="Color (value/@change)"
					@change="$event => color2 = $event"
				/>
				<Banner>{{ color2 }}</Banner>
			</div>
		</FormGroup>
		<FormGroup label="color options">
			<div>
				<InputColor
					v-model="color1"
					label="Color (v-model)"
					:options="simpleColorOptions"
				/>
				<Banner>{{ color1 }}</Banner>
			</div>
			<div>
				<InputColor
					:value="color2"
					label="Color (value/@change)"
					:options="simpleColorOptions"
					@change="$event => color2 = $event"
				/>
				<Banner>{{ color2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="select">
			<div>
				<InputSelect
					v-model="select1"
					label="Select (v-model)"
					:options="selectOptions"
				/>
				<Banner>{{ select1 }}</Banner>
			</div>
			<div>
				<InputSelect
					:value="select2"
					label="Select (value/@change)"
					:options="selectOptions"
					@change="$event => select2 = $event"
				/>
				<Banner>{{ select2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="select color">
			<div>
				<InputSelectColor
					v-model="selectColor1"
					:options="colorOptions"
					label="SelectColor (v-model)"
				/>
				<pre>{{ selectColor1 }}</pre>
			</div>
			<div>
				<InputSelectColor
					:value="selectColor2"
					:options="colorOptions"
					label="SelectColor (value/@change)"
					@change="$event => selectColor2 = $event"
				/>
				<pre>{{ selectColor2 }}</pre>
			</div>
		</FormGroup>

		<FormGroup label="select icon">
			<div>
				<InputSelectIcon
					v-model="selectIcon1"
					label="SelectIcon (v-model)"
					:options="iconOptions"
				/>
				<Banner>{{ selectIcon1 }}</Banner>
			</div>
			<div>
				<InputSelectIcon
					:value="selectIcon2"
					label="SelectIcon (value/@change)"
					:options="iconOptions"
					@change="$event => selectIcon2 = $event"
				/>
				<Banner>{{ selectIcon2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="radio">
			<div>
				<InputRadio
					v-model="selectedOptionRadio1"
					name="options-radio-1"
					value="option1"
					label="Option 1"
				/>
				<InputRadio
					v-model="selectedOptionRadio1"
					name="options-radio-1"
					value="option2"
					label="Option 2"
				/><InputRadio
					v-model="selectedOptionRadio1"
					name="options-radio-1"
					value="option3"
					label="Option 3"
				/>
				<Banner>{{ selectedOptionRadio1 }}</Banner>
			</div>
			<div>
				<InputRadio
					:model-value="selectedOptionRadio2"
					name="options-radio-2"
					value="option1"
					label="Option 1"
					@update:model-value="($event:string) => selectedOptionRadio2 = $event"
				/>
				<InputRadio
					:model-value="selectedOptionRadio2"
					name="options-radio-2"
					value="option2"
					label="Option 2"
					@update:model-value="($event:string) => selectedOptionRadio2 = $event"
				/>
				<InputRadio
					:model-value="selectedOptionRadio2"
					name="options-radio-2"
					value="option3"
					label="Option 3"
					@update:model-value="($event:string) => selectedOptionRadio2 = $event"
				/>
				<Banner>{{ selectedOptionRadio2 }}</Banner>
			</div>
		</FormGroup>
		<FormGroup label="checkbox">
			<div>
				<InputCheckbox
					v-model="checkbox1"
					label="Checkbox (v-model)"
				/>
				<Banner>{{ checkbox1 }}</Banner>
			</div>
			<div>
				<InputCheckbox
					:value="checkbox2"
					label="Checkbox (value/@change)"
					@change="($event:boolean) => checkbox2 = $event"
				/>
				<Banner>{{ checkbox2 }}</Banner>
			</div>
		</FormGroup>
		<FormGroup label="Switch Checkbox">
			<div>
				<InputCheckboxSwitch
					v-model="checkbox1"
					label="Checkbox (v-model)"
				/>
				<Banner>{{ checkbox1 }}</Banner>
			</div>
			<div>
				<InputCheckboxSwitch
					:value="checkbox2"
					label="Checkbox (value/@change)"
					@change="($event:boolean) => checkbox2 = $event"
				/>
				<Banner>{{ checkbox2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="switch">
			<div>
				<InputSwitch
					v-model="switch1"
					:options="[{
						label: 'On',
						value: 'on',
					}, {
						label: 'Off',
						value: 'off',
					}]"
					label="Switch (v-model)"
				/>
				<Banner>{{ switch1 }}</Banner>
			</div>
			<div>
				<InputSwitch
					:value="switch2"
					:options="[{
						label: 'On',
						value: 'on',
					}, {
						label: 'Off',
						value: 'off',
					}]"
					label="Switch (value/@change)"
					@change="$event => switch2 = $event"
				/>
				<Banner>{{ switch2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="options">
			<div>
				<InputOptions
					v-model="options1"
					label="Options (v-model)"
					:options="radioOptions"
				/>
				<Banner>{{ options1 }}</Banner>
			</div>
			<div>
				<InputOptions
					:value="[options2]"
					label="Options (value/@change)"
					:options="radioOptions"
					@change="$event => options2 = $event"
				/>
				<Banner>{{ options2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="image">
			<div>
				<InputImage
					v-model="image1"
					label="Image (v-model)"
				/>
				<Banner>{{ image1 }}</Banner>
			</div>
			<div>
				<InputImage
					:value="image2"
					label="Image (value/@change)"
					@change="$event => image2 = $event"
				/>
				<Banner>{{ image2 }}</Banner>
			</div>
		</FormGroup>

		<FormGroup label="passcode">
			<div>
				<InputPasscode
					v-model="passcode1"
					format="[a-9][a-9][a-9]-[a-9][a-9][a-9]-[a-9][a-9][a-9]"
					label="Passcode with format (v-model)"
					description="Format: XXX-XXX-XXX (letters and numbers)"
				/>
				<Banner>{{ passcode1 }}</Banner>
			</div>
			<div>
				<InputPasscode
					:value="passcode2"
					format="[a-9][a-9][a-9]-[a-9][a-9][a-9]-[a-9][a-9][a-9]"
					label="Passcode with format (value/@change)"
					description="Format: XXX-XXX-XXX (letters and numbers)"
					@change="passcode2 = $event"
				/>
				<Banner>{{ passcode2 }}</Banner>
			</div>
			<div>
				<InputPasscode
					v-model="passcode3"
					format="[0-9][0-9][0-9].[0-9][0-9][0-9]"
					label="Numeric passcode"
					description="Format: XXX.XXX (numbers only)"
				/>
				<Banner>{{ passcode3 }}</Banner>
			</div>
			<div>
				<InputPasscode
					v-model="passcode4"
					format="[a-z][a-z][a-z]_[a-z][a-z][a-z]"
					label="Letter passcode"
					description="Format: XXX_XXX (letters only)"
				/>
				<Banner>{{ passcode4 }}</Banner>
			</div>
		</FormGroup>
	</div>
</template>

<script lang="ts" setup>
import { BaseIcons } from 'open-icon';
import { ref, computed } from 'vue';
import { BaseColors, Test } from '~/types';

// Passcode inputs
const passcode1 = ref('');
const passcode2 = ref('');
const passcode3 = ref('');
const passcode4 = ref('');

// Text inputs
const text1 = ref('text1');
const text2 = ref('text2');
const textarea1 = ref('textarea1');
const textarea2 = ref('textarea2');
const email1 = ref('email1');
const email2 = ref('email2');
const password1 = ref('password1');
const password2 = ref('password2');

// Numeric inputs
const number1 = ref(42);
const number2 = ref(42);
const range1 = ref(50);
const range2 = ref(50);

// Date input
const date1 = ref(new Date().toISOString().split('T')[0]);
const date2 = ref(new Date().toISOString().split('T')[0]);

// Color inputs
const color1 = ref('#ff0000');
const color2 = ref('#ff0000');

const colorOptions = computed(() => {
	return Object.values(BaseColors).map((color) => {
		return {
			label: color,
			value: color,
		};
	});
});

const simpleColorOptions = computed(() => {
	const colors = {
		purple: '#ad8acc',
		blue: '#7bcdff',
		green: '#4fcf4f',
		lime: '#8aff84',
		yellow: '#ffe34b',
		orange: '#f6a53a',
		red: '#ff4d5e',
		pink: '#ea7f9a',
		brown: '#a3756b',
		gray: '#b0b0b0',
		black: '#111111',
		white: '#ffffff',
		turquoise: '#63d4c7',
		cyan: '#baf0ff',
		indigo: '#571ab4',
		violet: '#dfbaff',
		magenta: '#e524b5',
		rose: '#ff7dff',
		coral: '#ff7d7d',
		gold: '#ffd700',
		silver: '#c0c0c0',
		bronze: '#cd7f32',
	};
	return Object.values(colors);
});
const selectColor1 = ref('#ff0000');
const selectColor2 = ref('#ff0000');

// Select inputs
const selectOptions = [
	{ label: 'Option 1', value: '1' },
	{ label: 'Option 2', value: '2' },
	{ label: 'Option 3', value: '3' },
];
const select1 = ref('1');
const select2 = ref('1');

// Icon select
const iconOptions = computed(() => {
	return Object.values(BaseIcons).map((icon) => {
		return {
			label: icon,
			value: icon,
		};
	});
});

const selectIcon1 = ref('icon1');
const selectIcon2 = ref('icon1');

// Boolean inputs
const checkbox1 = ref(false);
const checkbox2 = ref(false);

const switch1 = ref(false);
const switch2 = ref(false);

const selectedOptionRadio1 = ref('');
const selectedOptionRadio2 = ref('');

// Radio options
const radioOptions = [
	{ label: 'Option 1', value: '1' },
	{ label: 'Option 2', value: '2' },
	{ label: 'Option 3', value: '3' },
];
const options1 = ref('1');
const options2 = ref('1');

// Image inputs
const image1 = ref('');
const image2 = ref('');

const myTest = new Test({ firstName: 'John', lastName: 'Doe' });
console.log(myTest);
</script>

<style lang="scss">
.kitchensink-form {
	padding: var(--spacing);

	>*+* {
		margin-top: var(--spacing);
	}

	.form-group {
		>div>div {
			display: flex;
			flex-direction: column;
			gap: var(--space)
		}
	}

	pre {
		margin-top: var(--spacing-xs);
		padding: var(--spacing-xs);
		background: var(--color-gray-100);
		border-radius: var(--border-radius);
	}
}
</style>
