<script setup lang="ts">
import { useBemm } from 'bemm';
import { Icons, Colors } from '@/types';

import Icon from '~/components/Atoms/Icon.vue';
import Banner from '~/components/Atoms/Banner/Banner.vue';
import BannerGroup from '~/components/Atoms/Banner/BannerGroup.vue';
import Chip from '~/components/Atoms/Chip/Chip.vue';
import Tab from '~/components/Atoms/Tab/Tab.vue';
import TabGroup from '~/components/Atoms/Tab/TabGroup.vue';
import Card from '~/components/Atoms/Card/Card.vue';
import ButtonGroup from '~/components/Atoms/Button/ButtonGroup.vue';
import Button from '~/components/Atoms/Button/Button.vue';
import { ChipColor } from '@/components/Atoms/Chip/Chip.model';
import { ButtonColor } from '@/components/Atoms/Button/Button.model';
import { BannerType } from '@/components/Atoms/Banner/Banner.model';

const bemm = useBemm('kitchensink');
</script>

<template>
	<div :class="bemm()">
		<section :class="bemm('section')">
			<h1>KitchenSink</h1>
			<p>
				The KitchenSink is a little helper page to display the variety in
				components to be used. The components are loaded in the same context,
				thus display how they would look and behave in the "real world".
			</p>
		</section>

		<section :class="bemm('section')">
			<h3>Colors</h3>

			<div :class="bemm('colors')">
				<div
					v-for="(color, idx) in Colors"
					:key="idx"
					:class="bemm('color', ['', color])"
				>
					{{ color }}
				</div>
			</div>
		</section>
		<section :class="bemm('section')">
			<h3>Chip</h3>
			<Chip>I am a default chip</Chip>
			<Chip :color="ChipColor.ACCENT">
				Accent
			</Chip>
			<Chip :color="ChipColor.PRIMARY">
				Primary
			</Chip>
			<Chip :color="ChipColor.SECONDARY">
				Secondary
			</Chip>
			<Chip :color="ChipColor.TERTIARY">
				Tertiary
			</Chip>

			<Chip :icon="Icons.ACCESSIBILITY_PERSON_CIRCLED">
				Accessibility Chip
			</Chip>
		</section>
		<section :class="bemm('section')">
			<h3>Card</h3>
			<Card>I am a Card</Card>
			<Card>I am a Card</Card>
		</section>
		<section :class="bemm('section')">
			<h3>Buttons</h3>

			<h5>Button Colors</h5>
			<ButtonGroup>
				<Button>Default</Button>

				<Button :color="ButtonColor.ACCENT">
					Accent
				</Button>

				<Button :color="ButtonColor.PRIMARY">
					Primary
				</Button>

				<Button :color="ButtonColor.SECONDARY">
					Secondary
				</Button>

				<Button :color="ButtonColor.TERTIARY">
					Tertiary
				</Button>
			</ButtonGroup>

			<h5>Button Icon</h5>

			<ButtonGroup>
				<Button :icon="Icons.ACCESSIBILITY_PERSON">
					Normal
				</Button>
				<Button :icon="Icons.ACCESSIBILITY_PERSON" />
			</ButtonGroup>
		</section>

		<section :class="bemm('section')">
			<h3>Banners</h3>

			<BannerGroup>
				<Banner :type="BannerType.DEFAULT">
					This is a default banner
				</Banner>
				<Banner :type="BannerType.ERROR">
					This is an error banner
				</Banner>
				<Banner :type="BannerType.WARNING">
					This is a warning banner
				</Banner>
				<Banner :type="BannerType.INFO">
					This is an info banner
				</Banner>
				<Banner :type="BannerType.SUCCESS">
					This is a success banner
				</Banner>
			</BannerGroup>
		</section>
		<section :class="bemm('section')">
			<h3>Tabs</h3>

			<TabGroup>
				<Tab>One</Tab>
				<Tab>Two</Tab>
				<Tab>Three</Tab>
			</TabGroup>
		</section>

		<section :class="bemm(['section', 'icons'])">
			<h4>Used Icons</h4>

			<Icon :name="Icons.SETTINGS5" />
		</section>
	</div>
</template>

<style lang="scss">
.kitchensink {
  display: flex;
  flex-direction: column;
  gap: var(--space);

  &__section {
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    gap: var(--space);
    border-bottom: 1px solid var(--accent);
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-s);
  }

  &__color {
    border-radius: var(--border-radius);
    border: 1px solid var(--accent);
    padding: var(--space);
    display: block;
    line-height: 1;

    @each $color in global.$color-names {
      &--#{$color} {
        background-color: var(--#{$color});
        color: var(--#{$color}-text);
        border-color: var(--#{$color}-text);
      }
    }
  }
	&__icons{
		.icon{
			font-size: 5em;
		}
	}
}
</style>
