<template>
	<div>
		<h1>InputEmail Kitchensink</h1>

		<section>
			<h2>Basic Usage</h2>
			<InputEmail
				v-model="basic"
				label="Basic Email Input"
				placeholder="Enter your email"
			/>
			<div>Value: {{ basic }}</div>
		</section>

		<section>
			<h2>Required Email</h2>
			<InputEmail
				v-model="required"
				label="Required Email Input"
				placeholder="Enter your email"
				required
			/>
			<div>Value: {{ required }}</div>
		</section>

		<section>
			<h2>With Initial Value</h2>
			<InputEmail
				v-model="withValue"
				label="Email with Initial Value"
				placeholder="Enter your email"
			/>
			<div>Value: {{ withValue }}</div>
		</section>

		<section>
			<h2>With Custom Rules</h2>
			<InputEmail
				v-model="withRules"
				label="Email with Custom Rules"
				placeholder="Enter your email"
				:rules="customRules"
			/>
			<div>Value: {{ withRules }}</div>
		</section>

		<section>
			<h2>With Instructions</h2>
			<InputEmail
				v-model="withInstructions"
				label="Email with Instructions"
				placeholder="Enter your email"
				instructions="Please use your work email address"
			/>
			<div>Value: {{ withInstructions }}</div>
		</section>

		<section>
			<h2>With Error</h2>
			<InputEmail
				v-model="withError"
				label="Email with Error"
				placeholder="Enter your email"
				:error="['This email is already in use']"
			/>
			<div>Value: {{ withError }}</div>
		</section>
	</div>
</template>

<script lang="ts" setup>
import { ref } from 'vue';
import InputEmail from '@/components/Atoms/Form/InputEmail/InputEmail.vue';

const basic = ref('');
const required = ref('');
const withValue = ref('initial@example.com');
const withRules = ref('');
const withInstructions = ref('');
const withError = ref('');

const customRules = {
	workEmail: {
		test: (value: string) => value.endsWith('@company.com'),
		message: 'Please use your company email address',
	},
};
</script>

<style scoped>
section {
	margin: 2rem 0;
	padding: 1rem;
	border: 1px solid #eee;
	border-radius: 4px;
}

h2 {
	margin-top: 0;
}
</style>
