<template>
	<div
		:class="blockClasses"
		:to="userPath"
		@click="goToProfile()"
	>
		<AvatarImage
			:class="bemm('avatar')"
			:alt="getUserFullName(props.user)"
			:score="userScore.formatted"
			:user-id="props.user.userID"
		/>
		<div :class="bemm('details')">
			<div :class="bemm('name')">
				<span :class="bemm('author')">{{ getUserFullName(props.user) }}</span>

				<Chip
					:class="bemm('trust')"
					:tooltip="`${trustLevelValue}%`"
					@click="setTrust"
				>
					<span
						:class="bemm('text')"
					>{{ trustLevelName }}</span>
				</Chip>
			</div>
			<div
				v-if="hasSlot('branch') || hasSlot('time')"
				:class="bemm('post-info')"
			>
				<span
					v-if="hasSlot('time')"
					:class="bemm('time')"
				><slot name="time" /></span>
			</div>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { popupService } from '@/components/Molecules/Popup/Popup.service';
import UserTrustPanel from '@/components/Organisms/User/UserTrustPanel.vue';
import UserTrustDescription from '@/components/Organisms/User/UserTrustDescription.vue';
import Chip from '@/components/Atoms/Chip/Chip.vue';
import AvatarImage from '@/components/Atoms/AvatarImage.vue';
import type { Post, User, Comment } from '@/types';
import { formatScore, isComment, isPost, getUserFullName } from '@/utils';
import { useUserStore } from '@/store/user';

const bemm = useBemm('author-avatar');

const props = defineProps({
	user: {
		type: Object as PropType<User>,
		required: true,
	},
	entity: {
		type: Object as PropType<Post | Comment>,
		required: true,
	},
	size: {
		type: String as PropType<'small' | 'medium' | 'large'>,
		default: 'medium',
	},
	isSelf: {
		type: Boolean,
		default: false,
	},
});

const blockClasses = computed(() => {
	return [bemm(), bemm('', props.size)];
});

const userPath = computed(() => {
	return `/profile/${props.user.slug}`;
});

const getUserScoreLevel = (score: number) => {
	if (score < 0) {
		return 'negative';
	}
	else if (score > 1000) {
		return 'superuser';
	}
	else if (score >= 100) {
		return 'good';
	}
	else {
		return 'neutral';
	}
};

const slots = useSlots();
const hasSlot = (name: string) => !!slots[name];

const userScore = computed(() => {
	const value = (props.user as User).trustLevel || 0;
	return {
		formatted: formatScore(value),
		value: value,
		level: getUserScoreLevel(value),
	};
});

const goToProfile = () => {
	navigateTo(userPath.value);
};

const createdByUser = computed(() => {
	if (isPost(props.entity)) {
		return props.entity?.data.createdByUser;
	}
	if (isComment(props.entity)) {
		return props.entity?.data.createdByUser;
	}
	return null;
});

const trustLevelName = computed(() => {
	if (createdByUser.value) {
		return createdByUser.value.trustLevelInfo.aka;
	}
	return 'undefined';
});

const trustLevelValue = computed(() => {
	if (isPost(props.entity)) {
		return props.entity.trust.trustLevel;
	}
	return 0;
});

const setTrust = (e: Event) => {
	if (!useUserStore().isLoggedIn) return;
	if (!isPost(props.entity)) return;

	if (useUserStore().getUserSlug == props.user.slug) return;
	e.preventDefault();
	e.stopPropagation();
	popupService.showPopup({
		component: UserTrustPanel,
		footer: UserTrustDescription,
		title: getUserFullName(props.user),
		props: {
			user: props.user,
			currentTrust: props.entity.trust.trustLevel,
		},
	});
};
</script>

<style lang="scss">
.author-avatar {
	$b: &;

	display: flex;
	align-items: center;
	gap: var(--author-avatar-gap, var(--space));
	position: relative;
	outline: 1px solid rgba(from var(--primary) r g b / 0);
	outline-offset: 0.25em;
	border-radius: 2em;
	padding-right: 0em;
	width: fit-content;

	&:hover {
		outline: 1px solid rgba(from var(--primary) r g b / .5);
	}

	&--small {
		--avatar-size: 1em;
		--avatar-gap: 0.5em;
	}

	&--medium {
		font-size: 1em;
	}

	&--large {
		--author-avatar-size: 3em;
	}

	&__author {
		font-size: 0.75em;
		padding-right: 1em;
	}

	&__avatar {
		--avatar-size: 2em;
		position: relative;
	}

	&__image {
		border-radius: 50%;

		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__details{
		display: flex;
		flex-direction: column;

		&:has(.author-avatar__branch),
		&:has(.author-avatar__time) {
			padding-right: 0;
			.author-avatar__author {
				font-weight: bold;
			}
		}
	}

	&__post-info{
		display: flex;
		gap: var(--space);
	font-size: 1em;	display: flex;
	}

	&__name{
		display: flex;align-items: center;
	}
	&__time{
		font-size: .75em;
		opacity: .5;
	}
}
</style>
