<template>
	<div :class="blockClasses">
		<slot />
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';

const bemm = useBemm('content');

const blockClasses = computed(() => {
	return [bemm()];
});
</script>

<style lang="scss">
.content {
padding: var(--space-l);
  @include global.mobile-only {
    padding: var(--space);
    padding-block: calc(var(--spacing) + var(--space));
  }

  *+*:not([class]) {
    margin-top: 1em;
  }

  p a {
    color: #{darkenVar(--primary, 20%)};
    text-decoration: underline;
    text-decoration-color: color-mix(in srgb, var(--primary-rgb), 0);
    text-underline-offset: 0.5em;
    transition: all 0.2s;

    &:hover {
      text-underline-offset: 0.1em;
      text-decoration-color: color-mix(in srgb, var(--primary-rgb), 1);
    }
  }

  h6 {
    color: var(--primary);
  }

  h1,
  h2,
  h3 {
    line-height: 1;
  }

  h1 {
    font-size: clamp(2em, 5vw, 3em);
  }

  h2 {
    font-size: clamp(1.5em, 5vw, 2em);
  }

  h3 {
    font-size: clamp(1.25em, 5vw, 1.5em);
  }
}
</style>
