<template>
	<div :class="bemm()">
		<div :class="bemm('icon-container')">
			<Icon
				v-if="icon"
				:class="bemm('icon')"
				:name="icon"
			/>
		</div>
		<span :class="bemm('message')">{{ message || t('General.no-data') }}</span>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { useI18n } from 'vue-i18n';
import type { Icons } from 'open-icon';
import type { PropType } from 'vue';
import Icon from '@/components/Atoms/Icon.vue';

const bemm = useBemm('empty-message');
const { t } = useI18n();

defineProps({
	icon: {
		type: String as PropType<Icons>,
		default: null,
	},
	message: {
		type: String,
		default: '',
	},
});
</script>

<style lang="scss">
.empty-message {
	opacity: .25;
	width: 100%;
	padding: var(--space);
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--space-s);
	flex-direction: column;

	&__icon {
		width: 1.5em;
		height: 1.5em;
	}

	&__icon-container{
		width: calc(var(--spacing));
		height: calc(var(--spacing));
		background-color: var(--accent);
		box-shadow: var(--shadow);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 3em;
		transform: rotate(-10deg);
	}
}
</style>
