<template>
	<Card
		v-if="loading"
		:class="bemm('')"
		color="branch-color"
	>
		<Icon
			:class="bemm('loader')"
			:name="Icons.THREE_DOTS_HORIZONTAL"
		/>
	</Card>
	<Card
		v-else-if="!previewData"
		:class="bemm('')"
		color="branch-color"
	>
		<Icon :name="Icons.MULTIPLY" />
		<p>{{ $t('General.error-loading-link') }}</p>
	</Card>

	<Card
		v-else
		color="branch-color"
		:class="bemm('', ['', previewData.type])"
		@click="handleClick"
	>
		<div v-if="previewData.videoId">
			<div :class="bemm('container')">
				<h4
					v-if="previewData.title"
					:class="bemm('title')"
				>
					{{ previewData.title }}
				</h4>
				<iframe
					:class="bemm('video')"
					:src="`https://www.youtube.com/embed/${previewData.videoId}`"
					frameborder="0"
					allowfullscreen
				/>
				<p
					v-if="previewData.description"
					:class="bemm('description')"
				>
					{{ previewData.description }}
				</p>
			</div>
		</div>
		<div v-else>
			<div
				v-if="previewData.image || previewData.screenshot"
				:class="bemm('image')"
			>
				<img
					v-if="previewData.image"
					:class="bemm('image-og')"
					:src="previewData.image"
					:alt="$t('General.link-preview-alt')"
				>
				<img
					v-if="previewData.screenshot"
					:class="bemm('image-screenshot')"
					:src="previewData.screenshot"
					:alt="$t('General.link-preview-alt')"
				>
			</div>

			<div :class="bemm('container')">
				<h4
					v-if="previewData.title"
					:class="bemm('title')"
				>
					{{ previewData.title }}
				</h4>
				<a
					:class="bemm('link')"
					:href="previewData.url"
					target="_blank"
				>
					{{ previewData.url }}</a>
				<p
					v-if="previewData.description"
					:class="bemm('description')"
				>
					{{ previewData.description }}
				</p>
			</div>
		</div>
	</Card>
</template>

<script lang="ts" setup>
import { ref, onMounted } from 'vue';
import { useBemm } from 'bemm';
import { Icons } from 'open-icon';
import type { PropType } from 'vue';

import Icon from '@/components/Atoms/Icon.vue';
import Card from '@/components/Atoms/Card/Card.vue';
import type { PostLink } from '@/components/Organisms/Editor/Editor.model';
import { fetchLinkPreview } from '@/utils';

const bemm = useBemm('preview-link');
const props = defineProps({
	link: {
		type: Object as PropType<PostLink>,
		required: true,
	},
});

const previewData = ref();
const loading = ref(true);

const fetchData = async () => {
	loading.value = true;
	const data = await fetchLinkPreview(props.link);
	if (data) {
		previewData.value = data;
	}
	else {
		console.error('Failed to fetch link preview');
	}
	loading.value = false;
};
onMounted(() => {
	fetchData();
});

/**
 * handleClick
 * opens link in new tab
 * @param {Event} event
 */
const handleClick = (event: Event) => {
	event.preventDefault();
	window.open(props.link.url);
};
</script>

<style lang="scss">
.preview-link {
	$b: &;

	--card-background-color: color-mix(in srgb, var(--tertiary), var(--background) 95%);
	--card-border-color: color-mix(in srgb, var(--tertiary), var(--background) 75%);
	cursor: pointer;

	&:hover {
		--card-background-color: color-mix(in srgb, var(--tertiary), var(--background) 85%);
		--card-border-color: color-mix(in srgb, var(--tertiary), var(--background) 50%);
	}

	&+& {
		margin-top: .5em;
	}

	&__container {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: .25em;
	}

	&--twitter,
	&--spotify,
	&--link {
		#{$b}__image {
			width: 80px;
			aspect-ratio: 4/3;
			border-radius: calc(var(--border-radius) / 2);
			float: left;
			margin-right: var(--space);
			object-fit: cover;
			border: 1px solid var(--accent);
		}

		#{$b}__image-screenshot {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		#{$b}__image-og {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&--youtube {

		#{$b}__description {
			width: 100%;
			max-width: 320px;
		}
	}

	&__video {
		width: 100%;
		max-width: 640px;
		aspect-ratio: 16/9;
		border-radius: calc(var(--border-radius) / 2);
	}

	&__title {
		font-size: .75em;
	}

	&__description {
		font-size: .75em;
		opacity: .5;
	}

	&__link {
		color: var(--info);
		text-decoration: underline;
		font-size: .75em;
		break-inside: auto;
		width: 100%;
		overflow-wrap: break-word;
		word-wrap: break-word;

		word-break: break-word;
	}

	&__loader {
		color: var(--primary);
		font-size: 2em;

	}
}
</style>
