<template>
	<div
		:class="blockClasses"
	>
		<AvatarImage :user-id="user.userID" />
		<span
			v-if="showName"
			:class="bemm('name')"
		>{{ user.fname }}</span>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { type PropType } from 'vue';
import AvatarImage from '../Atoms/AvatarImage.vue';
import { type User } from '@/types';

const bemm = useBemm('user-avatar');

const props = defineProps({
	user: {
		type: Object as PropType<User>,
		default: () => { },
		required: true,
	},
	size: {
		type: String as PropType<'small' | 'medium' | 'large'>,
		default: 'medium',
	},
	showName: {
		type: Boolean,
		default: true,
	},
});

const blockClasses = computed(() => [
	bemm(),
	bemm('', props.size),
]);
</script>

<style lang="scss">
.user-avatar {
  position: relative; z-index: 10;
  display: flex;
  align-items: center;
  gap: calc(var(--space) / 2);
  border-radius: 2em;
  padding: 0.125em;
  background-color: var(--user-avatar-background, var(--background));
  box-shadow: var(--user-avatar-drop-shadow, var(--drop-shadow));

  &--small {
    --avatar-size: 1em;
  }

  &--medium {
    --avatar-size: 1.5em;
  }

  &--large {
    --avatar-size: 2em;
  }

  @include global.mobile-only {
    font-size: 1.5em;
  }

  &__name {
    font-size: 0.75em;
    font-weight: 500;
    margin-right: 0.5em;

    display: var(--user-avatar-display-name, block);

  }

}
</style>
