<template>
	<div :class="bemm()">
		<div :class="bemm('container')">
			<ul
				v-if="notifications.length"
				:class="bemm('list')"
			>
				<li
					v-for="(note, idx) in notifications"
					:key="idx"
					:class="bemm('item')"
				>
					<Notification :note="note" />
				</li>
				<Button
					:class="bemm('clear-all')"
					:size="ButtonSize.SMALL"
					:type="ButtonType.NORMAL"
					:color="ButtonColor.PRIMARY"
					:icon="Icons.CIRCLED_MULTIPLY"
				>
					{{ $t('Notifications.clear-all') }}
				</Button>
			</ul>
			<ul
				v-else
				:class="bemm('list')"
			>
				<li :class="bemm('item')">
					<Icon
						:name="Icons.ALARM_BELL"
						:class="bemm('icon')"
					/>
					<p :class="bemm('message')">
						{{ $t('Notifications.no-notifications') }}
					</p>
				</li>
			</ul>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { type PropType } from 'vue';
import { useBemm } from 'bemm';
import { Icons } from 'open-icon';
import Notification from './Notification.vue';
import { type Notification as NotifcationType } from './Notifications.model';
import { ButtonColor, ButtonSize, ButtonType } from '@/components/Atoms/Button/Button.model';

import Button from '@/components/Atoms/Button/Button.vue';
import Icon from '@/components/Atoms/Icon.vue';

defineProps({
	notifications: {
		type: Array as PropType<NotifcationType[]>,
		default: () => [],
	},
});

const bemm = useBemm('notifications');
</script>

<style lang="scss">
.notifications {
  --block-title-color: var(--primary);

  position: relative;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &__item {}

  &__clear-all {
    width: 100%;
    opacity: 0.25;
    &:hover {
      opacity: 1;
    }
  }
}
</style>
