<template>
	<div
		:class="blockClasses"
		@click="() => performAction()"
	>
		<div
			v-if="status == Status.LOADING"
			:class="bemm('loader')"
		>
			<DotsLoader />
		</div>
		<div :class="bemm('container', ['', status])">
			<Icon
				:name="noteDetails.icon"
				:class="bemm('icon')"
			/>
			<h5
				v-if="noteDetails.title"
				:class="bemm('title')"
			>
				{{ noteDetails.title }}
			</h5>
			<p
				v-if="noteDetails.message"
				:class="bemm('message')"
			>
				{{ noteDetails.message }}
			</p>
		</div>
	</div>
</template>

<script lang="ts" setup>
import { useBemm } from 'bemm';
import { computed, ref } from 'vue';
import type { PropType } from 'vue';
import { useI18n } from 'vue-i18n';
import { Icons } from 'open-icon';

import { NotificationType, type Notification, type NotificationLink } from './Notifications.model';
import DotsLoader from '@/components/Molecules/Loader/DotsLoader.vue';
import { popupService } from '@/components/Molecules/Popup/Popup.service';
import Icon from '@/components/Atoms/Icon.vue';
import { Status } from '@/types';

import { Routes } from '@/data/routes';

const status = ref<Status>(Status.IDLE);
const bemm = useBemm('notification');
const { t } = useI18n();

const props = defineProps({
	note: {
		type: Object as PropType<Notification>,
		required: true,
	},
});

const processLink = (link: string): NotificationLink => {
	const linkPartials = link.split('/');
	const end = linkPartials[linkPartials.length - 1] || '';
	const postId = end.split('#')[0] || '';
	const commentHash = `comment-` + (end.split('#')[1] ?? '').split('-').slice(-2).join('-');

	let routeName = Routes.POST_DETAIL;
	switch (linkPartials[linkPartials.length - 2]) {
		case 'post':
			routeName = Routes.POST_DETAIL;
			break;
		default:
			routeName = Routes.PROFILE_DETAIL;
			break;
	}

	return {
		name: routeName,
		id: postId,
		hash: commentHash ? '#' + commentHash : '',
	};
};

const noteDetails = computed<{
	title: string;
	message: string;
	icon: Icons;
	link: NotificationLink | undefined;
	read: boolean;
}>(() => {
	const reason = props.note?.item?.reason || 'none';

	switch (reason) {
		case NotificationType.ARTICLE_UPDATED:
		case NotificationType.ARTICLE_UPDATES:
			return {
				title: t('Notifications.new-post'),
				message: '',
				icon: Icons.ALARM_BELL,
				link: undefined,
				read: props.note.item.read,
			};
		case NotificationType.RANK_UP:
			return {
				title: t('Notifications.upvoted-post'),
				message: props.note.item.replacements?.posterName,
				icon: Icons.HEART_M,
				link: undefined,
				read: props.note.item.read,
			};
		case NotificationType.TRUST_CREATED:
			return {
				title: t('Notifications.new-trust'),
				message: props.note.item.replacements?.posterName,
				icon: Icons.SHIELD2,
				link: undefined,
				read: props.note.item.read,
			};
		case NotificationType.COMMENT_REPLY:
			return {
				icon: Icons.SPEECH_BALLOON2,
				title: props.note.item.replacements?.commenterName,
				message: stripHtml(props.note.item.replacements?.commentSnippet),
				link: processLink(props.note.item.replacements?.commentLink),
				read: props.note.item.read,
			};

		case NotificationType.PROFILE_POST:
			return {
				icon: Icons.USER,
				title: `${props.note.item.replacements?.posterName}`,
				message: stripHtml(props.note.item.replacements.postSnippet),
				link: processLink(props.note.item.replacements.postLink),
				read: props.note.item.read,
			};
		default:
			return {
				title: t('Notifications.unknown'),
				message: '',
				link: undefined,
				icon: Icons.CIRCLED_QUESTION_MARK,
				read: props.note.item.read,
			};
	}
});

const performAction = () => {
	if (!noteDetails.value.link) return;

	const { name, id, hash } = noteDetails.value.link;

	status.value = Status.LOADING;

	goTo({ name, hash, params: { id } });
	setTimeout(() => {
		popupService.closeAllPopups();
	}, 1000);
};

const blockClasses = computed(() => {
	return [bemm(), bemm('', { read: noteDetails.value.read })];
});
</script>

<style lang="scss">
.notification {
	min-width: 200px;
	position: relative;
	display: flex;

	font-size: 0.75em;
	line-height: 1.5;

	border-radius: var(--border-radius);
	padding: var(--space-s);

	&--read {
		opacity: 0.5;
	}

	&:hover {
		background-color: color-mix(in srgb, var(--primary-rgb), 0.125);

		.notifications__icon {
			color: var(--foreground);
			--icon-fill: color-mix(in srgb, var(--primary-rgb), 0.25);
		}
	}

	&__icon {
		grid-area: icon;
		font-size: 2em;
		color: var(--primary);
	}

	&__title {
		grid-area: title;
		font-size: 1em;
		white-space: nowrap;

		[data-contrast-mode] & {
			color: currentColor;
		}
	}

	&__message {
		opacity: 0.5;
		grid-area: message;
		min-width: 10em;
	}

	&__container {
		width: fit-content;
		display: grid;
		grid-gap: var(--space-xs) var(--space-s);
		grid-template:
			"icon title" auto
			"icon message" auto
			/ 2em 1fr;

		&--loading {
			opacity: 0;
		}
	}

	&__loader {
		position: absolute;
		top: 50%;
		left: 50%;
	}
}
</style>
